// <Browser />
// .browser-q .browser-input-url {
//   box-shadow: none;
// }

// Firefox:
// .browser-q input[list]:-moz-ui-invalid {
//   box-shadow: none;
// }

// === iframe <Browser /> ===
.iframe-app{
  border:0;
  width:100%;
  height:100%;
  // FROM codesandbox
  min-height: 0;
  overflow: auto;

  opacity: 1;
  z-index: 1;
  pointer-events: initial;
}



