// <Details />
// .detail-q > .detail-content {
//   transform-origin: top;
//   transform: scaleY(0);
//   opacity: 0;
//   transition: transform ease .2s, opacity ease .2s;
//   position: relative;
// }

// .detail-q[open] > .detail-content {
//   opacity: 1;
//   transform: none;
// }

.detail-q:not(.native) > summary {
  list-style: none;
  display: block;// OPTION
}

.detail-q:not(.native) > summary::-webkit-details-marker {
  display: none;
}

// .detail-q:not(.native) > summary::marker {
//   display: none;
// }

// .detail-q > summary:before {
//   align-self: center;
// }

// .detail-q.tree-q > .detail-content 
// .detail-q.tree-q > [role="group"] 
.detail-q.tree-q > .tree-content {
  padding-left: 1.25rem;// 1.5rem
}

.tree-folder {
  border: 1px solid transparent;
  user-select: none;
}

.tree-label {
  box-shadow: none !important;
   // OPTION for paste
  // caret-color: transparent;
}

// .tree-folder[open] > summary:before 
.tree-folder .tree-label[aria-expanded="true"]:before, 
.tree-folder[open] > summary .tree-label:before {
  content: "\e93b"; // \F07C
}

// .tree-folder .tree-item {
//   // overflow: hidden;
//   cursor: pointer;
// }

[role="treeitem"]:hover, 
[role="treeitem"]:focus, 
[role="treeitem"].focus, 
.tree-folder .tree-item:focus-within, 
.tree-folder .tree-item:focus-within .tree-tool .btn,
.tree-folder .tree-label:focus
// .tree-folder .tree-item:focus-within 
// .tree-folder .tree-label:focus-within 
// .tree-folder .tree-item.focus, 
// .tree-folder .tree-item:focus,
// .tree-folder .tree-item:hover 
{
  background-color: #e2e6ea;
  border-color: transparent;
}

// [role="treeitem"]:active,
// [role="treeitem"]:active .btn 
.tree-folder .tree-label:active, 
.tree-folder .tree-label:active + .tree-tool .btn
{
  background-color: #cee6fd; // #cee6fd | #0dcaf0
}

// .tree-folder .tree-item:not(:hover) .tree-label {
//   flex: none;
//   width: 100%;
// }

// .tree-folder > summary:before{
//   margin-left: 5px;
// }

// .tree-folder > summary {
//   padding-left: 5px;
// }

.tree-tool {
  position: relative;
  display: none;
  // height: 0;
  // left: 100%;
  // margin-right: -100%; // -48px
  // width: 0;
  // transform-origin: right;
  // transform: scaleX(0);
  // opacity: 0;
  // transition: margin-right ease .25s, transform ease .25s, opacity ease .25s;
}

// .tree-folder .tree-item.focus .tree-tool, 
.tree-folder .tree-item:focus-within .tree-tool, 
.tree-folder .tree-item:not(.isDragging):hover .tree-tool {
  // height: auto;
  // left: auto;
  // margin-right: 0;
  // width: auto;
  // opacity: 1;
  // transform: none;
  display: flex;
  // opacity: 1;
}

.tree-folder .tree-item input + .tree-tool {
  display: none !important;
}

.tree-label:active + .tree-tool {
  // display: none;
  opacity: 0;
}

.tree-folder.bg-light {
  // box-shadow: inset 0 0 0 0.1rem rgba(38,143,255,.7);
  border-color: #007bff;
}

.tree-item.bg-main .tree-label {
  background-color: transparent !important;
}

// DEVS:
// Directory Medium icons:
.breadcrumb-path .breadcrumb-item,
.breadcrumb-path .breadcrumb-item > a {
  position: relative;
}

.file-manager .breadcrumb .active {
  background-color: #cee6fd;
  box-shadow: none;
}

.file-manager .breadcrumb-item + .breadcrumb-item {
  padding-left: 0.15rem;
}

.file-manager .breadcrumb-item + .breadcrumb-item::before {
  padding-right: 0.15rem;
}

.file-manager .dd-prevlocs {
  width: 55vw;
}

.file-manager.bg-dark .breadcrumb-path .active {
  color: var(--dark);
}

// <Dir />
// OPTION list view: column-count, column-gap
