// PlayerQ Component:

.playerQ {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  touch-action: manipulation;
  -ms-high-contrast-adjust: none;
}

.playerQ.v-playing:not(.v-active):not(.ddSetOpen), 
.playerQ.v-playing:not(.v-active):not(.ddSetOpen) .v-bezel, 
.playerQ.v-playing:not(.v-active):not(.ddSetOpen) *:not(.v-ctrl):not(.btn):not(.v-btn-ctrl):not(input) {
  cursor: none !important;
}

.playerQ video {
  display: block;
  outline: 0;
}

// OPTION:
// .v-poster video {
//   object-fit: cover;
// }

.playerQ ::-webkit-media-controls {
  display: none;//  !important
}

// .playerQ ::-webkit-media-controls-enclosure {
//   display: none;
// }

// Hide cc:
.playerQ ::-webkit-media-text-track-container {
  display: none;
}
::cue {
  opacity: 0;
  visibility: hidden;
  font-size: 0;
}

// .plyr:-webkit-full-screen {
//   background: #000;
//   border-radius: 0!important;
//   height: 100%;
//   margin: 0;
//   width: 100%
// }
// .plyr:-ms-fullscreen {
//   background: #000;
//   border-radius: 0!important;
//   height: 100%;
//   margin: 0;
//   width: 100%
// }
// .plyr:fullscreen {
//   background: #000;
//   border-radius: 0!important;
//   height: 100%;
//   margin: 0;
//   width: 100%
// }
// .plyr:-webkit-full-screen video {
//   height: 100%
// }
// .plyr:-ms-fullscreen video {
//   height: 100%
// }
// .plyr:fullscreen video {
//   height: 100%
// }

// Controls wrap:
.v-ctrl {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 35px 9px 9px;
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.75));
  // opacity: 1;
  transition: bottom ease .25s;// , opacity ease .25s
  cursor: auto;
}

.playerQ.v-playing:not(.ddSetOpen):not(:hover) .v-ctrl:not(:hover),
.playerQ.v-playing:not(.ddSetOpen):not(.v-active) .v-ctrl:not(:hover) {
  bottom: -100%;
  // opacity: 0;
}

// Range Ctrl:
.v-range {
	// margin: 0;
	width: 100%;
	// padding: 5px 0;// 6.5px
	// height: 13px;
	position: relative;
}

.v-range .q-range {
  position: relative;
  z-index: 2;
}

.v-range .q-progress {
  background-color: transparent;
  position: absolute;
  top: 0;// 0 | 5px
  left: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
}
.v-range .q-progress::before {
  background-color: rgba(255,255,255,.4);
}

// Volume Ctrl:
.v-volume .q-range {
  transform-origin: left;
  animation-fill-mode: forwards;
  transform: scaleX(0);
  width: 0;
  transition: transform ease .2s, width ease .2s;
}

.keyVol .v-volume .q-range,
.v-volume:hover .q-range {
  transform: none;
  width: 70px;
}

// .v-bezel {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   // height: calc(100% - 55px);
// }

.v-bezel.playerQ-bezel-animate {
  -moz-animation: playerQ-bezel-fadeout .5s linear 1 normal forwards;
  -webkit-animation: playerQ-bezel-fadeout .5s linear 1 normal forwards;
  animation: playerQ-bezel-fadeout .5s linear 1 normal forwards;
  // pointer-events: none;
}
// .v-bezel.playerQ-bezel-animation-alt {
//   -moz-animation: playerQ-bezel-fadeout-alt .5s linear 1 normal forwards;
//   -webkit-animation: playerQ-bezel-fadeout-alt .5s linear 1 normal forwards;
//   animation: playerQ-bezel-fadeout-alt .5s linear 1 normal forwards;
// }

@keyframes playerQ-bezel-fadeout {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}

// @keyframes playerQ-bezel-fadeout-alt {
//   0% {
//     opacity: 1;
//   }
//   to {
//     opacity: 0;
//     transform: scale(2);
//   }
// }

// .v-bezel {

// }

.v-ctrl .btn {
  border: 0;
}

.v-ctrl .btn:not(:hover):not(:active):not(.active) {
  background-color: transparent;
}

.v-time {
	letter-spacing: 0.5px;
}

.v-dd-sets {
  // min-width: 235px;// min-width
  width: 240px; // 275px
  font-size: 85%;
  background-color: rgba(255,255,255,.9);
}

// CC:
.v-cc {
	font-size: 1rem;
  font-weight: 600;
  color: #fff;
	// position: absolute;
	bottom: 60px;
	// left: 0;
	// right: 0;
	// margin: 0 auto;
	max-width: 80%;
	// text-align: center;
	line-height: 1.7;// 1.72 | 185%
	transition: bottom ease .25s;
}

.v-cc span {
  // display: inline-block;
  background: rgba(0,0,0,.8);
  border-radius: 5px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  // color: #fff;
  // line-height: 1.7;// 185%
  padding: .1em .5em .2em; // .2em .5em
  white-space: pre-wrap;
  overflow-wrap: normal;
}

.ddSetOpen .v-cc, 
.v-ctrl:hover + .v-cc {
  bottom: 60px !important;
}

.playerQ.v-playing:not(:hover) .v-cc,
.playerQ.v-playing:not(.v-active) .v-cc {
  bottom: 9px;
}

// OPTION: button settings rotate icon
.v-btn-set:before {
  transition: transform .3s ease;
}
// .show .v-btn-set:before {
// 	transform: rotate(90deg);
// }

// OPTION: Toast video info
.v-info {
	background: rgba(0,0,0,.4);
}

// Tooltip time:
.v-time-tip {
	position: absolute;
	top: -34px;
	// transform: translateX(-50%);// OPTION
}

.v-range:not(:hover) .v-time-tip {
	display: none;
}

