// 
.q-input {
  display: flex;
  flex-direction: column;
  position: relative;
}

// .q-input-label, 
.q-input[aria-label]::before {
  content: attr(aria-label);
  display: inline-block;
  // margin-bottom: .25rem;
  align-self: baseline;
  background-color: var(--blue);
  // border: 1px solid #ced4da;
  // border-bottom-width: 0;
  color: #fff;
  font-size: 75%;
  padding: 2px 13px 1px 7px;
  border-radius: 5px .75rem 0 0;
}

.q-input .form-control,
.q-input .custom-select {
  border-top-left-radius: 0;
}