// input[type="range"] native

// :root {
//   // --plyr-color-main: #00b3ff;
//   // --plyr-font-size-base: 13px;
//   // --plyr-font-size-small: 12px;
//   // --plyr-font-size-time: 11px;
//   // --plyr-font-size-badges: 9px;
//   // --plyr-font-size-menu: var(--plyr-font-size-base);
//   // --plyr-font-weight-regular: 500;
//   // --plyr-font-weight-bold: 600;
//   // --plyr-font-size-captions-medium: 18px;
//   // --plyr-font-size-captions-large: 21px;
// }

.q-range {
  width: 100%;
  height: 1.4rem;
  padding: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}
// .q-range:focus {
//   outline: 0
// }
.q-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 .2rem rgba(0, 123, 255, .25)
}
.q-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 .2rem rgba(0, 123, 255, .25)
}
.q-range:focus::-ms-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 .2rem rgba(0, 123, 255, .25)
}
.q-range::-moz-focus-outer {
  border: 0
}
.q-range::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: -.25rem;
  background-color: #007bff;
  border: 0;
  border-radius: 1rem;
  -webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  appearance: none
}
@media (prefers-reduced-motion:reduce) {
  .q-range::-webkit-slider-thumb {
    -webkit-transition: none;
    transition: none
  }
}
.q-range::-webkit-slider-thumb:active {
  background-color: #b3d7ff
}
.q-range::-webkit-slider-runnable-track {
  width: 100%;
  height: .5rem;
  color: transparent;
  cursor: pointer;
  background-color: #dee2e6;
  border-color: transparent;
  border-radius: 1rem
}
.q-range::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background-color: #007bff;
  border: 0;
  border-radius: 1rem;
  -moz-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -moz-appearance: none;
  appearance: none
}
@media (prefers-reduced-motion:reduce) {
  .q-range::-moz-range-thumb {
    -moz-transition: none;
    transition: none
  }
}
.q-range::-moz-range-thumb:active {
  background-color: #b3d7ff
}
.q-range::-moz-range-track {
  width: 100%;
  height: .5rem;
  color: transparent;
  cursor: pointer;
  background-color: #dee2e6;
  border-color: transparent;
  border-radius: 1rem
}
.q-range::-ms-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: 0;
  margin-right: .2rem;
  margin-left: .2rem;
  background-color: #007bff;
  border: 0;
  border-radius: 1rem;
  -ms-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  appearance: none
}
@media (prefers-reduced-motion:reduce) {
  .q-range::-ms-thumb {
    -ms-transition: none;
    transition: none
  }
}
.q-range::-ms-thumb:active {
  background-color: #b3d7ff
}
.q-range::-ms-track {
  width: 100%;
  height: .5rem;
  color: transparent;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  border-width: .5rem
}
.q-range::-ms-fill-lower {
  background-color: #dee2e6;
  border-radius: 1rem
}
.q-range::-ms-fill-upper {
  margin-right: 15px;
  background-color: #dee2e6;
  border-radius: 1rem
}
.q-range:disabled::-webkit-slider-thumb {
  background-color: #adb5bd
}
.q-range:disabled::-webkit-slider-runnable-track {
  cursor: default
}
.q-range:disabled::-moz-range-thumb {
  background-color: #adb5bd
}
.q-range:disabled::-moz-range-track {
  cursor: default
}
.q-range:disabled::-ms-thumb {
  background-color: #adb5bd
}

// .plyr--full-ui input[type=range] {
//   -webkit-appearance: none;
//   background: 0 0;
//   border: 0;
//   border-radius: calc(13px * 2);
//   border-radius: calc(var(--plyr-range-thumb-height,13px) * 2);
//   color: var(--plyr-color-main,var(--plyr-color-main,#00b3ff));
//   color: var(--plyr-range-fill-background,var(--plyr-color-main,var(--plyr-color-main,#00b3ff)));
//   display: block;
//   height: calc((3px * 2) + 13px);
//   height: calc((var(--plyr-range-thumb-active-shadow-width,3px) * 2) + var(--plyr-range-thumb-height,13px));
//   margin: 0;
//   padding: 0;
//   transition: box-shadow .3s ease;
//   width: 100%;
// }

// input[type=range].q-range::-webkit-slider-runnable-track {
//   background-color: rgba(255, 255, 255, .25);
//   // background-color: var(--q-ange-track-bg, var(--q-reange-progress-buffered-bg, rgba(255, 255, 255, .25)))
// }
// input[type=range].q-range::-moz-range-track {
//   background-color: rgba(255, 255, 255, .25);
//   // background-color: var(--q-ange-track-bg, var(--q-reange-progress-buffered-bg, rgba(255, 255, 255, .25)))
// }
// input[type=range].q-range::-ms-track {
//   background-color: rgba(255, 255, 255, .25);
//   // background-color: var(--q-ange-track-bg, var(--q-reange-progress-buffered-bg, rgba(255, 255, 255, .25)))
// }
// input[type=range].q-range:active::-webkit-slider-thumb {
//   box-shadow: 0 1px 1px rgba(35, 40, 47, .15), 0 0 0 1px rgba(35, 40, 47, .2), 0 0 0 3px rgba(255, 255, 255, .5);
//   // box-shadow: var(--q-range-thumb-shadow, 0 1px 1px rgba(35, 40, 47, .15), 0 0 0 1px rgba(35, 40, 47, .2)), 0 0 0 var(--plyr-range-thumb-active-shadow-width, 3px) var(--plyr-audio-range-thumb-active-shadow-color, rgba(255, 255, 255, .5))
// }
// input[type=range].q-range:active::-moz-range-thumb {
//   box-shadow: 0 1px 1px rgba(35, 40, 47, .15), 0 0 0 1px rgba(35, 40, 47, .2), 0 0 0 3px rgba(255, 255, 255, .5);
//   // box-shadow: var(--q-range-thumb-shadow, 0 1px 1px rgba(35, 40, 47, .15), 0 0 0 1px rgba(35, 40, 47, .2)), 0 0 0 var(--plyr-range-thumb-active-shadow-width, 3px) var(--plyr-audio-range-thumb-active-shadow-color, rgba(255, 255, 255, .5))
// }
// input[type=range].q-range:active::-ms-thumb {
//   box-shadow: 0 1px 1px rgba(35, 40, 47, .15), 0 0 0 1px rgba(35, 40, 47, .2), 0 0 0 3px rgba(255, 255, 255, .5);
//   // box-shadow: var(--q-range-thumb-shadow, 0 1px 1px rgba(35, 40, 47, .15), 0 0 0 1px rgba(35, 40, 47, .2)), 0 0 0 var(--plyr-range-thumb-active-shadow-width, 3px) var(--plyr-audio-range-thumb-active-shadow-color, rgba(255, 255, 255, .5))
// }

// .plyr__progress input[type="range"] 
// .q-range{
//   color: #00b3ff; // #007bff

//   position: relative;
//   z-index: 2;

//   touch-action: manipulation;
//   // transition: box-shadow .3s ease;
// }

// .q-range::-webkit-slider-runnable-track {
//   background-color: rgba(255,255,255,.25);
//   // background-color: var(--plyr-video-range-track-background, var(--plyr-video-progress-buffered-background,rgba(255,255,255,.25)));
// }

// .q-range::-webkit-slider-runnable-track {
//   background: 0 0;
//   background-color: rgba(255,255,255,.25);
//   border: 0;
//   user-select: none;
//   transition: box-shadow .3s ease;

//   background-image: linear-gradient(to right, currentColor 0, transparent 0);
//   background-image: linear-gradient(to right, currentColor var(--val, 0), transparent var(--val, 0));
// }

// .q-range::-webkit-slider-thumb {
//   background: #fff;
//   border: 0;
//   border-radius: 50%; // 100%
//   box-shadow: 0 1px 1px rgba(35,40,47,.15), 0 0 0 1px rgba(35,40,47,.2);
//   height: 13px;
//   width: 13px;
// }

