// === react-split-pane ===
.SplitPane{
  outline: none;
  overflow: hidden;
  user-select: text;
  display: flex;
  flex: 1;
  height: 100%;
  position: relative;// absolute
}
.SplitPane.vertical{
  flex-direction: row;
  left: 0;
  right: 0;
}
.SplitPane.horizontal{
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}
.Pane {
  display: flex;
  outline: none;
  position: relative;
  // overflow: hidden;
}
.Pane:empty {
  display: none;
}

.Resizer {
  background-color: #fff;
  // Q-CUSTOM: OPTION for view line
  // 216,217,219,.5
  box-shadow: inset 0 0 0 .2rem #fff;// rgba(255,255,255,.7)

  opacity: .2;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  position: relative;
  z-index: 2;// 1
  user-select: none;
}

// === OPTION - FROM codesandbox embed ===
// .Resizer{
//   background-color: #111;
// }
// .Resizer.vertical:after {
//   content: "";
//   display: flex;
//   position: absolute;
//   width: 1px;
//   height: 30px;
//   top: calc(50% - 20px);
//   margin-left: 5px;
//   background-color: #fff;
// }
// === END OPTION - FROM codesandbox embed ===

// .bg-ide-light .Resizer
.light .Resizer{
  background-color: #000;
  // Q-CUSTOM: OPTION for view line
  // rgba(82,88,93,.5)
  box-shadow: inset 0 0 0 .2rem #777;
}

// .Resizer:hover {
//   -webkit-transition: all 2s ease;
//   transition: all 2s ease;
// }

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid transparent;// rgba(255, 255, 255, 0)
  border-bottom: 5px solid transparent;
  cursor: row-resize;
  width: 100%;
}

// .Resizer.horizontal.active,
.Resizer.horizontal:hover,
.Resizer.horizontal:active{
  opacity:1;
  border-top-color: rgba(38,143,255,.5);// rgba(255,255,255,.5);// rgba(0, 0, 0, 0.5)
  border-bottom-color: rgba(38,143,255,.5);// rgba(255,255,255,.5);
}

// .bg-ide-light .Resizer.horizontal:hover,
// .light .Resizer.horizontal:hover,
// .light .Resizer.horizontal:active{
//   border-top-color: rgba(0,0,0, .5);
//   border-bottom-color: rgba(0,0,0, .5);
// }

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid transparent;// rgba(255, 255, 255, 0)
  border-right: 5px solid transparent;
  cursor: col-resize;
}

// .Resizer.vertical.active,
.Resizer.vertical:hover,
.Resizer.vertical:active{
  opacity:1;
  border-left-color: rgba(38,143,255,.5);// rgba(255,255,255,.5);// rgba(0, 0, 0, 0.5)
  border-right-color: rgba(38,143,255,.5);// rgba(255,255,255,.5);
}

// .bg-ide-light .Resizer.vertical:hover,
// .light .Resizer.vertical:hover,
// .light .Resizer.vertical:active{
//   border-left-color: rgba(0,0,0, .5);
//   border-right-color: rgba(0,0,0, .5);
// }
// === END react-split-pane ===

// === OPTION
.Resizer.disabled {
  background-color:transparent;
  cursor: auto;// not-allowed
  // user-select: none;
  // pointer-events: none;
}
.Resizer.disabled:hover,
.Resizer.disabled:active {
  border-color: transparent;
}

// .Resizer.disabled {
//   display: none;
// }

.Resizer:active,
.Resizer.active{
  z-index: 1022;
}

// body.col-resize .Resizer:active:before,
// body.col-resize .Resizer.active:before
.Resizer:active:before,
.Resizer.active:before{
  content:"";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // z-index: 1021;
  cursor: row-resize;
  // background-color: rgba(0,0,0,.3);
}

.Resizer.vertical:active:before,
.Resizer.vertical.active:before{
  cursor: col-resize;
}
