// @import '';
$aside-width           : 220px !default;
$aside-min             : 50px !default;
$nav-height-top-sticky : 48px !default;

// Layout
// .layout{
//   display: grid;
//   // minmax(150px, 25%) 1fr
//   grid-template-columns: minmax(150px, 200px) 1fr;

//   // transition: grid-template-columns 0.2s ease-in-out;
// }

// .layout {
//   display: flex;
//   flex-direction: row;
// }

// .aside-min .layout {
//   grid-template-columns: 50px 1fr;
// }

// aside main:
#asideAdmin{
  display: flex;
  flex-direction: column;
  width: $aside-width; // 220px
  height: 100vh;
  position: sticky;// relative
  top: 0;
  z-index: 1020; // 5
  transition: width .2s ease-in-out;
  // OPTION
  // -webkit-tap-highlight-color: transparent;
}

// .layout > .pancake-stack,
// #asideAdmin{
//   transition: width 0.2s ease-in-out;
// }

.aside-min #asideAdmin{
  width: $aside-min;
}

.asidemain-menu-wrap {
  position: relative;
  height: calc(100vh - 144px);
}

// #asideAdmin > .list-group
.asidemain-menu-wrap .aside-menu-col {
  // height: calc(100vh - 144px); // 96px | 48px
  // top: 96px; // 48px
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// #asideAdmin > header, 
// #navAdmin {
//   background-color: #e3f2fd; // #e3f2fd | #83bdfb
// }

// NOTE: MUST Change in JSX className
#asideAdmin > header, 
#asideAdmin > label, 
.asidemain-foot, 
#navAdmin {
  height: $nav-height-top-sticky;
  flex: none;
}

#asideAdmin > label {
  top: $nav-height-top-sticky;
}

// .dd-menu-asidemain .dropdown-item, 
.menu-item {
  font-size: .85rem;
  color: var(--gray);
  text-align: left;
}

// .menu-dd > .menu-item {
//   position: sticky;
//   top: 0;
//   // z-index: 1000;
// }

// .menu-dd > .menu-item:not(:active):not(.active):not(:hover) {
//   background-color: #fff;
// }

.menu-item:not(:active):not(.active):hover {
  color: #212529;
}

// dropdown-item
// .aside-min #asideAdmin .menu-item 
.aside-min:not(.isMobile) .menu-dd > .menu-item, 
.aside-min:not(.isMobile) .aside-menu-col > .menu-item {
  padding-left: .5rem;
  padding-right: .5rem;
  // padding: .5rem;
  min-height: 36px; // OPTION
  font-size: 0;
  text-align: center;
}

.aside-min:not(.isMobile) .menu-dd > .menu-item:before, 
// .aside-min #asideAdmin .menu-item:before
.aside-min:not(.isMobile) .aside-menu-col > .menu-item:before {
  font-size: .85rem; // 1rem
  margin-right: 0;
  line-height: 1.5;
}

.dd-toggle-menu {
  position: relative;
}
.dd-toggle-menu:after {
  content: "\e954"; // \f054
  position: absolute;
  top: 8px;
  right: 9px;
}

// .menu-dd > .dd-toggle-menu:after{
//   color: var(--gray);
// }

.show > .dd-toggle-menu:after {
  content: "\e955"; // \f078
}

.aside-min:not(.isMobile) .menu-dd .dd-toggle-menu:after {
  content: none;
}

// Dropdown menu aside
body:not(.aside-min) .menu-dd .dropdown-menu,
body.isMobile .menu-dd .dropdown-menu {
  position: relative !important;
  transform: none !important;
  background-color: #eee;
  box-shadow: none !important;
  width: 100%;
  border-width: 0;
  border-radius: 0;
}

body:not(.aside-min) .menu-dd .dropdown-menu::before, 
body.isMobile .menu-dd .dropdown-menu::before
// body:not(.aside-min) .menu-dd.show::before, 
// body.isMobile .menu-dd.show::before 
{
  content: "\e96b"; // \f0d8
  font-size: 24px;
  color: #eee;
  position: absolute;
  top: -15px; // -15px | 23px
  right: 9px;
  // z-index: 1001;
}

// .aside-min .btnAsideMainToggle:before{
//   content: "\f324";
// }

// .aside-min .asideFindMenu input{
//   display: none;
// }

.asidemain-foot {
  position: sticky; // absolute
  bottom: 0;
  left: 0;
  right: 0;
}

.aside-min:not(.isMobile) .dd-menu-asidemain {
  background-clip: inherit;
  max-height: 50vh;
  // overflow-y: auto;
}

// NEW Admin Layout:
.wrap-app {
  transition: width .2s ease-in-out;
  width: calc(100% - #{$aside-width});
  // OPTION
  -webkit-tap-highlight-color: transparent;
}

.wrap-app main {
  flex: auto;
}

.aside-min .wrap-app {
  width: calc(100% - #{$aside-min});
}

// END NEW Admin Layout:

// 
// .asideModalApp .ant-drawer-header{
//   padding: 0;
//   // display: flex;
//   // flex-direction: row;
// }

// .asideModalApp .ant-drawer-header .ant-drawer-title .input-group{
//   width: auto;
// }

// .asideModalApp .ant-drawer-close{
//   padding: 14px 9px;
//   position: static;
// }

// .asideModalApp .ant-drawer-body {
//   padding: 0; // 15px 0
//   overflow-x: hidden;
// }

// 256

// DEVS: reactjs-popup:
// .popup-content {
//   margin: auto;
//   background-color: #fff;
//   width: 50%;
//   padding: 5px;
// }
// .popup-arrow {
//   color: #fff;
// }
// [role='tooltip'].popup-content {
//   width: 200px;
//   box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
// }

// .popup-overlay {
//   background-color: rgba(0, 0, 0, 0.5);
// }
// [data-popup='tooltip'].popup-overlay {
//   background-color: transparent;
// }

// .aside-min .btnToggleAsideMain:before {
//   content: "\F324";
// }

// ::-webkit-scrollbar {
//   width: 8px;
//   height: 8px;
// }

// ::-webkit-scrollbar-button {
//   background-color: #ddd;
// }

// ::-webkit-scrollbar-track {
//   background-color: #efefef;
// }

// ::-webkit-scrollbar-track-piece {
//   background-color: #eee;
// }

// ::-webkit-scrollbar-thumb {
//   height: 50px;
//   background-color: #ccc;
//   border-radius: 3px;
// }

// ::-webkit-scrollbar-corner {
//   background-color: #fff;
// }

// Responsive Admin:
@media (max-width: 767px){
  // .btnToggleAsideMain:before {
  //   content: "\F324";
  // }

  .wrap-app,
  .aside-min .wrap-app {
    width: 100%;
  }
  
  .wrap-app {
    transition: none;
  }
}

