//
.holder{
	display:flex;
	flex-flow:row wrap;
	// position:static;
  overflow:hidden;
  // background-color:#fff;
  // background-image:linear-gradient(to right,rgba(0,0,0,.08) 0,rgba(0,0,0,.15) 15%,rgba(0,0,0,.08) 30%);
  // background-size:1200px 100%;
  // max-width:30rem;
  // animation:lightAnim 2s linear;
  // animation-iteration-count:infinite;
  cursor:progress;
}

// 22 MAY 2019
// TextLoader type:
// .holder.h1,
// .holder.h2,
// .holder.h3,
// .holder.h4,
// .holder.h5,
// .holder.h6{
// 	margin: 0;
// }

.holder.h1{
	height: 2.5rem;
}
.holder.h2{
	height: 2rem;
}
.holder.h3{
	height: 1.75rem;
}
.holder.h4{
	height: 1.5rem;
}
.holder.h5{
	height: 1.25rem;
}
.holder.h6{
	height: 1rem;
}

// TextLoader type forms:
.holder.form.lg{
	height: 48px;// calc(1.5em + 1rem + 2px)
}
.holder.form.md{
	height: 38px;// calc(1.5em + .75rem + 2px)
}
.holder.form.sm{
	height: 31px;// calc(1.5em + .5rem + 2px)
}

// .g-recaptcha:empty,
.thumb.holder::before,
.holder.h1::before,
.holder.h2::before,
.holder.h3::before,
.holder.h4::before,
.holder.h5::before,
.holder.h6::before,
.holder.form::before
// .ava-loader::after,
// .ava-loader::before
{
	content:"";
  background-color:#fff;
  background-image:linear-gradient(to right,rgba(0,0,0,.08) 0,rgba(0,0,0,.15) 15%,rgba(0,0,0,.08) 30%);
  background-size:1200px 100%;
  animation:lightAnim 2s linear;
  animation-iteration-count:infinite;
}

.thumb.holder::before{
	content: attr(aria-label);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: calc(56.25% / 2); // calc(56.25% / 2) 1rem
	color: #777;
}

.thumb.holder.notFound div{
	//content:attr(title);
	// display:flex;
	// flex-direction: column;
	// align-items: center;
	// justify-content: center;
	position: absolute;
	top:0;
	right:0;
	bottom: 0;
	left:0;
	margin: 0 auto;
	color: var(--gray); // #6c757d
	z-index: 1;
}

// .ava-loader{
// 	overflow: hidden;
// 	cursor: progress;
// }

// .ava-loader:not(.ava-frame){
// 	display: inline-block;
// 	width: 30px;
// 	height: 30px;
// 	border-radius: 50%;
// }

// .ava-loader::before{
// 	display: block;
// 	width: 100%;
// 	height: 100%;
// }

// .ava-loader.circle{
// 	border-radius: 50%;
// }

// .ava-post::after,
.holder.form::before,
.holder.h1::before,
.holder.h2::before,
.holder.h3::before,
.holder.h4::before,
.holder.h5::before,
.holder.h6::before{
	// position: relative;
	width: 100%;// 150px
	height: 100%;// 15px
	// margin-left: 7px;
}

.thumb{
	position:relative;
	display:block;
	width:100%;
	overflow:hidden;
	background:50% no-repeat #e3f2fd;
	background-size:cover;
}
.thumb::before{
	display: block;
	content: "";
	padding-top:56.25%;
	position:relative;
	z-index:1;
}
// .set-size .thumb::before{
// 	padding: 0;
// 	width: 100%;
// 	height: 100%;
// }

// .media-post{
// 	position:relative;
// 	overflow:hidden;
// }
// .post {
// 	margin-bottom: 1.5rem;
// }

// .textMulti .holder.h6 + .h6{
// 	margin-top:.5rem;
// }

// .textMulti .holder.h6:nth-of-type(2){
// 	width: 85%;
// }
// .textMulti .holder.h6:nth-of-type(3){
// 	width: 70%;
// }

// .holder.subs::before{
// 	width:90px;
// }

// .post .card-body .ava-loader ~ .holder{
// 	margin-left: 9px;
// }

@-webkit-keyframes lightAnim{
	0%{
		background-position: -1200px 0;
	}
	100%{
		background-position: 1200px 0;
	}
}
@keyframes lightAnim{
	0%{
		background-position:-1200px 0;
	}
	100%{
		background-position:1200px 0;
	}
}
