/*!
 * Q-UI v1.0.0 (https://getbootstrap.com/)
 * Copyright 2011-2020 The Bootstrap Authors
 * Copyright 2011-2020 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
*/

// CUSTOM var
$main-color: #e3f2fd !default; // #e3f2fd | #83bdfb

@import '~react-colorful/dist/index.css';

// Frameworks:
@import 'frameworks/bootstrap/bootstrap.scss';
@import 'core/etc/bootstrap_override_add.scss';

// Core main style:
@import 'core/etc/main-style.scss';

// antd
// @import '~antd/lib/popover/style/index.css';

// @import 'frameworks/antd/index.scss';
// @import 'frameworks/antd/antd.scss';

// POSITION NOT FIX: 
// @import 'frameworks/antd/button.scss';
// 
// @import 'frameworks/antd/popover.scss';

// POSITION NOT FIX: 
// @import 'frameworks/antd/modal.scss';

// POSITION NOT FIX: 
// @import 'frameworks/antd/drawer.scss';

// @import 'frameworks/antd/progress.scss';
// @import 'frameworks/antd/rate.scss';
// @import 'frameworks/antd/result.scss';

// @import 'frameworks/antd/skeleton.scss'; // USE

// @import 'frameworks/antd/slider.scss';
// @import 'frameworks/antd/space.scss';
// @import 'frameworks/antd/statistic.scss';
// @import 'frameworks/antd/steps.scss';

// @import 'frameworks/antd/switch.scss'; // USE

// @import 'frameworks/antd/table.scss';
// @import 'frameworks/antd/timeline.scss';
// @import 'frameworks/antd/transfer.scss';
// @import 'frameworks/antd/tree.scss';
// @import 'frameworks/antd/typography.scss';
// @import 'frameworks/antd/upload.scss';

// @import '~antd/lib/button/style/index.css'; // es
// @import '~antd/lib/modal/style/index.css';

// Components:
@import 'core/components/loader.scss';
@import 'core/components/progress.scss';
@import 'core/components/img.scss';
@import 'core/components/ava.scss';
@import 'core/components/q-input.scss';// DEVS
@import 'core/components/details.scss';
@import 'core/components/browser.scss';
// @import 'core/components/devs/q-radio.scss';
// @import 'core/components/range.scss';
@import 'core/components/q-range.scss';
@import 'core/components/icon-picker.scss';

// Devs Components:
@import 'core/components/react-split-pane.scss';

// Pure CSS Material: 
@import 'core/components/devs/pure-css-material/slider.scss';
@import 'core/components/devs/pure-css-material/progress.scss';
// END Pure CSS Material
// END Devs Components

// PageLoader:
@import 'core/components/parts/page-loader.scss';
@import 'core/components/player-q.scss';
// END Components

// Layout:
@import 'core/layout.scss';

// FONTS:
@import 'fonts/q-icon/style.css';
// @import 'fonts/fontawesome-pro/scss/fontawesome.scss';
// @import 'fonts/fontawesome-pro/scss/light.scss';
// @import 'fonts/fontawesome-pro/scss/solid.scss';
// @import 'fonts/fontawesome-pro/scss/regular.scss';
// @import 'fonts/fontawesome-pro/scss/brands.scss';

// APPS:
@import 'apps/repl.scss';

// TOOLS:
@import 'core/tools/svg-to-url.scss';

// HELPER:
@import 'core/etc/tip.scss';
@import 'core/etc/helper.scss';

// RESPONSIVE:
@import 'responsive/desktop-or-large.scss';
@import 'responsive/tablet-landscape.scss';
@import 'responsive/tablet-portrait.scss';
@import 'responsive/smartphone-landscape-portrait.scss';
@import 'responsive/smartphone-portrait.scss';



