// Repl
.repl{
	position: relative;
}

// FROM app-designer.scss
// .app-designer .ide-nav{

// }

// .ad-ide{
// 	position: relative;
// }

// .ad-btnRunCompile{
// 	position:absolute;
// 	bottom: 9px;
// 	right: 16px;
// 	z-index: 2;
// }

// .ad-aside{
// 	width: 0.05px;// 33px
// 	position:relative;
// 	z-index: 3;
// 	transition: width .2s ease-in-out;// linear
// }

// .ad-aside:not(.max)
// .ad-aside{
// 	width: 33px;
// }

// .ad-aside.max{
// 	width: 200px;
// 	// z-index: 3;
// }

// .ad-aside:not(.max) > nav + div,
// .ad-aside:not(.max) > nav > *{ // :not(.ad-btnToggleAside)
// 	// width: 0;
// 	display: none !important;
// }

// .ad-btnToggleAside {
//   position: absolute;
//   top: 0;// 50%
//   bottom: 0;
//   right: -16px;
//   // border: 0;
//   // border-radius: 0;
//   opacity: 0;
// }

// // .ad-aside:not(:hover) .ad-btnToggleAside
// .ad-aside:hover .ad-btnToggleAside,
// .ad-btnToggleAside:hover{
// 	opacity: 1;
// }

.ad-tabfile{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	// position:relative;

	overflow-x: auto;
}

// .ad-tabfile:hover{
// 	margin-top: -0.5rem;// -0.4rem
// 	overflow-x: auto;
// }

// .ad-tabfile:hover > .ad-tab-name,
// .ad-tabfile:hover > .btn-group{
// 	position:relative;
// 	height: calc(100% - 0.5rem);
// 	bottom:-0.5rem;
// 	// margin-top: -0.4rem;
// }

// .ad-tabfile > .btn-group + .btn-group{
	// border-left:1px solid #eee;
	// margin-left:1px;
// }

.ad-tabfile > .btn-group:hover .btn{
	background-color: #e2e6ea;
	// border-color: #ccc;
}

.dark .ad-tabfile > .btn-group:hover .btn{
	background-color:#23272b;
}

.ad-tabfile > .btn-group .btn:focus{
	box-shadow: none;
}

// Tab ide file name
// .ad-tab-name{
// 	// max-width: 95px;
// 	overflow: hidden;
// 	white-space: nowrap;
// 	text-overflow: ellipsis;
// }

.btn.ad-tab-name{
	border: 0;
	border-radius: 0;
}

[role="group"] > .ad-tab-name{
	max-width: 95px;
}

// aside component for directory etc
// .repl-aside > .fade:not(.show){
// 	display: none;
// }

.bg-dark .ant-tree-indent {
	background-color: #343a40;
}

.bg-dark.ant-tree.ant-tree-directory .ant-tree-treenode:hover::before {
	background-color: rgba(0,0,0,.4);
}
// .bg-dark.ant-tree.ant-tree-directory .ant-tree-treenode:active {
// 	color: var(--dark);
// }

// For <Console />
.repl-logs > div {
	display: flex;
	flex-direction: column;
	flex: 1;
}

// Monaco Editor:
// OPTIONS: set in js = monaco-editor/ide/onDidMount.js
.monacoFixedCtxMenu .context-view {
	position: fixed;//  !important
}

.context-view * {
	text-decoration: none !important;
}


// Translator
// #SL_balloon_obj{
// 	display: none !important;
// 	opacity: 0;
// 	visibility: hidden;
// 	transform: scale(0);
// 	width: 0;
// 	height: 0;
// }