// CSS Animate Collections
// .slideDown-anime{
// 	transform-origin: top;
// 	animation-fill-mode: forwards;
// 	transform: scaleY(0);
// 	pointer-events: none;
// 	transition: transform ease .3s;
// }

// .slideDown-anime.open,
// .q-detail[open] [role=group]{
//   pointer-events: auto;
//   transform: scaleY(1);
// }