// ======= Helper =======
// == Flex behaviors ==
// Align items
// .ai-start {
//   -ms-flex-align: start;
//   align-items: flex-start;
// }
// .ai-end {
//   -ms-flex-align: end;
//   align-items: flex-end;
// }
// .ai-center {
//   -ms-flex-align: center;
//   align-items: center;
// }
// .ai-baseline {
//   -ms-flex-align: baseline;
//   align-items: baseline;
// }
// .ai-stretch {
//   -ms-flex-align: stretch;
//   align-items: stretch;
// }
// END Align items

// Justify content
// .jc-start {
//   -ms-flex-pack: start;
//   justify-content: flex-start;
// }
// .jc-end {
//   -ms-flex-pack: end;
//   justify-content: flex-end;
// }
// .jc-center {
//   -ms-flex-pack: center;
//   justify-content: center;
// }
// .jc-between {
//   -ms-flex-pack: justify;
//   justify-content: space-between;
// }
// .jc-around {
//   -ms-flex-pack: distribute;
//   justify-content: space-around;
// }
// END // Justify content
// END Custom Flex

// Flex
.flexno {
  flex: none !important;
}

.flex0 {
  flex: 0;
}

.flex1, 
.flex1-all > * {
	flex: 1;
}

.flex-auto {
  flex: auto;
}

.flex-basis-0 {
  flex-basis: 0 !important;
}

// *.flex1-auto{
//   flex:1 1 auto;
// }
// END Flex
// END == Flex behaviors ==

// === Typography ===
// .txt-c{
//   text-align:center;
// }
// .txt-r{
//   text-align: right;
// }
// .txt-cap{
//   text-transform:capitalize;
// }
// .txt-up{
//   text-transform:uppercase;
// }

.fs-inherit {
  font-size: inherit;
}

.fw600 {
  font-weight: 600;
}
.bold {
  font-weight: bold !important;
}

// .space{
// 	position:relative;
// 	white-space:pre-wrap;
// 	word-wrap:break-word;
// }

.lh-inh
// .i.lh-inh::before
{
  line-height: inherit;
}
.lh-normal{
  line-height: normal;
}

// .form-control, // ADD style Bootstrap input form
// .ellipsis{
//   overflow:hidden;
//   white-space:nowrap;
//   text-overflow:ellipsis;
// }

// .pre-wrap-before:before, // pre-wrap / pre-line for :before
.pre-wrap { 
  white-space: pre-wrap;
}

.ws-normal{
  white-space: normal;
}

// .txt-outline-hover:hover, 
.txt-outline {
  text-shadow: 0.02em 0.02em 0 #215cff, -0.02em -0.02em 0 #215cff, -0.02em 0.02em 0 #215cff, 0.02em -0.02em 0 #215cff, 0 0.02em 0 #215cff, 0 -0.02em 0 #215cff, -0.02em 0 0 #215cff, 0.02em 0 0 #215cff;
}

// *.txt-outline-hover:hover {
//   color: #fff !important;
//   background-color: #fff;
// }

// LINE CLAMP:
.truncate-line {
  --max-lines: 3;
  // position: relative;
  max-height: calc(1.5rem * var(--max-lines)); // --max-lines
  overflow: hidden;
  // padding-right: 1rem; /* space for ellipsis */

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.truncate-line.max-2 {
  max-height: calc(1.5rem * 2);
  -webkit-line-clamp: 2;
}

// .truncate-line::after {
//   content: "...";
//   display: inline-block;
//   // position: absolute;
//   // bottom: 0;
//   // right: 0;
// }

// .truncate-line::after {
//   content: "";
//   position: absolute;
//   right: 0; 
//   width: 1rem;
//   height: 1rem;
//   background-color: #fff;
// }
// === END Typography ===

// == Sizing ==
// .w-15{
//   width: 15%;
// }
// .w-20{
//   width: 20%;
// }
.w-30 {
  width: 30%;
}
// .w-35{
//   width: 35%;
// }

// .w-65{
//   width: 65%;
// }

// .w-85{
//   width:85% !important;
// }

// For versions select
.w-95px {
  width: 95px;
}

.w-200px {
  width: 200px;
}

// For aside modal app
.w-256px {
  width: 256px;
}

.w-350px {
  width: 350px;
}

// .w-fit {
//   width: fit-content;
// }

.w-mx-content {
  width: intrinsic;/* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;/* Firefox/Gecko */
  width: -webkit-max-content;/* Chrome */
  width: max-content;
}

// .w-mn-content{
//   width: -moz-min-content;/* Firefox */
//   width: -webkit-min-content;/* Chrome */
//   width: min-content;
// }

// full height calc with #navMain
.h-full-nav {
  height: calc(100vh - 48px) !important;
}

.mh-full-navmain {
  min-height: calc(100vh - 48px) !important;
}

.mnh-100 {
  min-height: 100%;
}

.mxh-no {
  max-height: none;
}

.h-inherit {
  height: inherit;
}

// Nav Top Main:
.h-48px {
  height: 48px;
}

// USAGE IN????
// .mnh-50vh {
//   min-height: 50vh;
// }

.mnw-auto {
  min-width: auto;
}

.mxh-80 {
  max-height: 80% !important;
}

// .mxh-c50vh-45px {
//   max-height: calc(50vh - 45px);
// }

// .mxh-50vh {
//   max-height: 50vh;
// }
// .inblock-wauto {
// 	display: inline-block;
// 	width: auto;
// 	vertical-align: middle;
// }
// == END Sizing ==

// == Spacing ==
// .pl-6 {
// 	padding-left: 2.75rem !important;
// }

.pl-5px {
  padding-left: 5px !important;
}

// Use in PlayerQ playback rate item
.pl-36px {
  padding-left: 36px !important;
}

.mx-min15 {
  margin-right: -15px;
  margin-left: -15px;
}
// .mt-125 {
//   margin-top: 1.25rem;
// }

.ml-1px-next > * + * {
  margin-left: 1px !important;
}

.ml-1-next > * + * {
  margin-left: .25rem;
}

.ml-2-next > * + * {
  margin-left: .5rem;
}

.ml-3-next > * + * {
  margin-left: 1rem;
}

.mt-1-next > * + * {
  margin-top: .25rem !important;
}

.mt-2-next > * + * {
  margin-top: .5rem !important;
}

.mt-3-next > * + * {
  margin-top: 1rem;
}

// USE ???
// .select-no {
//   user-select: none !important;
// }
// .select-auto {
//   user-select: auto !important;
// }

.ovhide {
  overflow: hidden !important;
}
.ovauto {
  overflow: auto;
}
.ovxhide {
  overflow-x: hidden !important;
}
.ovyhide {
  overflow-y: hidden !important;
}
.ovyauto {
  overflow-y: auto !important;
}
.ovxauto {
  overflow-x: auto !important;
}
.ovvisible {
  overflow: visible !important;
}
.ovyscroll {
  overflow-y: scroll !important;
}

// == Border ==
.bw-y1 {
  border-width: 1px 0 !important;
}
.bw-x1 {
  border-width: 0 1px !important;
}

.border-transparent {
  border-color: transparent !important;
}

.border-top-next > * + * {
  border-top: 1px solid #ddd;
}

.modal-up .modal-content, 
.round-top-0 {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.modal-down .modal-content, 
.round-bottom-0 {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.modal-left .modal-content, 
.modal-right .modal-content, 
.round-left-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.modal-left .modal-content, 
.modal-right .modal-content, 
.round-right-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
// == END Border ==

.resize-v {
  resize: vertical;
}

.resize-h {
  resize: horizontal;
}

.resize-no {
  resize: none;
}

// For add ::after in resize browser native
.resize-native {
  position: relative;
}

.resize-native::-webkit-resizer {
  background-color: transparent;
}

.resize-native.resize-v {// OPTIONS
  min-height: 60px;
}

.resize-native::before, 
.resize-native::after {
  // content: "\F07D";
  position: absolute;// absolute | relative
  bottom: 1px;
  right: 1px;
  display: block;
  background-color: #fff;
  // padding: 7px 3px 3px 7px;
  padding: 2px 7px 4px 0;
  border-top-left-radius:1rem;
  // box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

// .resize-native::before{
//   content: "\ef07d"; // \e907
// }

.resize-native.resize-v::after {
  content: "";
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-width: 20px;
  border-bottom-width: 0;
  border-right: 17px solid #fff;
  z-index: 1;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
  pointer-events: none;
}

// .resize-native:active::after{
//   background-color:#268fff;// #cee6fd
// }

// == Background ==
.bg-main { // .bg-app
  background-color: $main-color !important;
}

.bg-ide-dark {
  background-color: #202124;
}

// .bg-fff, 
.bg-ide-light{
  background-color: #fff;
}

.bg-000 {
  background-color: #000;
}

.bg-eee {
  background-color: #eee;
}

.bg-strip {
  background: repeating-linear-gradient(-45deg,#ddd,#ddd 1px,#fff 3px,#fff 3px);
}

// .cropper-bg {
//   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
// }

// .bg-hover {
//   background-color: $blue-hover;
// }
.bg-focus-inherit:focus {
  background-color: inherit;
}

// BgImage:
.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-pos-center {
  background-position-x: center;
}

// DEV: background with loader
.bg-size-90px-after:after {
  background-size: 90px;
}
// END Background

// == Color ==
.txt-inh {
  color:inherit;
}
// .c-light {
//   color: #fff
// }
// .c-dark {
//   color: #fff
// }
// == END Color ==

// == Position ==
// .relative {
//   position: relative !important;
// }
// .absolute{
//   position: absolute !important;
// }
// .sticky{
//   position: -webkit-sticky !important;
//   position: sticky !important;
// }

// .t-0
.t0 {
  top: 0;
}

.l0 {
  left: 0;
}

// Use in <Repl /> SplitPane Component
.l7 {
  left: 7px;
}

.r0 {
  right: 0;
}

// .b-0
.b0 {
  bottom: 0;
}

.b100 {
  bottom: 100%;
}

// For sticky / fixed calc with <NavMain />
.t48 {
  top: 48px;
}

.inset-0 {
  inset: 0;
}

// MOVE to INTERNAL STYLE
// .position-full {
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
// }

// DEV OPTION:
// Can use element in bottom right 9px, eg button compile
// .position-br-9 {
//   bottom: 9px;
//   right: 9px;
//   z-index: 2;
// }
// == END Position ==

.cpoin {
  cursor: pointer !important;
}
.cauto {
  cursor: auto !important;
}
.cwait {
  cursor: wait !important;
}
// fieldset:disabled,
.cprogress {
  cursor: progress !important;
}
.chelp {
  cursor: help !important;
}

// fieldset[disabled],
// fieldset[disabled] *,// OPTION
.cnotallow {
  cursor: not-allowed; //  !important
}

.ns-resize, 
html.ns-resize * {
  cursor: ns-resize !important;
}
.ew-resize, 
html.ew-resize * {
  cursor: ew-resize !important;
}

// html.row-resize body:before,
.row-resize, 
html.row-resize * {
  cursor: row-resize !important;
}

// html.col-resize body:before,
.col-resize, 
html.col-resize * {
  cursor: col-resize !important;
}

// html.row-resize body:before,
// html.col-resize body:before{
//   content: "";
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   z-index: 1019;
//   // background-color: rgba(0,0,0,.4);
// }

// html.row-resize #navTopMain,
// html.col-resize #navTopMain,
// html.row-resize iframe,
// html.col-resize iframe
html.row-resize body *,
html.col-resize body * {
  pointer-events: none !important;
}

html.col-resize .Bt-Resizer:active, 
html.row-resize .Resizer:active,
html.col-resize .Resizer:active{
  pointer-events: auto !important;
  // z-index: 1019;// 1022 | 1020 | 1019
}

// *.col-set,
.cgrab {
  cursor: -webkit-grab !important;
  cursor: grab !important;
}
.cgrabbing, 
html.cgrabbing * {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
}

.cno {
  cursor: none !important;
}

// body.cgrabbing .col-set,
// .react-draggable-transparent-selection::before, // === UI Builder / Designer ===
.cgrabbing {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
}
// *.ui-resize::before,
// .cse-resize{
//   cursor: se-resize !important;
// }
.cmove {
  cursor: move !important;
}
// == END Cursor ==

// == XUL ==
.zi--1 {
  z-index: -1;
}
.zi-1 {
  z-index: 1;
}
.zi-2 {
  z-index: 2;
}
.zi-3 {
  z-index: 3;
}
.zi-4 {
  z-index: 4;
}
.zi-5 {
  z-index: 5;
}
// Up Dropdown menu
.zi-1001 {
  z-index: 1001;
}
.zi-upModal {
  z-index: 1051;
}

// pseudo before / after
.before-no:before {
  content: none !important;
}

// fonts:
// === ICON SIZE With font-size ===
.text-sm {
  font-size: 0.875rem;
}

.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14, 
.i.i-14::before {
  font-size: 14px !important;
}

// == ICONS: ==
// .i-lg::before {
//   font-size: 1.33333em;
//   line-height: 0.75em;
//   vertical-align: -.0667em
// }
// .i-xs::before {
//   font-size: .75em
// }
// .i-sm::before {
//   font-size: .875em
// }
// .i-1x::before {
//   font-size: 1em
// }

.qi-2x::before {
  font-size: 2em;
}
.qi-3x::before {
  font-size: 3em;
}
// .i-4x::before {
//   font-size: 4em
// }
// .i-5x::before {
//   font-size: 5em
// }
// .i-6x::before {
//   font-size: 6em
// }
.qi-7x::before {
  font-size: 7em;
}
// .i-8x::before {
//   font-size: 8em
// }
// .i-9x::before {
//   font-size: 9em
// }
// .i-10x::before {
//   font-size: 10em
// }

.q-s11:before {
  transform: scale(1.1);
}

// .q-php:before, // Equal size set
// .q-mysql:before,
.q-s12:before {
  transform: scale(1.2);
}

.q-s13:before {
  transform: scale(1.3);
}

// .q-s14:before {
//   transform: scale(1.4);
// }
// USED IN IconPicker (Preview icon onHover)
.q-s22:before {
  transform: scale(2.2);
}

.q-3:before {
  font-size: 3rem;
}

/* == Q-CUSTOM FOR <Details /> or Tree component == */
// .detail-q summary:before,// detail-q.tree-q summary:before
// .detail-q .nav-link.q:before,// .tree-q .nav-link.q:before

.q-fw:before {
  text-align: center;
  width: 1.25em;
}

// .toast-header.q:not(:empty):before,
.q-mr:not(:empty):before, 
// .form-text::before,
// .btn.fa:not(:empty):not([aria-haspopup]):not(.kidHide):before,
// .btn[class*="fa-"]:not(:empty):not([aria-haspopup]):not(.btnFile):before, 
.btn[class*="qi-"]:not(:empty):not([aria-haspopup]):not(.btnFile):not(.btn-app):before, 
.dropdown-item[class*="qi-"]:not(:empty):before,
.dropdown-item[class*="fa-"]:not(:empty):before
// .detail-q .nav-link.q:before
{
  margin-right: .5rem;
}

.q-mb:not(:empty):before {
  margin-bottom: .5rem;
}

.q-ml:not(:empty):after {
  margin-left: .5rem;
}

// [role="checkbox"][aria-checked="true"]::after, 
.faa:after {
  font-family: 'Font Awesome 5 Pro';
  // font-weight: 300;
}

.qia:after {
  font-family: 'q-icon' !important;
}

.qia-chevron-right:after {
  content: "\e954";
}

.faa-chevron-right:after {
  content: "\F054";
}

// .modal-header.q:before{
//   align-self: center;
//   margin-right: .5rem;
// }

// === EXTENDS ICONS ===
// .q-markdown:before{
//   content:"\e90e";
// }
// .q-scss:before{
//   content:"\e903";
// }
// .q-noExt:before,
// [role="treeitem"] .q-map:before{
//   content:"\e949";
// }
// .sidebar .q-detail[open] summary:after{
//   content:"\e962";
// }
// .sidebar .q-detail summary:after{
//   content:"\e963";
// }

// .q-s12-r90:before{
// 	transform: scale(1.2) rotate(90deg);
// 	// transform: rotate(90deg);
// }

.show .v-btn-set:before, // PlayerQ
.i-r90:before {
	transform: rotate(90deg);
}

// === ICONS COLOR ===
// .i-blue::before {
//   color: #007bff;
// }
// .q-html.q-color:before 
// .i-color.fa-html5:before 
.qi-html.i-color:before {
  color: #e44d26;// #f16529
}
// .q-js.q-color:before 
// .fa-js.i-color::before
.qi-js.i-color::before {
  color: #ffca28;// #f5de19
}
// .q-css.q-color:before
// .fa-css3.i-color:before
.qi-css.i-color:before {
  color: #42a5f5;// #1b83be
}
.qi-php.i-color:before{
  color:#777bb3;
}
.qi-sass.i-color:before,
.qi-scss.i-color:before{
  color: #cf649a;
}
.qi-markdown.i-color:before, 
.qi-md.i-color:before {
  color: #94c6f6;
}
.qi-react.i-color:before,
.qi-jsx.i-color:before {
  color:#61dafb;
}
// .q-bootstrap.q-color:before{
//   color: #563D7C;
// }
// .q-jquery.q-color:before {
//   color: #78CFF5;
// }
// .q-vue.q-color:before{
//   color: #3FB984;
// }
// .q-nodejs.q-color:before {
//   color: #68A063;
// }
// .q-codeigniter.q-color:before {
//   color: #ee4323;
// }
// .q-laravel.q-color:before {
//   color: #FB503B;
// }
// .q-mysql.q-color:before{
//   color: #00678c;
// }
// === END ICONS COLOR ===

// === ICONS Bg & CUSTOM ===
// .q-package:before,
// .q-jsdelivr:before,
// .q-svg-spin:before{
//   content:"";
//   background: transparent no-repeat center;
//   background-size: contain;
//   vertical-align: middle;
// }

// .q-jsdelivr:before{
//   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64'%3E%3Cg transform='matrix(1.6 0 0 1.6 -7.44 -8)'%3E%3Cpath d='M24.4 5l-3.7 13.2v13.4L24.4 45l3.9-13.4V18.2z' fill='%23bc473a'/%3E%3Cpath d='M24.4 5L6 11.7l2.6 24.5L24.4 45' fill='%23e84d3d'/%3E%3Cpath d='M24.4 45l16-8.8 2.9-24.6L24.4 5' fill='%23bc473a'/%3E%3Cpath d='M21.1 34.7c-1.8-.6-3.4-1.6-4.7-2.9l-.5-.5c-1-1.2-1.8-2.6-2.2-4.1.3.3.6.5 1 .8l1.5.9c.2.1.3.2.5.2.2.1.4.2.7.2h.1c.1.9.8 1.6 1.7 1.8.3 1.5.9 2.7 1.9 3.6zm.7-15.9c0 .4.1.8.3 1.1-1.5 2.1-2.5 4.4-3 6.6 0 .3-.1.5-.1.7-.5.1-.9.5-1.2.9h-.1c-.2-.1-.3-.1-.5-.2s-.5-.2-.7-.3c-.8-.4-1.5-.9-2.1-1.6l-.5-.5c0-.1-.1-.1-.1-.2l-.1-.1v-.1s0-.1-.1-.1v-.1c-.1-.1-.1-.2-.2-.3v-.7a11.23 11.23 0 0 1 1.8-6.1c.1-.2.3-.4.4-.6s.3-.4.4-.6c1.4-1.6 3.1-2.8 5.2-3.4 0 .2.1.4.1.7.2 1.2.6 2.3 1.1 3.5-.4.4-.6.8-.6 1.4zm-1.2 10.4c0 .3-.1.5-.3.7l-.1.1c-.2.2-.4.3-.7.3-.2 0-.4-.1-.6-.2s-.3-.3-.4-.5c-.1-.1-.1-.3-.1-.5 0-.3.1-.6.3-.8l.1-.1c.2-.1.4-.2.6-.2s.5.1.7.2l.3.3c.1.3.2.5.2.7zm4.3-10.4c0 .2 0 .3-.1.5a1 1 0 0 1-1 .6h-.2c-.5-.1-.8-.4-.9-.9v-.2c0-.1 0-.2.1-.4.1-.4.6-.7 1-.7.5 0 .9.3 1 .8.1 0 .1.1.1.3z' fill='%23fdc72e'/%3E%3Cpath d='M35.7 24c0 1.1-.2 2.1-.4 3.1-1-.3-1.9-.6-2.9-1.1v-.4c0-.3-.1-.5-.2-.8l.1-.1c1.1-1.2 2.1-2.5 2.9-3.9.3 1.1.5 2.1.5 3.2zm-1.1-4.8c-.1.2-.2.3-.2.5-.8 1.5-1.7 2.9-3 4.1-.3-.2-.7-.3-1.1-.3-.5 0-.9.1-1.2.4l-1.8-1.6c-.7-.7-1.4-1.5-2-2.3.3-.4.5-.8.5-1.3a1.69 1.69 0 0 0-.3-1c1.5-1.4 3.1-2.5 4.7-3.3 2 1.1 3.5 2.8 4.4 4.8zm-3.2 6.4c0 .5-.3.8-.7 1-.1.1-.3.1-.4.1h-.2c-.5-.1-.8-.5-.9-1 0-.5.3-.9.7-1 .1 0 .2-.1.4-.1h.3c.5.1.8.5.8 1 0-.1 0 0 0 0zm.3 1.5c-.4.3-.8.5-1.4.5-.4 0-.8-.1-1.1-.3l-.1.1c-1.5.9-3 1.6-4.6 2v5.8c4.7 0 8.7-2.8 10.4-6.9-1.1-.3-2.2-.7-3.2-1.2z' fill='%23e09b00'/%3E%3Cpath d='M24.4 29.4c-1 .2-1.9.4-2.9.4h-.2c-.2.5-.5.9-1 1.1.3 1.1.8 2 1.6 2.8.6.6 1.4 1.1 2.3 1.4h.2z' fill='%23fdc72e'/%3E%3Cpath d='M28.3 25.6c0-.2 0-.4.1-.6-.7-.5-1.3-1.1-2-1.7-.7-.7-1.4-1.5-2-2.3v7.1c1.3-.4 2.7-1 4-1.8 0-.2-.1-.5-.1-.7z' fill='%23e09b00'/%3E%3Cpath d='M24.4 21l-.2-.2c-.1 0-.3.1-.5.1-.3 0-.5-.1-.8-.1-1.4 1.9-2.3 4-2.7 6.1 0 .2-.1.4-.1.6.6.2 1 .7 1.2 1.3h.1c1 0 2-.2 2.9-.5V21z' fill='%23fdc72e'/%3E%3Cpath d='M24.4 12.7v4.1c.1 0 .1 0 .2.1a18.49 18.49 0 0 1 4.3-3.2c-1.4-.6-2.9-1-4.5-1z' fill='%23e09b00'/%3E%3Cpath d='M24.4 12.7c-.7 0-1.4.1-2.1.2 0 .2.1.5.1.7.2 1 .5 2.1 1 3.1h.4c.2 0 .4 0 .6.1z' fill='%23fdc72e'/%3E%3C/g%3E%3C/svg%3E");
//   width: 16px;
//   height: 16px;
//   position: relative;
//   top: -1px;
// }
// .q-unpkg:before,
// .q-cdnjs:before{
//   font-family: inherit !important;
//   font-weight: 700;
//   content:"U";
// }
// .q-cdnjs:before{
//   content:"<>";
// }

// .q-package:before{
//   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M491.729 112.971L259.261.745c-2.061-.994-4.461-.994-6.521 0L20.271 112.971c-2.592 1.251-4.239 3.876-4.239 6.754v272.549c0 2.878 1.647 5.503 4.239 6.754l232.468 112.226c1.03.497 2.146.746 3.261.746s2.23-.249 3.261-.746l232.468-112.226c2.592-1.251 4.239-3.876 4.239-6.754V119.726c0-2.88-1.648-5.503-4.239-6.755zM256 15.828l215.217 103.897-62.387 30.118c-.395-.301-.812-.579-1.27-.8L193.805 45.853 256 15.828zm-79.133 38.505l214.904 103.746-44.015 21.249L132.941 75.624l43.926-21.291zm219.932 117.974v78.546l-41.113 19.848v-78.546l41.113-19.848zm84.169 215.261L263.5 492.55V236.658l51.873-25.042c3.73-1.801 5.294-6.284 3.493-10.015-1.801-3.729-6.284-5.295-10.015-3.493L256 223.623l-20.796-10.04c-3.731-1.803-8.214-.237-10.015 3.493-1.801 3.73-.237 8.214 3.493 10.015l19.818 9.567V492.55L31.032 387.566V131.674l165.6 79.945c1.051.508 2.162.748 3.255.748 2.788 0 5.466-1.562 6.759-4.241 1.801-3.73.237-8.214-3.493-10.015l-162.37-78.386 74.505-35.968L340.582 192.52c.033.046.07.087.104.132v89.999c0 2.581 1.327 4.98 3.513 6.353 1.214.762 2.599 1.147 3.988 1.147 1.112 0 2.227-.247 3.26-.746l56.113-27.089c2.592-1.251 4.239-3.875 4.239-6.754v-90.495l69.169-33.392v255.893z'%3E%3C/path%3E%3Cpath d='M92.926 358.479L58.811 342.01c-3.732-1.803-8.214-.237-10.015 3.493-1.801 3.73-.237 8.214 3.493 10.015l34.115 16.469c1.051.508 2.162.748 3.255.748 2.788 0 5.466-1.562 6.759-4.241 1.802-3.731.238-8.213-3.492-10.015zM124.323 338.042l-65.465-31.604c-3.731-1.801-8.214-.237-10.015 3.494-1.8 3.73-.236 8.214 3.494 10.015l65.465 31.604c1.051.507 2.162.748 3.255.748 2.788 0 5.466-1.562 6.759-4.241 1.801-3.732.237-8.216-3.493-10.016z'%3E%3C/path%3E%3C/svg%3E");
//   width: 50px;
//   height: 50px;
// }

// .q-svg-spin:before{
//   // background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 44 44"%3E%3Cstyle%3E%0Asvg%7B -webkit-animation:rot 2s linear infinite; animation:rot 2s linear infinite; z-index:2%0A%7D%0Acircle%7Bfill:none;stroke-dasharray:1,150; stroke-dashoffset:0; stroke:%2317a2b8; stroke-linecap:round; -webkit-animation:dash 1.5s ease-in-out infinite; animation:dash 1.5s ease-in-out infinite%0A%7D%0A@keyframes rot%7B 100%25%7B transform:rotate(360deg) %7D%0A%7D%0A@-webkit-keyframes rotate%7B 100%25%7B -webkit-transform:rotate(360deg) %7D%0A%7D%0A@keyframes dash%7B 0%25%7B stroke-dasharray:1,150; stroke-dashoffset:0 %7D 50%25%7B stroke-dasharray:90,150; stroke-dashoffset:-35 %7D 100%25%7B stroke-dasharray:90,150; stroke-dashoffset:-124 %7D%0A%7D%0A@-webkit-keyframes dash%7B 0%25%7B stroke-dasharray:1,150; stroke-dashoffset:0 %7D 50%25%7B stroke-dasharray:90,150; stroke-dashoffset:-35 %7D 100%25%7B stroke-dasharray:90,150; stroke-dashoffset:-124 %7D%0A%7D%0A%3C/style%3E%3Ccircle cx="22" cy="22" r="20" stroke-width="4"/%3E%3C/svg%3E');
//   // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='svg-spin' width='70' height='70' viewBox='0 0 44 44'%3E%3Cstyle%3E%0Asvg%7B -webkit-animation:rot 2s linear infinite; animation:rot 2s linear infinite; z-index:2%0A%7D%0Acircle%7B stroke-dasharray:1,150; stroke-dashoffset:0; stroke:%2317a2b8; stroke-linecap:round; -webkit-animation:dash 1.5s ease-in-out infinite; animation:dash 1.5s ease-in-out infinite%0A%7D%0A@keyframes rot%7B 100%25%7B transform:rotate(360deg) %7D%0A%7D%0A@-webkit-keyframes rotate%7B 100%25%7B -webkit-transform:rotate(360deg) %7D%0A%7D%0A@keyframes dash%7B 0%25%7B stroke-dasharray:1,150; stroke-dashoffset:0 %7D 50%25%7B stroke-dasharray:90,150; stroke-dashoffset:-35 %7D 100%25%7B stroke-dasharray:90,150; stroke-dashoffset:-124 %7D%0A%7D%0A@-webkit-keyframes dash%7B 0%25%7B stroke-dasharray:1,150; stroke-dashoffset:0 %7D 50%25%7B stroke-dasharray:90,150; stroke-dashoffset:-35 %7D 100%25%7B stroke-dasharray:90,150; stroke-dashoffset:-124 %7D%0A%7D%0A%3C/style%3E%3Ccircle cx='22' cy='22' r='20' fill='none' stroke-width='4'/%3E%3C/svg%3E");
//   width: 70px;
//   height: 70px;
// }

// .q-svg-spin.spin-20:before{
//   width: 20px;
//   height: 20px;
//   vertical-align: text-top;
//   transform: scale(2);
// }

// background-image: url("data:image/svg+xml,%3Csvg width='8px' height='8px' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' transform='translate(1.000000, 0.000000)'%3E%3Cpath d='M5,4 C5,4.55 5.45,5 6,5 C6.55,5 7,4.55 7,4 C7,3.45 6.55,3 6,3 C5.45,3 5,3.45 5,4' fill='%23BABABA'%3E%3C/path%3E%3Cpath d='M4.25,0.75 L0.75,4 L4.25,7.25' stroke='%23BABABA' stroke-width='1.5'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

// === END ICONS Bg & CUSTOM

// == END ICONS: ==

// USE WHERE...???
// .fs-16{
//   font-size:16px;
// }
// .fs-18{
//   font-size:18px;
// }
// .fs-20{
//   font-size:20px;
// }
// .fs-22{
//   font-size:22px;
// }
// .fs-24{
//   font-size:24px;
// }

.navbar-brand,
.fs1{
  font-size: 1rem;
}
.fs2{
  font-size: 1.5rem;
}

*.fs85p{
  font-size: 85%;
}

// == Shadow ==
.shadow-1{
  box-shadow: 0 2px 2px rgba(0,0,0,.15);
}
.shadow-blue{
  box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
}
.shadow-line-dark{
  box-shadow: 0 0 0 0.1rem #212529;// #ccc
}
.shadow-line-light{
  box-shadow: 0 0 0 0.1rem #ccc;
}
// == END Shadow ==

// === table ===
.tb-auto{
  table-layout: auto;
}

.tb-fix{
  table-layout: fixed;
}

.caption-top {
  caption-side: top;
}

// .caption-bottom {
//   caption-side: bottom;
// }

.thead-fix {
  // border: solid #dee2e6;
  // border-width: 1px 1px 0 0;
  border-top: 1px solid #dee2e6;
}

.thead-fix > table {
  // width: calc(100% - 1px);
  position: relative;
  // right: -1px;
}

.thead-fix > table > thead > tr > th {
  // border-width: 0 1px 1px 0;
  border-top: 0;
  border-bottom: 0;
  position: sticky;
  top: 0;
  z-index: 1;
  // OPTION:
  background-color: #fff; // currentColor
  // outline: 1px solid #dee2e6;
  // outline-width: thin; // OPTION
  box-shadow: 0 .125rem .2rem rgba(0,0,0, .075);
}

.thead-fix > .table-bordered{
  outline: 1px solid #dee2e6;
}

.thead-fix > .table-dark > thead > tr > th{
  background-color: #343a40;
}
// === END table ===

// === SCROLL ===
// .selector-name, // FOR CssTools selector
.q-scroll{
  -ms-scroll-chaining: none;
  // scroll-behavior: smooth;// OPTION
  overscroll-behavior: contain; // BEFORE ADD Cropper.js

  // FOR Firefox
  scrollbar-width: thin;
  scrollbar-color: #aaa transparent;
  -webkit-overflow-scrolling: touch;// OPTION: From Bootstrap .table-responsive
}

// DEV Cropper.js
// .q-scroll, 
// .cropper-wrap-box { // Cropper.js
//   overscroll-behavior: contain;
// }

// DEV OPTION FOR same style chrome and firefox
// .browser-Chrome .q-scroll{
//   border-right:.125rem solid #fff;
// }
// .browser-Chrome .bg-ide-dark .q-scroll{
//   border-right-color: #202124;
// }

// .scroll-hide{
//   scrollbar-width:none;
// }

.q-scroll::-webkit-scrollbar{
  width: .4rem !important;
  height: .4rem !important;
}
.q-scroll::-webkit-scrollbar-thumb{
  background-color: #ccc;// rgba(0, 0, 0, 0.2)
}
.q-scroll::-webkit-scrollbar-thumb:hover{
  background-color: #bbb;
}
.q-scroll::-webkit-scrollbar-thumb:active{
  background-color: #777;
}

.q-scroll::-webkit-scrollbar-track{
  background-color: rgba(255, 255, 255, .08);//  !important
}

.scroll-fff::-webkit-scrollbar-track {
  background-color: #fff;
}

// FOR Firefox
.scroll-hide,
.q-scroll.hov{
  // scrollbar-color: transparent transparent !important;
  scrollbar-width: none;
}
.q-scroll.hov:hover{
  scrollbar-color: #aaa transparent;
}

.scroll-hide::-webkit-scrollbar{
  width: 0 !important;
  height: 0 !important;
}

.scroll-hide::-webkit-scrollbar-thumb,
.q-scroll.hov::-webkit-scrollbar-thumb{
  background-color: transparent;
}
.scroll-hide::-webkit-scrollbar-track,
.q-scroll.hov::-webkit-scrollbar-track{
  background-color: transparent;
}

.q-scroll.hov:hover::-webkit-scrollbar-thumb {
  background-color: #bbb;
}

.q-scroll.hov:hover::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, .08);
}

.ovscroll-auto {
  overscroll-behavior: auto;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

// SHOW / HIDE
.scale-opacity-0{
  opacity: 0 !important;
  transform: scale(0);
  // pointer-events: none;
}

// Img / video
.of-cov {
  object-fit: cover;
}
.of-con {
  object-fit: contain;
}

// DEV OPTION: for draggable attribute in css
// .drag-no{
//   -webkit-user-drag: none;
//   -khtml-user-drag: none; 
//   -moz-user-drag: none; 
//   -o-user-drag: none; 
//   user-drag: none;
//   -moz-window-dragging: no-drag;
// }
// END Img / video

fieldset[disabled] *, 
.point-no {
  pointer-events: none;//  !important
}
.point-auto{
  pointer-events: auto !important;
}

.touch-no {
  touch-action: none;
}

// == Close / Remove button ==
.ired::before,
.xx:hover:before,
.close:hover{
  color: red;
}

// == Hide Element ==
.empty-hide:empty {
  display: none !important;
}

// .empty-opacity:empty,
.o-0 {
  opacity: 0;
}

.o-1 {
  opacity: 1 !important;
}

.o-05 {
  opacity: 0.5;
}

// OPTION - draggable html native
// [draggable="true"]{
//   -moz-user-select: none;
//   -khtml-user-select: none;
//   -webkit-user-select: none;
//   user-select: none;
//   // Required to make elements draggable in old WebKit
//   -khtml-user-drag: element;
//   -webkit-user-drag: element;
// }

// OPTION - disabled draggable html native
// [draggable="false"]{
//   -webkit-user-select: none;
//   -khtml-user-select: none;
//   -moz-user-select: none;
//   -o-user-select: none;
//   user-select: none;
// }

.list-inside{
  list-style-position: inside;
}

// == EXPERIMENT - scroll left ==
// .scroll-left,

// .page-links.flex-row-reverse > aside,// FOR position aside <RouteXhr />
// .page-links.flex-row-reverse > aside > a,

.mirror-q {
  // -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

// === pre style ===
// .pre-style{
//   font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// }

// .trans-height{
//   transition: height .2s ease;
// }

// MOVE TO SPECIFIC Component Name
.hr-h {
  display: flex;
  align-items: center;
  white-space: nowrap;
  height: auto;
  line-height: 0.75;// 1 | 0.75 | 25px
  text-align: center;
  letter-spacing: .05em;
}

.hr-h::before,
.hr-h::after {
  content: "";
  display: flex;
  position: relative;
  flex: 1 1;
  border-top: 2px solid #ddd;
}

.hr-h::before {
  margin-right: 9px;
}

.hr-h::after {
  margin-left: 9px;
}

.hr-h.hr-left::before {
  flex: 0 0 1.15rem;
}

// DEVS Grid: 
// .d-grid {
//   display: grid;
// }

// .d-inline-grid {
//   display: inline-grid;
// }

.place-center {
  place-items: center;
}

.grid-1fr-1 {
  grid-template-columns: auto 1fr; // minmax(150px, 25%) 1fr
}

// Ellipsis
// .ellipsis{
//   position: relative;
// }

// .ellipsis::after {
//   content:"";
//   flex: auto;
// }

// END DEVS Grid:

// 
// .grayscale{
//   filter: grayscale(100%);
//   // -webkit-filter: grayscale(100%);
// }

// NOTE: Move to components
.post-1 {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  transition: box-shadow ease .25s;
}
.post-1:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.post-1 time {
  font-weight: 400;
  align-self: baseline;
  position: relative;
  margin-top: -10px;
}

// Move to LiveCode scss
.compilerCode + .Resizer.vertical {
  // margin: 0;
  margin-left: 0;
  margin-right: -10px;
}

.Resizer.disabled {
  display: none;
}

// <Sticky />
// .sticky-q, 
// .sticky-q > * {
//   position: -webkit-sticky !important;
//   position: sticky !important;

//   top: -1px;
//   z-index: 1;
// }

// .sticky-q.isSticky > * {
//   padding-top: 0;  
// }

// .sticky-q.isSticky > *::before {
//   // position: absolute;
//   // top: var(--t); // -48px | -1px | 0
//   // right: 0;
//   // left: 0;
//   // position: static;

//   content: "";
//   display: block;
//   width: 100%;
//   height: var(--h);
//   pointer-events: none;
// }

// Antd:
.anticon,
.ant-tree .ant-tree-switcher .anticon.ant-tree-switcher-icon, 
.ant-tree .ant-tree-switcher .anticon.ant-select-tree-switcher-icon {
  vertical-align: 3px; // 1px
}

.no-caret-ico.ant-tree .ant-tree-switcher {
  display: none;
}

.ant-tree-indent {
  background-color: #fff;
}

.tree-light .ant-tree-indent {
  background-color: #f8f9fa !important;
}

// .tree-dark .ant-tree-indent {
//   background-color: #333;
// }

.no-caret-ico.ant-tree .ant-tree-indent-unit {
  width: 18px;
}

// .ant-tree.ant-tree-directory .ant-tree-treenode .ant-tree-node-content-wrapper.ant-tree-node-selected {
//   background: #bae7ff !important;
// }

.ant-tree.ant-tree-directory .ant-tree-treenode:active::before {
  background: #bae7ff !important;
}

// Post Detail Page:
// .media:focus-within ~ .media .dropdown {
//   z-index: auto;
// }

.media-post .dropdown.show {
  z-index: 3;
}

// DEVS: marquee
// .inner {
//   left: -686px;
// }

// @keyframes scroll {
//   0% {
//     transform: translate3d(2606px, 0px, 0px);
//   }
//   100% {
//     transform: translate3d(0px, 0px, 0px);
//   }
// }

// .inner {
//   // font-family: 'Roboto Mono', monospace;
//   font-size: 26px;
//   color: #fff;
//   height: 30px;
//   line-height: 28px;
//   display: inline-block;
//   position: relative;

//   animation-name: scroll;
//   animation-duration: 10s;
//   animation-iteration-count: infinite;
//   animation-timing-function: linear;
// }

// DEVS: ScrollX
.wrap-scroller {
  position: relative;
  // z-index: 2; // OPTION from BS 4
  // overflow-y: hidden;
  // Bootstrap 4 .table-responsive
  width: 100%;
  // -webkit-overflow-scrolling: touch;
}

// scroller-q
.scroller {
  flex: auto;
  // flex-wrap: nowrap;
  // overflow-x: auto;
  // text-align: center;
  white-space: nowrap;
  // Bootstrap 4 .table-responsive
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

// .ref-s {
//   flex: none;
//   width: 5px;
//   min-height: 1px;
//   background-color: red;
// }

// FROM BS 4 Example blog
// .nav-scroller {
//   position: relative;
//   z-index: 2;
//   // height: 2.75rem;
//   overflow-y: hidden;
// }

// .nav-scroller .nav {
//   // display: flex;
//   flex-wrap: nowrap;
//   padding-bottom: 1rem;
//   margin-top: -1px;
//   overflow-x: auto;
//   text-align: center;
//   white-space: nowrap;
//   -webkit-overflow-scrolling: touch;
// }

// Pages: PostEdit
// .post-edit.dropFile:before
.dropFile:before {
  content: attr(aria-label);
  position: absolute; // absolute | fixed
  top: 0; // 0 | 48px
  right: 0;
  bottom: 0;
  left: 0;
  // width: calc(100% - 220px);
  // height: calc(100vh - 48px);
  z-index: 4;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  display: grid; // flex
  place-items: center;
  // justify-content: center;
  // align-items: center;
  font-size: 2rem;
  font-weight: 700;
}

.dropFile.fullpage:before {
  bottom: auto;
  height: calc(100vh - 48px);
}

// USE in PostEdit Page Dropdown menu
.w-400 {
  width: 400px;
}

// <ImgEditor />
.mxw-27vw {
  max-width: 27vw;
}

// .cropper-el {

// }

// .crop-tool {
//   // transform-origin: right;
//   // animation-fill-mode: forwards;
//   transition: transform .2s ease;
// }

// .crop-tool:not(.toolOpen) {
//   // width: 0;
//   transform: translateX(100%);// scaleX(0)
// }

// .crop-toggle-tool {
//   top: 50%;
//   left: -26.75px;// -27px | -13px
//   // display: flex;
//   // align-items: center;
//   // width: 13px;
// }

// .crop-toggle-tool .btn {
//   position: relative;
//   left: -13px;
// }

// .toolOpen .crop-toggle-tool .btn {
//   display: none;
// }

// .crop-toggle-tool {
//   opacity: 0.5;
// }

// .crop-tool:hover .crop-toggle-tool .btn, 
// .crop-toggle-tool:hover .btn
// .crop-tool:hover .crop-toggle-tool, 
// .crop-toggle-tool:hover {
//   // display: block;
//   opacity: 1;
// }

// <BtnMenuMove />
// .btnMenuMove {

//   z-index: 1019;
// }

// Battery API
// https://github.com/pazguille/demo-battery-api

// .battery {
//   // display: inline-block;
//   display: inline-flex;
//   justify-content: center;
//   align-items: center;
//   position: relative;
//   // background-color: rgba(233,236,239,.6);
//   border: 4px solid #000;
//   width: 85px;
//   height: 40px;
//   border-radius: 4px;
//   // vertical-align: middle;
//   text-align: center;
//   // color: #fff;
// }

// .battery::before,
// .battery::after {
//   content: "";
//   display: block;
// }

// .battery::before {
//   // box-sizing: border-box;
//   background: #007bff; // #000
//   // background: linear-gradient(90deg, #007bff var(--battery-val), rgba(233,236,239,.5) var(--battery-val));
//   // width: 100%;
//   width: var(--battery-val);
//   height: 100%; // 40px
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   z-index: -1;
//   border: 1px solid #fff;
// }

// .battery::after {
//   background: #000; // rgb(0, 0, 0)
//   width: 6px;
//   height: 16px;
//   position: absolute;
//   top: 50%;
//   right: -11px;
//   margin-top: -8px;
//   border-radius: 0 4px 4px 0;
// }

// <Aroute />
a.route:hover {
  // color: #0056b3;
  text-decoration: underline;
}

// === Color Picker ===
.color-pick .react-colorful__saturation {
  border-radius: 0.25rem 0.25rem 0 0;
}

.color-pick .react-colorful__last-control {
  border-radius: 0;
}

.color-pick .react-colorful__alpha-gradient, 
.color-pick .react-colorful__saturation {
  box-shadow: none;
  // border-bottom: 1px solid #dee2e6;
}

.color-pick .rgba-input {
  padding-right: 0;
  // -moz-appearance: textfield;
}

.color-pick .rgba-input:not(:hover):not(:focus) {
  -moz-appearance: textfield;
}

.color-pick .rgba-input::-webkit-inner-spin-button,
.color-pick .rgba-input::-webkit-outer-spin-button {
  // sm
  height: 31px; // calc(1.5em + 0.5rem + 2px)
  cursor: pointer;
}

// Add
// OPTION
// .react-colorful__pointer {
//   cursor: grab;
// }

// .react-colorful__interactive:active .react-colorful__pointer {
//   cursor: -moz-grabbing;
//   cursor: grabbing;
// }

// === END Color Picker ===