// ====== Main style ======
// FROM: Tailwind CSS
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body{
	-webkit-tap-highlight-color: transparent;
}

// OPTION: FROM Facebook
body {
  unicode-bidi: embed;
  // overflow-y: scroll;
  overscroll-behavior-y: none;
}

// [tabindex="0"],
// [tabindex="-1"]
*:focus {
  outline: none !important;
}

// :not(.SplitPane)
// :disabled,
// *:not(button).disabled 
[tabindex]:not(button).disabled { 
  pointer-events: none;
}

// a.disabled{
//   pointer-events: none;
// }

// OPTION: 
// .btn[disabled] {
//   cursor: not-allowed;
// }

input::-webkit-calendar-picker-indicator {
  display: none;
}

// OPTION
::-webkit-file-upload-button {
  cursor: pointer;
}

// OPTION: webkit button x
input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}
input[type="search"]:not(:placeholder-shown)::-webkit-search-cancel-button {
  opacity: 1;
  pointer-events: auto;
}

summary, 
[role="treeitem"] {
  cursor: pointer;
}

// #root {
//   width: 100%;
// }

// @media (min-width: 768px){
// 	#navMain {
//     padding-top:0;
//     padding-bottom:0;
// 	  height: 45px;
// 	}
// }

// summary::-webkit-details-marker{
//   display: none;
// }

// === Img ===
// FOR img wrapper with div & ::after (to prevent contextmenu save as image)
// .img-frame{
//   position: relative;
// }

// .img-frame::before{
//   content: "";
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 1;
// }

// .img-frame,// OPTION
// .img-frame img {
//   user-select: none;
// }

// .img-frame img + *{
//   position: relative;
//   z-index: 2;
// }
// === END Img ===

// === TableQ ===
// .headfix{
// 	position: relative;
// }

// .thead-q{
// 	// border-collapse: collapse;
// 	display: flex;
// 	flex-direction: row;
// 	border: 1px solid #dee2e6;
// 	// border-width: 0 1px;
// 	position: sticky;
// 	top: 0;
// 	background-color: #fff;
// 	z-index: 1;
// }

// .headfix thead{
// 	opacity: 0;
// }
// .headfix thead > tr{
// 	visibility: collapse;
// }

// .thead-q > div{
// 	padding: 0.25rem;
// 	position: relative;
// 	// border: solid #dee2e6;
// 	// border-width: 1px 0 0 1px;
// }
// .thead-q > div:first-child{
// 	border-left:0;
// }

// .thead-q > div:last-child{
// 	border-right-width: 1px;
// }
// .table-bordered th, .table-bordered td {
//   border: 1px solid #dee2e6;
// }

// .tb-bordered .thead-q > div:not(:last-child):before {
//   content: "";
//   width: 1px;
//   height: 100%;
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 1;
//   background-color: #dee2e6;
// }

// === ObjectCrud ===
// .q-css-devtools
// .obj-crud{
//   background-color: #222;
//   color: #eee;
//   // padding: .5rem .75rem;
// }

// .obj-sets{
//   padding: .5rem .75rem;// .2rem .75rem
//   border-bottom: 1px solid #aaa;
//   position: relative;
// }

// .btnCopyObjSet{
//   position: absolute;
//   top: .1rem;
//   right: .1rem; // .75rem
// }

// // selector-name
// .selector-name{
//   margin-bottom:0;
//   font-size: .82rem;
//   color:#eee;
//   // overflow: hidden; // visible
//   // white-space: pre;
//   line-height: 1.35; // normal
//   // letter-spacing: .025rem;

//   // overscroll-behavior: contain;
//   // scrollbar-width: thin;
//   // scrollbar-color: #aaa transparent;
// }
// // .obj-kid .selector-name{
// //   font-size: .8rem;
// // }
// .obj-kid{
//   margin-left: 1rem;
// }

// // .obj-props{
// //   margin-left: 1rem;
// //   padding-bottom: .5rem;
// // }
// // .obj-props:after{
// //   font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// //   content: "}";
// //   font-size: .85rem;
// //   display: block;
// //   position: relative;
// //   left: -16px;
// //   line-height: 1;
// // }
// .obj-props code{
//   font-size: .82rem;
//   color:#fff;
//   display: block;
//   line-height: 1.35;
// }

// // .obj-props > code{
// //   position: relative;
// //   left: -16px;
// // }

// .propval-item{
//   line-height: 1.35;
// }

// // OPTION
// .propval-item + .propval-item{
//   margin-top: -4px;
// }

// .propval-item input[type=checkbox]{
// 	position: relative;
//   top: 2px;
//   align-self: baseline;
// }

// .propval-item input[type=checkbox]:not(:checked) ~ *{
//   text-decoration: line-through #fff;
//   // pointer-events: none;
// }

// // .obj-sets .propval-item:focus-within input[type=checkbox]
// .obj-sets:not(:hover) .btnCopyObjSet,
// .obj-sets:not(:hover) input[type=checkbox]:checked{
//   opacity:0;
// }

// .obj-input{
//   padding:0 .2rem;
//   font-size: .85rem;
//   letter-spacing: .025rem;
//   // line-height: 1.35;
//   border:1px solid transparent;
//   margin:0 2px;
//   min-height: 24px;
// }
// .obj-input:not(:focus),
// .propval-item input[type=checkbox]:not(:checked) ~ .obj-input{
//   -moz-user-modify: read-only;
//   -webkit-user-modify: read-only;
// }

// // .obj-input:focus
// .propval-item input[type=checkbox]:checked ~ .obj-input:focus{
//   outline:0;
//   border-color:#007bff;
// }
// .prop-name{
//   // position:relative;
//   align-self: baseline;
// }
// // .prop-name:after{
// //   content:':';
// //   color:#fff;
// //   // margin-left: 2px;
// //   position: absolute;
// //   right: -4px;
// // }

// .prop-name:not(:focus),
// .propval-item input[type=checkbox]:not(:checked) ~ .prop-name:focus{
//   color: #28b9e8;
// }
// // .propval-item input[type=checkbox]:not(:checked) ~ .prop-name:not(:focus){

// // }
// // .prop-val{
// //   // padding-right:.6rem;
// //   min-height: 22px;
// // }
// .prop-val:not(.comment):after{
//   content:';';
//   color:#eee;
//   // margin-left: 2px;
//   // position: absolute;
//   margin-left: 1px;
// }
// .prop-val + *{
//   opacity: 0;
//   font-weight: normal;
// }
// .propval-item input[type=checkbox]:checked ~ .prop-val:focus{
//   resize:vertical;
//   overflow-y:auto;
// }
// === END ObjectCrud ===

// === MonacoIde ===
// .q-monaco-ide {
// 	width: 100%;
// }

// .ide-nav {
// 	padding: 0 .5rem;// .25rem .5rem
// }

// .btnAddFileDiff{
// 	text-align: left;
// 	max-width: 200px;
// 	white-space: nowrap;
// 	overflow: hidden;
// 	text-overflow: ellipsis;
// }

// Drop Over Indicator (OPTION)
// .original-in-monaco-diff-editor.dragOver:before
// .q-monaco-ide .dragOver:before{
//   content: "DROP HERE";
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 9;
//   pointer-events: none;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100%;
//   background-color: rgba(255,255,255,.2);
//   color:#fff;
//   font-weight: 700;
//   font-size: 1.5rem;
//   pointer-events:none;
// }
// .vs-dark:before{

// }

// === END MonacoIde ===

// === PackageManager ===
// .package-manager .github-md{
// 	overflow-y: auto;
// }

// .package-manager .tree-q .nav-link:not(:hover):not(:focus)
// .package-manager .tree-q .nav-link{
//   color:#eee;
// }

// .logo-start{
// 	display: flex;
//   flex-direction: column;
// 	justify-content: center;
// 	align-items: center;
// 	width: 100%;
// 	height: 100%;
// }

// .package-list{
// 	// height: calc(100vh - 130px);
// 	overflow-x: hidden;
// }
// .package-list > .nav-item{
// 	// padding:0 5px 0 0;
// 	color: #fff;
// 	// width: 100%;
//   // position:relative;
//   border-radius: 0;
// 	user-select: none;
// }
// .package-list > .nav-item + .nav-item{
//   border-top:1px solid #999;
// }
// .package-list > .nav-item:not(.active):hover{
// 	background-color: rgba(0,0,0,.2);
// }
// .package-list > .nav-item:not(.active):active{
// 	background-color: rgba(23, 162, 184, 0.5);// rgba(0,0,0,.2)
// }

// === Github Markdown Style (FROM GITHUB css style) ===
// .github-md{
//   padding: 8px 16px;
//   line-height: 1.25;
// }

// .github-md h1{
//   font-size: 2em;
// }
// .github-md h2 {
//   font-size: 1.5em;
// }
// .github-md h3 {
//   font-size: 1.25em;
// }
// .github-md h4 {
//   font-size: 1em;
// }
// .github-md h5 {
//   font-size: .875em;
// }
// .github-md h6 {
//   font-size: .85em;
//   // color: #6a737d;
// }

// .github-md img{
//   max-width: 100%;
//   height: auto;
// }

// .github-md pre {
//   padding: 16px;
//   overflow: auto;
//   font-size: 85%;
//   line-height: 1.45;
//   background-color: #f6f8fa;
//   border-radius: 3px;
// }

// .github-md ol,
// .github-md ul {
//   padding-left: 2em;
// }

// .github-md li {
//   word-break: break-all;
// }

// .github-md blockquote {
//   padding: 0 1em;
//   color: #6a737d;
//   border-left: .25em solid #dfe2e5;
// }

// .github-md table {
//   display: block;
//   width: 100%;
//   overflow: auto;
// }
// .github-md table tr {
//   background-color: #fff;
//   border-top: 1px solid #c6cbd1;
// }
// .github-md table td,
// .github-md table th {
//   padding: 6px 13px;
//   border: 1px solid #dfe2e5;
// }
// .github-md table th {
//   font-weight: 600;
// }

// === END NpmBrowser ===

// === DEV - Tree with <details> ===
// details {
    // padding: .5em .5em 0;
// }
// .tree-q{
//   // font-size:80%;
//   outline:none !important;
//   // display: inline-flex;
//   // align-self: baseline;
// }
// .tree-q > summary {
//   outline:none !important;
//   display: inline-block;
//   font-weight: 600;
//   user-select:none;
//   list-style: none;
//   -webkit-appearance: none;
//   -moz-appearance: none;
// }

// .tree-q > summary::-webkit-details-marker {
//   display: none;
// }

// details > summary:first-of-type, 
// details > summary:-moz-native-anonymous{
  
// }

// .tree-q > summary:not([class*=q-]):before{
//   content:"\e935";
//   margin-right:5px;
//   font-weight:600;
// }
// .tree-q[open] > summary:not([class*=q-]):before{
//   content:"\e936";
// }
// .tree-q[disabled]{
//   cursor:not-allowed;
// }

// .tree-q[disabled] > summary{
//   pointer-events:none;
//   opacity:0.75;
// }

// .tree-q[open] > summary{
//   display: inline-block;
// }

// .tree-q .nav-link{
//   padding:.2rem .5rem;
//   width: fit-content;
//   position:relative;
//   // white-space:nowrap;
//   // overflow:hidden;
//   // text-overflow:ellipsis;
//   // border-top:1px solid transparent;
// }
// .tree-q:not(.tree-collapse) > summary ~ *{
//   // display: flex;
//   // flex-direction: column;
//   // align-items: baseline;
//   display: inline-flex;
//   flex-direction: column;
//   margin-left: 1.3rem;
// }

// .tree-collapse > [role="group"]{
//   display: block;
//   margin-left: 0;
// }

// .tree-q[open] > summary ~ *{
//   margin-bottom:0;
//   margin-left: 1.3rem;
// }

// .tree-q > [role="group"]{
//   padding-left:0;
// }

// .one-file,
// .tree-q > [role="group"] > .dropdown,
// .tree-q:not(.tree-collapse) > [role="group"] > .nav-link{
//   width: fit-content;
//   max-width: 100%;
//   // white-space:nowrap;
//   // overflow:hidden;
//   // text-overflow:ellipsis;
//   border:1px solid transparent;
// }

// .one-file{
//   // width:100%;
//   position:relative;
// }

// .tree-collapse .nav-link,
// .tree-collapse  > [role="group"] > *{
//   width:100%;
// }

// .tree-q > [role="group"] > .nav-link.over
// .tree-q .nav-link:hover{
//   border-color:blue;
//   color:rgba(0,0,0,.5);
// }

// .one-file:hover,
// .tree-q .nav-link:hover{
//   background-color:#cee6fd;
// }
// .one-file:focus,
// .one-file:active,
// .tree-q .nav-link:focus,
// .tree-q .nav-link:active{
//   background-color:#cee6fd;
// }

// .one-file:active,
// .tree-q .nav-link:active{
//   user-select:none;
// }

// .dark .one-file:hover,
// .tree-q.dark .nav-link:hover{
//   background-color:rgba(0,0,0,.4);
// }

// .dark .one-file:focus,
// .dark .one-file:active,
// .tree-q.dark .nav-link:focus,
// .tree-q.dark .nav-link:active{
//   color:#fff;// #000
//   background-color:rgba(0,0,0,.7);
// }

// .one-file:not(.open):active,
// .tree-q .nav-link:not(.open):active{
//   box-shadow:0 0 0 1px rgba(38,143,255,0.5);
// }

// .tree-q .nav-link.open{
//   background-color:#eee;
//   cursor:auto;
// }

// .tree-q .nav-link.q:before{
//   margin-right: .5rem;
// }

// === END DEV - Tree with <details> ===

// === Drop on focus input (DEV OPTION) ===
// .focus-drop:focus{
//   position: relative;
// }
// .focus-drop:focus{
//   position:relative;
//   // z-index: 1022 !important;
// }
// .focus-drop + *:before{
//   content:"";
//   user-select:none;
//   pointer-events:none;
//   opacity: 0;
//   background-color:rgba(0,0,0,.7);
//   transition: opacity .25s ease-in-out;
//   // -webkit-tap-highlight-color: transparent;
// }
// .focus-drop:focus + *:before{
//   position:fixed;
//   top:0;
//   right:0;
//   bottom:0;
//   left:0;
//   width:100%;
//   height:100%;
//   opacity: 1;
//   z-index:2;
// }

// === END Drop on focus input (DEV OPTION) ===

// === Modal Dev Tool ===
// .modalDevTool .github-md{
//   min-height:50vh;
// }
// === END Modal Dev Tool ===

// === TreeQ (WITH react-dnd drop dir) ===
// .box-drop{
//   min-height:50px;
//   position:relative;
// }

// not(.active)
// .box-drop:empty:after,
// .box-drop.active:after{
//   content:attr(aria-label);
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100%;
//   background-color: rgba(0,0,0,.75);
//   z-index: 2;
//   pointer-events:none;
// }

// === END TreeQ (WITH react-dnd drop dir) ===

// === AppDesigner ===
// .app-designer .aside-exp:not(.open){
//   width: 0;
//   transform:scale(0);
//   pointer-events:none;
// }

// .app-designer .aside-exp + .editor-app{
//   transition: width .2s ease-in-out;
// }

// .app-designer .aside-exp.open + .editor-app{
//   width:80%;
// }

// .app-designer .ide-nav > *:not(.scroller){
//   flex:none;
//   align-self: center;
// }
// .app-designer .ide-nav .nav-link{
//   padding-top:2px;
//   padding-bottom:2px;
//   font-size: 12px;
//   background-color:#fff;
//   user-select:none;
// }

// .tree-q.tree-files > summary ~ *{
//   display: block;
// }
// .one-file,
// .app-designer .tree-q .nav-link{
//   padding-top:1px;
//   padding-bottom:1px;
//   width: 100% !important;
// }
// .one-file,
// .tree-q.tree-files > [role="group"] > .nav-link{
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }
// .app-designer .right-app .Resizer.horizontal{
  
// }

// .app-view{
  
// }
// .app-designer .treeItem .itemTool{
//   display:none;
//   align-items:center;
//   padding-left: 5px;
//   background-color: rgba(0,0,0,.7);
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 2;
// }
// .light .treeItem .itemTool{
//   background-color: #cee6fd;// rgba(255,255,255,.7)
// }
// .app-designer .treeItem:hover .itemTool{
//   display:inline-flex;
// }

// === END AppDesigner ===

// === Scroller ===
// .scroller {
//   position: relative;
//   z-index: 2;
//   // height: 2.75rem;
//   overflow-y: hidden;
// }
// .scroller .nav {
//   // display: -ms-flexbox;
//   // display: flex;
//   -ms-flex-wrap: nowrap;
//   flex-wrap: nowrap;
//   // padding-bottom: 1rem;
//   // margin-top: -1px;
//   overflow-x: auto;
//   text-align: center;
//   white-space: nowrap;
//   -webkit-overflow-scrolling: touch;
// }
// === END Scroller ===

// == <Lists> ==
// .q-lists, 
// .q-lists > li {
//   display: flex;
//   align-items: center;
// }

// .q-lists {
//   flex-wrap: wrap;
//   margin: 0;
//   cursor: default;
//   padding: 0;
//   list-style: none;
// }

// .q-list, 
// .q-list-current, 
// .q-lists-collapsed {
//   display: inline-block;
//   font-size: 16px;
// }

// .q-list-current {
//   color: inherit;
//   font-weight: 500;
// }

// .q-list, 
// .q-lists-collapsed {
//   color: #5c7080;
// }

// .q-lists-collapsed {
//   margin-right: 2px;
//   border: none;
//   border-radius: 3px;
//   background: #ced9e0;
//   cursor: pointer;
//   padding: 1px 5px;
//   vertical-align: text-bottom;
// }
// .q-lists-collapsed:before {
//   display: block;
//   background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg fill='%235C7080'%3E%3Ccircle cx='2' cy='8.03' r='2'/%3E%3Ccircle cx='14' cy='8.03' r='2'/%3E%3Ccircle cx='8' cy='8.03' r='2'/%3E%3C/g%3E%3C/svg%3E") 50% no-repeat;
//   width: 16px;
//   height: 16px;
//   content: "";
// }
// .q-lists-collapsed:hover {
//   background: #bfccd6;
//   text-decoration: none;
//   color: #182026;
// }

// .q-list-overflow {
//   display: flex;
//   flex-wrap: nowrap;
//   min-width: 0;
//   white-space: nowrap;
// }

// .q-list-overflow-spacer {
//   flex-shrink: 1;
//   width: 1px;
// }

// // ORI = bp3-menu
// .q-menu{
//   margin: 0;
//   border-radius: 3px;
//   background: #fff;
//   min-width: 180px;
//   padding: 5px;
//   list-style: none;
//   text-align: left;
//   color: #182026;

//   // max-height:calc(50vh - 55px);
//   // overflow-y:auto;
// }

// // .bp3-submenu
// .q-submenu{

// }

// // == Doc App == 
// .docApp{
//   // justify-content:flex-end;// OPTION
//   position:fixed;
//   bottom:0;
//   left:0;
//   right:0;
//   width:100%;
//   padding:0 1rem;
//   z-index:9;
//   pointer-events:none;
// }
// .docApp *{
//   pointer-events:auto;
// }

// .docApp > li + li{
//   margin-left:9px;// right
// }
// // .docApp > li .bp3-breadcrumb,// DEV (MUST remove .bp3-breadcrumb in Component)
// .docApp > li .q-list{
//   display:flex;
//   align-items:stretch;
//   padding:0;// 0.25rem 0.75rem
//   width:150px;
//   font-size:85%;
//   border:1px solid #ccc;
//   border-bottom:0;
//   // overflow:hidden;
//   // white-space:nowrap;
//   // text-overflow:ellipsis;
//   box-shadow:0 -1px 4px rgba(0, 0, 0, 0.15);
// }
// // .docApp > li .bp3-breadcrumb > div:first-child,// DEV (MUST remove .bp3-breadcrumb in Component)
// .docApp > li .q-list > div:first-child{
//   flex:auto;
//   padding:0 .5rem;
//   overflow:hidden;
//   white-space:nowrap;
//   text-overflow:ellipsis;
// }
// // .docApp > li .bp3-breadcrumb:not(:hover),// DEV (MUST remove .bp3-breadcrumb in Component)
// .docApp > li .q-list:not(:hover){
//   background-color:#fff;
// }

// .docApp > li .q-lists-collapsed{
//   // margin-bottom:9px;
//   // margin-right:0;
//   vertical-align:top;
// }

// .docApp .q-list .btn{
//   border-width:0 1px;
//   border-radius:0;
// }
// .docApp .q-list .btn:last-child{
//   border-right:0;
// }

// === FileDrop ===
// .drop-file > input[tabindex="-1"]{
//   display: none;
// }
// .drop-file.active{
//   border-color:red;
// }
// === END FileDrop ===

// Google Translate :D
// #gtx-trans{
//   display: none !important;
// }

// === iframe <Browser /> ===
// .iframe-app{
//   border:0;
//   width:100%;
//   height:100%;
//   // FROM codesandbox
//   min-height: 0;
//   overflow: auto;

//   opacity: 1;
//   z-index: 1;
//   pointer-events: initial;
// }

// blueprint js
// .bp3-popover {
//   -webkit-box-shadow: 0 0 0 1px rgba(16, 22, 26, .1), 0 2px 4px rgba(16, 22, 26, .2), 0 8px 24px rgba(16, 22, 26, .2);
//   box-shadow: 0 0 0 1px rgba(16, 22, 26, .1), 0 2px 4px rgba(16, 22, 26, .2), 0 8px 24px rgba(16, 22, 26, .2);
//   -webkit-transform: scale(1);
//   transform: scale(1);
//   display: inline-block;
//   z-index: 20;
//   border-radius: 3px
// }
// .bp3-popover .bp3-popover-arrow {
//   position: absolute;
//   width: 30px;
//   height: 30px
// }
// .bp3-popover .bp3-popover-arrow:before {
//   margin: 5px;
//   width: 20px;
//   height: 20px
// }
// .bp3-tether-element-attached-bottom.bp3-tether-target-attached-top > .bp3-popover {
//   margin-top: -17px;
//   margin-bottom: 17px
// }
// .bp3-tether-element-attached-bottom.bp3-tether-target-attached-top > .bp3-popover > .bp3-popover-arrow {
//   bottom: -11px
// }
// .bp3-tether-element-attached-bottom.bp3-tether-target-attached-top > .bp3-popover > .bp3-popover-arrow svg {
//   -webkit-transform: rotate(-90deg);
//   transform: rotate(-90deg)
// }
// .bp3-tether-element-attached-left.bp3-tether-target-attached-right > .bp3-popover {
//   margin-left: 17px
// }
// .bp3-tether-element-attached-left.bp3-tether-target-attached-right > .bp3-popover > .bp3-popover-arrow {
//   left: -11px
// }
// .bp3-tether-element-attached-left.bp3-tether-target-attached-right > .bp3-popover > .bp3-popover-arrow svg {
//   -webkit-transform: rotate(0);
//   transform: rotate(0)
// }
// .bp3-tether-element-attached-top.bp3-tether-target-attached-bottom > .bp3-popover {
//   margin-top: 17px
// }
// .bp3-tether-element-attached-top.bp3-tether-target-attached-bottom > .bp3-popover > .bp3-popover-arrow {
//   top: -11px
// }
// .bp3-tether-element-attached-top.bp3-tether-target-attached-bottom > .bp3-popover > .bp3-popover-arrow svg {
//   -webkit-transform: rotate(90deg);
//   transform: rotate(90deg)
// }
// .bp3-tether-element-attached-right.bp3-tether-target-attached-left > .bp3-popover {
//   margin-right: 17px;
//   margin-left: -17px
// }
// .bp3-tether-element-attached-right.bp3-tether-target-attached-left > .bp3-popover > .bp3-popover-arrow {
//   right: -11px
// }
// .bp3-tether-element-attached-right.bp3-tether-target-attached-left > .bp3-popover > .bp3-popover-arrow svg {
//   -webkit-transform: rotate(180deg);
//   transform: rotate(180deg)
// }
// .bp3-tether-element-attached-middle > .bp3-popover > .bp3-popover-arrow {
//   top: 50%;
//   -webkit-transform: translateY(-50%);
//   transform: translateY(-50%)
// }
// .bp3-tether-element-attached-center > .bp3-popover > .bp3-popover-arrow {
//   right: 50%;
//   -webkit-transform: translateX(50%);
//   transform: translateX(50%)
// }
// .bp3-tether-element-attached-top.bp3-tether-target-attached-top > .bp3-popover > .bp3-popover-arrow {
//   top: -.3934px
// }
// .bp3-tether-element-attached-right.bp3-tether-target-attached-right > .bp3-popover > .bp3-popover-arrow {
//   right: -.3934px
// }
// .bp3-tether-element-attached-left.bp3-tether-target-attached-left > .bp3-popover > .bp3-popover-arrow {
//   left: -.3934px
// }
// .bp3-tether-element-attached-bottom.bp3-tether-target-attached-bottom > .bp3-popover > .bp3-popover-arrow {
//   bottom: -.3934px
// }
// .bp3-tether-element-attached-top.bp3-tether-element-attached-left > .bp3-popover {
//   -webkit-transform-origin: top left;
//   transform-origin: top left
// }
// .bp3-tether-element-attached-top.bp3-tether-element-attached-center > .bp3-popover {
//   -webkit-transform-origin: top center;
//   transform-origin: top center
// }
// .bp3-tether-element-attached-top.bp3-tether-element-attached-right > .bp3-popover {
//   -webkit-transform-origin: top right;
//   transform-origin: top right
// }
// .bp3-tether-element-attached-middle.bp3-tether-element-attached-left > .bp3-popover {
//   -webkit-transform-origin: center left;
//   transform-origin: center left
// }
// .bp3-tether-element-attached-middle.bp3-tether-element-attached-center > .bp3-popover {
//   -webkit-transform-origin: center center;
//   transform-origin: center center
// }
// .bp3-tether-element-attached-middle.bp3-tether-element-attached-right > .bp3-popover {
//   -webkit-transform-origin: center right;
//   transform-origin: center right
// }
// .bp3-tether-element-attached-bottom.bp3-tether-element-attached-left > .bp3-popover {
//   -webkit-transform-origin: bottom left;
//   transform-origin: bottom left
// }
// .bp3-tether-element-attached-bottom.bp3-tether-element-attached-center > .bp3-popover {
//   -webkit-transform-origin: bottom center;
//   transform-origin: bottom center
// }
// .bp3-tether-element-attached-bottom.bp3-tether-element-attached-right > .bp3-popover {
//   -webkit-transform-origin: bottom right;
//   transform-origin: bottom right
// }
// .bp3-popover .bp3-popover-content {
//   background: #fff;
//   color: inherit
// }
// .bp3-popover .bp3-popover-arrow:before {
//   -webkit-box-shadow: 1px 1px 6px rgba(16, 22, 26, .2);
//   box-shadow: 1px 1px 6px rgba(16, 22, 26, .2)
// }
// .bp3-popover .bp3-popover-arrow-border {
//   fill: #10161a;
//   fill-opacity: .1
// }
// .bp3-popover .bp3-popover-arrow-fill {
//   fill: #fff
// }
// .bp3-popover-appear > .bp3-popover,
// .bp3-popover-enter > .bp3-popover {
//   -webkit-transform: scale(.3);
//   transform: scale(.3)
// }
// .bp3-popover-appear-active > .bp3-popover,
// .bp3-popover-enter-active > .bp3-popover {
//   -webkit-transform: scale(1);
//   transform: scale(1);
//   -webkit-transition-property: -webkit-transform;
//   transition-property: -webkit-transform;
//   transition-property: transform;
//   transition-property: transform, -webkit-transform;
//   -webkit-transition-duration: .3s;
//   transition-duration: .3s;
//   -webkit-transition-timing-function: cubic-bezier(.54, 1.12, .38, 1.11);
//   transition-timing-function: cubic-bezier(.54, 1.12, .38, 1.11);
//   -webkit-transition-delay: 0;
//   transition-delay: 0
// }
// .bp3-popover-exit > .bp3-popover {
//   -webkit-transform: scale(1);
//   transform: scale(1)
// }
// .bp3-popover-exit-active > .bp3-popover {
//   -webkit-transform: scale(.3);
//   transform: scale(.3);
//   -webkit-transition-property: -webkit-transform;
//   transition-property: -webkit-transform;
//   transition-property: transform;
//   transition-property: transform, -webkit-transform;
//   -webkit-transition-duration: .3s;
//   transition-duration: .3s;
//   -webkit-transition-timing-function: cubic-bezier(.54, 1.12, .38, 1.11);
//   transition-timing-function: cubic-bezier(.54, 1.12, .38, 1.11);
//   -webkit-transition-delay: 0;
//   transition-delay: 0
// }
// .bp3-popover .bp3-popover-content {
//   position: relative;
//   border-radius: 3px
// }
// .bp3-popover.bp3-popover-content-sizing .bp3-popover-content {
//   max-width: 350px;
//   padding: 20px
// }
// .bp3-popover-target + .bp3-overlay .bp3-popover.bp3-popover-content-sizing {
//   width: 350px
// }
// .bp3-popover.bp3-minimal {
//   margin: 0!important
// }
// .bp3-popover.bp3-minimal .bp3-popover-arrow {
//   display: none
// }
// .bp3-popover-appear > .bp3-popover.bp3-minimal.bp3-popover,
// .bp3-popover-enter > .bp3-popover.bp3-minimal.bp3-popover,
// .bp3-popover.bp3-minimal.bp3-popover {
//   -webkit-transform: scale(1);
//   transform: scale(1)
// }
// .bp3-popover-appear-active > .bp3-popover.bp3-minimal.bp3-popover,
// .bp3-popover-enter-active > .bp3-popover.bp3-minimal.bp3-popover {
//   -webkit-transform: scale(1);
//   transform: scale(1);
//   -webkit-transition-property: -webkit-transform;
//   transition-property: -webkit-transform;
//   transition-property: transform;
//   transition-property: transform, -webkit-transform;
//   -webkit-transition-duration: .1s;
//   transition-duration: .1s;
//   -webkit-transition-timing-function: cubic-bezier(.4, 1, .75, .9);
//   transition-timing-function: cubic-bezier(.4, 1, .75, .9);
//   -webkit-transition-delay: 0;
//   transition-delay: 0
// }
// .bp3-popover-exit > .bp3-popover.bp3-minimal.bp3-popover {
//   -webkit-transform: scale(1);
//   transform: scale(1)
// }
// .bp3-popover-exit-active > .bp3-popover.bp3-minimal.bp3-popover {
//   -webkit-transform: scale(1);
//   transform: scale(1);
//   -webkit-transition-property: -webkit-transform;
//   transition-property: -webkit-transform;
//   transition-property: transform;
//   transition-property: transform, -webkit-transform;
//   -webkit-transition-duration: .1s;
//   transition-duration: .1s;
//   -webkit-transition-timing-function: cubic-bezier(.4, 1, .75, .9);
//   transition-timing-function: cubic-bezier(.4, 1, .75, .9);
//   -webkit-transition-delay: 0;
//   transition-delay: 0
// }
// .bp3-dark .bp3-popover,
// .bp3-popover.bp3-dark {
//   -webkit-box-shadow: 0 0 0 1px rgba(16, 22, 26, .2), 0 2px 4px rgba(16, 22, 26, .4), 0 8px 24px rgba(16, 22, 26, .4);
//   box-shadow: 0 0 0 1px rgba(16, 22, 26, .2), 0 2px 4px rgba(16, 22, 26, .4), 0 8px 24px rgba(16, 22, 26, .4)
// }
// .bp3-dark .bp3-popover .bp3-popover-content,
// .bp3-popover.bp3-dark .bp3-popover-content {
//   background: #30404d;
//   color: inherit
// }
// .bp3-dark .bp3-popover .bp3-popover-arrow:before,
// .bp3-popover.bp3-dark .bp3-popover-arrow:before {
//   -webkit-box-shadow: 1px 1px 6px rgba(16, 22, 26, .4);
//   box-shadow: 1px 1px 6px rgba(16, 22, 26, .4)
// }
// .bp3-dark .bp3-popover .bp3-popover-arrow-border,
// .bp3-popover.bp3-dark .bp3-popover-arrow-border {
//   fill: #10161a;
//   fill-opacity: .2
// }
// .bp3-dark .bp3-popover .bp3-popover-arrow-fill,
// .bp3-popover.bp3-dark .bp3-popover-arrow-fill {
//   fill: #30404d
// }
// .bp3-popover-arrow:before {
//   display: block;
//   position: absolute;
//   -webkit-transform: rotate(45deg);
//   transform: rotate(45deg);
//   border-radius: 2px;
//   content: ""
// }
// .bp3-tether-pinned .bp3-popover-arrow {
//   display: none
// }
// .bp3-popover-backdrop {
//   background: hsla(0, 0%, 100%, 0)
// }
// .bp3-transition-container {
//   opacity: 1;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   z-index: 20
// }
// .bp3-transition-container.bp3-popover-appear,
// .bp3-transition-container.bp3-popover-enter {
//   opacity: 0
// }
// .bp3-transition-container.bp3-popover-appear-active,
// .bp3-transition-container.bp3-popover-enter-active {
//   opacity: 1;
//   -webkit-transition-property: opacity;
//   transition-property: opacity;
//   -webkit-transition-duration: .1s;
//   transition-duration: .1s;
//   -webkit-transition-timing-function: cubic-bezier(.4, 1, .75, .9);
//   transition-timing-function: cubic-bezier(.4, 1, .75, .9);
//   -webkit-transition-delay: 0;
//   transition-delay: 0
// }
// .bp3-transition-container.bp3-popover-exit {
//   opacity: 1
// }
// .bp3-transition-container.bp3-popover-exit-active {
//   opacity: 0;
//   -webkit-transition-property: opacity;
//   transition-property: opacity;
//   -webkit-transition-duration: .1s;
//   transition-duration: .1s;
//   -webkit-transition-timing-function: cubic-bezier(.4, 1, .75, .9);
//   transition-timing-function: cubic-bezier(.4, 1, .75, .9);
//   -webkit-transition-delay: 0;
//   transition-delay: 0
// }
// .bp3-transition-container:focus {
//   outline: none
// }
// .bp3-transition-container.bp3-popover-leave .bp3-popover-content {
//   pointer-events: none
// }
// .bp3-transition-container[data-x-out-of-boundaries] {
//   display: none
// }
// span.bp3-popover-target {
//   display: inline-block
// }
// .bp3-popover-wrapper.bp3-fill {
//   width: 100%
// }
// .bp3-portal {
//   position: absolute;
//   top: 0;
//   right: 0;
//   left: 0
// }

// // Menu
// .bp3-menu {
//   margin: 0;
//   border-radius: 3px;
//   background: #fff;
//   min-width: 180px;
//   padding: 5px;
//   list-style: none;
//   text-align: left;
//   color: #182026;
// }

// .bp3-menu-divider {
//     display: block;
//     margin: 5px;
//     border-top: 1px solid rgba(16,22,26,.15)
// }

// .bp3-dark .bp3-menu-divider {
//     border-top-color: hsla(0,0%,100%,.15)
// }

// .bp3-menu-item {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-orient: horizontal;
//     -webkit-box-direction: normal;
//     -ms-flex-direction: row;
//     flex-direction: row;
//     -webkit-box-align: start;
//     -ms-flex-align: start;
//     align-items: flex-start;
//     border-radius: 2px;
//     padding: 5px 7px;
//     text-decoration: none;
//     line-height: 20px;
//     color: inherit;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none
// }

// .bp3-menu-item>* {
//     -webkit-box-flex: 0;
//     -ms-flex-positive: 0;
//     flex-grow: 0;
//     -ms-flex-negative: 0;
//     flex-shrink: 0
// }

// .bp3-menu-item>.bp3-fill {
//     -webkit-box-flex: 1;
//     -ms-flex-positive: 1;
//     flex-grow: 1;
//     -ms-flex-negative: 1;
//     flex-shrink: 1
// }

// .bp3-menu-item:before,.bp3-menu-item>* {
//     margin-right: 7px
// }

// .bp3-menu-item:empty:before,.bp3-menu-item>:last-child {
//     margin-right: 0
// }

// .bp3-menu-item>.bp3-fill {
//     word-break: break-word
// }

// .bp3-menu-item:hover,.bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-menu-item {
//     background-color: rgba(167,182,194,.3);
//     cursor: pointer;
//     text-decoration: none
// }

// .bp3-menu-item.bp3-disabled {
//     background-color: inherit;
//     cursor: not-allowed;
//     color: rgba(92,112,128,.6)
// }

// .bp3-dark .bp3-menu-item {
//     color: inherit
// }

// .bp3-dark .bp3-menu-item:hover,.bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-menu-item,.bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open>.bp3-menu-item {
//     background-color: rgba(138,155,168,.15);
//     color: inherit
// }

// .bp3-dark .bp3-menu-item.bp3-disabled {
//     background-color: inherit;
//     color: rgba(167,182,194,.6)
// }

// .bp3-menu-item.bp3-intent-primary {
//     color: #106ba3
// }

// .bp3-menu-item.bp3-intent-primary .bp3-icon {
//     color: inherit
// }

// .bp3-menu-item.bp3-intent-primary .bp3-menu-item-label,.bp3-menu-item.bp3-intent-primary:after,.bp3-menu-item.bp3-intent-primary:before {
//     color: #106ba3
// }

// .bp3-menu-item.bp3-intent-primary.bp3-active,.bp3-menu-item.bp3-intent-primary:hover,.bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-intent-primary.bp3-menu-item {
//     background-color: #137cbd
// }

// .bp3-menu-item.bp3-intent-primary:active {
//     background-color: #106ba3
// }

// .bp3-menu-item.bp3-intent-primary.bp3-active,.bp3-menu-item.bp3-intent-primary.bp3-active .bp3-menu-item-label,.bp3-menu-item.bp3-intent-primary.bp3-active:after,.bp3-menu-item.bp3-intent-primary.bp3-active:before,.bp3-menu-item.bp3-intent-primary:active,.bp3-menu-item.bp3-intent-primary:active .bp3-menu-item-label,.bp3-menu-item.bp3-intent-primary:active:after,.bp3-menu-item.bp3-intent-primary:active:before,.bp3-menu-item.bp3-intent-primary:hover,.bp3-menu-item.bp3-intent-primary:hover .bp3-menu-item-label,.bp3-menu-item.bp3-intent-primary:hover:after,.bp3-menu-item.bp3-intent-primary:hover:before,.bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-intent-primary.bp3-menu-item,.bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-intent-primary.bp3-menu-item .bp3-menu-item-label,.bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-intent-primary.bp3-menu-item:after,.bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-intent-primary.bp3-menu-item:before {
//     color: #fff
// }

// .bp3-menu-item.bp3-intent-success {
//     color: #0d8050
// }

// .bp3-menu-item.bp3-intent-success .bp3-icon {
//     color: inherit
// }

// .bp3-menu-item.bp3-intent-success .bp3-menu-item-label,.bp3-menu-item.bp3-intent-success:after,.bp3-menu-item.bp3-intent-success:before {
//     color: #0d8050
// }

// .bp3-menu-item.bp3-intent-success.bp3-active,.bp3-menu-item.bp3-intent-success:hover,.bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-intent-success.bp3-menu-item {
//     background-color: #0f9960
// }

// .bp3-menu-item.bp3-intent-success:active {
//     background-color: #0d8050
// }

// .bp3-menu-item.bp3-intent-success.bp3-active,.bp3-menu-item.bp3-intent-success.bp3-active .bp3-menu-item-label,.bp3-menu-item.bp3-intent-success.bp3-active:after,.bp3-menu-item.bp3-intent-success.bp3-active:before,.bp3-menu-item.bp3-intent-success:active,.bp3-menu-item.bp3-intent-success:active .bp3-menu-item-label,.bp3-menu-item.bp3-intent-success:active:after,.bp3-menu-item.bp3-intent-success:active:before,.bp3-menu-item.bp3-intent-success:hover,.bp3-menu-item.bp3-intent-success:hover .bp3-menu-item-label,.bp3-menu-item.bp3-intent-success:hover:after,.bp3-menu-item.bp3-intent-success:hover:before,.bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-intent-success.bp3-menu-item,.bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-intent-success.bp3-menu-item .bp3-menu-item-label,.bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-intent-success.bp3-menu-item:after,.bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-intent-success.bp3-menu-item:before {
//     color: #fff
// }

// .bp3-menu-item.bp3-intent-warning {
//     color: #bf7326
// }

// .bp3-menu-item.bp3-intent-warning .bp3-icon {
//     color: inherit
// }

// .bp3-menu-item.bp3-intent-warning .bp3-menu-item-label,.bp3-menu-item.bp3-intent-warning:after,.bp3-menu-item.bp3-intent-warning:before {
//     color: #bf7326
// }

// .bp3-menu-item.bp3-intent-warning.bp3-active,.bp3-menu-item.bp3-intent-warning:hover,.bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-intent-warning.bp3-menu-item {
//     background-color: #d9822b
// }

// .bp3-menu-item.bp3-intent-warning:active {
//     background-color: #bf7326
// }

// .bp3-menu-item.bp3-intent-warning.bp3-active,.bp3-menu-item.bp3-intent-warning.bp3-active .bp3-menu-item-label,.bp3-menu-item.bp3-intent-warning.bp3-active:after,.bp3-menu-item.bp3-intent-warning.bp3-active:before,.bp3-menu-item.bp3-intent-warning:active,.bp3-menu-item.bp3-intent-warning:active .bp3-menu-item-label,.bp3-menu-item.bp3-intent-warning:active:after,.bp3-menu-item.bp3-intent-warning:active:before,.bp3-menu-item.bp3-intent-warning:hover,.bp3-menu-item.bp3-intent-warning:hover .bp3-menu-item-label,.bp3-menu-item.bp3-intent-warning:hover:after,.bp3-menu-item.bp3-intent-warning:hover:before,.bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-intent-warning.bp3-menu-item,.bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-intent-warning.bp3-menu-item .bp3-menu-item-label,.bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-intent-warning.bp3-menu-item:after,.bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-intent-warning.bp3-menu-item:before {
//     color: #fff
// }

// .bp3-menu-item.bp3-intent-danger {
//     color: #c23030
// }

// .bp3-menu-item.bp3-intent-danger .bp3-icon {
//     color: inherit
// }

// .bp3-menu-item.bp3-intent-danger .bp3-menu-item-label,.bp3-menu-item.bp3-intent-danger:after,.bp3-menu-item.bp3-intent-danger:before {
//     color: #c23030
// }

// .bp3-menu-item.bp3-intent-danger.bp3-active,.bp3-menu-item.bp3-intent-danger:hover,.bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-intent-danger.bp3-menu-item {
//     background-color: #db3737
// }

// .bp3-menu-item.bp3-intent-danger:active {
//     background-color: #c23030
// }

// .bp3-menu-item.bp3-intent-danger.bp3-active,.bp3-menu-item.bp3-intent-danger.bp3-active .bp3-menu-item-label,.bp3-menu-item.bp3-intent-danger.bp3-active:after,.bp3-menu-item.bp3-intent-danger.bp3-active:before,.bp3-menu-item.bp3-intent-danger:active,.bp3-menu-item.bp3-intent-danger:active .bp3-menu-item-label,.bp3-menu-item.bp3-intent-danger:active:after,.bp3-menu-item.bp3-intent-danger:active:before,.bp3-menu-item.bp3-intent-danger:hover,.bp3-menu-item.bp3-intent-danger:hover .bp3-menu-item-label,.bp3-menu-item.bp3-intent-danger:hover:after,.bp3-menu-item.bp3-intent-danger:hover:before,.bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-intent-danger.bp3-menu-item,.bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-intent-danger.bp3-menu-item .bp3-menu-item-label,.bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-intent-danger.bp3-menu-item:after,.bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-intent-danger.bp3-menu-item:before {
//     color: #fff
// }

// .bp3-menu-item:before {
//     line-height: 1;
//     font-family: Icons16,sans-serif;
//     font-size: 16px;
//     font-weight: 400;
//     font-style: normal;
//     -moz-osx-font-smoothing: grayscale;
//     -webkit-font-smoothing: antialiased;
//     margin-right: 7px
// }

// .bp3-menu-item:before,.bp3-menu-item>.bp3-icon {
//     margin-top: 2px;
//     color: #5c7080
// }

// .bp3-menu-item .bp3-menu-item-label {
//     color: #5c7080
// }

// .bp3-menu-item:hover,.bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-menu-item {
//     color: inherit
// }

// .bp3-menu-item.bp3-active,.bp3-menu-item:active {
//     background-color: rgba(115,134,148,.3)
// }

// .bp3-menu-item.bp3-disabled {
//     outline: none!important;
//     background-color: inherit!important;
//     cursor: not-allowed!important
// }

// .bp3-menu-item.bp3-disabled,.bp3-menu-item.bp3-disabled .bp3-menu-item-label,.bp3-menu-item.bp3-disabled:before,.bp3-menu-item.bp3-disabled>.bp3-icon {
//     color: rgba(92,112,128,.6)!important
// }

// .bp3-large .bp3-menu-item {
//     padding: 9px 7px;
//     line-height: 22px;
//     font-size: 16px
// }

// .bp3-large .bp3-menu-item .bp3-icon {
//     margin-top: 3px
// }

// .bp3-large .bp3-menu-item:before {
//     line-height: 1;
//     font-family: Icons20,sans-serif;
//     font-size: 20px;
//     font-weight: 400;
//     font-style: normal;
//     -moz-osx-font-smoothing: grayscale;
//     -webkit-font-smoothing: antialiased;
//     margin-top: 1px;
//     margin-right: 10px
// }

// button.bp3-menu-item {
//     border: none;
//     background: none;
//     width: 100%;
//     text-align: left
// }

// .bp3-menu-header {
//     display: block;
//     margin: 5px;
//     border-top: 1px solid rgba(16,22,26,.15);
//     cursor: default;
//     padding-left: 2px
// }

// .bp3-dark .bp3-menu-header {
//     border-top-color: hsla(0,0%,100%,.15)
// }

// .bp3-menu-header:first-of-type {
//     border-top: none
// }

// .bp3-menu-header > h6 {
//   color: #182026;
//   font-weight: 600;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   word-wrap: normal;
//   margin: 0;
//   padding: 10px 7px 0 1px;
//   line-height: 17px
// }

// .bp3-menu-header:first-of-type > h6 {
//   padding-top: 0
// }

// .bp3-large .bp3-menu-header > h6 {
//   padding-top: 15px;
//   padding-bottom: 5px;
//   font-size: 18px
// }

// .bp3-large .bp3-menu-header:first-of-type > h6 {
//   padding-top: 0
// }

// .bp3-dark .bp3-menu {
//   background: #30404d;
//   color: #f5f8fa
// }

// .bp3-dark .bp3-menu-item.bp3-intent-primary {
//   color: #48aff0
// }

// .bp3-dark .bp3-menu-item.bp3-intent-primary .bp3-icon {
//   color: inherit
// }

// .bp3-dark .bp3-menu-item.bp3-intent-primary .bp3-menu-item-label,
// .bp3-dark .bp3-menu-item.bp3-intent-primary:after,
// .bp3-dark .bp3-menu-item.bp3-intent-primary:before {
//   color: #48aff0
// }

// .bp3-dark .bp3-menu-item.bp3-intent-primary.bp3-active,
// .bp3-dark .bp3-menu-item.bp3-intent-primary:hover,
// .bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-intent-primary.bp3-menu-item,
// .bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open > .bp3-intent-primary.bp3-menu-item {
//   background-color: #137cbd
// }

// .bp3-dark .bp3-menu-item.bp3-intent-primary:active {
//   background-color: #106ba3
// }

// .bp3-dark .bp3-menu-item.bp3-intent-primary.bp3-active,
// .bp3-dark .bp3-menu-item.bp3-intent-primary.bp3-active .bp3-menu-item-label,
// .bp3-dark .bp3-menu-item.bp3-intent-primary.bp3-active:after,
// .bp3-dark .bp3-menu-item.bp3-intent-primary.bp3-active:before,
// .bp3-dark .bp3-menu-item.bp3-intent-primary:active,
// .bp3-dark .bp3-menu-item.bp3-intent-primary:active .bp3-menu-item-label,
// .bp3-dark .bp3-menu-item.bp3-intent-primary:active:after,
// .bp3-dark .bp3-menu-item.bp3-intent-primary:active:before,
// .bp3-dark .bp3-menu-item.bp3-intent-primary:hover,
// .bp3-dark .bp3-menu-item.bp3-intent-primary:hover .bp3-menu-item-label,
// .bp3-dark .bp3-menu-item.bp3-intent-primary:hover:after,
// .bp3-dark .bp3-menu-item.bp3-intent-primary:hover:before,
// .bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-intent-primary.bp3-menu-item,
// .bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-intent-primary.bp3-menu-item .bp3-menu-item-label,
// .bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-intent-primary.bp3-menu-item:after,
// .bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-intent-primary.bp3-menu-item:before,
// .bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open > .bp3-intent-primary.bp3-menu-item,
// .bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open > .bp3-intent-primary.bp3-menu-item .bp3-menu-item-label,
// .bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open > .bp3-intent-primary.bp3-menu-item:after,
// .bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open > .bp3-intent-primary.bp3-menu-item:before {
//   color: #fff
// }

// .bp3-dark .bp3-menu-item.bp3-intent-success {
//   color: #3dcc91
// }

// .bp3-dark .bp3-menu-item.bp3-intent-success .bp3-icon {
//   color: inherit
// }

// .bp3-dark .bp3-menu-item.bp3-intent-success .bp3-menu-item-label,
// .bp3-dark .bp3-menu-item.bp3-intent-success:after,
// .bp3-dark .bp3-menu-item.bp3-intent-success:before {
//   color: #3dcc91
// }

// .bp3-dark .bp3-menu-item.bp3-intent-success.bp3-active,
// .bp3-dark .bp3-menu-item.bp3-intent-success:hover,
// .bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-intent-success.bp3-menu-item,
// .bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open > .bp3-intent-success.bp3-menu-item {
//   background-color: #0f9960
// }

// .bp3-dark .bp3-menu-item.bp3-intent-success:active {
//   background-color: #0d8050
// }

// .bp3-dark .bp3-menu-item.bp3-intent-success.bp3-active,
// .bp3-dark .bp3-menu-item.bp3-intent-success.bp3-active .bp3-menu-item-label,
// .bp3-dark .bp3-menu-item.bp3-intent-success.bp3-active:after,
// .bp3-dark .bp3-menu-item.bp3-intent-success.bp3-active:before,
// .bp3-dark .bp3-menu-item.bp3-intent-success:active,
// .bp3-dark .bp3-menu-item.bp3-intent-success:active .bp3-menu-item-label,
// .bp3-dark .bp3-menu-item.bp3-intent-success:active:after,
// .bp3-dark .bp3-menu-item.bp3-intent-success:active:before,
// .bp3-dark .bp3-menu-item.bp3-intent-success:hover,
// .bp3-dark .bp3-menu-item.bp3-intent-success:hover .bp3-menu-item-label,
// .bp3-dark .bp3-menu-item.bp3-intent-success:hover:after,
// .bp3-dark .bp3-menu-item.bp3-intent-success:hover:before,
// .bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-intent-success.bp3-menu-item,
// .bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-intent-success.bp3-menu-item .bp3-menu-item-label,
// .bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-intent-success.bp3-menu-item:after,
// .bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-intent-success.bp3-menu-item:before,
// .bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open > .bp3-intent-success.bp3-menu-item,
// .bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open > .bp3-intent-success.bp3-menu-item .bp3-menu-item-label,
// .bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open > .bp3-intent-success.bp3-menu-item:after,
// .bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open > .bp3-intent-success.bp3-menu-item:before {
//   color: #fff
// }

// .bp3-dark .bp3-menu-item.bp3-intent-warning {
//   color: #ffb366
// }

// .bp3-dark .bp3-menu-item.bp3-intent-warning .bp3-icon {
//   color: inherit
// }

// .bp3-dark .bp3-menu-item.bp3-intent-warning .bp3-menu-item-label,
// .bp3-dark .bp3-menu-item.bp3-intent-warning:after,
// .bp3-dark .bp3-menu-item.bp3-intent-warning:before {
//   color: #ffb366
// }

// .bp3-dark .bp3-menu-item.bp3-intent-warning.bp3-active,
// .bp3-dark .bp3-menu-item.bp3-intent-warning:hover,
// .bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-intent-warning.bp3-menu-item,
// .bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open > .bp3-intent-warning.bp3-menu-item {
//   background-color: #d9822b
// }

// .bp3-dark .bp3-menu-item.bp3-intent-warning:active {
//   background-color: #bf7326
// }

// .bp3-dark .bp3-menu-item.bp3-intent-warning.bp3-active,
// .bp3-dark .bp3-menu-item.bp3-intent-warning.bp3-active .bp3-menu-item-label,
// .bp3-dark .bp3-menu-item.bp3-intent-warning.bp3-active:after,
// .bp3-dark .bp3-menu-item.bp3-intent-warning.bp3-active:before,
// .bp3-dark .bp3-menu-item.bp3-intent-warning:active,
// .bp3-dark .bp3-menu-item.bp3-intent-warning:active .bp3-menu-item-label,
// .bp3-dark .bp3-menu-item.bp3-intent-warning:active:after,
// .bp3-dark .bp3-menu-item.bp3-intent-warning:active:before,
// .bp3-dark .bp3-menu-item.bp3-intent-warning:hover,
// .bp3-dark .bp3-menu-item.bp3-intent-warning:hover .bp3-menu-item-label,
// .bp3-dark .bp3-menu-item.bp3-intent-warning:hover:after,
// .bp3-dark .bp3-menu-item.bp3-intent-warning:hover:before,
// .bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-intent-warning.bp3-menu-item,
// .bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-intent-warning.bp3-menu-item .bp3-menu-item-label,
// .bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-intent-warning.bp3-menu-item:after,
// .bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-intent-warning.bp3-menu-item:before,
// .bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open > .bp3-intent-warning.bp3-menu-item,
// .bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open > .bp3-intent-warning.bp3-menu-item .bp3-menu-item-label,
// .bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open > .bp3-intent-warning.bp3-menu-item:after,
// .bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open > .bp3-intent-warning.bp3-menu-item:before {
//   color: #fff
// }

// .bp3-dark .bp3-menu-item.bp3-intent-danger {
//   color: #ff7373
// }

// .bp3-dark .bp3-menu-item.bp3-intent-danger .bp3-icon {
//   color: inherit
// }

// .bp3-dark .bp3-menu-item.bp3-intent-danger .bp3-menu-item-label,
// .bp3-dark .bp3-menu-item.bp3-intent-danger:after,
// .bp3-dark .bp3-menu-item.bp3-intent-danger:before {
//   color: #ff7373
// }

// .bp3-dark .bp3-menu-item.bp3-intent-danger.bp3-active,
// .bp3-dark .bp3-menu-item.bp3-intent-danger:hover,
// .bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-intent-danger.bp3-menu-item,
// .bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open > .bp3-intent-danger.bp3-menu-item {
//   background-color: #db3737
// }

// .bp3-dark .bp3-menu-item.bp3-intent-danger:active {
//   background-color: #c23030
// }

// .bp3-dark .bp3-menu-item.bp3-intent-danger.bp3-active,
// .bp3-dark .bp3-menu-item.bp3-intent-danger.bp3-active .bp3-menu-item-label,
// .bp3-dark .bp3-menu-item.bp3-intent-danger.bp3-active:after,
// .bp3-dark .bp3-menu-item.bp3-intent-danger.bp3-active:before,
// .bp3-dark .bp3-menu-item.bp3-intent-danger:active,
// .bp3-dark .bp3-menu-item.bp3-intent-danger:active .bp3-menu-item-label,
// .bp3-dark .bp3-menu-item.bp3-intent-danger:active:after,
// .bp3-dark .bp3-menu-item.bp3-intent-danger:active:before,
// .bp3-dark .bp3-menu-item.bp3-intent-danger:hover,
// .bp3-dark .bp3-menu-item.bp3-intent-danger:hover .bp3-menu-item-label,
// .bp3-dark .bp3-menu-item.bp3-intent-danger:hover:after,
// .bp3-dark .bp3-menu-item.bp3-intent-danger:hover:before,
// .bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-intent-danger.bp3-menu-item,
// .bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-intent-danger.bp3-menu-item .bp3-menu-item-label,
// .bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-intent-danger.bp3-menu-item:after,
// .bp3-dark .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-intent-danger.bp3-menu-item:before,
// .bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open > .bp3-intent-danger.bp3-menu-item,
// .bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open > .bp3-intent-danger.bp3-menu-item .bp3-menu-item-label,
// .bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open > .bp3-intent-danger.bp3-menu-item:after,
// .bp3-submenu .bp3-dark .bp3-popover-target.bp3-popover-open > .bp3-intent-danger.bp3-menu-item:before {
//   color: #fff
// }

// .bp3-dark .bp3-menu-item .bp3-menu-item-label,
// .bp3-dark .bp3-menu-item:before,
// .bp3-dark .bp3-menu-item > .bp3-icon {
//   color: #a7b6c2
// }

// .bp3-dark .bp3-menu-item.bp3-active,
// .bp3-dark .bp3-menu-item:active {
//   background-color: rgba(138,155,168,.3)
// }

// .bp3-dark .bp3-menu-item.bp3-disabled,
// .bp3-dark .bp3-menu-item.bp3-disabled .bp3-menu-item-label,
// .bp3-dark .bp3-menu-item.bp3-disabled:before,
// .bp3-dark .bp3-menu-item.bp3-disabled > .bp3-icon {
//   color: rgba(167,182,194,.6)!important
// }

// .bp3-dark .bp3-menu-divider,
// .bp3-dark .bp3-menu-header {
//   border-color: hsla(0,0%,100%,.15)
// }

// .bp3-dark .bp3-menu-header > h6 {
//   color: #f5f8fa
// }

// .bp3-label .bp3-menu {
//   margin-top: 5px
// }

// // Breadcrums
// .bp3-breadcrumbs {
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
//   margin: 0;
//   cursor: default;
//   height: 30px;
//   padding: 0;
//   list-style: none
// }

// .bp3-breadcrumbs,
// .bp3-breadcrumbs > li {
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center
// }

// .bp3-breadcrumbs:not(.doc-app) > li:after {
//   display: block;
//   margin: 0 5px;
//   background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.71 7.29l-4-4a1.003 1.003 0 00-1.42 1.42L8.59 8 5.3 11.29c-.19.18-.3.43-.3.71a1.003 1.003 0 001.71.71l4-4c.18-.18.29-.43.29-.71 0-.28-.11-.53-.29-.71z' fill='%235C7080'/%3E%3C/svg%3E");
//   width: 16px;
//   height: 16px;
//   content: ""
// }

// .bp3-breadcrumbs > li:last-of-type:after {
//   display: none
// }

// .bp3-breadcrumb,
// .bp3-breadcrumb-current,
// .bp3-breadcrumbs-collapsed {
//   display: inline-flex;
//   align-items: center;
//   // font-size: 16px
// }

// .bp3-breadcrumb,
// .bp3-breadcrumbs-collapsed {
//   color: #5c7080
// }

// .bp3-breadcrumb:hover {
//   text-decoration: none
// }

// .bp3-breadcrumb.bp3-disabled {
//   cursor: not-allowed;
//   color: rgba(92,112,128,.6)
// }

// .bp3-breadcrumb .bp3-icon {
//   margin-right: 5px
// }

// .bp3-breadcrumb-current {
//   color: inherit;
//   // font-weight: 600
// }

// .bp3-breadcrumb-current .bp3-input {
//   vertical-align: baseline;
//   font-size: inherit;
//   font-weight: inherit
// }

// .bp3-breadcrumbs-collapsed {
//   margin-right: 2px;
//   border: none;
//   border-radius: 3px;
//   background: #ced9e0;
//   cursor: pointer;
//   padding: 1px 5px;
//   vertical-align: text-bottom
// }

// .bp3-breadcrumbs-collapsed:before {
//   display: block;
//   background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg fill='%235C7080'%3E%3Ccircle cx='2' cy='8.03' r='2'/%3E%3Ccircle cx='14' cy='8.03' r='2'/%3E%3Ccircle cx='8' cy='8.03' r='2'/%3E%3C/g%3E%3C/svg%3E") 50% no-repeat;
//   width: 16px;
//   height: 16px;
//   content: ""
// }

// .bp3-breadcrumbs-collapsed:hover {
//   background: #bfccd6;
//   text-decoration: none;
//   color: #182026
// }

// .bp3-dark .bp3-breadcrumb,
// .bp3-dark .bp3-breadcrumbs-collapsed,
// .bp3-dark .bp3-breadcrumbs>li:after {
//   color: #a7b6c2
// }

// .bp3-dark .bp3-breadcrumb.bp3-disabled {
//   color: rgba(167,182,194,.6)
// }

// .bp3-dark .bp3-breadcrumb-current {
//   color: #f5f8fa
// }

// .bp3-dark .bp3-breadcrumbs-collapsed {
//   background: rgba(16,22,26,.4)
// }

// .bp3-dark .bp3-breadcrumbs-collapsed:hover {
//   background: rgba(16,22,26,.6);
//   color: #f5f8fa
// }

// DocApp
// .doc-box{
//   position:fixed;
//   right:0;
//   bottom:0;
//   width: calc(100% - 200px);
//   z-index: 1001;
//   pointer-events: none;
// }

// .doc-app{
//   align-items:flex-end;
//   height: auto;
//   width: 100%;
//   padding:0 15px;
//   white-space: nowrap;
// }

// .doc-app *:not([disabled]):not(.disabled){
//   pointer-events: auto;
// }

// .doc-app > li + li{
//   margin-left:9px;
// }

// .doc-app > li > *{
//   flex-direction: column;
//   width:200px;
//   // padding: 4px 9px;
//   // box-shadow: 0 0 0 1px rgba(0,0,0,.4);
//   background-color: #fff;
//   border:1px solid #ccc;
//   border-bottom:0;
//   // box-shadow: 0 -0.125rem 0.2rem rgba(0,0,0,.075);
//   box-shadow:0 -1px 4px rgba(0,0,0,.15);
// }
// // .doc-app > li > *:not([disabled]):not(.disabled){
// //   cursor: pointer;
// // }
// .doc-app > li > *:focus .doc-head,
// .doc-app > li > *:focus-within .doc-head{
//   background-color: var(--blue);
//   color:#fff;
// }

// .doc-app > li .doc-head{
//   width:200px;
//   padding: 4px 9px;
// }

// // .doc-app > li > * > div
// .doc-app > li > * .doc-label{
//   // width:95px;
//   flex:auto;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }

// .doc-pop .q-pop-box{
//   max-height: 250px;
//   overflow:hidden auto;
//   overscroll-behavior-y: contain;
// }

// // .doc-app .doc-el{
// //   width:167px;
// // }
// .doc-app .doc-el > .q-scroll{ // show
//   height:200px;
//   overflow: hidden auto;
//   white-space: normal;
//   // background-color:#fff;
// }

// // DocsApp
// .docs-app{
//   // border:2px solid #ddd;
//   box-shadow:0 0 0 2px #ddd;// rgba(0,0,0,.2)
// }
// .view-app{
//   width:100%;
//   height:100%;
//   border-top:2px solid #ddd;
// }

// //
// ul.ascii{
//   font-family: monospace;
//   font-size: 1rem;// initial , 1em
//   line-height: 1.2;// 1.1
// }

// ul.ascii,
// ul.ascii ul {
//   margin-left: 0;
//   padding-left: 0;
//   list-style: none;
// }

// ul.ascii ul{
//   margin-top:2px;
//   margin-bottom:2px;
// }

// ul.ascii li {
//   margin: 0;
//   padding: 0;
// }

// /* level 1 */
// ul.ascii > li::before {
//   content: "";
// }

// /* level 2 */
// ul.ascii > li > ul > li::before {
//   content: "├──\00a0";
// }

// ul.ascii > li > ul > li:last-child::before {
//   content: "└──\00a0";
// }

// /* level 3 */
// ul.ascii > li > ul > li > ul > li::before {
//   content: "│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0└──\00a0";
// }

// /* level 4 */
// ul.ascii > li > ul > li > ul > li > ul > li::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// /* level 5 */
// ul.ascii > li > ul > li > ul > li > ul > li > ul > li::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li > ul > li > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li > ul > li > ul > li:last-child > ul > li::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li > ul > li:last-child > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li > ul > li::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// /* level 6 */
// ul.ascii > li > ul > li > ul > li > ul > li > ul > li > ul > li::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li > ul > li > ul > li > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li > ul > li > ul > li > ul > li:last-child > ul > li::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li > ul > li > ul > li:last-child > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li > ul > li > ul > li:last-child > ul > li > ul > li::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li > ul > li:last-child > ul > li > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li > ul > li > ul > li::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li > ul > li > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li > ul > li > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li > ul > li > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li > ul > li:last-child > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li > ul > li:last-child > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li:last-child > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li:last-child > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li:last-child > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li:last-child > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ToastQ
// .toastQ{
//   // pointer-events: none;
//   // OPTION
//   overscroll-behavior: contain;
//   // transition: background-color 0.15s linear;
//   transition-property: background-color;
//   // background-color: #000;
//   // opacity: 0;
// }

// .toastQ.backdrop.show{
//   background-color: rgba(0,0,0, .5);
// }

// .toastQ:not(.alertToast){
//   pointer-events: none;
// }

// .toastQ *{
//   pointer-events: auto;
// }


