@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?fntbsf');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?fntbsf#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?fntbsf') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?fntbsf') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?fntbsf##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.qi::before {
	display: inline-block;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
	text-rendering: auto;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.qi-bars {
  &:before {
    content: $qi-bars; 
  }
}
.qi-check {
  &:before {
    content: $qi-check; 
  }
}
.qi-trash {
  &:before {
    content: $qi-trash; 
  }
}
.qi-caret-up {
  &:before {
    content: $qi-caret-up; 
  }
}
.qi-list {
  &:before {
    content: $qi-list; 
  }
}
.qi-md {
  &:before {
    content: $qi-md; 
  }
}
.qi-zip {
  &:before {
    content: $qi-zip; 
  }
}
.qi-youtube {
  &:before {
    content: $qi-youtube; 
  }
}
.qi-wrench {
  &:before {
    content: $qi-wrench; 
  }
}
.qi-windows {
  &:before {
    content: $qi-windows; 
  }
}
.qi-window-maximize {
  &:before {
    content: $qi-window-maximize; 
  }
}
.qi-whatsapp {
  &:before {
    content: $qi-whatsapp; 
  }
}
.qi-vuejs {
  &:before {
    content: $qi-vuejs; 
  }
}
.qi-volume {
  &:before {
    content: $qi-volume; 
  }
}
.qi-volume-down {
  &:before {
    content: $qi-volume-down; 
  }
}
.qi-volume-mute {
  &:before {
    content: $qi-volume-mute; 
  }
}
.qi-volume-up {
  &:before {
    content: $qi-volume-up; 
  }
}
.qi-upload {
  &:before {
    content: $qi-upload; 
  }
}
.qi-undo {
  &:before {
    content: $qi-undo; 
  }
}
.qi-twitter {
  &:before {
    content: $qi-twitter; 
  }
}
.qi-tv-alt {
  &:before {
    content: $qi-tv-alt; 
  }
}
.qi-ts {
  &:before {
    content: $qi-ts; 
  }
}
.qi-thumbs-up {
  &:before {
    content: $qi-thumbs-up; 
  }
}
.qi-thumbs-down {
  &:before {
    content: $qi-thumbs-down; 
  }
}
.qi-subtitles {
  &:before {
    content: $qi-subtitles; 
  }
}
.qi-sql {
  &:before {
    content: $qi-sql; 
  }
}
.qi-share-alt {
  &:before {
    content: $qi-share-alt; 
  }
}
.qi-share {
  &:before {
    content: $qi-share; 
  }
}
.qi-search {
  &:before {
    content: $qi-search; 
  }
}
.qi-save {
  &:before {
    content: $qi-save; 
  }
}
.qi-sass {
  &:before {
    content: $qi-sass; 
  }
}
.qi-safari {
  &:before {
    content: $qi-safari; 
  }
}
.qi-redo {
  &:before {
    content: $qi-redo; 
  }
}
.qi-react {
  &:before {
    content: $qi-react; 
  }
}
.qi-plus {
  &:before {
    content: $qi-plus; 
  }
}
.qi-playlist-play {
  &:before {
    content: $qi-playlist-play; 
  }
}
.qi-playlist-add {
  &:before {
    content: $qi-playlist-add; 
  }
}
.qi-play-circle {
  &:before {
    content: $qi-play-circle; 
  }
}
.qi-play {
  &:before {
    content: $qi-play; 
  }
}
.qi-php {
  &:before {
    content: $qi-php; 
  }
}
.qi-pen {
  &:before {
    content: $qi-pen; 
  }
}
.qi-pause-circle {
  &:before {
    content: $qi-pause-circle; 
  }
}
.qi-pause {
  &:before {
    content: $qi-pause; 
  }
}
.qi-opera {
  &:before {
    content: $qi-opera; 
  }
}
.qi-node-js {
  &:before {
    content: $qi-node-js; 
  }
}
.qi-menu {
  &:before {
    content: $qi-menu; 
  }
}
.qi-laravel {
  &:before {
    content: $qi-laravel; 
  }
}
.qi-json {
  &:before {
    content: $qi-json; 
  }
}
.qi-js {
  &:before {
    content: $qi-js; 
  }
}
.qi-jquery {
  &:before {
    content: $qi-jquery; 
  }
}
.qi-ios {
  &:before {
    content: $qi-ios; 
  }
}
.qi-instagram {
  &:before {
    content: $qi-instagram; 
  }
}
.qi-info {
  &:before {
    content: $qi-info; 
  }
}
.qi-img {
  &:before {
    content: $qi-img; 
  }
}
.qi-imgs {
  &:before {
    content: $qi-imgs; 
  }
}
.qi-ie {
  &:before {
    content: $qi-ie; 
  }
}
.qi-html {
  &:before {
    content: $qi-html; 
  }
}
.qi-home {
  &:before {
    content: $qi-home; 
  }
}
.qi-history {
  &:before {
    content: $qi-history; 
  }
}
.qi-google {
  &:before {
    content: $qi-google; 
  }
}
.qi-gitlab {
  &:before {
    content: $qi-gitlab; 
  }
}
.qi-github {
  &:before {
    content: $qi-github; 
  }
}
.qi-fullscreen {
  &:before {
    content: $qi-fullscreen; 
  }
}
.qi-fullscreen-exit {
  &:before {
    content: $qi-fullscreen-exit; 
  }
}
.qi-folder {
  &:before {
    content: $qi-folder; 
  }
}
.qi-folder-open {
  &:before {
    content: $qi-folder-open; 
  }
}
.qi-flask {
  &:before {
    content: $qi-flask; 
  }
}
.qi-flag {
  &:before {
    content: $qi-flag; 
  }
}
.qi-firefox {
  &:before {
    content: $qi-firefox; 
  }
}
.qi-film {
  &:before {
    content: $qi-film; 
  }
}
.qi-file {
  &:before {
    content: $qi-file; 
  }
}
.qi-feedback {
  &:before {
    content: $qi-feedback; 
  }
}
.qi-facebook {
  &:before {
    content: $qi-facebook; 
  }
}
.qi-eye-slash {
  &:before {
    content: $qi-eye-slash; 
  }
}
.qi-eye {
  &:before {
    content: $qi-eye; 
  }
}
.qi-ellipsis-v {
  &:before {
    content: $qi-ellipsis-v; 
  }
}
.qi-ellipsis-h {
  &:before {
    content: $qi-ellipsis-h; 
  }
}
.qi-edit {
  &:before {
    content: $qi-edit; 
  }
}
.qi-edge {
  &:before {
    content: $qi-edge; 
  }
}
.qi-download {
  &:before {
    content: $qi-download; 
  }
}
.qi-desktop {
  &:before {
    content: $qi-desktop; 
  }
}
.qi-css {
  &:before {
    content: $qi-css; 
  }
}
.qi-crop {
  &:before {
    content: $qi-crop; 
  }
}
.qi-copy {
  &:before {
    content: $qi-copy; 
  }
}
.qi-cog {
  &:before {
    content: $qi-cog; 
  }
}
.qi-code {
  &:before {
    content: $qi-code; 
  }
}
.qi-close {
  &:before {
    content: $qi-close; 
  }
}
.qi-clock {
  &:before {
    content: $qi-clock; 
  }
}
.qi-chrome {
  &:before {
    content: $qi-chrome; 
  }
}
.qi-chevron-up {
  &:before {
    content: $qi-chevron-up; 
  }
}
.qi-chevron-right {
  &:before {
    content: $qi-chevron-right; 
  }
}
.qi-chevron-down {
  &:before {
    content: $qi-chevron-down; 
  }
}
.qi-chevron-left {
  &:before {
    content: $qi-chevron-left; 
  }
}
.qi-chevron-2-right {
  &:before {
    content: $qi-chevron-2-right; 
  }
}
.qi-chevron-2-left {
  &:before {
    content: $qi-chevron-2-left; 
  }
}
.qi-cc {
  &:before {
    content: $qi-cc; 
  }
}
.qi-camera {
  &:before {
    content: $qi-camera; 
  }
}
.qi-browser {
  &:before {
    content: $qi-browser; 
  }
}
.qi-box {
  &:before {
    content: $qi-box; 
  }
}
.qi-bootstrap {
  &:before {
    content: $qi-bootstrap; 
  }
}
.qi-book {
  &:before {
    content: $qi-book; 
  }
}
.qi-ban {
  &:before {
    content: $qi-ban; 
  }
}
.qi-ask {
  &:before {
    content: $qi-ask; 
  }
}
.qi-arrows-v {
  &:before {
    content: $qi-arrows-v; 
  }
}
.qi-arrows-h {
  &:before {
    content: $qi-arrows-h; 
  }
}
.qi-arrow-up {
  &:before {
    content: $qi-arrow-up; 
  }
}
.qi-arrow-right {
  &:before {
    content: $qi-arrow-right; 
  }
}
.qi-arrow-down {
  &:before {
    content: $qi-arrow-down; 
  }
}
.qi-arrow-left {
  &:before {
    content: $qi-arrow-left; 
  }
}
.qi-arrows-alt {
  &:before {
    content: $qi-arrows-alt; 
  }
}
.qi-angular {
  &:before {
    content: $qi-angular; 
  }
}
.qi-android {
  &:before {
    content: $qi-android; 
  }
}

