@font-face {
  font-family: 'q-icon';
  src: url('fonts/q-icon.eot?6kkjfc');
  src:url('fonts/q-icon.eot?6kkjfc#iefix') format('embedded-opentype'),
    url('fonts/q-icon.ttf?6kkjfc') format('truetype'),
    url('fonts/q-icon.woff?6kkjfc') format('woff'),
    url('fonts/q-icon.svg?6kkjfc#q-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.qi::before {
	display: inline-block;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'q-icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
	text-rendering: auto;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.qi-bars:before{
  content:"\e96f";
}
.qi-check:before{
  content:"\e96e";
}
.qi-trash:before{
  content:"\e96d";
}
.qi-caret-up:before{
  content:"\e96b";
}
.qi-list:before{
  content:"\e96c";
}
.qi-markdown:before, 
.qi-md:before {
  content:"\e96a";
}
.qi-tar:before,
.qi-rar:before, 
.qi-zip:before {
  content:"\e900";
}
.qi-youtube:before {
  content:"\e901";
}
.qi-wrench:before {
  content: "\e902";
}
.qi-windows:before {
  content:"\e903";
}
.qi-window-maximize:before {
  content: "\e904";
}
.qi-whatsapp:before {
  content: "\e905";
}
.qi-vuejs:before {
  content: "\e906";
}
.qi-volume:before {
  content: "\e907";
}
.qi-volume-down:before {
  content: "\e908";
}
.qi-volume-mute:before {
  content: "\e909";
}
.qi-volume-up:before {
  content: "\e90a";
}
.qi-upload:before {
  content: "\e90b";
}

.qi-undo:before {
  content: "\e90c";
}

.qi-twitter:before {
  content: "\e90d";
}

.qi-tv-alt:before {
  content: "\e90e";
}

.qi-ts:before {
  content: "\e90f";
}

.qi-thumbs-up:before {
  content: "\e910";
}

.qi-thumbs-down:before {
  content: "\e911";
}

.qi-subtitles:before {
  content: "\e912";
}

.qi-sql:before {
  content: "\e913";
}

.qi-share-alt:before {
  content: "\e914";
}

.qi-share:before {
  content: "\e915";
}

.qi-search:before {
  content: "\e916";
}

.qi-save:before {
  content: "\e917";
}

.qi-scss:before, 
.qi-sass:before {
  content: "\e918";
}

.qi-safari:before {
  content: "\e919";
}

.qi-redo:before {
  content: "\e91a";
}

.qi-jsx:before, 
.qi-react:before {
  content: "\e91b";
}

.qi-plus:before {
  content: "\e91c";
}

.qi-playlist-play:before {
  content: "\e91d";
}

.qi-playlist-add:before {
  content: "\e91e";
}

.qi-play-circle:before {
  content: "\e91f";
}

.qi-play:before {
  content: "\e920";
}

.qi-php:before {
  content: "\e921";
}

.qi-pen:before {
  content: "\e922";
}

.qi-pause-circle:before {
  content: "\e923";
}

.qi-pause:before {
  content: "\e924";
}

.qi-opera:before {
  content: "\e925";
}

.qi-node-js:before {
  content: "\e926";
}

.qi-menu:before {
  content: "\e927";
}

.qi-laravel:before {
  content: "\e928";
}

.qi-json:before {
  content: "\e929";
}

.qi-js:before {
  content: "\e92a";
}

.qi-jquery:before {
  content: "\e92b";
}

.qi-ios:before {
  content: "\e92c";
}

.qi-instagram:before {
  content: "\e92d";
}

.qi-info:before {
  content: "\e92e";
}

.qi-jpg:before, 
.qi-png:before, 
.qi-ico:before, 
.qi-img:before {
  content: "\e92f";
}

.qi-imgs:before {
  content: "\e930";
}

.qi-ie:before {
  content: "\e931";
}

.qi-html:before {
  content: "\e932";
}

.qi-home:before {
  content: "\e933";
}

.qi-history:before {
  content: "\e934";
}

.qi-google:before {
  content: "\e935";
}

.qi-gitlab:before {
  content: "\e936";
}

.qi-github:before {
  content: "\e937";
}

.qi-fullscreen:before {
  content: "\e938";
}

.qi-fullscreen-exit:before {
  content: "\e939";
}

.qi-folder:before {
  content: "\e93a";
}

.qi-folder-open:before {
  content: "\e93b";
}

.qi-flask:before {
  content: "\e93c";
}

.qi-flag:before {
  content: "\e93d";
}

.qi-firefox:before {
  content: "\e93e";
}

.qi-film:before {
  content: "\e93f";
}

.qi-txt:before, 
.qi-file:before {
  content: "\e940";
}

.qi-feedback:before {
  content: "\e941";
}

.qi-facebook:before {
  content: "\e942";
}

.qi-eye-slash:before {
  content: "\e943";
}

.qi-eye:before {
  content: "\e944";
}

.qi-ellipsis-v:before {
  content: "\e945";
}

.qi-ellipsis-h:before {
  content: "\e946";
}

.qi-edit:before {
  content: "\e947";
}


.qi-edge:before {
  content: "\e948";
}


.qi-download:before {
  content: "\e949";
}


.qi-desktop:before {
  content: "\e94a";
}


.qi-css:before {
  content: "\e94b";
}


.qi-crop:before {
  content: "\e94c";
}


.qi-copy:before {
  content: "\e94d";
}


.qi-cog:before {
  content: "\e94e";
}


.qi-code:before {
  content: "\e94f";
}


.qi-close:before {
  content: "\e950";
}


.qi-clock:before {
  content: "\e951";
}


.qi-chrome:before {
  content: "\e952";
}


.qi-chevron-up:before {
  content: "\e953";
}


.qi-chevron-right:before {
  content: "\e954";
}


.qi-chevron-down:before {
  content: "\e955";
}


.qi-chevron-left:before {
  content: "\e956";
}


.qi-chevron-2-right:before {
  content: "\e957";
}


.qi-chevron-2-left:before {
  content: "\e958";
}


.qi-cc:before {
  content: "\e959";
}


.qi-camera:before {
  content: "\e95a";
}


.qi-browser:before {
  content: "\e95b";
}


.qi-box:before {
  content: "\e95c";
}

.qi-bootstrap:before {
  content: "\e95d";
}

.qi-book:before {
  content: "\e95e";
}

.qi-ban:before {
  content: "\e95f";
}

.qi-ask:before {
  content: "\e960";
}

.qi-arrows-v:before {
  content: "\e961";
}

.qi-arrows-h:before {
  content: "\e962";
}

.qi-arrow-up:before {
  content: "\e963";
}

.qi-arrow-right:before {
  content: "\e964";
}

.qi-arrow-down:before {
  content: "\e965";
}

.qi-arrow-left:before {
  content: "\e966";
}

.qi-arrows-alt:before {
  content: "\e967";
}

.qi-angular:before {
  content: "\e968";
}

.qi-android:before {
  content: "\e969";
}
