$icomoon-font-family: "q-icon" !default;
$icomoon-font-path: "fonts" !default;

$qi-bars: "\e96f";
$qi-check: "\e96e";
$qi-trash: "\e96d";
$qi-caret-up: "\e96b";
$qi-list: "\e96c";
$qi-md: "\e96a";
$qi-zip: "\e900";
$qi-youtube: "\e901";
$qi-wrench: "\e902";
$qi-windows: "\e903";
$qi-window-maximize: "\e904";
$qi-whatsapp: "\e905";
$qi-vuejs: "\e906";
$qi-volume: "\e907";
$qi-volume-down: "\e908";
$qi-volume-mute: "\e909";
$qi-volume-up: "\e90a";
$qi-upload: "\e90b";
$qi-undo: "\e90c";
$qi-twitter: "\e90d";
$qi-tv-alt: "\e90e";
$qi-ts: "\e90f";
$qi-thumbs-up: "\e910";
$qi-thumbs-down: "\e911";
$qi-subtitles: "\e912";
$qi-sql: "\e913";
$qi-share-alt: "\e914";
$qi-share: "\e915";
$qi-search: "\e916";
$qi-save: "\e917";
$qi-sass: "\e918";
$qi-safari: "\e919";
$qi-redo: "\e91a";
$qi-react: "\e91b";
$qi-plus: "\e91c";
$qi-playlist-play: "\e91d";
$qi-playlist-add: "\e91e";
$qi-play-circle: "\e91f";
$qi-play: "\e920";
$qi-php: "\e921";
$qi-pen: "\e922";
$qi-pause-circle: "\e923";
$qi-pause: "\e924";
$qi-opera: "\e925";
$qi-node-js: "\e926";
$qi-menu: "\e927";
$qi-laravel: "\e928";
$qi-json: "\e929";
$qi-js: "\e92a";
$qi-jquery: "\e92b";
$qi-ios: "\e92c";
$qi-instagram: "\e92d";
$qi-info: "\e92e";
$qi-img: "\e92f";
$qi-imgs: "\e930";
$qi-ie: "\e931";
$qi-html: "\e932";
$qi-home: "\e933";
$qi-history: "\e934";
$qi-google: "\e935";
$qi-gitlab: "\e936";
$qi-github: "\e937";
$qi-fullscreen: "\e938";
$qi-fullscreen-exit: "\e939";
$qi-folder: "\e93a";
$qi-folder-open: "\e93b";
$qi-flask: "\e93c";
$qi-flag: "\e93d";
$qi-firefox: "\e93e";
$qi-film: "\e93f";
$qi-file: "\e940";
$qi-feedback: "\e941";
$qi-facebook: "\e942";
$qi-eye-slash: "\e943";
$qi-eye: "\e944";
$qi-ellipsis-v: "\e945";
$qi-ellipsis-h: "\e946";
$qi-edit: "\e947";
$qi-edge: "\e948";
$qi-download: "\e949";
$qi-desktop: "\e94a";
$qi-css: "\e94b";
$qi-crop: "\e94c";
$qi-copy: "\e94d";
$qi-cog: "\e94e";
$qi-code: "\e94f";
$qi-close: "\e950";
$qi-clock: "\e951";
$qi-chrome: "\e952";
$qi-chevron-up: "\e953";
$qi-chevron-right: "\e954";
$qi-chevron-down: "\e955";
$qi-chevron-left: "\e956";
$qi-chevron-2-right: "\e957";
$qi-chevron-2-left: "\e958";
$qi-cc: "\e959";
$qi-camera: "\e95a";
$qi-browser: "\e95b";
$qi-box: "\e95c";
$qi-bootstrap: "\e95d";
$qi-book: "\e95e";
$qi-ban: "\e95f";
$qi-ask: "\e960";
$qi-arrows-v: "\e961";
$qi-arrows-h: "\e962";
$qi-arrow-up: "\e963";
$qi-arrow-right: "\e964";
$qi-arrow-down: "\e965";
$qi-arrow-left: "\e966";
$qi-arrows-alt: "\e967";
$qi-angular: "\e968";
$qi-android: "\e969";

