/* FOR Smartphone Landscape & Portrait */
@media (max-width: 767px){
	// html,
	// body,
	// #root {
	// 	height: auto; //  !important
	// 	// OPTION: FOR "bounce" effects or refreshes
	// 	// https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior
	// 	overscroll-behavior: none; // contain
	// }

	// .lockScroll{
	// 	overflow:hidden !important;
	// }

	// Sizing:
	// w = width, p = phone, lp = landscape & portrait
	.w-p-lp-50 {
		width: 50% !important;
	}
	
	// Spacing:
	.mt-2-next-p-lp > * + *{
		margin-top: .5rem;
	}

	.mb-p-lp-2 {
		margin-bottom: .5rem;
	}
	
}/* END Smartphone Landscape & Portrait */