/* FOR Smartphone Portrait Only */
@media screen and (max-width: 480px){
	// Sizing:
	// w = width, p = phone, p = portrait
	.w-p-p-100 {
		width: 100% !important;
	}
	
}/* END FOR Smartphone Potrait Only */