/* FOR Tablet Portrait */
@media (max-width:991px) and (min-width:768px){
	/*html,
	body,
	#root {
		height: auto; //  !important
		// OPTION: FOR "bounce" effects or refreshes
		// https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior
		overscroll-behavior: none; // contain
	}*/

	// .lockScroll{
	// 	overflow:hidden !important;
	// }

	// Sizing:
	// w = width, t = tablet, p = portrait
	.w-t-p-50 {
		width: 50% !important;;
	}
	
	
}/* END FOR Tablet Portrait */