@font-face {
  font-family: 'q-icon';
  src: url('fonts/q-icon.eot?97pxmi');
  src: url('fonts/q-icon.eot?97pxmi#iefix') format('embedded-opentype'), url('fonts/q-icon.ttf?97pxmi') format('truetype'), url('fonts/q-icon.woff?97pxmi') format('woff'), url('fonts/q-icon.svg?97pxmi#q-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.qi::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'q-icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.qi-glass-martini:before {
  content: "\f000";
}
.qi-music1:before {
  content: "\f001";
}
.qi-search1:before {
  content: "\f002";
}
.qi-heart1:before {
  content: "\f004";
}
.qi-star:before {
  content: "\f005";
}
.qi-user1:before {
  content: "\f007";
}
.qi-film:before {
  content: "\f008";
}
.qi-th-large:before {
  content: "\f009";
}
.qi-th:before {
  content: "\f00a";
}
.qi-th-list:before {
  content: "\f00b";
}
.qi-check:before {
  content: "\f00c";
}
.qi-times:before {
  content: "\f00d";
}
.qi-search-plus:before {
  content: "\f00e";
}
.qi-search-minus:before {
  content: "\f010";
}
.qi-power-off:before {
  content: "\f011";
}
.qi-signal:before {
  content: "\f012";
}
.qi-cog1:before {
  content: "\f013";
}
.qi-home:before {
  content: "\f015";
}
.qi-clock1:before {
  content: "\f017";
}
.qi-road1:before {
  content: "\f018";
}
.qi-download1:before {
  content: "\f019";
}
.qi-inbox:before {
  content: "\f01c";
}
.qi-redo1:before {
  content: "\f01e";
}
.qi-sync:before {
  content: "\f021";
}
.qi-list-alt:before {
  content: "\f022";
}
.qi-lock1:before {
  content: "\f023";
}
.qi-flag1:before {
  content: "\f024";
}
.qi-headphones1:before {
  content: "\f025";
}
.qi-volume-off:before {
  content: "\f026";
}
.qi-volume-down:before {
  content: "\f027";
}
.qi-volume-up:before {
  content: "\f028";
}
.qi-qrcode1:before {
  content: "\f029";
}
.qi-barcode1:before {
  content: "\f02a";
}
.qi-tag:before {
  content: "\f02b";
}
.qi-tags:before {
  content: "\f02c";
}
.qi-book1:before {
  content: "\f02d";
}
.qi-bookmark1:before {
  content: "\f02e";
}
.qi-print:before {
  content: "\f02f";
}
.qi-camera1:before {
  content: "\f030";
}
.qi-font1:before {
  content: "\f031";
}
.qi-bold1:before {
  content: "\f032";
}
.qi-italic1:before {
  content: "\f033";
}
.qi-text-height1:before {
  content: "\f034";
}
.qi-text-width1:before {
  content: "\f035";
}
.qi-align-left:before {
  content: "\f036";
}
.qi-align-center:before {
  content: "\f037";
}
.qi-align-right:before {
  content: "\f038";
}
.qi-align-justify:before {
  content: "\f039";
}
.qi-list1:before {
  content: "\f03a";
}
.qi-outdent:before {
  content: "\f03b";
}
.qi-indent:before {
  content: "\f03c";
}
.qi-video:before {
  content: "\f03d";
}
.qi-image1:before {
  content: "\f03e";
}
.qi-pencil1:before {
  content: "\f040";
}
.qi-map-marker:before {
  content: "\f041";
}
.qi-adjust:before {
  content: "\f042";
}
.qi-tint:before {
  content: "\f043";
}
.qi-edit:before {
  content: "\f044";
}
.qi-arrows:before {
  content: "\f047";
}
.qi-step-backward:before {
  content: "\f048";
}
.qi-fast-backward:before {
  content: "\f049";
}
.qi-backward1:before {
  content: "\f04a";
}
.qi-play1:before {
  content: "\f04b";
}
.qi-pause1:before {
  content: "\f04c";
}
.qi-stop1:before {
  content: "\f04d";
}
.qi-forward1:before {
  content: "\f04e";
}
.qi-fast-forward:before {
  content: "\f050";
}
.qi-step-forward:before {
  content: "\f051";
}
.qi-eject1:before {
  content: "\f052";
}
.qi-chevron-left:before {
  content: "\f053";
}
.qi-chevron-right:before {
  content: "\f054";
}
.qi-plus-circle:before {
  content: "\f055";
}
.qi-minus-circle:before {
  content: "\f056";
}
.qi-times-circle:before {
  content: "\f057";
}
.qi-check-circle:before {
  content: "\f058";
}
.qi-question-circle:before {
  content: "\f059";
}
.qi-info-circle:before {
  content: "\f05a";
}
.qi-crosshairs:before {
  content: "\f05b";
}
.qi-ban:before {
  content: "\f05e";
}
.qi-arrow-left1:before {
  content: "\f060";
}
.qi-arrow-right1:before {
  content: "\f061";
}
.qi-arrow-up1:before {
  content: "\f062";
}
.qi-arrow-down1:before {
  content: "\f063";
}
.qi-share1:before {
  content: "\f064";
}
.qi-expand:before {
  content: "\f065";
}
.qi-compress:before {
  content: "\f066";
}
.qi-plus1:before {
  content: "\f067";
}
.qi-minus1:before {
  content: "\f068";
}
.qi-asterisk:before {
  content: "\f069";
}
.qi-exclamation-circle:before {
  content: "\f06a";
}
.qi-gift1:before {
  content: "\f06b";
}
.qi-leaf1:before {
  content: "\f06c";
}
.qi-fire1:before {
  content: "\f06d";
}
.qi-eye1:before {
  content: "\f06e";
}
.qi-eye-slash:before {
  content: "\f070";
}
.qi-exclamation-triangle:before {
  content: "\f071";
}
.qi-plane:before {
  content: "\f072";
}
.qi-calendar-alt:before {
  content: "\f073";
}
.qi-random:before {
  content: "\f074";
}
.qi-comment:before {
  content: "\f075";
}
.qi-magnet1:before {
  content: "\f076";
}
.qi-chevron-up:before {
  content: "\f077";
}
.qi-chevron-down:before {
  content: "\f078";
}
.qi-retweet:before {
  content: "\f079";
}
.qi-shopping-cart:before {
  content: "\f07a";
}
.qi-folder1:before {
  content: "\f07b";
}
.qi-folder-open1:before {
  content: "\f07c";
}
.qi-arrows-v:before {
  content: "\f07d";
}
.qi-arrows-h:before {
  content: "\f07e";
}
.qi-chart-bar:before {
  content: "\f080";
}
.qi-camera-retro:before {
  content: "\f083";
}
.qi-key1:before {
  content: "\f084";
}
.qi-cogs1:before {
  content: "\f085";
}
.qi-comments:before {
  content: "\f086";
}
.qi-star-half1:before {
  content: "\f089";
}
.qi-sign-out:before {
  content: "\f08b";
}
.qi-thumbtack:before {
  content: "\f08d";
}
.qi-external-link:before {
  content: "\f08e";
}
.qi-sign-in:before {
  content: "\f090";
}
.qi-trophy1:before {
  content: "\f091";
}
.qi-upload1:before {
  content: "\f093";
}
.qi-lemon:before {
  content: "\f094";
}
.qi-phone1:before {
  content: "\f095";
}
.qi-phone-square:before {
  content: "\f098";
}
.qi-unlock:before {
  content: "\f09c";
}
.qi-credit-card1:before {
  content: "\f09d";
}
.qi-rss1:before {
  content: "\f09e";
}
.qi-hdd:before {
  content: "\f0a0";
}
.qi-bullhorn1:before {
  content: "\f0a1";
}
.qi-certificate:before {
  content: "\f0a3";
}
.qi-hand-point-right:before {
  content: "\f0a4";
}
.qi-hand-point-left:before {
  content: "\f0a5";
}
.qi-hand-point-up:before {
  content: "\f0a6";
}
.qi-hand-point-down:before {
  content: "\f0a7";
}
.qi-arrow-circle-left:before {
  content: "\f0a8";
}
.qi-arrow-circle-right:before {
  content: "\f0a9";
}
.qi-arrow-circle-up:before {
  content: "\f0aa";
}
.qi-arrow-circle-down:before {
  content: "\f0ab";
}
.qi-globe:before {
  content: "\f0ac";
}
.qi-wrench1:before {
  content: "\f0ad";
}
.qi-tasks:before {
  content: "\f0ae";
}
.qi-filter1:before {
  content: "\f0b0";
}
.qi-briefcase1:before {
  content: "\f0b1";
}
.qi-arrows-alt:before {
  content: "\f0b2";
}
.qi-users1:before {
  content: "\f0c0";
}
.qi-link1:before {
  content: "\f0c1";
}
.qi-cloud1:before {
  content: "\f0c2";
}
.qi-flask:before {
  content: "\f0c3";
}
.qi-cut:before {
  content: "\f0c4";
}
.qi-copy1:before {
  content: "\f0c5";
}
.qi-paperclip:before {
  content: "\f0c6";
}
.qi-save:before {
  content: "\f0c7";
}
.qi-square:before {
  content: "\f0c8";
}
.qi-bars:before {
  content: "\f0c9";
}
.qi-list-ul:before {
  content: "\f0ca";
}
.qi-list-ol:before {
  content: "\f0cb";
}
.qi-strikethrough1:before {
  content: "\f0cc";
}
.qi-underline1:before {
  content: "\f0cd";
}
.qi-table1:before {
  content: "\f0ce";
}
.qi-magic:before {
  content: "\f0d0";
}
.qi-truck1:before {
  content: "\f0d1";
}
.qi-money-bill:before {
  content: "\f0d6";
}
.qi-caret-down:before {
  content: "\f0d7";
}
.qi-caret-up:before {
  content: "\f0d8";
}
.qi-caret-left:before {
  content: "\f0d9";
}
.qi-caret-right:before {
  content: "\f0da";
}
.qi-columns:before {
  content: "\f0db";
}
.qi-sort:before {
  content: "\f0dc";
}
.qi-sort-down:before {
  content: "\f0dd";
}
.qi-sort-up:before {
  content: "\f0de";
}
.qi-envelope:before {
  content: "\f0e0";
}
.qi-undo1:before {
  content: "\f0e2";
}
.qi-gavel:before {
  content: "\f0e3";
}
.qi-tachometer:before {
  content: "\f0e4";
}
.qi-bolt:before {
  content: "\f0e7";
}
.qi-sitemap:before {
  content: "\f0e8";
}
.qi-umbrella:before {
  content: "\f0e9";
}
.qi-paste1:before {
  content: "\f0ea";
}
.qi-lightbulb:before {
  content: "\f0eb";
}
.qi-exchange:before {
  content: "\f0ec";
}
.qi-cloud-download:before {
  content: "\f0ed";
}
.qi-cloud-upload:before {
  content: "\f0ee";
}
.qi-user-md:before {
  content: "\f0f0";
}
.qi-stethoscope:before {
  content: "\f0f1";
}
.qi-suitcase:before {
  content: "\f0f2";
}
.qi-bell:before {
  content: "\f0f3";
}
.qi-coffee:before {
  content: "\f0f4";
}
.qi-hospital:before {
  content: "\f0f8";
}
.qi-ambulance:before {
  content: "\f0f9";
}
.qi-medkit:before {
  content: "\f0fa";
}
.qi-fighter-jet:before {
  content: "\f0fb";
}
.qi-beer:before {
  content: "\f0fc";
}
.qi-h-square:before {
  content: "\f0fd";
}
.qi-plus-square:before {
  content: "\f0fe";
}
.qi-angle-double-left:before {
  content: "\f100";
}
.qi-angle-double-right:before {
  content: "\f101";
}
.qi-angle-double-up:before {
  content: "\f102";
}
.qi-angle-double-down:before {
  content: "\f103";
}
.qi-angle-left:before {
  content: "\f104";
}
.qi-angle-right:before {
  content: "\f105";
}
.qi-angle-up:before {
  content: "\f106";
}
.qi-angle-down:before {
  content: "\f107";
}
.qi-desktop:before {
  content: "\f108";
}
.qi-laptop:before {
  content: "\f109";
}
.qi-tablet:before {
  content: "\f10a";
}
.qi-mobile:before {
  content: "\f10b";
}
.qi-quote-left:before {
  content: "\f10d";
}
.qi-quote-right:before {
  content: "\f10e";
}
.qi-spinner:before {
  content: "\f110";
}
.qi-circle:before {
  content: "\f111";
}
.qi-smile:before {
  content: "\f118";
}
.qi-frown:before {
  content: "\f119";
}
.qi-meh:before {
  content: "\f11a";
}
.qi-gamepad:before {
  content: "\f11b";
}
.qi-keyboard:before {
  content: "\f11c";
}
.qi-flag-checkered:before {
  content: "\f11e";
}
.qi-terminal:before {
  content: "\f120";
}
.qi-code:before {
  content: "\f121";
}
.qi-reply-all:before {
  content: "\f122";
}
.qi-location-arrow:before {
  content: "\f124";
}
.qi-crop:before {
  content: "\f125";
}
.qi-code-branch:before {
  content: "\f126";
}
.qi-unlink:before {
  content: "\f127";
}
.qi-question:before {
  content: "\f128";
}
.qi-info:before {
  content: "\f129";
}
.qi-exclamation:before {
  content: "\f12a";
}
.qi-superscript:before {
  content: "\f12b";
}
.qi-subscript:before {
  content: "\f12c";
}
.qi-eraser:before {
  content: "\f12d";
}
.qi-puzzle-piece:before {
  content: "\f12e";
}
.qi-microphone:before {
  content: "\f130";
}
.qi-microphone-slash:before {
  content: "\f131";
}
.qi-shield:before {
  content: "\f132";
}
.qi-calendar:before {
  content: "\f133";
}
.qi-fire-extinguisher:before {
  content: "\f134";
}
.qi-rocket:before {
  content: "\f135";
}
.qi-chevron-circle-left:before {
  content: "\f137";
}
.qi-chevron-circle-right:before {
  content: "\f138";
}
.qi-chevron-circle-up:before {
  content: "\f139";
}
.qi-chevron-circle-down:before {
  content: "\f13a";
}
.qi-anchor:before {
  content: "\f13d";
}
.qi-unlock-alt:before {
  content: "\f13e";
}
.qi-bullseye:before {
  content: "\f140";
}
.qi-ellipsis-h:before {
  content: "\f141";
}
.qi-ellipsis-v:before {
  content: "\f142";
}
.qi-rss-square:before {
  content: "\f143";
}
.qi-play-circle:before {
  content: "\f144";
}
.qi-ticket:before {
  content: "\f145";
}
.qi-minus-square:before {
  content: "\f146";
}
.qi-level-up:before {
  content: "\f148";
}
.qi-level-down:before {
  content: "\f149";
}
.qi-check-square:before {
  content: "\f14a";
}
.qi-pen-square:before {
  content: "\f14b";
}
.qi-external-link-square:before {
  content: "\f14c";
}
.qi-share-square:before {
  content: "\f14d";
}
.qi-compass:before {
  content: "\f14e";
}
.qi-caret-square-down:before {
  content: "\f150";
}
.qi-caret-square-up:before {
  content: "\f151";
}
.qi-caret-square-right:before {
  content: "\f152";
}
.qi-euro-sign:before {
  content: "\f153";
}
.qi-pound-sign:before {
  content: "\f154";
}
.qi-dollar-sign:before {
  content: "\f155";
}
.qi-rupee-sign:before {
  content: "\f156";
}
.qi-yen-sign:before {
  content: "\f157";
}
.qi-ruble-sign:before {
  content: "\f158";
}
.qi-won-sign:before {
  content: "\f159";
}
.qi-file:before {
  content: "\f15b";
}
.qi-file-alt:before {
  content: "\f15c";
}
.qi-sort-alpha-down:before {
  content: "\f15d";
}
.qi-sort-alpha-up:before {
  content: "\f15e";
}
.qi-sort-amount-down:before {
  content: "\f160";
}
.qi-sort-amount-up:before {
  content: "\f161";
}
.qi-sort-numeric-down:before {
  content: "\f162";
}
.qi-sort-numeric-up:before {
  content: "\f163";
}
.qi-thumbs-up:before {
  content: "\f164";
}
.qi-thumbs-down:before {
  content: "\f165";
}
.qi-long-arrow-down:before {
  content: "\f175";
}
.qi-long-arrow-up:before {
  content: "\f176";
}
.qi-long-arrow-left:before {
  content: "\f177";
}
.qi-long-arrow-right:before {
  content: "\f178";
}
.qi-female:before {
  content: "\f182";
}
.qi-male:before {
  content: "\f183";
}
.qi-sun1:before {
  content: "\f185";
}
.qi-moon:before {
  content: "\f186";
}
.qi-archive:before {
  content: "\f187";
}
.qi-bug:before {
  content: "\f188";
}
.qi-caret-square-left:before {
  content: "\f191";
}
.qi-dot-circle:before {
  content: "\f192";
}
.qi-wheelchair:before {
  content: "\f193";
}
.qi-lira-sign:before {
  content: "\f195";
}
.qi-space-shuttle:before {
  content: "\f197";
}
.qi-envelope-square:before {
  content: "\f199";
}
.qi-university:before {
  content: "\f19c";
}
.qi-graduation-cap:before {
  content: "\f19d";
}
.qi-language:before {
  content: "\f1ab";
}
.qi-fax:before {
  content: "\f1ac";
}
.qi-building:before {
  content: "\f1ad";
}
.qi-child:before {
  content: "\f1ae";
}
.qi-paw:before {
  content: "\f1b0";
}
.qi-cube:before {
  content: "\f1b2";
}
.qi-cubes:before {
  content: "\f1b3";
}
.qi-recycle:before {
  content: "\f1b8";
}
.qi-car:before {
  content: "\f1b9";
}
.qi-taxi:before {
  content: "\f1ba";
}
.qi-tree:before {
  content: "\f1bb";
}
.qi-database:before {
  content: "\f1c0";
}
.qi-file-pdf:before {
  content: "\f1c1";
}
.qi-file-word:before {
  content: "\f1c2";
}
.qi-file-excel:before {
  content: "\f1c3";
}
.qi-file-powerpoint:before {
  content: "\f1c4";
}
.qi-file-image:before {
  content: "\f1c5";
}
.qi-file-archive:before {
  content: "\f1c6";
}
.qi-file-audio:before {
  content: "\f1c7";
}
.qi-file-video:before {
  content: "\f1c8";
}
.qi-file-code:before {
  content: "\f1c9";
}
.qi-life-ring:before {
  content: "\f1cd";
}
.qi-circle-notch:before {
  content: "\f1ce";
}
.qi-paper-plane:before {
  content: "\f1d8";
}
.qi-history:before {
  content: "\f1da";
}
.qi-heading:before {
  content: "\f1dc";
}
.qi-paragraph:before {
  content: "\f1dd";
}
.qi-sliders-h:before {
  content: "\f1de";
}
.qi-share-alt:before {
  content: "\f1e0";
}
.qi-share-alt-square:before {
  content: "\f1e1";
}
.qi-bomb:before {
  content: "\f1e2";
}
.qi-futbol:before {
  content: "\f1e3";
}
.qi-tty:before {
  content: "\f1e4";
}
.qi-binoculars:before {
  content: "\f1e5";
}
.qi-plug:before {
  content: "\f1e6";
}
.qi-newspaper:before {
  content: "\f1ea";
}
.qi-wifi:before {
  content: "\f1eb";
}
.qi-calculator:before {
  content: "\f1ec";
}
.qi-bell-slash:before {
  content: "\f1f6";
}
.qi-trash:before {
  content: "\f1f8";
}
.qi-copyright:before {
  content: "\f1f9";
}
.qi-at:before {
  content: "\f1fa";
}
.qi-eye-dropper:before {
  content: "\f1fb";
}
.qi-paint-brush:before {
  content: "\f1fc";
}
.qi-birthday-cake:before {
  content: "\f1fd";
}
.qi-chart-area:before {
  content: "\f1fe";
}
.qi-chart-pie:before {
  content: "\f200";
}
.qi-chart-line:before {
  content: "\f201";
}
.qi-toggle-off:before {
  content: "\f204";
}
.qi-toggle-on:before {
  content: "\f205";
}
.qi-bicycle:before {
  content: "\f206";
}
.qi-bus:before {
  content: "\f207";
}
.qi-closed-captioning:before {
  content: "\f20a";
}
.qi-shekel-sign:before {
  content: "\f20b";
}
.qi-cart-plus:before {
  content: "\f217";
}
.qi-cart-arrow-down:before {
  content: "\f218";
}
.qi-diamond:before {
  content: "\f219";
}
.qi-ship:before {
  content: "\f21a";
}
.qi-user-secret:before {
  content: "\f21b";
}
.qi-motorcycle:before {
  content: "\f21c";
}
.qi-street-view:before {
  content: "\f21d";
}
.qi-heartbeat:before {
  content: "\f21e";
}
.qi-venus:before {
  content: "\f221";
}
.qi-mars:before {
  content: "\f222";
}
.qi-mercury:before {
  content: "\f223";
}
.qi-transgender:before {
  content: "\f224";
}
.qi-transgender-alt:before {
  content: "\f225";
}
.qi-venus-double:before {
  content: "\f226";
}
.qi-mars-double:before {
  content: "\f227";
}
.qi-venus-mars:before {
  content: "\f228";
}
.qi-mars-stroke:before {
  content: "\f229";
}
.qi-mars-stroke-v:before {
  content: "\f22a";
}
.qi-mars-stroke-h:before {
  content: "\f22b";
}
.qi-neuter:before {
  content: "\f22c";
}
.qi-genderless:before {
  content: "\f22d";
}
.qi-server:before {
  content: "\f233";
}
.qi-user-plus:before {
  content: "\f234";
}
.qi-user-times:before {
  content: "\f235";
}
.qi-bed:before {
  content: "\f236";
}
.qi-train:before {
  content: "\f238";
}
.qi-subway:before {
  content: "\f239";
}
.qi-battery-full:before {
  content: "\f240";
}
.qi-battery-three-quarters:before {
  content: "\f241";
}
.qi-battery-half:before {
  content: "\f242";
}
.qi-battery-quarter:before {
  content: "\f243";
}
.qi-battery-empty:before {
  content: "\f244";
}
.qi-mouse-pointer:before {
  content: "\f245";
}
.qi-i-cursor:before {
  content: "\f246";
}
.qi-object-group:before {
  content: "\f247";
}
.qi-object-ungroup:before {
  content: "\f248";
}
.qi-sticky-note:before {
  content: "\f249";
}
.qi-clone:before {
  content: "\f24d";
}
.qi-balance-scale:before {
  content: "\f24e";
}
.qi-hourglass-start:before {
  content: "\f251";
}
.qi-hourglass-half:before {
  content: "\f252";
}
.qi-hourglass-end:before {
  content: "\f253";
}
.qi-hourglass:before {
  content: "\f254";
}
.qi-hand-rock:before {
  content: "\f255";
}
.qi-hand-paper:before {
  content: "\f256";
}
.qi-hand-scissors:before {
  content: "\f257";
}
.qi-hand-lizard:before {
  content: "\f258";
}
.qi-hand-spock:before {
  content: "\f259";
}
.qi-hand-pointer:before {
  content: "\f25a";
}
.qi-hand-peace:before {
  content: "\f25b";
}
.qi-trademark:before {
  content: "\f25c";
}
.qi-registered:before {
  content: "\f25d";
}
.qi-tv1:before {
  content: "\f26c";
}
.qi-calendar-plus:before {
  content: "\f271";
}
.qi-calendar-minus:before {
  content: "\f272";
}
.qi-calendar-times:before {
  content: "\f273";
}
.qi-calendar-check:before {
  content: "\f274";
}
.qi-industry:before {
  content: "\f275";
}
.qi-map-pin:before {
  content: "\f276";
}
.qi-map-signs:before {
  content: "\f277";
}
.qi-map1:before {
  content: "\f279";
}
.qi-comment-alt:before {
  content: "\f27a";
}
.qi-pause-circle:before {
  content: "\f28b";
}
.qi-stop-circle:before {
  content: "\f28d";
}
.qi-shopping-bag:before {
  content: "\f290";
}
.qi-shopping-basket:before {
  content: "\f291";
}
.qi-hashtag:before {
  content: "\f292";
}
.qi-percent:before {
  content: "\f295";
}
.qi-universal-access:before {
  content: "\f29a";
}
.qi-blind:before {
  content: "\f29d";
}
.qi-audio-description:before {
  content: "\f29e";
}
.qi-phone-volume:before {
  content: "\f2a0";
}
.qi-braille:before {
  content: "\f2a1";
}
.qi-assistive-listening-systems:before {
  content: "\f2a2";
}
.qi-american-sign-language-interpreting:before {
  content: "\f2a3";
}
.qi-deaf:before {
  content: "\f2a4";
}
.qi-sign-language:before {
  content: "\f2a7";
}
.qi-low-vision:before {
  content: "\f2a8";
}
.qi-handshake:before {
  content: "\f2b5";
}
.qi-envelope-open:before {
  content: "\f2b6";
}
.qi-address-book1:before {
  content: "\f2b9";
}
.qi-address-card:before {
  content: "\f2bb";
}
.qi-user-circle:before {
  content: "\f2bd";
}
.qi-id-badge:before {
  content: "\f2c1";
}
.qi-id-card:before {
  content: "\f2c2";
}
.qi-thermometer-full:before {
  content: "\f2c7";
}
.qi-thermometer-three-quarters:before {
  content: "\f2c8";
}
.qi-thermometer-half:before {
  content: "\f2c9";
}
.qi-thermometer-quarter:before {
  content: "\f2ca";
}
.qi-thermometer-empty:before {
  content: "\f2cb";
}
.qi-shower:before {
  content: "\f2cc";
}
.qi-bath:before {
  content: "\f2cd";
}
.qi-podcast:before {
  content: "\f2ce";
}
.qi-window-maximize:before {
  content: "\f2d0";
}
.qi-window-minimize:before {
  content: "\f2d1";
}
.qi-window-restore:before {
  content: "\f2d2";
}
.qi-times-square:before {
  content: "\f2d3";
}
.qi-microchip:before {
  content: "\f2db";
}
.qi-snowflake:before {
  content: "\f2dc";
}
.qi-watch:before {
  content: "\f2e1";
}
.qi-volume-slash:before {
  content: "\f2e2";
}
.qi-utensil-fork:before {
  content: "\f2e3";
}
.qi-utensil-knife:before {
  content: "\f2e4";
}
.qi-utensil-spoon:before {
  content: "\f2e5";
}
.qi-utensils-alt:before {
  content: "\f2e6";
}
.qi-utensils:before {
  content: "\f2e7";
}
.qi-usd-circle:before {
  content: "\f2e8";
}
.qi-usd-square:before {
  content: "\f2e9";
}
.qi-undo-alt:before {
  content: "\f2ea";
}
.qi-trophy-alt:before {
  content: "\f2eb";
}
.qi-triangle:before {
  content: "\f2ec";
}
.qi-trash-alt:before {
  content: "\f2ed";
}
.qi-times-hexagon:before {
  content: "\f2ee";
}
.qi-times-octagon:before {
  content: "\f2f0";
}
.qi-sync-alt:before {
  content: "\f2f1";
}
.qi-stopwatch:before {
  content: "\f2f2";
}
.qi-star-exclamation:before {
  content: "\f2f3";
}
.qi-spade:before {
  content: "\f2f4";
}
.qi-sign-out-alt:before {
  content: "\f2f5";
}
.qi-sign-in-alt:before {
  content: "\f2f6";
}
.qi-shield-check:before {
  content: "\f2f7";
}
.qi-scrubber:before {
  content: "\f2f8";
}
.qi-redo-alt:before {
  content: "\f2f9";
}
.qi-rectangle-landscape:before {
  content: "\f2fa";
}
.qi-rectangle-portrait:before {
  content: "\f2fb";
}
.qi-rectangle-wide:before {
  content: "\f2fc";
}
.qi-question-square:before {
  content: "\f2fd";
}
.qi-poo:before {
  content: "\f2fe";
}
.qi-plus-hexagon:before {
  content: "\f300";
}
.qi-plus-octagon:before {
  content: "\f301";
}
.qi-images:before {
  content: "\f302";
}
.qi-pencil-alt:before {
  content: "\f303";
}
.qi-pen:before {
  content: "\f304";
}
.qi-pen-alt:before {
  content: "\f305";
}
.qi-octagon:before {
  content: "\f306";
}
.qi-minus-hexagon:before {
  content: "\f307";
}
.qi-minus-octagon:before {
  content: "\f308";
}
.qi-long-arrow-alt-down:before {
  content: "\f309";
}
.qi-long-arrow-alt-left:before {
  content: "\f30a";
}
.qi-long-arrow-alt-right:before {
  content: "\f30b";
}
.qi-long-arrow-alt-up:before {
  content: "\f30c";
}
.qi-lock-alt:before {
  content: "\f30d";
}
.qi-jack-o-lantern:before {
  content: "\f30e";
}
.qi-info-square:before {
  content: "\f30f";
}
.qi-inbox-in:before {
  content: "\f310";
}
.qi-inbox-out:before {
  content: "\f311";
}
.qi-hexagon:before {
  content: "\f312";
}
.qi-h1:before {
  content: "\f313";
}
.qi-h2:before {
  content: "\f314";
}
.qi-h3:before {
  content: "\f315";
}
.qi-file-check:before {
  content: "\f316";
}
.qi-file-times:before {
  content: "\f317";
}
.qi-file-minus:before {
  content: "\f318";
}
.qi-file-plus:before {
  content: "\f319";
}
.qi-file-exclamation:before {
  content: "\f31a";
}
.qi-file-edit:before {
  content: "\f31c";
}
.qi-expand-arrows:before {
  content: "\f31d";
}
.qi-expand-arrows-alt:before {
  content: "\f31e";
}
.qi-expand-wide:before {
  content: "\f320";
}
.qi-exclamation-square:before {
  content: "\f321";
}
.qi-chevron-double-down:before {
  content: "\f322";
}
.qi-chevron-double-left:before {
  content: "\f323";
}
.qi-chevron-double-right:before {
  content: "\f324";
}
.qi-chevron-double-up:before {
  content: "\f325";
}
.qi-compress-wide:before {
  content: "\f326";
}
.qi-club:before {
  content: "\f327";
}
.qi-clipboard:before {
  content: "\f328";
}
.qi-chevron-square-down:before {
  content: "\f329";
}
.qi-chevron-square-left:before {
  content: "\f32a";
}
.qi-chevron-square-right:before {
  content: "\f32b";
}
.qi-chevron-square-up:before {
  content: "\f32c";
}
.qi-caret-circle-down:before {
  content: "\f32d";
}
.qi-caret-circle-left:before {
  content: "\f32e";
}
.qi-caret-circle-right:before {
  content: "\f330";
}
.qi-caret-circle-up:before {
  content: "\f331";
}
.qi-camera-alt:before {
  content: "\f332";
}
.qi-calendar-edit:before {
  content: "\f333";
}
.qi-calendar-exclamation:before {
  content: "\f334";
}
.qi-badge:before {
  content: "\f335";
}
.qi-badge-check:before {
  content: "\f336";
}
.qi-arrows-alt-h:before {
  content: "\f337";
}
.qi-arrows-alt-v:before {
  content: "\f338";
}
.qi-arrow-square-down:before {
  content: "\f339";
}
.qi-arrow-square-left:before {
  content: "\f33a";
}
.qi-arrow-square-right:before {
  content: "\f33b";
}
.qi-arrow-square-up:before {
  content: "\f33c";
}
.qi-arrow-to-bottom:before {
  content: "\f33d";
}
.qi-arrow-to-left:before {
  content: "\f33e";
}
.qi-arrow-to-right:before {
  content: "\f340";
}
.qi-arrow-to-top:before {
  content: "\f341";
}
.qi-arrow-from-bottom:before {
  content: "\f342";
}
.qi-arrow-from-left:before {
  content: "\f343";
}
.qi-arrow-from-right:before {
  content: "\f344";
}
.qi-arrow-from-top:before {
  content: "\f345";
}
.qi-arrow-alt-from-bottom:before {
  content: "\f346";
}
.qi-arrow-alt-from-left:before {
  content: "\f347";
}
.qi-arrow-alt-from-right:before {
  content: "\f348";
}
.qi-arrow-alt-from-top:before {
  content: "\f349";
}
.qi-arrow-alt-to-bottom:before {
  content: "\f34a";
}
.qi-arrow-alt-to-left:before {
  content: "\f34b";
}
.qi-arrow-alt-to-right:before {
  content: "\f34c";
}
.qi-arrow-alt-to-top:before {
  content: "\f34d";
}
.qi-alarm-clock:before {
  content: "\f34e";
}
.qi-arrow-alt-square-down:before {
  content: "\f350";
}
.qi-arrow-alt-square-left:before {
  content: "\f351";
}
.qi-arrow-alt-square-right:before {
  content: "\f352";
}
.qi-arrow-alt-square-up:before {
  content: "\f353";
}
.qi-arrow-alt-down:before {
  content: "\f354";
}
.qi-arrow-alt-left:before {
  content: "\f355";
}
.qi-arrow-alt-right:before {
  content: "\f356";
}
.qi-arrow-alt-up:before {
  content: "\f357";
}
.qi-arrow-alt-circle-down:before {
  content: "\f358";
}
.qi-arrow-alt-circle-left:before {
  content: "\f359";
}
.qi-arrow-alt-circle-right:before {
  content: "\f35a";
}
.qi-arrow-alt-circle-up:before {
  content: "\f35b";
}
.qi-external-link-alt:before {
  content: "\f35d";
}
.qi-external-link-square-alt:before {
  content: "\f360";
}
.qi-retweet-alt:before {
  content: "\f361";
}
.qi-exchange-alt:before {
  content: "\f362";
}
.qi-repeat:before {
  content: "\f363";
}
.qi-repeat-alt:before {
  content: "\f364";
}
.qi-repeat-1:before {
  content: "\f365";
}
.qi-repeat-1-alt:before {
  content: "\f366";
}
.qi-share-all:before {
  content: "\f367";
}
.qi-battery-bolt:before {
  content: "\f376";
}
.qi-battery-slash:before {
  content: "\f377";
}
.qi-browser:before {
  content: "\f37e";
}
.qi-cloud-download-alt:before {
  content: "\f381";
}
.qi-cloud-upload-alt:before {
  content: "\f382";
}
.qi-code-commit:before {
  content: "\f386";
}
.qi-code-merge:before {
  content: "\f387";
}
.qi-credit-card-blank:before {
  content: "\f389";
}
.qi-credit-card-front:before {
  content: "\f38a";
}
.qi-desktop-alt:before {
  content: "\f390";
}
.qi-ellipsis-h-alt:before {
  content: "\f39b";
}
.qi-ellipsis-v-alt:before {
  content: "\f39c";
}
.qi-film-alt:before {
  content: "\f3a0";
}
.qi-gem:before {
  content: "\f3a5";
}
.qi-industry-alt:before {
  content: "\f3b3";
}
.qi-level-down-alt:before {
  content: "\f3be";
}
.qi-level-up-alt:before {
  content: "\f3bf";
}
.qi-lock-open:before {
  content: "\f3c1";
}
.qi-lock-open-alt:before {
  content: "\f3c2";
}
.qi-map-marker-alt:before {
  content: "\f3c5";
}
.qi-microphone-alt:before {
  content: "\f3c9";
}
.qi-mobile-alt:before {
  content: "\f3cd";
}
.qi-mobile-android:before {
  content: "\f3ce";
}
.qi-mobile-android-alt:before {
  content: "\f3cf";
}
.qi-money-bill-alt:before {
  content: "\f3d1";
}
.qi-phone-slash:before {
  content: "\f3dd";
}
.qi-plane-alt:before {
  content: "\f3de";
}
.qi-portrait:before {
  content: "\f3e0";
}
.qi-reply1:before {
  content: "\f3e5";
}
.qi-shield-alt:before {
  content: "\f3ed";
}
.qi-sliders-h-square:before {
  content: "\f3f0";
}
.qi-sliders-v:before {
  content: "\f3f1";
}
.qi-sliders-v-square:before {
  content: "\f3f2";
}
.qi-spinner-third:before {
  content: "\f3f4";
}
.qi-tablet-alt:before {
  content: "\f3fa";
}
.qi-tablet-android:before {
  content: "\f3fb";
}
.qi-tablet-android-alt:before {
  content: "\f3fc";
}
.qi-tachometer-alt:before {
  content: "\f3fd";
}
.qi-ticket-alt:before {
  content: "\f3ff";
}
.qi-tree-alt:before {
  content: "\f400";
}
.qi-tv-retro:before {
  content: "\f401";
}
.qi-user-alt:before {
  content: "\f406";
}
.qi-window:before {
  content: "\f40e";
}
.qi-window-alt:before {
  content: "\f40f";
}
.qi-window-close:before {
  content: "\f410";
}
.qi-compress-alt:before {
  content: "\f422";
}
.qi-expand-alt:before {
  content: "\f424";
}
.qi-baseball:before {
  content: "\f432";
}
.qi-baseball-ball:before {
  content: "\f433";
}
.qi-basketball-ball:before {
  content: "\f434";
}
.qi-basketball-hoop:before {
  content: "\f435";
}
.qi-bowling-ball:before {
  content: "\f436";
}
.qi-bowling-pins:before {
  content: "\f437";
}
.qi-boxing-glove:before {
  content: "\f438";
}
.qi-chess:before {
  content: "\f439";
}
.qi-chess-bishop:before {
  content: "\f43a";
}
.qi-chess-bishop-alt:before {
  content: "\f43b";
}
.qi-chess-board:before {
  content: "\f43c";
}
.qi-chess-clock:before {
  content: "\f43d";
}
.qi-chess-clock-alt:before {
  content: "\f43e";
}
.qi-chess-king:before {
  content: "\f43f";
}
.qi-chess-king-alt:before {
  content: "\f440";
}
.qi-chess-knight:before {
  content: "\f441";
}
.qi-chess-knight-alt:before {
  content: "\f442";
}
.qi-chess-pawn:before {
  content: "\f443";
}
.qi-chess-pawn-alt:before {
  content: "\f444";
}
.qi-chess-queen:before {
  content: "\f445";
}
.qi-chess-queen-alt:before {
  content: "\f446";
}
.qi-chess-rook:before {
  content: "\f447";
}
.qi-chess-rook-alt:before {
  content: "\f448";
}
.qi-cricket:before {
  content: "\f449";
}
.qi-curling:before {
  content: "\f44a";
}
.qi-dumbbell:before {
  content: "\f44b";
}
.qi-field-hockey:before {
  content: "\f44c";
}
.qi-football-ball:before {
  content: "\f44e";
}
.qi-football-helmet:before {
  content: "\f44f";
}
.qi-golf-ball:before {
  content: "\f450";
}
.qi-golf-club:before {
  content: "\f451";
}
.qi-hockey-puck:before {
  content: "\f453";
}
.qi-hockey-sticks:before {
  content: "\f454";
}
.qi-luchador:before {
  content: "\f455";
}
.qi-pennant:before {
  content: "\f456";
}
.qi-quidditch:before {
  content: "\f458";
}
.qi-racquet:before {
  content: "\f45a";
}
.qi-shuttlecock:before {
  content: "\f45b";
}
.qi-square-full:before {
  content: "\f45c";
}
.qi-table-tennis:before {
  content: "\f45d";
}
.qi-tennis-ball:before {
  content: "\f45e";
}
.qi-volleyball-ball:before {
  content: "\f45f";
}
.qi-whistle:before {
  content: "\f460";
}
.qi-allergies:before {
  content: "\f461";
}
.qi-band-aid:before {
  content: "\f462";
}
.qi-barcode-alt:before {
  content: "\f463";
}
.qi-barcode-read:before {
  content: "\f464";
}
.qi-barcode-scan:before {
  content: "\f465";
}
.qi-box:before {
  content: "\f466";
}
.qi-box-check:before {
  content: "\f467";
}
.qi-boxes:before {
  content: "\f468";
}
.qi-briefcase-medical:before {
  content: "\f469";
}
.qi-burn:before {
  content: "\f46a";
}
.qi-capsules:before {
  content: "\f46b";
}
.qi-clipboard-check:before {
  content: "\f46c";
}
.qi-clipboard-list:before {
  content: "\f46d";
}
.qi-conveyor-belt:before {
  content: "\f46e";
}
.qi-conveyor-belt-alt:before {
  content: "\f46f";
}
.qi-diagnoses:before {
  content: "\f470";
}
.qi-dna:before {
  content: "\f471";
}
.qi-dolly:before {
  content: "\f472";
}
.qi-dolly-empty:before {
  content: "\f473";
}
.qi-dolly-flatbed:before {
  content: "\f474";
}
.qi-dolly-flatbed-alt:before {
  content: "\f475";
}
.qi-dolly-flatbed-empty:before {
  content: "\f476";
}
.qi-file-medical:before {
  content: "\f477";
}
.qi-file-medical-alt:before {
  content: "\f478";
}
.qi-first-aid:before {
  content: "\f479";
}
.qi-forklift:before {
  content: "\f47a";
}
.qi-hand-holding-box:before {
  content: "\f47b";
}
.qi-hand-receiving:before {
  content: "\f47c";
}
.qi-hospital-alt:before {
  content: "\f47d";
}
.qi-hospital-symbol:before {
  content: "\f47e";
}
.qi-id-card-alt:before {
  content: "\f47f";
}
.qi-inventory:before {
  content: "\f480";
}
.qi-notes-medical:before {
  content: "\f481";
}
.qi-pallet:before {
  content: "\f482";
}
.qi-pallet-alt:before {
  content: "\f483";
}
.qi-pills:before {
  content: "\f484";
}
.qi-prescription-bottle:before {
  content: "\f485";
}
.qi-prescription-bottle-alt:before {
  content: "\f486";
}
.qi-procedures:before {
  content: "\f487";
}
.qi-scanner:before {
  content: "\f488";
}
.qi-scanner-keyboard:before {
  content: "\f489";
}
.qi-scanner-touchscreen:before {
  content: "\f48a";
}
.qi-shipping-fast:before {
  content: "\f48b";
}
.qi-shipping-timed:before {
  content: "\f48c";
}
.qi-smoking:before {
  content: "\f48d";
}
.qi-syringe:before {
  content: "\f48e";
}
.qi-tablet-rugged:before {
  content: "\f48f";
}
.qi-tablets:before {
  content: "\f490";
}
.qi-thermometer:before {
  content: "\f491";
}
.qi-vial:before {
  content: "\f492";
}
.qi-vials:before {
  content: "\f493";
}
.qi-warehouse:before {
  content: "\f494";
}
.qi-warehouse-alt:before {
  content: "\f495";
}
.qi-weight:before {
  content: "\f496";
}
.qi-x-ray:before {
  content: "\f497";
}
.qi-blanket:before {
  content: "\f498";
}
.qi-book-heart:before {
  content: "\f499";
}
.qi-box-alt:before {
  content: "\f49a";
}
.qi-box-fragile:before {
  content: "\f49b";
}
.qi-box-full:before {
  content: "\f49c";
}
.qi-box-heart:before {
  content: "\f49d";
}
.qi-box-open:before {
  content: "\f49e";
}
.qi-box-up:before {
  content: "\f49f";
}
.qi-box-usd:before {
  content: "\f4a0";
}
.qi-boxes-alt:before {
  content: "\f4a1";
}
.qi-comment-alt-check:before {
  content: "\f4a2";
}
.qi-comment-alt-dots:before {
  content: "\f4a3";
}
.qi-comment-alt-edit:before {
  content: "\f4a4";
}
.qi-comment-alt-exclamation:before {
  content: "\f4a5";
}
.qi-comment-alt-lines:before {
  content: "\f4a6";
}
.qi-comment-alt-minus:before {
  content: "\f4a7";
}
.qi-comment-alt-plus:before {
  content: "\f4a8";
}
.qi-comment-alt-slash:before {
  content: "\f4a9";
}
.qi-comment-alt-smile:before {
  content: "\f4aa";
}
.qi-comment-alt-times:before {
  content: "\f4ab";
}
.qi-comment-check:before {
  content: "\f4ac";
}
.qi-comment-dots:before {
  content: "\f4ad";
}
.qi-comment-edit:before {
  content: "\f4ae";
}
.qi-comment-exclamation:before {
  content: "\f4af";
}
.qi-comment-lines:before {
  content: "\f4b0";
}
.qi-comment-minus:before {
  content: "\f4b1";
}
.qi-comment-plus:before {
  content: "\f4b2";
}
.qi-comment-slash:before {
  content: "\f4b3";
}
.qi-comment-smile:before {
  content: "\f4b4";
}
.qi-comment-times:before {
  content: "\f4b5";
}
.qi-comments-alt:before {
  content: "\f4b6";
}
.qi-container-storage:before {
  content: "\f4b7";
}
.qi-couch:before {
  content: "\f4b8";
}
.qi-donate:before {
  content: "\f4b9";
}
.qi-dove:before {
  content: "\f4ba";
}
.qi-fragile:before {
  content: "\f4bb";
}
.qi-hand-heart:before {
  content: "\f4bc";
}
.qi-hand-holding:before {
  content: "\f4bd";
}
.qi-hand-holding-heart:before {
  content: "\f4be";
}
.qi-hand-holding-seedling:before {
  content: "\f4bf";
}
.qi-hand-holding-usd:before {
  content: "\f4c0";
}
.qi-hand-holding-water:before {
  content: "\f4c1";
}
.qi-hands:before {
  content: "\f4c2";
}
.qi-hands-heart:before {
  content: "\f4c3";
}
.qi-hands-helping:before {
  content: "\f4c4";
}
.qi-hands-usd:before {
  content: "\f4c5";
}
.qi-handshake-alt:before {
  content: "\f4c6";
}
.qi-heart-circle:before {
  content: "\f4c7";
}
.qi-heart-square:before {
  content: "\f4c8";
}
.qi-home-heart:before {
  content: "\f4c9";
}
.qi-lamp:before {
  content: "\f4ca";
}
.qi-leaf-heart:before {
  content: "\f4cb";
}
.qi-loveseat:before {
  content: "\f4cc";
}
.qi-parachute-box:before {
  content: "\f4cd";
}
.qi-people-carry:before {
  content: "\f4ce";
}
.qi-person-carry:before {
  content: "\f4cf";
}
.qi-person-dolly:before {
  content: "\f4d0";
}
.qi-person-dolly-empty:before {
  content: "\f4d1";
}
.qi-phone-plus:before {
  content: "\f4d2";
}
.qi-piggy-bank:before {
  content: "\f4d3";
}
.qi-ramp-loading:before {
  content: "\f4d4";
}
.qi-ribbon:before {
  content: "\f4d6";
}
.qi-route:before {
  content: "\f4d7";
}
.qi-seedling:before {
  content: "\f4d8";
}
.qi-sign:before {
  content: "\f4d9";
}
.qi-smile-wink:before {
  content: "\f4da";
}
.qi-tape:before {
  content: "\f4db";
}
.qi-truck-container:before {
  content: "\f4dc";
}
.qi-truck-couch:before {
  content: "\f4dd";
}
.qi-truck-loading:before {
  content: "\f4de";
}
.qi-truck-moving:before {
  content: "\f4df";
}
.qi-truck-ramp:before {
  content: "\f4e0";
}
.qi-video-plus:before {
  content: "\f4e1";
}
.qi-video-slash:before {
  content: "\f4e2";
}
.qi-wine-glass:before {
  content: "\f4e3";
}
.qi-user-alt-slash:before {
  content: "\f4fa";
}
.qi-user-astronaut:before {
  content: "\f4fb";
}
.qi-user-check1:before {
  content: "\f4fc";
}
.qi-user-clock:before {
  content: "\f4fd";
}
.qi-user-cog:before {
  content: "\f4fe";
}
.qi-user-edit:before {
  content: "\f4ff";
}
.qi-user-friends:before {
  content: "\f500";
}
.qi-user-graduate:before {
  content: "\f501";
}
.qi-user-lock:before {
  content: "\f502";
}
.qi-user-minus1:before {
  content: "\f503";
}
.qi-user-ninja:before {
  content: "\f504";
}
.qi-user-shield:before {
  content: "\f505";
}
.qi-user-slash:before {
  content: "\f506";
}
.qi-user-tag:before {
  content: "\f507";
}
.qi-user-tie1:before {
  content: "\f508";
}
.qi-users-cog:before {
  content: "\f509";
}
.qi-balance-scale-left:before {
  content: "\f515";
}
.qi-balance-scale-right:before {
  content: "\f516";
}
.qi-blender:before {
  content: "\f517";
}
.qi-book-open:before {
  content: "\f518";
}
.qi-broadcast-tower:before {
  content: "\f519";
}
.qi-broom:before {
  content: "\f51a";
}
.qi-chalkboard:before {
  content: "\f51b";
}
.qi-chalkboard-teacher:before {
  content: "\f51c";
}
.qi-church:before {
  content: "\f51d";
}
.qi-coins:before {
  content: "\f51e";
}
.qi-compact-disc:before {
  content: "\f51f";
}
.qi-crow:before {
  content: "\f520";
}
.qi-crown:before {
  content: "\f521";
}
.qi-dice1:before {
  content: "\f522";
}
.qi-dice-five:before {
  content: "\f523";
}
.qi-dice-four:before {
  content: "\f524";
}
.qi-dice-one:before {
  content: "\f525";
}
.qi-dice-six:before {
  content: "\f526";
}
.qi-dice-three:before {
  content: "\f527";
}
.qi-dice-two:before {
  content: "\f528";
}
.qi-divide:before {
  content: "\f529";
}
.qi-door-closed:before {
  content: "\f52a";
}
.qi-door-open:before {
  content: "\f52b";
}
.qi-equals:before {
  content: "\f52c";
}
.qi-feather:before {
  content: "\f52d";
}
.qi-frog:before {
  content: "\f52e";
}
.qi-gas-pump:before {
  content: "\f52f";
}
.qi-glasses:before {
  content: "\f530";
}
.qi-greater-than:before {
  content: "\f531";
}
.qi-greater-than-equal:before {
  content: "\f532";
}
.qi-helicopter:before {
  content: "\f533";
}
.qi-infinity:before {
  content: "\f534";
}
.qi-kiwi-bird:before {
  content: "\f535";
}
.qi-less-than:before {
  content: "\f536";
}
.qi-less-than-equal:before {
  content: "\f537";
}
.qi-memory:before {
  content: "\f538";
}
.qi-microphone-alt-slash:before {
  content: "\f539";
}
.qi-money-bill-wave:before {
  content: "\f53a";
}
.qi-money-bill-wave-alt:before {
  content: "\f53b";
}
.qi-money-check:before {
  content: "\f53c";
}
.qi-money-check-alt:before {
  content: "\f53d";
}
.qi-not-equal:before {
  content: "\f53e";
}
.qi-palette:before {
  content: "\f53f";
}
.qi-parking:before {
  content: "\f540";
}
.qi-percentage:before {
  content: "\f541";
}
.qi-project-diagram:before {
  content: "\f542";
}
.qi-receipt:before {
  content: "\f543";
}
.qi-robot:before {
  content: "\f544";
}
.qi-ruler:before {
  content: "\f545";
}
.qi-ruler-combined:before {
  content: "\f546";
}
.qi-ruler-horizontal:before {
  content: "\f547";
}
.qi-ruler-vertical:before {
  content: "\f548";
}
.qi-school:before {
  content: "\f549";
}
.qi-screwdriver:before {
  content: "\f54a";
}
.qi-shoe-prints:before {
  content: "\f54b";
}
.qi-skull:before {
  content: "\f54c";
}
.qi-smoking-ban:before {
  content: "\f54d";
}
.qi-store:before {
  content: "\f54e";
}
.qi-store-alt:before {
  content: "\f54f";
}
.qi-stream:before {
  content: "\f550";
}
.qi-stroopwafel:before {
  content: "\f551";
}
.qi-toolbox:before {
  content: "\f552";
}
.qi-tshirt:before {
  content: "\f553";
}
.qi-walking:before {
  content: "\f554";
}
.qi-wallet:before {
  content: "\f555";
}
.qi-angry1:before {
  content: "\f556";
}
.qi-archway:before {
  content: "\f557";
}
.qi-atlas:before {
  content: "\f558";
}
.qi-award:before {
  content: "\f559";
}
.qi-backspace:before {
  content: "\f55a";
}
.qi-bezier-curve:before {
  content: "\f55b";
}
.qi-bong:before {
  content: "\f55c";
}
.qi-brush:before {
  content: "\f55d";
}
.qi-bus-alt:before {
  content: "\f55e";
}
.qi-cannabis:before {
  content: "\f55f";
}
.qi-check-double:before {
  content: "\f560";
}
.qi-cocktail:before {
  content: "\f561";
}
.qi-concierge-bell:before {
  content: "\f562";
}
.qi-cookie:before {
  content: "\f563";
}
.qi-cookie-bite:before {
  content: "\f564";
}
.qi-crop-alt:before {
  content: "\f565";
}
.qi-digital-tachograph:before {
  content: "\f566";
}
.qi-dizzy:before {
  content: "\f567";
}
.qi-drafting-compass:before {
  content: "\f568";
}
.qi-drum:before {
  content: "\f569";
}
.qi-drum-steelpan:before {
  content: "\f56a";
}
.qi-feather-alt:before {
  content: "\f56b";
}
.qi-file-contract:before {
  content: "\f56c";
}
.qi-file-download:before {
  content: "\f56d";
}
.qi-file-export:before {
  content: "\f56e";
}
.qi-file-import:before {
  content: "\f56f";
}
.qi-file-invoice:before {
  content: "\f570";
}
.qi-file-invoice-dollar:before {
  content: "\f571";
}
.qi-file-prescription:before {
  content: "\f572";
}
.qi-file-signature:before {
  content: "\f573";
}
.qi-file-upload:before {
  content: "\f574";
}
.qi-fill:before {
  content: "\f575";
}
.qi-fill-drip:before {
  content: "\f576";
}
.qi-fingerprint:before {
  content: "\f577";
}
.qi-fish:before {
  content: "\f578";
}
.qi-flushed:before {
  content: "\f579";
}
.qi-frown-open:before {
  content: "\f57a";
}
.qi-glass-martini-alt:before {
  content: "\f57b";
}
.qi-globe-africa:before {
  content: "\f57c";
}
.qi-globe-americas:before {
  content: "\f57d";
}
.qi-globe-asia:before {
  content: "\f57e";
}
.qi-grimace:before {
  content: "\f57f";
}
.qi-grin1:before {
  content: "\f580";
}
.qi-grin-alt:before {
  content: "\f581";
}
.qi-grin-beam:before {
  content: "\f582";
}
.qi-grin-beam-sweat:before {
  content: "\f583";
}
.qi-grin-hearts:before {
  content: "\f584";
}
.qi-grin-squint:before {
  content: "\f585";
}
.qi-grin-squint-tears:before {
  content: "\f586";
}
.qi-grin-stars:before {
  content: "\f587";
}
.qi-grin-tears:before {
  content: "\f588";
}
.qi-grin-tongue:before {
  content: "\f589";
}
.qi-grin-tongue-squint:before {
  content: "\f58a";
}
.qi-grin-tongue-wink:before {
  content: "\f58b";
}
.qi-grin-wink:before {
  content: "\f58c";
}
.qi-grip-horizontal:before {
  content: "\f58d";
}
.qi-grip-vertical:before {
  content: "\f58e";
}
.qi-headphones-alt:before {
  content: "\f58f";
}
.qi-headset:before {
  content: "\f590";
}
.qi-highlighter:before {
  content: "\f591";
}
.qi-hot-tub:before {
  content: "\f593";
}
.qi-hotel:before {
  content: "\f594";
}
.qi-joint:before {
  content: "\f595";
}
.qi-kiss:before {
  content: "\f596";
}
.qi-kiss-beam:before {
  content: "\f597";
}
.qi-kiss-wink-heart:before {
  content: "\f598";
}
.qi-laugh:before {
  content: "\f599";
}
.qi-laugh-beam:before {
  content: "\f59a";
}
.qi-laugh-squint:before {
  content: "\f59b";
}
.qi-laugh-wink:before {
  content: "\f59c";
}
.qi-luggage-cart:before {
  content: "\f59d";
}
.qi-map-marked:before {
  content: "\f59f";
}
.qi-map-marked-alt:before {
  content: "\f5a0";
}
.qi-marker:before {
  content: "\f5a1";
}
.qi-medal:before {
  content: "\f5a2";
}
.qi-meh-blank:before {
  content: "\f5a4";
}
.qi-meh-rolling-eyes:before {
  content: "\f5a5";
}
.qi-monument:before {
  content: "\f5a6";
}
.qi-mortar-pestle:before {
  content: "\f5a7";
}
.qi-paint-brush-alt:before {
  content: "\f5a9";
}
.qi-paint-roller:before {
  content: "\f5aa";
}
.qi-passport:before {
  content: "\f5ab";
}
.qi-pen-fancy:before {
  content: "\f5ac";
}
.qi-pen-nib:before {
  content: "\f5ad";
}
.qi-pencil-ruler:before {
  content: "\f5ae";
}
.qi-plane-arrival:before {
  content: "\f5af";
}
.qi-plane-departure:before {
  content: "\f5b0";
}
.qi-prescription:before {
  content: "\f5b1";
}
.qi-sad-cry:before {
  content: "\f5b3";
}
.qi-sad-tear:before {
  content: "\f5b4";
}
.qi-shuttle-van:before {
  content: "\f5b6";
}
.qi-signature:before {
  content: "\f5b7";
}
.qi-smile-beam:before {
  content: "\f5b8";
}
.qi-smile-plus:before {
  content: "\f5b9";
}
.qi-solar-panel:before {
  content: "\f5ba";
}
.qi-spa:before {
  content: "\f5bb";
}
.qi-splotch:before {
  content: "\f5bc";
}
.qi-spray-can:before {
  content: "\f5bd";
}
.qi-stamp:before {
  content: "\f5bf";
}
.qi-star-half-alt:before {
  content: "\f5c0";
}
.qi-suitcase-rolling:before {
  content: "\f5c1";
}
.qi-surprise:before {
  content: "\f5c2";
}
.qi-swatchbook:before {
  content: "\f5c3";
}
.qi-swimmer:before {
  content: "\f5c4";
}
.qi-swimming-pool:before {
  content: "\f5c5";
}
.qi-tint-slash:before {
  content: "\f5c7";
}
.qi-tired:before {
  content: "\f5c8";
}
.qi-tooth:before {
  content: "\f5c9";
}
.qi-umbrella-beach:before {
  content: "\f5ca";
}
.qi-vector-square:before {
  content: "\f5cb";
}
.qi-weight-hanging:before {
  content: "\f5cd";
}
.qi-wine-glass-alt:before {
  content: "\f5ce";
}
.qi-air-freshener:before {
  content: "\f5d0";
}
.qi-apple-alt:before {
  content: "\f5d1";
}
.qi-atom:before {
  content: "\f5d2";
}
.qi-atom-alt:before {
  content: "\f5d3";
}
.qi-backpack:before {
  content: "\f5d4";
}
.qi-bell-school:before {
  content: "\f5d5";
}
.qi-bell-school-slash:before {
  content: "\f5d6";
}
.qi-bone:before {
  content: "\f5d7";
}
.qi-bone-break:before {
  content: "\f5d8";
}
.qi-book-alt:before {
  content: "\f5d9";
}
.qi-book-reader:before {
  content: "\f5da";
}
.qi-books1:before {
  content: "\f5db";
}
.qi-brain:before {
  content: "\f5dc";
}
.qi-bus-school:before {
  content: "\f5dd";
}
.qi-car-alt:before {
  content: "\f5de";
}
.qi-car-battery:before {
  content: "\f5df";
}
.qi-car-bump:before {
  content: "\f5e0";
}
.qi-car-crash:before {
  content: "\f5e1";
}
.qi-car-garage:before {
  content: "\f5e2";
}
.qi-car-mechanic:before {
  content: "\f5e3";
}
.qi-car-side:before {
  content: "\f5e4";
}
.qi-car-tilt:before {
  content: "\f5e5";
}
.qi-car-wash:before {
  content: "\f5e6";
}
.qi-charging-station:before {
  content: "\f5e7";
}
.qi-clipboard-prescription:before {
  content: "\f5e8";
}
.qi-compass-slash:before {
  content: "\f5e9";
}
.qi-diploma:before {
  content: "\f5ea";
}
.qi-directions:before {
  content: "\f5eb";
}
.qi-do-not-enter:before {
  content: "\f5ec";
}
.qi-draw-circle:before {
  content: "\f5ed";
}
.qi-draw-polygon:before {
  content: "\f5ee";
}
.qi-draw-square:before {
  content: "\f5ef";
}
.qi-ear:before {
  content: "\f5f0";
}
.qi-engine-warning:before {
  content: "\f5f2";
}
.qi-file-certificate:before {
  content: "\f5f3";
}
.qi-gas-pump-slash:before {
  content: "\f5f4";
}
.qi-glasses-alt:before {
  content: "\f5f5";
}
.qi-globe-stand:before {
  content: "\f5f6";
}
.qi-heart-rate:before {
  content: "\f5f8";
}
.qi-inhaler:before {
  content: "\f5f9";
}
.qi-kidneys:before {
  content: "\f5fb";
}
.qi-laptop-code:before {
  content: "\f5fc";
}
.qi-layer-group:before {
  content: "\f5fd";
}
.qi-layer-minus:before {
  content: "\f5fe";
}
.qi-layer-plus:before {
  content: "\f5ff";
}
.qi-lips:before {
  content: "\f600";
}
.qi-location1:before {
  content: "\f601";
}
.qi-location-circle:before {
  content: "\f602";
}
.qi-location-slash:before {
  content: "\f603";
}
.qi-lungs:before {
  content: "\f604";
}
.qi-map-marker-alt-slash:before {
  content: "\f605";
}
.qi-map-marker-check:before {
  content: "\f606";
}
.qi-map-marker-edit:before {
  content: "\f607";
}
.qi-map-marker-exclamation:before {
  content: "\f608";
}
.qi-map-marker-minus:before {
  content: "\f609";
}
.qi-map-marker-plus:before {
  content: "\f60a";
}
.qi-map-marker-question:before {
  content: "\f60b";
}
.qi-map-marker-slash:before {
  content: "\f60c";
}
.qi-map-marker-smile:before {
  content: "\f60d";
}
.qi-map-marker-times:before {
  content: "\f60e";
}
.qi-microscope:before {
  content: "\f610";
}
.qi-monitor-heart-rate:before {
  content: "\f611";
}
.qi-oil-can:before {
  content: "\f613";
}
.qi-oil-temp:before {
  content: "\f614";
}
.qi-parking-circle:before {
  content: "\f615";
}
.qi-parking-circle-slash:before {
  content: "\f616";
}
.qi-parking-slash:before {
  content: "\f617";
}
.qi-pencil-paintbrush:before {
  content: "\f618";
}
.qi-poop:before {
  content: "\f619";
}
.qi-route-highway:before {
  content: "\f61a";
}
.qi-route-interstate:before {
  content: "\f61b";
}
.qi-ruler-triangle:before {
  content: "\f61c";
}
.qi-scalpel:before {
  content: "\f61d";
}
.qi-scalpel-path:before {
  content: "\f61e";
}
.qi-shapes:before {
  content: "\f61f";
}
.qi-skeleton:before {
  content: "\f620";
}
.qi-star-of-life:before {
  content: "\f621";
}
.qi-steering-wheel:before {
  content: "\f622";
}
.qi-stomach:before {
  content: "\f623";
}
.qi-tachometer-alt-average:before {
  content: "\f624";
}
.qi-tachometer-alt-fast:before {
  content: "\f625";
}
.qi-tachometer-alt-fastest:before {
  content: "\f626";
}
.qi-tachometer-alt-slow:before {
  content: "\f627";
}
.qi-tachometer-alt-slowest:before {
  content: "\f628";
}
.qi-tachometer-average:before {
  content: "\f629";
}
.qi-tachometer-fast:before {
  content: "\f62a";
}
.qi-tachometer-fastest:before {
  content: "\f62b";
}
.qi-tachometer-slow:before {
  content: "\f62c";
}
.qi-tachometer-slowest:before {
  content: "\f62d";
}
.qi-teeth:before {
  content: "\f62e";
}
.qi-teeth-open:before {
  content: "\f62f";
}
.qi-theater-masks:before {
  content: "\f630";
}
.qi-tire:before {
  content: "\f631";
}
.qi-tire-flat:before {
  content: "\f632";
}
.qi-tire-pressure-warning:before {
  content: "\f633";
}
.qi-tire-rugged:before {
  content: "\f634";
}
.qi-toothbrush:before {
  content: "\f635";
}
.qi-traffic-cone:before {
  content: "\f636";
}
.qi-traffic-light:before {
  content: "\f637";
}
.qi-traffic-light-go:before {
  content: "\f638";
}
.qi-traffic-light-slow:before {
  content: "\f639";
}
.qi-traffic-light-stop:before {
  content: "\f63a";
}
.qi-truck-monster:before {
  content: "\f63b";
}
.qi-truck-pickup:before {
  content: "\f63c";
}
.qi-users-class:before {
  content: "\f63d";
}
.qi-watch-fitness:before {
  content: "\f63e";
}
.qi-abacus:before {
  content: "\f640";
}
.qi-ad:before {
  content: "\f641";
}
.qi-analytics:before {
  content: "\f643";
}
.qi-ankh:before {
  content: "\f644";
}
.qi-badge-dollar:before {
  content: "\f645";
}
.qi-badge-percent:before {
  content: "\f646";
}
.qi-bible:before {
  content: "\f647";
}
.qi-bullseye-arrow:before {
  content: "\f648";
}
.qi-bullseye-pointer:before {
  content: "\f649";
}
.qi-business-time:before {
  content: "\f64a";
}
.qi-cabinet-filing:before {
  content: "\f64b";
}
.qi-calculator-alt:before {
  content: "\f64c";
}
.qi-chart-line-down:before {
  content: "\f64d";
}
.qi-chart-pie-alt:before {
  content: "\f64e";
}
.qi-city:before {
  content: "\f64f";
}
.qi-comment-alt-dollar:before {
  content: "\f650";
}
.qi-comment-dollar:before {
  content: "\f651";
}
.qi-comments-alt-dollar:before {
  content: "\f652";
}
.qi-comments-dollar:before {
  content: "\f653";
}
.qi-cross1:before {
  content: "\f654";
}
.qi-dharmachakra:before {
  content: "\f655";
}
.qi-empty-set:before {
  content: "\f656";
}
.qi-envelope-open-dollar:before {
  content: "\f657";
}
.qi-envelope-open-text:before {
  content: "\f658";
}
.qi-file-chart-line:before {
  content: "\f659";
}
.qi-file-chart-pie:before {
  content: "\f65a";
}
.qi-file-spreadsheet:before {
  content: "\f65b";
}
.qi-file-user:before {
  content: "\f65c";
}
.qi-folder-minus1:before {
  content: "\f65d";
}
.qi-folder-plus1:before {
  content: "\f65e";
}
.qi-folder-times:before {
  content: "\f65f";
}
.qi-folders:before {
  content: "\f660";
}
.qi-function:before {
  content: "\f661";
}
.qi-funnel-dollar:before {
  content: "\f662";
}
.qi-gift-card:before {
  content: "\f663";
}
.qi-gopuram:before {
  content: "\f664";
}
.qi-hamsa:before {
  content: "\f665";
}
.qi-bahai:before {
  content: "\f666";
}
.qi-integral:before {
  content: "\f667";
}
.qi-intersection:before {
  content: "\f668";
}
.qi-jedi:before {
  content: "\f669";
}
.qi-journal-whills:before {
  content: "\f66a";
}
.qi-kaaba:before {
  content: "\f66b";
}
.qi-keynote:before {
  content: "\f66c";
}
.qi-khanda:before {
  content: "\f66d";
}
.qi-lambda:before {
  content: "\f66e";
}
.qi-landmark:before {
  content: "\f66f";
}
.qi-lightbulb-dollar:before {
  content: "\f670";
}
.qi-lightbulb-exclamation:before {
  content: "\f671";
}
.qi-lightbulb-on:before {
  content: "\f672";
}
.qi-lightbulb-slash:before {
  content: "\f673";
}
.qi-mail-bulk:before {
  content: "\f674";
}
.qi-megaphone:before {
  content: "\f675";
}
.qi-menorah:before {
  content: "\f676";
}
.qi-mind-share:before {
  content: "\f677";
}
.qi-mosque:before {
  content: "\f678";
}
.qi-om:before {
  content: "\f679";
}
.qi-omega1:before {
  content: "\f67a";
}
.qi-pastafarianism:before {
  content: "\f67b";
}
.qi-peace:before {
  content: "\f67c";
}
.qi-phone-office:before {
  content: "\f67d";
}
.qi-pi:before {
  content: "\f67e";
}
.qi-place-of-worship:before {
  content: "\f67f";
}
.qi-podium:before {
  content: "\f680";
}
.qi-poll:before {
  content: "\f681";
}
.qi-poll-h:before {
  content: "\f682";
}
.qi-pray:before {
  content: "\f683";
}
.qi-praying-hands:before {
  content: "\f684";
}
.qi-presentation:before {
  content: "\f685";
}
.qi-print-slash:before {
  content: "\f686";
}
.qi-quran:before {
  content: "\f687";
}
.qi-search-dollar:before {
  content: "\f688";
}
.qi-search-location:before {
  content: "\f689";
}
.qi-shredder:before {
  content: "\f68a";
}
.qi-sigma1:before {
  content: "\f68b";
}
.qi-signal-1:before {
  content: "\f68c";
}
.qi-signal-2:before {
  content: "\f68d";
}
.qi-signal-3:before {
  content: "\f68e";
}
.qi-signal-4:before {
  content: "\f68f";
}
.qi-signal-alt:before {
  content: "\f690";
}
.qi-signal-alt-1:before {
  content: "\f691";
}
.qi-signal-alt-2:before {
  content: "\f692";
}
.qi-signal-alt-3:before {
  content: "\f693";
}
.qi-signal-alt-slash:before {
  content: "\f694";
}
.qi-signal-slash:before {
  content: "\f695";
}
.qi-socks:before {
  content: "\f696";
}
.qi-square-root:before {
  content: "\f697";
}
.qi-square-root-alt:before {
  content: "\f698";
}
.qi-star-and-crescent:before {
  content: "\f699";
}
.qi-star-of-david:before {
  content: "\f69a";
}
.qi-synagogue:before {
  content: "\f69b";
}
.qi-tally:before {
  content: "\f69c";
}
.qi-theta:before {
  content: "\f69e";
}
.qi-tilde:before {
  content: "\f69f";
}
.qi-torah:before {
  content: "\f6a0";
}
.qi-torii-gate:before {
  content: "\f6a1";
}
.qi-union:before {
  content: "\f6a2";
}
.qi-user-chart:before {
  content: "\f6a3";
}
.qi-user-crown:before {
  content: "\f6a4";
}
.qi-users-crown:before {
  content: "\f6a5";
}
.qi-value-absolute:before {
  content: "\f6a6";
}
.qi-vihara:before {
  content: "\f6a7";
}
.qi-volume:before {
  content: "\f6a8";
}
.qi-volume-mute1:before {
  content: "\f6a9";
}
.qi-wifi-1:before {
  content: "\f6aa";
}
.qi-wifi-2:before {
  content: "\f6ab";
}
.qi-wifi-slash:before {
  content: "\f6ac";
}
.qi-yin-yang:before {
  content: "\f6ad";
}
.qi-acorn:before {
  content: "\f6ae";
}
.qi-alicorn:before {
  content: "\f6b0";
}
.qi-apple-crate:before {
  content: "\f6b1";
}
.qi-axe:before {
  content: "\f6b2";
}
.qi-axe-battle:before {
  content: "\f6b3";
}
.qi-badger-honey:before {
  content: "\f6b4";
}
.qi-bat:before {
  content: "\f6b5";
}
.qi-blender-phone:before {
  content: "\f6b6";
}
.qi-book-dead:before {
  content: "\f6b7";
}
.qi-book-spells:before {
  content: "\f6b8";
}
.qi-bow-arrow:before {
  content: "\f6b9";
}
.qi-campfire:before {
  content: "\f6ba";
}
.qi-campground:before {
  content: "\f6bb";
}
.qi-candle-holder:before {
  content: "\f6bc";
}
.qi-candy-corn:before {
  content: "\f6bd";
}
.qi-cat:before {
  content: "\f6be";
}
.qi-cauldron:before {
  content: "\f6bf";
}
.qi-chair:before {
  content: "\f6c0";
}
.qi-chair-office:before {
  content: "\f6c1";
}
.qi-claw-marks:before {
  content: "\f6c2";
}
.qi-cloud-moon:before {
  content: "\f6c3";
}
.qi-cloud-sun:before {
  content: "\f6c4";
}
.qi-coffee-togo:before {
  content: "\f6c5";
}
.qi-coffin:before {
  content: "\f6c6";
}
.qi-corn:before {
  content: "\f6c7";
}
.qi-cow:before {
  content: "\f6c8";
}
.qi-dagger:before {
  content: "\f6cb";
}
.qi-dice-d10:before {
  content: "\f6cd";
}
.qi-dice-d12:before {
  content: "\f6ce";
}
.qi-dice-d20:before {
  content: "\f6cf";
}
.qi-dice-d4:before {
  content: "\f6d0";
}
.qi-dice-d6:before {
  content: "\f6d1";
}
.qi-dice-d8:before {
  content: "\f6d2";
}
.qi-dog:before {
  content: "\f6d3";
}
.qi-dog-leashed:before {
  content: "\f6d4";
}
.qi-dragon:before {
  content: "\f6d5";
}
.qi-drumstick:before {
  content: "\f6d6";
}
.qi-drumstick-bite:before {
  content: "\f6d7";
}
.qi-duck:before {
  content: "\f6d8";
}
.qi-dungeon:before {
  content: "\f6d9";
}
.qi-elephant:before {
  content: "\f6da";
}
.qi-eye-evil:before {
  content: "\f6db";
}
.qi-file-csv:before {
  content: "\f6dd";
}
.qi-fist-raised:before {
  content: "\f6de";
}
.qi-flame:before {
  content: "\f6df";
}
.qi-flask-poison:before {
  content: "\f6e0";
}
.qi-flask-potion:before {
  content: "\f6e1";
}
.qi-ghost:before {
  content: "\f6e2";
}
.qi-hammer1:before {
  content: "\f6e3";
}
.qi-hammer-war:before {
  content: "\f6e4";
}
.qi-hand-holding-magic:before {
  content: "\f6e5";
}
.qi-hanukiah:before {
  content: "\f6e6";
}
.qi-hat-witch:before {
  content: "\f6e7";
}
.qi-hat-wizard:before {
  content: "\f6e8";
}
.qi-head-side:before {
  content: "\f6e9";
}
.qi-head-vr:before {
  content: "\f6ea";
}
.qi-helmet-battle:before {
  content: "\f6eb";
}
.qi-hiking:before {
  content: "\f6ec";
}
.qi-hippo:before {
  content: "\f6ed";
}
.qi-hockey-mask:before {
  content: "\f6ee";
}
.qi-hood-cloak:before {
  content: "\f6ef";
}
.qi-horse:before {
  content: "\f6f0";
}
.qi-house-damage:before {
  content: "\f6f1";
}
.qi-hryvnia:before {
  content: "\f6f2";
}
.qi-key-skeleton:before {
  content: "\f6f3";
}
.qi-kite:before {
  content: "\f6f4";
}
.qi-knife-kitchen:before {
  content: "\f6f5";
}
.qi-leaf-maple:before {
  content: "\f6f6";
}
.qi-leaf-oak:before {
  content: "\f6f7";
}
.qi-mace:before {
  content: "\f6f8";
}
.qi-mandolin:before {
  content: "\f6f9";
}
.qi-mask:before {
  content: "\f6fa";
}
.qi-monkey:before {
  content: "\f6fb";
}
.qi-mountain:before {
  content: "\f6fc";
}
.qi-mountains:before {
  content: "\f6fd";
}
.qi-narwhal:before {
  content: "\f6fe";
}
.qi-network-wired:before {
  content: "\f6ff";
}
.qi-otter:before {
  content: "\f700";
}
.qi-paw-alt:before {
  content: "\f701";
}
.qi-paw-claws:before {
  content: "\f702";
}
.qi-pegasus:before {
  content: "\f703";
}
.qi-pie:before {
  content: "\f705";
}
.qi-pig:before {
  content: "\f706";
}
.qi-pumpkin:before {
  content: "\f707";
}
.qi-rabbit:before {
  content: "\f708";
}
.qi-rabbit-fast:before {
  content: "\f709";
}
.qi-ram:before {
  content: "\f70a";
}
.qi-ring:before {
  content: "\f70b";
}
.qi-running:before {
  content: "\f70c";
}
.qi-scarecrow:before {
  content: "\f70d";
}
.qi-scroll:before {
  content: "\f70e";
}
.qi-scroll-old:before {
  content: "\f70f";
}
.qi-scythe:before {
  content: "\f710";
}
.qi-sheep:before {
  content: "\f711";
}
.qi-shield-cross:before {
  content: "\f712";
}
.qi-shovel:before {
  content: "\f713";
}
.qi-skull-crossbones:before {
  content: "\f714";
}
.qi-slash:before {
  content: "\f715";
}
.qi-snake:before {
  content: "\f716";
}
.qi-spider:before {
  content: "\f717";
}
.qi-spider-black-widow:before {
  content: "\f718";
}
.qi-spider-web:before {
  content: "\f719";
}
.qi-squirrel:before {
  content: "\f71a";
}
.qi-staff:before {
  content: "\f71b";
}
.qi-sword:before {
  content: "\f71c";
}
.qi-swords:before {
  content: "\f71d";
}
.qi-toilet-paper:before {
  content: "\f71e";
}
.qi-toilet-paper-alt:before {
  content: "\f71f";
}
.qi-tombstone:before {
  content: "\f720";
}
.qi-tombstone-alt:before {
  content: "\f721";
}
.qi-tractor:before {
  content: "\f722";
}
.qi-treasure-chest:before {
  content: "\f723";
}
.qi-trees:before {
  content: "\f724";
}
.qi-turkey:before {
  content: "\f725";
}
.qi-turtle:before {
  content: "\f726";
}
.qi-unicorn:before {
  content: "\f727";
}
.qi-user-injured:before {
  content: "\f728";
}
.qi-vr-cardboard:before {
  content: "\f729";
}
.qi-wand:before {
  content: "\f72a";
}
.qi-wand-magic:before {
  content: "\f72b";
}
.qi-whale:before {
  content: "\f72c";
}
.qi-wheat:before {
  content: "\f72d";
}
.qi-wind:before {
  content: "\f72e";
}
.qi-wine-bottle:before {
  content: "\f72f";
}
.qi-ballot:before {
  content: "\f732";
}
.qi-ballot-check:before {
  content: "\f733";
}
.qi-booth-curtain:before {
  content: "\f734";
}
.qi-box-ballot:before {
  content: "\f735";
}
.qi-calendar-star:before {
  content: "\f736";
}
.qi-clipboard-list-check:before {
  content: "\f737";
}
.qi-cloud-drizzle:before {
  content: "\f738";
}
.qi-cloud-hail:before {
  content: "\f739";
}
.qi-cloud-hail-mixed:before {
  content: "\f73a";
}
.qi-cloud-meatball:before {
  content: "\f73b";
}
.qi-cloud-moon-rain:before {
  content: "\f73c";
}
.qi-cloud-rain:before {
  content: "\f73d";
}
.qi-cloud-rainbow:before {
  content: "\f73e";
}
.qi-cloud-showers:before {
  content: "\f73f";
}
.qi-cloud-showers-heavy:before {
  content: "\f740";
}
.qi-cloud-sleet:before {
  content: "\f741";
}
.qi-cloud-snow:before {
  content: "\f742";
}
.qi-cloud-sun-rain:before {
  content: "\f743";
}
.qi-clouds:before {
  content: "\f744";
}
.qi-clouds-moon:before {
  content: "\f745";
}
.qi-clouds-sun:before {
  content: "\f746";
}
.qi-democrat:before {
  content: "\f747";
}
.qi-dewpoint:before {
  content: "\f748";
}
.qi-eclipse:before {
  content: "\f749";
}
.qi-eclipse-alt:before {
  content: "\f74a";
}
.qi-fire-smoke:before {
  content: "\f74b";
}
.qi-flag-alt:before {
  content: "\f74c";
}
.qi-flag-usa:before {
  content: "\f74d";
}
.qi-fog:before {
  content: "\f74e";
}
.qi-house-flood:before {
  content: "\f74f";
}
.qi-humidity:before {
  content: "\f750";
}
.qi-hurricane:before {
  content: "\f751";
}
.qi-landmark-alt:before {
  content: "\f752";
}
.qi-meteor:before {
  content: "\f753";
}
.qi-moon-cloud:before {
  content: "\f754";
}
.qi-moon-stars:before {
  content: "\f755";
}
.qi-person-booth:before {
  content: "\f756";
}
.qi-person-sign:before {
  content: "\f757";
}
.qi-podium-star:before {
  content: "\f758";
}
.qi-poll-people:before {
  content: "\f759";
}
.qi-poo-storm:before {
  content: "\f75a";
}
.qi-rainbow:before {
  content: "\f75b";
}
.qi-raindrops:before {
  content: "\f75c";
}
.qi-republican:before {
  content: "\f75e";
}
.qi-smog:before {
  content: "\f75f";
}
.qi-smoke:before {
  content: "\f760";
}
.qi-snow-blowing:before {
  content: "\f761";
}
.qi-stars:before {
  content: "\f762";
}
.qi-sun-cloud:before {
  content: "\f763";
}
.qi-sun-dust:before {
  content: "\f764";
}
.qi-sun-haze:before {
  content: "\f765";
}
.qi-sunrise:before {
  content: "\f766";
}
.qi-sunset:before {
  content: "\f767";
}
.qi-temperature-frigid:before {
  content: "\f768";
}
.qi-temperature-high:before {
  content: "\f769";
}
.qi-temperature-hot:before {
  content: "\f76a";
}
.qi-temperature-low:before {
  content: "\f76b";
}
.qi-thunderstorm:before {
  content: "\f76c";
}
.qi-thunderstorm-moon:before {
  content: "\f76d";
}
.qi-thunderstorm-sun:before {
  content: "\f76e";
}
.qi-tornado:before {
  content: "\f76f";
}
.qi-volcano:before {
  content: "\f770";
}
.qi-vote-nay:before {
  content: "\f771";
}
.qi-vote-yea:before {
  content: "\f772";
}
.qi-water:before {
  content: "\f773";
}
.qi-water-lower:before {
  content: "\f774";
}
.qi-water-rise:before {
  content: "\f775";
}
.qi-wind-warning:before {
  content: "\f776";
}
.qi-windsock:before {
  content: "\f777";
}
.qi-angel:before {
  content: "\f779";
}
.qi-baby:before {
  content: "\f77c";
}
.qi-baby-carriage:before {
  content: "\f77d";
}
.qi-ball-pile:before {
  content: "\f77e";
}
.qi-bells:before {
  content: "\f77f";
}
.qi-biohazard:before {
  content: "\f780";
}
.qi-blog1:before {
  content: "\f781";
}
.qi-boot:before {
  content: "\f782";
}
.qi-calendar-day:before {
  content: "\f783";
}
.qi-calendar-week:before {
  content: "\f784";
}
.qi-candy-cane:before {
  content: "\f786";
}
.qi-carrot:before {
  content: "\f787";
}
.qi-cash-register:before {
  content: "\f788";
}
.qi-chart-network:before {
  content: "\f78a";
}
.qi-chimney:before {
  content: "\f78b";
}
.qi-compress-arrows-alt:before {
  content: "\f78c";
}
.qi-deer:before {
  content: "\f78e";
}
.qi-deer-rudolph:before {
  content: "\f78f";
}
.qi-dreidel:before {
  content: "\f792";
}
.qi-dumpster:before {
  content: "\f793";
}
.qi-dumpster-fire:before {
  content: "\f794";
}
.qi-ear-muffs:before {
  content: "\f795";
}
.qi-ethernet:before {
  content: "\f796";
}
.qi-fireplace:before {
  content: "\f79a";
}
.qi-frosty-head:before {
  content: "\f79b";
}
.qi-gifts:before {
  content: "\f79c";
}
.qi-gingerbread-man:before {
  content: "\f79d";
}
.qi-glass-champagne:before {
  content: "\f79e";
}
.qi-glass-cheers:before {
  content: "\f79f";
}
.qi-glass-whiskey:before {
  content: "\f7a0";
}
.qi-glass-whiskey-rocks:before {
  content: "\f7a1";
}
.qi-globe-europe:before {
  content: "\f7a2";
}
.qi-globe-snow:before {
  content: "\f7a3";
}
.qi-grip-lines:before {
  content: "\f7a4";
}
.qi-grip-lines-vertical:before {
  content: "\f7a5";
}
.qi-guitar:before {
  content: "\f7a6";
}
.qi-hat-santa:before {
  content: "\f7a7";
}
.qi-hat-winter:before {
  content: "\f7a8";
}
.qi-heart-broken1:before {
  content: "\f7a9";
}
.qi-holly-berry:before {
  content: "\f7aa";
}
.qi-horse-head:before {
  content: "\f7ab";
}
.qi-ice-skate:before {
  content: "\f7ac";
}
.qi-icicles:before {
  content: "\f7ad";
}
.qi-igloo:before {
  content: "\f7ae";
}
.qi-lights-holiday:before {
  content: "\f7b2";
}
.qi-mistletoe:before {
  content: "\f7b4";
}
.qi-mitten:before {
  content: "\f7b5";
}
.qi-mug-hot:before {
  content: "\f7b6";
}
.qi-mug-marshmallows:before {
  content: "\f7b7";
}
.qi-ornament:before {
  content: "\f7b8";
}
.qi-radiation:before {
  content: "\f7b9";
}
.qi-radiation-alt:before {
  content: "\f7ba";
}
.qi-restroom:before {
  content: "\f7bd";
}
.qi-rv:before {
  content: "\f7be";
}
.qi-satellite:before {
  content: "\f7bf";
}
.qi-satellite-dish:before {
  content: "\f7c0";
}
.qi-scarf:before {
  content: "\f7c1";
}
.qi-sd-card:before {
  content: "\f7c2";
}
.qi-shovel-snow:before {
  content: "\f7c3";
}
.qi-sim-card:before {
  content: "\f7c4";
}
.qi-skating:before {
  content: "\f7c5";
}
.qi-ski-jump:before {
  content: "\f7c7";
}
.qi-ski-lift:before {
  content: "\f7c8";
}
.qi-skiing:before {
  content: "\f7c9";
}
.qi-skiing-nordic:before {
  content: "\f7ca";
}
.qi-sledding:before {
  content: "\f7cb";
}
.qi-sleigh:before {
  content: "\f7cc";
}
.qi-sms:before {
  content: "\f7cd";
}
.qi-snowboarding:before {
  content: "\f7ce";
}
.qi-snowflakes:before {
  content: "\f7cf";
}
.qi-snowman:before {
  content: "\f7d0";
}
.qi-snowmobile:before {
  content: "\f7d1";
}
.qi-snowplow:before {
  content: "\f7d2";
}
.qi-star-christmas:before {
  content: "\f7d4";
}
.qi-stocking:before {
  content: "\f7d5";
}
.qi-tenge:before {
  content: "\f7d7";
}
.qi-toilet:before {
  content: "\f7d8";
}
.qi-tools:before {
  content: "\f7d9";
}
.qi-tram:before {
  content: "\f7da";
}
.qi-tree-christmas:before {
  content: "\f7db";
}
.qi-tree-decorated:before {
  content: "\f7dc";
}
.qi-tree-large:before {
  content: "\f7dd";
}
.qi-truck-plow:before {
  content: "\f7de";
}
.qi-wreath:before {
  content: "\f7e2";
}
.qi-fire-alt:before {
  content: "\f7e4";
}
.qi-bacon:before {
  content: "\f7e5";
}
.qi-book-medical:before {
  content: "\f7e6";
}
.qi-book-user:before {
  content: "\f7e7";
}
.qi-books-medical:before {
  content: "\f7e8";
}
.qi-brackets:before {
  content: "\f7e9";
}
.qi-brackets-curly:before {
  content: "\f7ea";
}
.qi-bread-loaf:before {
  content: "\f7eb";
}
.qi-bread-slice:before {
  content: "\f7ec";
}
.qi-burrito:before {
  content: "\f7ed";
}
.qi-chart-scatter:before {
  content: "\f7ee";
}
.qi-cheese:before {
  content: "\f7ef";
}
.qi-cheese-swiss:before {
  content: "\f7f0";
}
.qi-cheeseburger:before {
  content: "\f7f1";
}
.qi-clinic-medical:before {
  content: "\f7f2";
}
.qi-clipboard-user:before {
  content: "\f7f3";
}
.qi-comment-alt-medical:before {
  content: "\f7f4";
}
.qi-comment-medical:before {
  content: "\f7f5";
}
.qi-croissant:before {
  content: "\f7f6";
}
.qi-crutch:before {
  content: "\f7f7";
}
.qi-crutches:before {
  content: "\f7f8";
}
.qi-debug:before {
  content: "\f7f9";
}
.qi-disease:before {
  content: "\f7fa";
}
.qi-egg:before {
  content: "\f7fb";
}
.qi-egg-fried:before {
  content: "\f7fc";
}
.qi-files-medical:before {
  content: "\f7fd";
}
.qi-fish-cooked:before {
  content: "\f7fe";
}
.qi-flower:before {
  content: "\f7ff";
}
.qi-flower-daffodil:before {
  content: "\f800";
}
.qi-flower-tulip:before {
  content: "\f801";
}
.qi-folder-tree:before {
  content: "\f802";
}
.qi-french-fries:before {
  content: "\f803";
}
.qi-glass1:before {
  content: "\f804";
}
.qi-hamburger:before {
  content: "\f805";
}
.qi-hand-middle-finger:before {
  content: "\f806";
}
.qi-hard-hat:before {
  content: "\f807";
}
.qi-head-side-brain:before {
  content: "\f808";
}
.qi-head-side-medical:before {
  content: "\f809";
}
.qi-home-alt:before {
  content: "\f80a";
}
.qi-home-lg:before {
  content: "\f80b";
}
.qi-home-lg-alt:before {
  content: "\f80c";
}
.qi-hospital-user:before {
  content: "\f80d";
}
.qi-hospitals:before {
  content: "\f80e";
}
.qi-hotdog:before {
  content: "\f80f";
}
.qi-ice-cream:before {
  content: "\f810";
}
.qi-island-tropical:before {
  content: "\f811";
}
.qi-laptop-medical:before {
  content: "\f812";
}
.qi-mailbox:before {
  content: "\f813";
}
.qi-meat:before {
  content: "\f814";
}
.qi-pager:before {
  content: "\f815";
}
.qi-pepper-hot:before {
  content: "\f816";
}
.qi-pizza:before {
  content: "\f817";
}
.qi-pizza-slice:before {
  content: "\f818";
}
.qi-popcorn:before {
  content: "\f819";
}
.qi-print-search:before {
  content: "\f81a";
}
.qi-rings-wedding:before {
  content: "\f81b";
}
.qi-sack:before {
  content: "\f81c";
}
.qi-sack-dollar:before {
  content: "\f81d";
}
.qi-salad:before {
  content: "\f81e";
}
.qi-sandwich:before {
  content: "\f81f";
}
.qi-sausage:before {
  content: "\f820";
}
.qi-shish-kebab:before {
  content: "\f821";
}
.qi-sickle:before {
  content: "\f822";
}
.qi-soup:before {
  content: "\f823";
}
.qi-steak:before {
  content: "\f824";
}
.qi-stretcher:before {
  content: "\f825";
}
.qi-taco:before {
  content: "\f826";
}
.qi-tanakh:before {
  content: "\f827";
}
.qi-tasks-alt:before {
  content: "\f828";
}
.qi-trash-restore:before {
  content: "\f829";
}
.qi-trash-restore-alt:before {
  content: "\f82a";
}
.qi-tree-palm:before {
  content: "\f82b";
}
.qi-user-hard-hat:before {
  content: "\f82c";
}
.qi-user-headset:before {
  content: "\f82d";
}
.qi-user-md-chat:before {
  content: "\f82e";
}
.qi-user-nurse:before {
  content: "\f82f";
}
.qi-users-medical:before {
  content: "\f830";
}
.qi-walker:before {
  content: "\f831";
}
.qi-webcam:before {
  content: "\f832";
}
.qi-webcam-slash:before {
  content: "\f833";
}
.qi-wave-square:before {
  content: "\f83e";
}
.qi-alarm-exclamation:before {
  content: "\f843";
}
.qi-alarm-plus:before {
  content: "\f844";
}
.qi-alarm-snooze:before {
  content: "\f845";
}
.qi-align-slash:before {
  content: "\f846";
}
.qi-bags-shopping:before {
  content: "\f847";
}
.qi-bell-exclamation:before {
  content: "\f848";
}
.qi-bell-plus:before {
  content: "\f849";
}
.qi-biking:before {
  content: "\f84a";
}
.qi-biking-mountain:before {
  content: "\f84b";
}
.qi-border-all:before {
  content: "\f84c";
}
.qi-border-bottom:before {
  content: "\f84d";
}
.qi-border-inner:before {
  content: "\f84e";
}
.qi-border-left:before {
  content: "\f84f";
}
.qi-border-none:before {
  content: "\f850";
}
.qi-border-outer:before {
  content: "\f851";
}
.qi-border-right:before {
  content: "\f852";
}
.qi-border-style:before {
  content: "\f853";
}
.qi-border-style-alt:before {
  content: "\f854";
}
.qi-border-top:before {
  content: "\f855";
}
.qi-bring-forward:before {
  content: "\f856";
}
.qi-bring-front:before {
  content: "\f857";
}
.qi-burger-soda:before {
  content: "\f858";
}
.qi-car-building:before {
  content: "\f859";
}
.qi-car-bus:before {
  content: "\f85a";
}
.qi-cars:before {
  content: "\f85b";
}
.qi-coin:before {
  content: "\f85c";
}
.qi-construction:before {
  content: "\f85d";
}
.qi-digging:before {
  content: "\f85e";
}
.qi-drone:before {
  content: "\f85f";
}
.qi-drone-alt:before {
  content: "\f860";
}
.qi-dryer:before {
  content: "\f861";
}
.qi-dryer-alt:before {
  content: "\f862";
}
.qi-fan:before {
  content: "\f863";
}
.qi-farm:before {
  content: "\f864";
}
.qi-file-search:before {
  content: "\f865";
}
.qi-font-case:before {
  content: "\f866";
}
.qi-game-board:before {
  content: "\f867";
}
.qi-game-board-alt:before {
  content: "\f868";
}
.qi-glass-citrus:before {
  content: "\f869";
}
.qi-h4:before {
  content: "\f86a";
}
.qi-hat-chef:before {
  content: "\f86b";
}
.qi-horizontal-rule:before {
  content: "\f86c";
}
.qi-icons:before {
  content: "\f86d";
}
.qi-icons-alt:before {
  content: "\f86e";
}
.qi-kerning:before {
  content: "\f86f";
}
.qi-line-columns:before {
  content: "\f870";
}
.qi-line-height:before {
  content: "\f871";
}
.qi-money-check-edit:before {
  content: "\f872";
}
.qi-money-check-edit-alt:before {
  content: "\f873";
}
.qi-mug1:before {
  content: "\f874";
}
.qi-mug-tea:before {
  content: "\f875";
}
.qi-overline:before {
  content: "\f876";
}
.qi-page-break1:before {
  content: "\f877";
}
.qi-paragraph-rtl:before {
  content: "\f878";
}
.qi-phone-alt:before {
  content: "\f879";
}
.qi-phone-laptop:before {
  content: "\f87a";
}
.qi-phone-square-alt:before {
  content: "\f87b";
}
.qi-photo-video:before {
  content: "\f87c";
}
.qi-remove-format:before {
  content: "\f87d";
}
.qi-send-back:before {
  content: "\f87e";
}
.qi-send-backward:before {
  content: "\f87f";
}
.qi-snooze:before {
  content: "\f880";
}
.qi-sort-alpha-down-alt:before {
  content: "\f881";
}
.qi-sort-alpha-up-alt:before {
  content: "\f882";
}
.qi-sort-alt:before {
  content: "\f883";
}
.qi-sort-amount-down-alt:before {
  content: "\f884";
}
.qi-sort-amount-up-alt:before {
  content: "\f885";
}
.qi-sort-numeric-down-alt:before {
  content: "\f886";
}
.qi-sort-numeric-up-alt:before {
  content: "\f887";
}
.qi-sort-shapes-down:before {
  content: "\f888";
}
.qi-sort-shapes-down-alt:before {
  content: "\f889";
}
.qi-sort-shapes-up:before {
  content: "\f88a";
}
.qi-sort-shapes-up-alt:before {
  content: "\f88b";
}
.qi-sort-size-down:before {
  content: "\f88c";
}
.qi-sort-size-down-alt:before {
  content: "\f88d";
}
.qi-sort-size-up:before {
  content: "\f88e";
}
.qi-sort-size-up-alt:before {
  content: "\f88f";
}
.qi-sparkles:before {
  content: "\f890";
}
.qi-spell-check1:before {
  content: "\f891";
}
.qi-sunglasses:before {
  content: "\f892";
}
.qi-text:before {
  content: "\f893";
}
.qi-text-size:before {
  content: "\f894";
}
.qi-trash-undo:before {
  content: "\f895";
}
.qi-trash-undo-alt:before {
  content: "\f896";
}
.qi-voicemail:before {
  content: "\f897";
}
.qi-washer:before {
  content: "\f898";
}
.qi-wave-sine:before {
  content: "\f899";
}
.qi-wave-triangle:before {
  content: "\f89a";
}
.qi-wind-turbine:before {
  content: "\f89b";
}
.qi-border-center-h:before {
  content: "\f89c";
}
.qi-border-center-v:before {
  content: "\f89d";
}
.qi-album:before {
  content: "\f89f";
}
.qi-album-collection:before {
  content: "\f8a0";
}
.qi-amp-guitar:before {
  content: "\f8a1";
}
.qi-badge-sheriff:before {
  content: "\f8a2";
}
.qi-banjo:before {
  content: "\f8a3";
}
.qi-betamax:before {
  content: "\f8a4";
}
.qi-boombox:before {
  content: "\f8a5";
}
.qi-cactus:before {
  content: "\f8a7";
}
.qi-camcorder:before {
  content: "\f8a8";
}
.qi-camera-movie:before {
  content: "\f8a9";
}
.qi-camera-polaroid:before {
  content: "\f8aa";
}
.qi-cassette-tape:before {
  content: "\f8ab";
}
.qi-cctv:before {
  content: "\f8ac";
}
.qi-clarinet:before {
  content: "\f8ad";
}
.qi-cloud-music:before {
  content: "\f8ae";
}
.qi-comment-alt-music:before {
  content: "\f8af";
}
.qi-comment-music:before {
  content: "\f8b0";
}
.qi-computer-classic:before {
  content: "\f8b1";
}
.qi-computer-speaker:before {
  content: "\f8b2";
}
.qi-cowbell:before {
  content: "\f8b3";
}
.qi-cowbell-more:before {
  content: "\f8b4";
}
.qi-disc-drive:before {
  content: "\f8b5";
}
.qi-file-music1:before {
  content: "\f8b6";
}
.qi-film-canister:before {
  content: "\f8b7";
}
.qi-flashlight:before {
  content: "\f8b8";
}
.qi-flute:before {
  content: "\f8b9";
}
.qi-flux-capacitor:before {
  content: "\f8ba";
}
.qi-game-console-handheld:before {
  content: "\f8bb";
}
.qi-gamepad-alt:before {
  content: "\f8bc";
}
.qi-gramophone:before {
  content: "\f8bd";
}
.qi-guitar-electric:before {
  content: "\f8be";
}
.qi-guitars:before {
  content: "\f8bf";
}
.qi-hat-cowboy:before {
  content: "\f8c0";
}
.qi-hat-cowboy-side:before {
  content: "\f8c1";
}
.qi-head-side-headphones:before {
  content: "\f8c2";
}
.qi-horse-saddle:before {
  content: "\f8c3";
}
.qi-image-polaroid:before {
  content: "\f8c4";
}
.qi-joystick:before {
  content: "\f8c5";
}
.qi-jug:before {
  content: "\f8c6";
}
.qi-kazoo:before {
  content: "\f8c7";
}
.qi-lasso:before {
  content: "\f8c8";
}
.qi-list-music:before {
  content: "\f8c9";
}
.qi-microphone-stand:before {
  content: "\f8cb";
}
.qi-mouse:before {
  content: "\f8cc";
}
.qi-mouse-alt:before {
  content: "\f8cd";
}
.qi-mp3-player:before {
  content: "\f8ce";
}
.qi-music-alt:before {
  content: "\f8cf";
}
.qi-music-alt-slash:before {
  content: "\f8d0";
}
.qi-music-slash:before {
  content: "\f8d1";
}
.qi-phone-rotary:before {
  content: "\f8d3";
}
.qi-piano:before {
  content: "\f8d4";
}
.qi-piano-keyboard:before {
  content: "\f8d5";
}
.qi-projector:before {
  content: "\f8d6";
}
.qi-radio:before {
  content: "\f8d7";
}
.qi-radio-alt:before {
  content: "\f8d8";
}
.qi-record-vinyl:before {
  content: "\f8d9";
}
.qi-router:before {
  content: "\f8da";
}
.qi-sax-hot:before {
  content: "\f8db";
}
.qi-saxophone:before {
  content: "\f8dc";
}
.qi-signal-stream:before {
  content: "\f8dd";
}
.qi-skull-cow:before {
  content: "\f8de";
}
.qi-speaker:before {
  content: "\f8df";
}
.qi-speakers:before {
  content: "\f8e0";
}
.qi-triangle-music:before {
  content: "\f8e2";
}
.qi-trumpet:before {
  content: "\f8e3";
}
.qi-turntable:before {
  content: "\f8e4";
}
.qi-tv-alt:before {
  content: "\f8e5";
}
.qi-tv-music:before {
  content: "\f8e6";
}
.qi-typewriter:before {
  content: "\f8e7";
}
.qi-usb-drive:before {
  content: "\f8e9";
}
.qi-user-cowboy:before {
  content: "\f8ea";
}
.qi-user-music:before {
  content: "\f8eb";
}
.qi-vhs:before {
  content: "\f8ec";
}
.qi-violin:before {
  content: "\f8ed";
}
.qi-wagon-covered:before {
  content: "\f8ee";
}
.qi-walkie-talkie:before {
  content: "\f8ef";
}
.qi-watch-calculator:before {
  content: "\f8f0";
}
.qi-waveform:before {
  content: "\f8f1";
}
.qi-waveform-path:before {
  content: "\f8f2";
}
.qi-scanner-image:before {
  content: "\f8f3";
}
.qi-air-conditioner:before {
  content: "\f8f4";
}
.qi-alien:before {
  content: "\f8f5";
}
.qi-alien-monster:before {
  content: "\f8f6";
}
.qi-bed-alt:before {
  content: "\f8f7";
}
.qi-bed-bunk:before {
  content: "\f8f8";
}
.qi-bed-empty:before {
  content: "\f8f9";
}
.qi-bell-on:before {
  content: "\f8fa";
}
.qi-blinds:before {
  content: "\f8fb";
}
.qi-blinds-open:before {
  content: "\f8fc";
}
.qi-blinds-raised:before {
  content: "\f8fd";
}
.qi-camera-home:before {
  content: "\f8fe";
}
.qi-caravan:before {
  content: "\f8ff";
}
.qi-caravan-alt:before {
  content: "\f900";
}
.qi-cat-space:before {
  content: "\f901";
}
.qi-coffee-pot:before {
  content: "\f902";
}
.qi-comet:before {
  content: "\f903";
}
.qi-fan-table:before {
  content: "\f904";
}
.qi-faucet:before {
  content: "\f905";
}
.qi-faucet-drip:before {
  content: "\f906";
}
.qi-galaxy:before {
  content: "\f908";
}
.qi-garage:before {
  content: "\f909";
}
.qi-garage-car:before {
  content: "\f90a";
}
.qi-garage-open:before {
  content: "\f90b";
}
.qi-heat:before {
  content: "\f90c";
}
.qi-house:before {
  content: "\f90d";
}
.qi-house-day:before {
  content: "\f90e";
}
.qi-house-leave:before {
  content: "\f90f";
}
.qi-house-night:before {
  content: "\f910";
}
.qi-house-return:before {
  content: "\f911";
}
.qi-house-signal:before {
  content: "\f912";
}
.qi-lamp-desk:before {
  content: "\f914";
}
.qi-lamp-floor:before {
  content: "\f915";
}
.qi-light-ceiling:before {
  content: "\f916";
}
.qi-light-switch:before {
  content: "\f917";
}
.qi-light-switch-off:before {
  content: "\f918";
}
.qi-light-switch-on:before {
  content: "\f919";
}
.qi-microwave:before {
  content: "\f91b";
}
.qi-outlet:before {
  content: "\f91c";
}
.qi-oven:before {
  content: "\f91d";
}
.qi-planet-moon:before {
  content: "\f91f";
}
.qi-planet-ringed:before {
  content: "\f920";
}
.qi-police-box:before {
  content: "\f921";
}
.qi-portal-enter:before {
  content: "\f922";
}
.qi-portal-exit:before {
  content: "\f923";
}
.qi-radar:before {
  content: "\f924";
}
.qi-raygun:before {
  content: "\f925";
}
.qi-refrigerator:before {
  content: "\f926";
}
.qi-rocket-launch:before {
  content: "\f927";
}
.qi-sensor:before {
  content: "\f928";
}
.qi-sensor-alert:before {
  content: "\f929";
}
.qi-sensor-fire:before {
  content: "\f92a";
}
.qi-sensor-on:before {
  content: "\f92b";
}
.qi-sensor-smoke:before {
  content: "\f92c";
}
.qi-siren:before {
  content: "\f92d";
}
.qi-siren-on:before {
  content: "\f92e";
}
.qi-solar-system:before {
  content: "\f92f";
}
.qi-sort-circle:before {
  content: "\f930";
}
.qi-sort-circle-down:before {
  content: "\f931";
}
.qi-sort-circle-up:before {
  content: "\f932";
}
.qi-space-station-moon:before {
  content: "\f933";
}
.qi-space-station-moon-alt:before {
  content: "\f934";
}
.qi-sprinkler:before {
  content: "\f935";
}
.qi-star-shooting:before {
  content: "\f936";
}
.qi-starfighter:before {
  content: "\f937";
}
.qi-starfighter-alt:before {
  content: "\f938";
}
.qi-starship:before {
  content: "\f939";
}
.qi-starship-freighter:before {
  content: "\f93a";
}
.qi-sword-laser:before {
  content: "\f93b";
}
.qi-sword-laser-alt:before {
  content: "\f93c";
}
.qi-swords-laser:before {
  content: "\f93d";
}
.qi-telescope:before {
  content: "\f93e";
}
.qi-temperature-down:before {
  content: "\f93f";
}
.qi-temperature-up:before {
  content: "\f940";
}
.qi-trailer:before {
  content: "\f941";
}
.qi-transporter:before {
  content: "\f942";
}
.qi-transporter-1:before {
  content: "\f943";
}
.qi-transporter-2:before {
  content: "\f944";
}
.qi-transporter-3:before {
  content: "\f945";
}
.qi-transporter-empty:before {
  content: "\f946";
}
.qi-ufo:before {
  content: "\f947";
}
.qi-ufo-beam:before {
  content: "\f948";
}
.qi-user-alien:before {
  content: "\f94a";
}
.qi-user-robot:before {
  content: "\f94b";
}
.qi-user-visor:before {
  content: "\f94c";
}
.qi-vacuum:before {
  content: "\f94d";
}
.qi-vacuum-robot:before {
  content: "\f94e";
}
.qi-window-frame:before {
  content: "\f94f";
}
.qi-window-frame-open:before {
  content: "\f950";
}
.qi-coffin-cross:before {
  content: "\f951";
}
.qi-folder-download1:before {
  content: "\f953";
}
.qi-folder-upload1:before {
  content: "\f954";
}
.qi-user-unlock:before {
  content: "\f958";
}
.qi-bacteria:before {
  content: "\f959";
}
.qi-bacterium:before {
  content: "\f95a";
}
.qi-box-tissue:before {
  content: "\f95b";
}
.qi-hand-holding-medical:before {
  content: "\f95c";
}
.qi-hand-sparkles:before {
  content: "\f95d";
}
.qi-hands-wash:before {
  content: "\f95e";
}
.qi-handshake-alt-slash:before {
  content: "\f95f";
}
.qi-handshake-slash:before {
  content: "\f960";
}
.qi-head-side-cough:before {
  content: "\f961";
}
.qi-head-side-cough-slash:before {
  content: "\f962";
}
.qi-head-side-mask:before {
  content: "\f963";
}
.qi-head-side-virus:before {
  content: "\f964";
}
.qi-house-user:before {
  content: "\f965";
}
.qi-laptop-house:before {
  content: "\f966";
}
.qi-lungs-virus:before {
  content: "\f967";
}
.qi-people-arrows:before {
  content: "\f968";
}
.qi-plane-slash:before {
  content: "\f969";
}
.qi-pump-medical:before {
  content: "\f96a";
}
.qi-pump-soap:before {
  content: "\f96b";
}
.qi-shield-virus:before {
  content: "\f96c";
}
.qi-sink:before {
  content: "\f96d";
}
.qi-soap:before {
  content: "\f96e";
}
.qi-stopwatch-20:before {
  content: "\f96f";
}
.qi-store-alt-slash:before {
  content: "\f970";
}
.qi-store-slash:before {
  content: "\f971";
}
.qi-toilet-paper-slash:before {
  content: "\f972";
}
.qi-users-slash:before {
  content: "\f973";
}
.qi-virus:before {
  content: "\f974";
}
.qi-virus-slash:before {
  content: "\f975";
}
.qi-viruses:before {
  content: "\f976";
}
