$icomoon-font-family: "q-icon" !default;
$icomoon-font-path: "fonts" !default;

$qi-glass-martini: "\f000";
$qi-music1: "\f001";
$qi-search1: "\f002";
$qi-heart1: "\f004";
$qi-star: "\f005";
$qi-user1: "\f007";
$qi-film: "\f008";
$qi-th-large: "\f009";
$qi-th: "\f00a";
$qi-th-list: "\f00b";
$qi-check: "\f00c";
$qi-times: "\f00d";
$qi-search-plus: "\f00e";
$qi-search-minus: "\f010";
$qi-power-off: "\f011";
$qi-signal: "\f012";
$qi-cog1: "\f013";
$qi-home: "\f015";
$qi-clock1: "\f017";
$qi-road1: "\f018";
$qi-download1: "\f019";
$qi-inbox: "\f01c";
$qi-redo1: "\f01e";
$qi-sync: "\f021";
$qi-list-alt: "\f022";
$qi-lock1: "\f023";
$qi-flag1: "\f024";
$qi-headphones1: "\f025";
$qi-volume-off: "\f026";
$qi-volume-down: "\f027";
$qi-volume-up: "\f028";
$qi-qrcode1: "\f029";
$qi-barcode1: "\f02a";
$qi-tag: "\f02b";
$qi-tags: "\f02c";
$qi-book1: "\f02d";
$qi-bookmark1: "\f02e";
$qi-print: "\f02f";
$qi-camera1: "\f030";
$qi-font1: "\f031";
$qi-bold1: "\f032";
$qi-italic1: "\f033";
$qi-text-height1: "\f034";
$qi-text-width1: "\f035";
$qi-align-left: "\f036";
$qi-align-center: "\f037";
$qi-align-right: "\f038";
$qi-align-justify: "\f039";
$qi-list1: "\f03a";
$qi-outdent: "\f03b";
$qi-indent: "\f03c";
$qi-video: "\f03d";
$qi-image1: "\f03e";
$qi-pencil1: "\f040";
$qi-map-marker: "\f041";
$qi-adjust: "\f042";
$qi-tint: "\f043";
$qi-edit: "\f044";
$qi-arrows: "\f047";
$qi-step-backward: "\f048";
$qi-fast-backward: "\f049";
$qi-backward1: "\f04a";
$qi-play1: "\f04b";
$qi-pause1: "\f04c";
$qi-stop1: "\f04d";
$qi-forward1: "\f04e";
$qi-fast-forward: "\f050";
$qi-step-forward: "\f051";
$qi-eject1: "\f052";
$qi-chevron-left: "\f053";
$qi-chevron-right: "\f054";
$qi-plus-circle: "\f055";
$qi-minus-circle: "\f056";
$qi-times-circle: "\f057";
$qi-check-circle: "\f058";
$qi-question-circle: "\f059";
$qi-info-circle: "\f05a";
$qi-crosshairs: "\f05b";
$qi-ban: "\f05e";
$qi-arrow-left1: "\f060";
$qi-arrow-right1: "\f061";
$qi-arrow-up1: "\f062";
$qi-arrow-down1: "\f063";
$qi-share1: "\f064";
$qi-expand: "\f065";
$qi-compress: "\f066";
$qi-plus1: "\f067";
$qi-minus1: "\f068";
$qi-asterisk: "\f069";
$qi-exclamation-circle: "\f06a";
$qi-gift1: "\f06b";
$qi-leaf1: "\f06c";
$qi-fire1: "\f06d";
$qi-eye1: "\f06e";
$qi-eye-slash: "\f070";
$qi-exclamation-triangle: "\f071";
$qi-plane: "\f072";
$qi-calendar-alt: "\f073";
$qi-random: "\f074";
$qi-comment: "\f075";
$qi-magnet1: "\f076";
$qi-chevron-up: "\f077";
$qi-chevron-down: "\f078";
$qi-retweet: "\f079";
$qi-shopping-cart: "\f07a";
$qi-folder1: "\f07b";
$qi-folder-open1: "\f07c";
$qi-arrows-v: "\f07d";
$qi-arrows-h: "\f07e";
$qi-chart-bar: "\f080";
$qi-camera-retro: "\f083";
$qi-key1: "\f084";
$qi-cogs1: "\f085";
$qi-comments: "\f086";
$qi-star-half1: "\f089";
$qi-sign-out: "\f08b";
$qi-thumbtack: "\f08d";
$qi-external-link: "\f08e";
$qi-sign-in: "\f090";
$qi-trophy1: "\f091";
$qi-upload1: "\f093";
$qi-lemon: "\f094";
$qi-phone1: "\f095";
$qi-phone-square: "\f098";
$qi-unlock: "\f09c";
$qi-credit-card1: "\f09d";
$qi-rss1: "\f09e";
$qi-hdd: "\f0a0";
$qi-bullhorn1: "\f0a1";
$qi-certificate: "\f0a3";
$qi-hand-point-right: "\f0a4";
$qi-hand-point-left: "\f0a5";
$qi-hand-point-up: "\f0a6";
$qi-hand-point-down: "\f0a7";
$qi-arrow-circle-left: "\f0a8";
$qi-arrow-circle-right: "\f0a9";
$qi-arrow-circle-up: "\f0aa";
$qi-arrow-circle-down: "\f0ab";
$qi-globe: "\f0ac";
$qi-wrench1: "\f0ad";
$qi-tasks: "\f0ae";
$qi-filter1: "\f0b0";
$qi-briefcase1: "\f0b1";
$qi-arrows-alt: "\f0b2";
$qi-users1: "\f0c0";
$qi-link1: "\f0c1";
$qi-cloud1: "\f0c2";
$qi-flask: "\f0c3";
$qi-cut: "\f0c4";
$qi-copy1: "\f0c5";
$qi-paperclip: "\f0c6";
$qi-save: "\f0c7";
$qi-square: "\f0c8";
$qi-bars: "\f0c9";
$qi-list-ul: "\f0ca";
$qi-list-ol: "\f0cb";
$qi-strikethrough1: "\f0cc";
$qi-underline1: "\f0cd";
$qi-table1: "\f0ce";
$qi-magic: "\f0d0";
$qi-truck1: "\f0d1";
$qi-money-bill: "\f0d6";
$qi-caret-down: "\f0d7";
$qi-caret-up: "\f0d8";
$qi-caret-left: "\f0d9";
$qi-caret-right: "\f0da";
$qi-columns: "\f0db";
$qi-sort: "\f0dc";
$qi-sort-down: "\f0dd";
$qi-sort-up: "\f0de";
$qi-envelope: "\f0e0";
$qi-undo1: "\f0e2";
$qi-gavel: "\f0e3";
$qi-tachometer: "\f0e4";
$qi-bolt: "\f0e7";
$qi-sitemap: "\f0e8";
$qi-umbrella: "\f0e9";
$qi-paste1: "\f0ea";
$qi-lightbulb: "\f0eb";
$qi-exchange: "\f0ec";
$qi-cloud-download: "\f0ed";
$qi-cloud-upload: "\f0ee";
$qi-user-md: "\f0f0";
$qi-stethoscope: "\f0f1";
$qi-suitcase: "\f0f2";
$qi-bell: "\f0f3";
$qi-coffee: "\f0f4";
$qi-hospital: "\f0f8";
$qi-ambulance: "\f0f9";
$qi-medkit: "\f0fa";
$qi-fighter-jet: "\f0fb";
$qi-beer: "\f0fc";
$qi-h-square: "\f0fd";
$qi-plus-square: "\f0fe";
$qi-angle-double-left: "\f100";
$qi-angle-double-right: "\f101";
$qi-angle-double-up: "\f102";
$qi-angle-double-down: "\f103";
$qi-angle-left: "\f104";
$qi-angle-right: "\f105";
$qi-angle-up: "\f106";
$qi-angle-down: "\f107";
$qi-desktop: "\f108";
$qi-laptop: "\f109";
$qi-tablet: "\f10a";
$qi-mobile: "\f10b";
$qi-quote-left: "\f10d";
$qi-quote-right: "\f10e";
$qi-spinner: "\f110";
$qi-circle: "\f111";
$qi-smile: "\f118";
$qi-frown: "\f119";
$qi-meh: "\f11a";
$qi-gamepad: "\f11b";
$qi-keyboard: "\f11c";
$qi-flag-checkered: "\f11e";
$qi-terminal: "\f120";
$qi-code: "\f121";
$qi-reply-all: "\f122";
$qi-location-arrow: "\f124";
$qi-crop: "\f125";
$qi-code-branch: "\f126";
$qi-unlink: "\f127";
$qi-question: "\f128";
$qi-info: "\f129";
$qi-exclamation: "\f12a";
$qi-superscript: "\f12b";
$qi-subscript: "\f12c";
$qi-eraser: "\f12d";
$qi-puzzle-piece: "\f12e";
$qi-microphone: "\f130";
$qi-microphone-slash: "\f131";
$qi-shield: "\f132";
$qi-calendar: "\f133";
$qi-fire-extinguisher: "\f134";
$qi-rocket: "\f135";
$qi-chevron-circle-left: "\f137";
$qi-chevron-circle-right: "\f138";
$qi-chevron-circle-up: "\f139";
$qi-chevron-circle-down: "\f13a";
$qi-anchor: "\f13d";
$qi-unlock-alt: "\f13e";
$qi-bullseye: "\f140";
$qi-ellipsis-h: "\f141";
$qi-ellipsis-v: "\f142";
$qi-rss-square: "\f143";
$qi-play-circle: "\f144";
$qi-ticket: "\f145";
$qi-minus-square: "\f146";
$qi-level-up: "\f148";
$qi-level-down: "\f149";
$qi-check-square: "\f14a";
$qi-pen-square: "\f14b";
$qi-external-link-square: "\f14c";
$qi-share-square: "\f14d";
$qi-compass: "\f14e";
$qi-caret-square-down: "\f150";
$qi-caret-square-up: "\f151";
$qi-caret-square-right: "\f152";
$qi-euro-sign: "\f153";
$qi-pound-sign: "\f154";
$qi-dollar-sign: "\f155";
$qi-rupee-sign: "\f156";
$qi-yen-sign: "\f157";
$qi-ruble-sign: "\f158";
$qi-won-sign: "\f159";
$qi-file: "\f15b";
$qi-file-alt: "\f15c";
$qi-sort-alpha-down: "\f15d";
$qi-sort-alpha-up: "\f15e";
$qi-sort-amount-down: "\f160";
$qi-sort-amount-up: "\f161";
$qi-sort-numeric-down: "\f162";
$qi-sort-numeric-up: "\f163";
$qi-thumbs-up: "\f164";
$qi-thumbs-down: "\f165";
$qi-long-arrow-down: "\f175";
$qi-long-arrow-up: "\f176";
$qi-long-arrow-left: "\f177";
$qi-long-arrow-right: "\f178";
$qi-female: "\f182";
$qi-male: "\f183";
$qi-sun1: "\f185";
$qi-moon: "\f186";
$qi-archive: "\f187";
$qi-bug: "\f188";
$qi-caret-square-left: "\f191";
$qi-dot-circle: "\f192";
$qi-wheelchair: "\f193";
$qi-lira-sign: "\f195";
$qi-space-shuttle: "\f197";
$qi-envelope-square: "\f199";
$qi-university: "\f19c";
$qi-graduation-cap: "\f19d";
$qi-language: "\f1ab";
$qi-fax: "\f1ac";
$qi-building: "\f1ad";
$qi-child: "\f1ae";
$qi-paw: "\f1b0";
$qi-cube: "\f1b2";
$qi-cubes: "\f1b3";
$qi-recycle: "\f1b8";
$qi-car: "\f1b9";
$qi-taxi: "\f1ba";
$qi-tree: "\f1bb";
$qi-database: "\f1c0";
$qi-file-pdf: "\f1c1";
$qi-file-word: "\f1c2";
$qi-file-excel: "\f1c3";
$qi-file-powerpoint: "\f1c4";
$qi-file-image: "\f1c5";
$qi-file-archive: "\f1c6";
$qi-file-audio: "\f1c7";
$qi-file-video: "\f1c8";
$qi-file-code: "\f1c9";
$qi-life-ring: "\f1cd";
$qi-circle-notch: "\f1ce";
$qi-paper-plane: "\f1d8";
$qi-history: "\f1da";
$qi-heading: "\f1dc";
$qi-paragraph: "\f1dd";
$qi-sliders-h: "\f1de";
$qi-share-alt: "\f1e0";
$qi-share-alt-square: "\f1e1";
$qi-bomb: "\f1e2";
$qi-futbol: "\f1e3";
$qi-tty: "\f1e4";
$qi-binoculars: "\f1e5";
$qi-plug: "\f1e6";
$qi-newspaper: "\f1ea";
$qi-wifi: "\f1eb";
$qi-calculator: "\f1ec";
$qi-bell-slash: "\f1f6";
$qi-trash: "\f1f8";
$qi-copyright: "\f1f9";
$qi-at: "\f1fa";
$qi-eye-dropper: "\f1fb";
$qi-paint-brush: "\f1fc";
$qi-birthday-cake: "\f1fd";
$qi-chart-area: "\f1fe";
$qi-chart-pie: "\f200";
$qi-chart-line: "\f201";
$qi-toggle-off: "\f204";
$qi-toggle-on: "\f205";
$qi-bicycle: "\f206";
$qi-bus: "\f207";
$qi-closed-captioning: "\f20a";
$qi-shekel-sign: "\f20b";
$qi-cart-plus: "\f217";
$qi-cart-arrow-down: "\f218";
$qi-diamond: "\f219";
$qi-ship: "\f21a";
$qi-user-secret: "\f21b";
$qi-motorcycle: "\f21c";
$qi-street-view: "\f21d";
$qi-heartbeat: "\f21e";
$qi-venus: "\f221";
$qi-mars: "\f222";
$qi-mercury: "\f223";
$qi-transgender: "\f224";
$qi-transgender-alt: "\f225";
$qi-venus-double: "\f226";
$qi-mars-double: "\f227";
$qi-venus-mars: "\f228";
$qi-mars-stroke: "\f229";
$qi-mars-stroke-v: "\f22a";
$qi-mars-stroke-h: "\f22b";
$qi-neuter: "\f22c";
$qi-genderless: "\f22d";
$qi-server: "\f233";
$qi-user-plus: "\f234";
$qi-user-times: "\f235";
$qi-bed: "\f236";
$qi-train: "\f238";
$qi-subway: "\f239";
$qi-battery-full: "\f240";
$qi-battery-three-quarters: "\f241";
$qi-battery-half: "\f242";
$qi-battery-quarter: "\f243";
$qi-battery-empty: "\f244";
$qi-mouse-pointer: "\f245";
$qi-i-cursor: "\f246";
$qi-object-group: "\f247";
$qi-object-ungroup: "\f248";
$qi-sticky-note: "\f249";
$qi-clone: "\f24d";
$qi-balance-scale: "\f24e";
$qi-hourglass-start: "\f251";
$qi-hourglass-half: "\f252";
$qi-hourglass-end: "\f253";
$qi-hourglass: "\f254";
$qi-hand-rock: "\f255";
$qi-hand-paper: "\f256";
$qi-hand-scissors: "\f257";
$qi-hand-lizard: "\f258";
$qi-hand-spock: "\f259";
$qi-hand-pointer: "\f25a";
$qi-hand-peace: "\f25b";
$qi-trademark: "\f25c";
$qi-registered: "\f25d";
$qi-tv1: "\f26c";
$qi-calendar-plus: "\f271";
$qi-calendar-minus: "\f272";
$qi-calendar-times: "\f273";
$qi-calendar-check: "\f274";
$qi-industry: "\f275";
$qi-map-pin: "\f276";
$qi-map-signs: "\f277";
$qi-map1: "\f279";
$qi-comment-alt: "\f27a";
$qi-pause-circle: "\f28b";
$qi-stop-circle: "\f28d";
$qi-shopping-bag: "\f290";
$qi-shopping-basket: "\f291";
$qi-hashtag: "\f292";
$qi-percent: "\f295";
$qi-universal-access: "\f29a";
$qi-blind: "\f29d";
$qi-audio-description: "\f29e";
$qi-phone-volume: "\f2a0";
$qi-braille: "\f2a1";
$qi-assistive-listening-systems: "\f2a2";
$qi-american-sign-language-interpreting: "\f2a3";
$qi-deaf: "\f2a4";
$qi-sign-language: "\f2a7";
$qi-low-vision: "\f2a8";
$qi-handshake: "\f2b5";
$qi-envelope-open: "\f2b6";
$qi-address-book1: "\f2b9";
$qi-address-card: "\f2bb";
$qi-user-circle: "\f2bd";
$qi-id-badge: "\f2c1";
$qi-id-card: "\f2c2";
$qi-thermometer-full: "\f2c7";
$qi-thermometer-three-quarters: "\f2c8";
$qi-thermometer-half: "\f2c9";
$qi-thermometer-quarter: "\f2ca";
$qi-thermometer-empty: "\f2cb";
$qi-shower: "\f2cc";
$qi-bath: "\f2cd";
$qi-podcast: "\f2ce";
$qi-window-maximize: "\f2d0";
$qi-window-minimize: "\f2d1";
$qi-window-restore: "\f2d2";
$qi-times-square: "\f2d3";
$qi-microchip: "\f2db";
$qi-snowflake: "\f2dc";
$qi-watch: "\f2e1";
$qi-volume-slash: "\f2e2";
$qi-utensil-fork: "\f2e3";
$qi-utensil-knife: "\f2e4";
$qi-utensil-spoon: "\f2e5";
$qi-utensils-alt: "\f2e6";
$qi-utensils: "\f2e7";
$qi-usd-circle: "\f2e8";
$qi-usd-square: "\f2e9";
$qi-undo-alt: "\f2ea";
$qi-trophy-alt: "\f2eb";
$qi-triangle: "\f2ec";
$qi-trash-alt: "\f2ed";
$qi-times-hexagon: "\f2ee";
$qi-times-octagon: "\f2f0";
$qi-sync-alt: "\f2f1";
$qi-stopwatch: "\f2f2";
$qi-star-exclamation: "\f2f3";
$qi-spade: "\f2f4";
$qi-sign-out-alt: "\f2f5";
$qi-sign-in-alt: "\f2f6";
$qi-shield-check: "\f2f7";
$qi-scrubber: "\f2f8";
$qi-redo-alt: "\f2f9";
$qi-rectangle-landscape: "\f2fa";
$qi-rectangle-portrait: "\f2fb";
$qi-rectangle-wide: "\f2fc";
$qi-question-square: "\f2fd";
$qi-poo: "\f2fe";
$qi-plus-hexagon: "\f300";
$qi-plus-octagon: "\f301";
$qi-images: "\f302";
$qi-pencil-alt: "\f303";
$qi-pen: "\f304";
$qi-pen-alt: "\f305";
$qi-octagon: "\f306";
$qi-minus-hexagon: "\f307";
$qi-minus-octagon: "\f308";
$qi-long-arrow-alt-down: "\f309";
$qi-long-arrow-alt-left: "\f30a";
$qi-long-arrow-alt-right: "\f30b";
$qi-long-arrow-alt-up: "\f30c";
$qi-lock-alt: "\f30d";
$qi-jack-o-lantern: "\f30e";
$qi-info-square: "\f30f";
$qi-inbox-in: "\f310";
$qi-inbox-out: "\f311";
$qi-hexagon: "\f312";
$qi-h1: "\f313";
$qi-h2: "\f314";
$qi-h3: "\f315";
$qi-file-check: "\f316";
$qi-file-times: "\f317";
$qi-file-minus: "\f318";
$qi-file-plus: "\f319";
$qi-file-exclamation: "\f31a";
$qi-file-edit: "\f31c";
$qi-expand-arrows: "\f31d";
$qi-expand-arrows-alt: "\f31e";
$qi-expand-wide: "\f320";
$qi-exclamation-square: "\f321";
$qi-chevron-double-down: "\f322";
$qi-chevron-double-left: "\f323";
$qi-chevron-double-right: "\f324";
$qi-chevron-double-up: "\f325";
$qi-compress-wide: "\f326";
$qi-club: "\f327";
$qi-clipboard: "\f328";
$qi-chevron-square-down: "\f329";
$qi-chevron-square-left: "\f32a";
$qi-chevron-square-right: "\f32b";
$qi-chevron-square-up: "\f32c";
$qi-caret-circle-down: "\f32d";
$qi-caret-circle-left: "\f32e";
$qi-caret-circle-right: "\f330";
$qi-caret-circle-up: "\f331";
$qi-camera-alt: "\f332";
$qi-calendar-edit: "\f333";
$qi-calendar-exclamation: "\f334";
$qi-badge: "\f335";
$qi-badge-check: "\f336";
$qi-arrows-alt-h: "\f337";
$qi-arrows-alt-v: "\f338";
$qi-arrow-square-down: "\f339";
$qi-arrow-square-left: "\f33a";
$qi-arrow-square-right: "\f33b";
$qi-arrow-square-up: "\f33c";
$qi-arrow-to-bottom: "\f33d";
$qi-arrow-to-left: "\f33e";
$qi-arrow-to-right: "\f340";
$qi-arrow-to-top: "\f341";
$qi-arrow-from-bottom: "\f342";
$qi-arrow-from-left: "\f343";
$qi-arrow-from-right: "\f344";
$qi-arrow-from-top: "\f345";
$qi-arrow-alt-from-bottom: "\f346";
$qi-arrow-alt-from-left: "\f347";
$qi-arrow-alt-from-right: "\f348";
$qi-arrow-alt-from-top: "\f349";
$qi-arrow-alt-to-bottom: "\f34a";
$qi-arrow-alt-to-left: "\f34b";
$qi-arrow-alt-to-right: "\f34c";
$qi-arrow-alt-to-top: "\f34d";
$qi-alarm-clock: "\f34e";
$qi-arrow-alt-square-down: "\f350";
$qi-arrow-alt-square-left: "\f351";
$qi-arrow-alt-square-right: "\f352";
$qi-arrow-alt-square-up: "\f353";
$qi-arrow-alt-down: "\f354";
$qi-arrow-alt-left: "\f355";
$qi-arrow-alt-right: "\f356";
$qi-arrow-alt-up: "\f357";
$qi-arrow-alt-circle-down: "\f358";
$qi-arrow-alt-circle-left: "\f359";
$qi-arrow-alt-circle-right: "\f35a";
$qi-arrow-alt-circle-up: "\f35b";
$qi-external-link-alt: "\f35d";
$qi-external-link-square-alt: "\f360";
$qi-retweet-alt: "\f361";
$qi-exchange-alt: "\f362";
$qi-repeat: "\f363";
$qi-repeat-alt: "\f364";
$qi-repeat-1: "\f365";
$qi-repeat-1-alt: "\f366";
$qi-share-all: "\f367";
$qi-battery-bolt: "\f376";
$qi-battery-slash: "\f377";
$qi-browser: "\f37e";
$qi-cloud-download-alt: "\f381";
$qi-cloud-upload-alt: "\f382";
$qi-code-commit: "\f386";
$qi-code-merge: "\f387";
$qi-credit-card-blank: "\f389";
$qi-credit-card-front: "\f38a";
$qi-desktop-alt: "\f390";
$qi-ellipsis-h-alt: "\f39b";
$qi-ellipsis-v-alt: "\f39c";
$qi-film-alt: "\f3a0";
$qi-gem: "\f3a5";
$qi-industry-alt: "\f3b3";
$qi-level-down-alt: "\f3be";
$qi-level-up-alt: "\f3bf";
$qi-lock-open: "\f3c1";
$qi-lock-open-alt: "\f3c2";
$qi-map-marker-alt: "\f3c5";
$qi-microphone-alt: "\f3c9";
$qi-mobile-alt: "\f3cd";
$qi-mobile-android: "\f3ce";
$qi-mobile-android-alt: "\f3cf";
$qi-money-bill-alt: "\f3d1";
$qi-phone-slash: "\f3dd";
$qi-plane-alt: "\f3de";
$qi-portrait: "\f3e0";
$qi-reply1: "\f3e5";
$qi-shield-alt: "\f3ed";
$qi-sliders-h-square: "\f3f0";
$qi-sliders-v: "\f3f1";
$qi-sliders-v-square: "\f3f2";
$qi-spinner-third: "\f3f4";
$qi-tablet-alt: "\f3fa";
$qi-tablet-android: "\f3fb";
$qi-tablet-android-alt: "\f3fc";
$qi-tachometer-alt: "\f3fd";
$qi-ticket-alt: "\f3ff";
$qi-tree-alt: "\f400";
$qi-tv-retro: "\f401";
$qi-user-alt: "\f406";
$qi-window: "\f40e";
$qi-window-alt: "\f40f";
$qi-window-close: "\f410";
$qi-compress-alt: "\f422";
$qi-expand-alt: "\f424";
$qi-baseball: "\f432";
$qi-baseball-ball: "\f433";
$qi-basketball-ball: "\f434";
$qi-basketball-hoop: "\f435";
$qi-bowling-ball: "\f436";
$qi-bowling-pins: "\f437";
$qi-boxing-glove: "\f438";
$qi-chess: "\f439";
$qi-chess-bishop: "\f43a";
$qi-chess-bishop-alt: "\f43b";
$qi-chess-board: "\f43c";
$qi-chess-clock: "\f43d";
$qi-chess-clock-alt: "\f43e";
$qi-chess-king: "\f43f";
$qi-chess-king-alt: "\f440";
$qi-chess-knight: "\f441";
$qi-chess-knight-alt: "\f442";
$qi-chess-pawn: "\f443";
$qi-chess-pawn-alt: "\f444";
$qi-chess-queen: "\f445";
$qi-chess-queen-alt: "\f446";
$qi-chess-rook: "\f447";
$qi-chess-rook-alt: "\f448";
$qi-cricket: "\f449";
$qi-curling: "\f44a";
$qi-dumbbell: "\f44b";
$qi-field-hockey: "\f44c";
$qi-football-ball: "\f44e";
$qi-football-helmet: "\f44f";
$qi-golf-ball: "\f450";
$qi-golf-club: "\f451";
$qi-hockey-puck: "\f453";
$qi-hockey-sticks: "\f454";
$qi-luchador: "\f455";
$qi-pennant: "\f456";
$qi-quidditch: "\f458";
$qi-racquet: "\f45a";
$qi-shuttlecock: "\f45b";
$qi-square-full: "\f45c";
$qi-table-tennis: "\f45d";
$qi-tennis-ball: "\f45e";
$qi-volleyball-ball: "\f45f";
$qi-whistle: "\f460";
$qi-allergies: "\f461";
$qi-band-aid: "\f462";
$qi-barcode-alt: "\f463";
$qi-barcode-read: "\f464";
$qi-barcode-scan: "\f465";
$qi-box: "\f466";
$qi-box-check: "\f467";
$qi-boxes: "\f468";
$qi-briefcase-medical: "\f469";
$qi-burn: "\f46a";
$qi-capsules: "\f46b";
$qi-clipboard-check: "\f46c";
$qi-clipboard-list: "\f46d";
$qi-conveyor-belt: "\f46e";
$qi-conveyor-belt-alt: "\f46f";
$qi-diagnoses: "\f470";
$qi-dna: "\f471";
$qi-dolly: "\f472";
$qi-dolly-empty: "\f473";
$qi-dolly-flatbed: "\f474";
$qi-dolly-flatbed-alt: "\f475";
$qi-dolly-flatbed-empty: "\f476";
$qi-file-medical: "\f477";
$qi-file-medical-alt: "\f478";
$qi-first-aid: "\f479";
$qi-forklift: "\f47a";
$qi-hand-holding-box: "\f47b";
$qi-hand-receiving: "\f47c";
$qi-hospital-alt: "\f47d";
$qi-hospital-symbol: "\f47e";
$qi-id-card-alt: "\f47f";
$qi-inventory: "\f480";
$qi-notes-medical: "\f481";
$qi-pallet: "\f482";
$qi-pallet-alt: "\f483";
$qi-pills: "\f484";
$qi-prescription-bottle: "\f485";
$qi-prescription-bottle-alt: "\f486";
$qi-procedures: "\f487";
$qi-scanner: "\f488";
$qi-scanner-keyboard: "\f489";
$qi-scanner-touchscreen: "\f48a";
$qi-shipping-fast: "\f48b";
$qi-shipping-timed: "\f48c";
$qi-smoking: "\f48d";
$qi-syringe: "\f48e";
$qi-tablet-rugged: "\f48f";
$qi-tablets: "\f490";
$qi-thermometer: "\f491";
$qi-vial: "\f492";
$qi-vials: "\f493";
$qi-warehouse: "\f494";
$qi-warehouse-alt: "\f495";
$qi-weight: "\f496";
$qi-x-ray: "\f497";
$qi-blanket: "\f498";
$qi-book-heart: "\f499";
$qi-box-alt: "\f49a";
$qi-box-fragile: "\f49b";
$qi-box-full: "\f49c";
$qi-box-heart: "\f49d";
$qi-box-open: "\f49e";
$qi-box-up: "\f49f";
$qi-box-usd: "\f4a0";
$qi-boxes-alt: "\f4a1";
$qi-comment-alt-check: "\f4a2";
$qi-comment-alt-dots: "\f4a3";
$qi-comment-alt-edit: "\f4a4";
$qi-comment-alt-exclamation: "\f4a5";
$qi-comment-alt-lines: "\f4a6";
$qi-comment-alt-minus: "\f4a7";
$qi-comment-alt-plus: "\f4a8";
$qi-comment-alt-slash: "\f4a9";
$qi-comment-alt-smile: "\f4aa";
$qi-comment-alt-times: "\f4ab";
$qi-comment-check: "\f4ac";
$qi-comment-dots: "\f4ad";
$qi-comment-edit: "\f4ae";
$qi-comment-exclamation: "\f4af";
$qi-comment-lines: "\f4b0";
$qi-comment-minus: "\f4b1";
$qi-comment-plus: "\f4b2";
$qi-comment-slash: "\f4b3";
$qi-comment-smile: "\f4b4";
$qi-comment-times: "\f4b5";
$qi-comments-alt: "\f4b6";
$qi-container-storage: "\f4b7";
$qi-couch: "\f4b8";
$qi-donate: "\f4b9";
$qi-dove: "\f4ba";
$qi-fragile: "\f4bb";
$qi-hand-heart: "\f4bc";
$qi-hand-holding: "\f4bd";
$qi-hand-holding-heart: "\f4be";
$qi-hand-holding-seedling: "\f4bf";
$qi-hand-holding-usd: "\f4c0";
$qi-hand-holding-water: "\f4c1";
$qi-hands: "\f4c2";
$qi-hands-heart: "\f4c3";
$qi-hands-helping: "\f4c4";
$qi-hands-usd: "\f4c5";
$qi-handshake-alt: "\f4c6";
$qi-heart-circle: "\f4c7";
$qi-heart-square: "\f4c8";
$qi-home-heart: "\f4c9";
$qi-lamp: "\f4ca";
$qi-leaf-heart: "\f4cb";
$qi-loveseat: "\f4cc";
$qi-parachute-box: "\f4cd";
$qi-people-carry: "\f4ce";
$qi-person-carry: "\f4cf";
$qi-person-dolly: "\f4d0";
$qi-person-dolly-empty: "\f4d1";
$qi-phone-plus: "\f4d2";
$qi-piggy-bank: "\f4d3";
$qi-ramp-loading: "\f4d4";
$qi-ribbon: "\f4d6";
$qi-route: "\f4d7";
$qi-seedling: "\f4d8";
$qi-sign: "\f4d9";
$qi-smile-wink: "\f4da";
$qi-tape: "\f4db";
$qi-truck-container: "\f4dc";
$qi-truck-couch: "\f4dd";
$qi-truck-loading: "\f4de";
$qi-truck-moving: "\f4df";
$qi-truck-ramp: "\f4e0";
$qi-video-plus: "\f4e1";
$qi-video-slash: "\f4e2";
$qi-wine-glass: "\f4e3";
$qi-user-alt-slash: "\f4fa";
$qi-user-astronaut: "\f4fb";
$qi-user-check1: "\f4fc";
$qi-user-clock: "\f4fd";
$qi-user-cog: "\f4fe";
$qi-user-edit: "\f4ff";
$qi-user-friends: "\f500";
$qi-user-graduate: "\f501";
$qi-user-lock: "\f502";
$qi-user-minus1: "\f503";
$qi-user-ninja: "\f504";
$qi-user-shield: "\f505";
$qi-user-slash: "\f506";
$qi-user-tag: "\f507";
$qi-user-tie1: "\f508";
$qi-users-cog: "\f509";
$qi-balance-scale-left: "\f515";
$qi-balance-scale-right: "\f516";
$qi-blender: "\f517";
$qi-book-open: "\f518";
$qi-broadcast-tower: "\f519";
$qi-broom: "\f51a";
$qi-chalkboard: "\f51b";
$qi-chalkboard-teacher: "\f51c";
$qi-church: "\f51d";
$qi-coins: "\f51e";
$qi-compact-disc: "\f51f";
$qi-crow: "\f520";
$qi-crown: "\f521";
$qi-dice1: "\f522";
$qi-dice-five: "\f523";
$qi-dice-four: "\f524";
$qi-dice-one: "\f525";
$qi-dice-six: "\f526";
$qi-dice-three: "\f527";
$qi-dice-two: "\f528";
$qi-divide: "\f529";
$qi-door-closed: "\f52a";
$qi-door-open: "\f52b";
$qi-equals: "\f52c";
$qi-feather: "\f52d";
$qi-frog: "\f52e";
$qi-gas-pump: "\f52f";
$qi-glasses: "\f530";
$qi-greater-than: "\f531";
$qi-greater-than-equal: "\f532";
$qi-helicopter: "\f533";
$qi-infinity: "\f534";
$qi-kiwi-bird: "\f535";
$qi-less-than: "\f536";
$qi-less-than-equal: "\f537";
$qi-memory: "\f538";
$qi-microphone-alt-slash: "\f539";
$qi-money-bill-wave: "\f53a";
$qi-money-bill-wave-alt: "\f53b";
$qi-money-check: "\f53c";
$qi-money-check-alt: "\f53d";
$qi-not-equal: "\f53e";
$qi-palette: "\f53f";
$qi-parking: "\f540";
$qi-percentage: "\f541";
$qi-project-diagram: "\f542";
$qi-receipt: "\f543";
$qi-robot: "\f544";
$qi-ruler: "\f545";
$qi-ruler-combined: "\f546";
$qi-ruler-horizontal: "\f547";
$qi-ruler-vertical: "\f548";
$qi-school: "\f549";
$qi-screwdriver: "\f54a";
$qi-shoe-prints: "\f54b";
$qi-skull: "\f54c";
$qi-smoking-ban: "\f54d";
$qi-store: "\f54e";
$qi-store-alt: "\f54f";
$qi-stream: "\f550";
$qi-stroopwafel: "\f551";
$qi-toolbox: "\f552";
$qi-tshirt: "\f553";
$qi-walking: "\f554";
$qi-wallet: "\f555";
$qi-angry1: "\f556";
$qi-archway: "\f557";
$qi-atlas: "\f558";
$qi-award: "\f559";
$qi-backspace: "\f55a";
$qi-bezier-curve: "\f55b";
$qi-bong: "\f55c";
$qi-brush: "\f55d";
$qi-bus-alt: "\f55e";
$qi-cannabis: "\f55f";
$qi-check-double: "\f560";
$qi-cocktail: "\f561";
$qi-concierge-bell: "\f562";
$qi-cookie: "\f563";
$qi-cookie-bite: "\f564";
$qi-crop-alt: "\f565";
$qi-digital-tachograph: "\f566";
$qi-dizzy: "\f567";
$qi-drafting-compass: "\f568";
$qi-drum: "\f569";
$qi-drum-steelpan: "\f56a";
$qi-feather-alt: "\f56b";
$qi-file-contract: "\f56c";
$qi-file-download: "\f56d";
$qi-file-export: "\f56e";
$qi-file-import: "\f56f";
$qi-file-invoice: "\f570";
$qi-file-invoice-dollar: "\f571";
$qi-file-prescription: "\f572";
$qi-file-signature: "\f573";
$qi-file-upload: "\f574";
$qi-fill: "\f575";
$qi-fill-drip: "\f576";
$qi-fingerprint: "\f577";
$qi-fish: "\f578";
$qi-flushed: "\f579";
$qi-frown-open: "\f57a";
$qi-glass-martini-alt: "\f57b";
$qi-globe-africa: "\f57c";
$qi-globe-americas: "\f57d";
$qi-globe-asia: "\f57e";
$qi-grimace: "\f57f";
$qi-grin1: "\f580";
$qi-grin-alt: "\f581";
$qi-grin-beam: "\f582";
$qi-grin-beam-sweat: "\f583";
$qi-grin-hearts: "\f584";
$qi-grin-squint: "\f585";
$qi-grin-squint-tears: "\f586";
$qi-grin-stars: "\f587";
$qi-grin-tears: "\f588";
$qi-grin-tongue: "\f589";
$qi-grin-tongue-squint: "\f58a";
$qi-grin-tongue-wink: "\f58b";
$qi-grin-wink: "\f58c";
$qi-grip-horizontal: "\f58d";
$qi-grip-vertical: "\f58e";
$qi-headphones-alt: "\f58f";
$qi-headset: "\f590";
$qi-highlighter: "\f591";
$qi-hot-tub: "\f593";
$qi-hotel: "\f594";
$qi-joint: "\f595";
$qi-kiss: "\f596";
$qi-kiss-beam: "\f597";
$qi-kiss-wink-heart: "\f598";
$qi-laugh: "\f599";
$qi-laugh-beam: "\f59a";
$qi-laugh-squint: "\f59b";
$qi-laugh-wink: "\f59c";
$qi-luggage-cart: "\f59d";
$qi-map-marked: "\f59f";
$qi-map-marked-alt: "\f5a0";
$qi-marker: "\f5a1";
$qi-medal: "\f5a2";
$qi-meh-blank: "\f5a4";
$qi-meh-rolling-eyes: "\f5a5";
$qi-monument: "\f5a6";
$qi-mortar-pestle: "\f5a7";
$qi-paint-brush-alt: "\f5a9";
$qi-paint-roller: "\f5aa";
$qi-passport: "\f5ab";
$qi-pen-fancy: "\f5ac";
$qi-pen-nib: "\f5ad";
$qi-pencil-ruler: "\f5ae";
$qi-plane-arrival: "\f5af";
$qi-plane-departure: "\f5b0";
$qi-prescription: "\f5b1";
$qi-sad-cry: "\f5b3";
$qi-sad-tear: "\f5b4";
$qi-shuttle-van: "\f5b6";
$qi-signature: "\f5b7";
$qi-smile-beam: "\f5b8";
$qi-smile-plus: "\f5b9";
$qi-solar-panel: "\f5ba";
$qi-spa: "\f5bb";
$qi-splotch: "\f5bc";
$qi-spray-can: "\f5bd";
$qi-stamp: "\f5bf";
$qi-star-half-alt: "\f5c0";
$qi-suitcase-rolling: "\f5c1";
$qi-surprise: "\f5c2";
$qi-swatchbook: "\f5c3";
$qi-swimmer: "\f5c4";
$qi-swimming-pool: "\f5c5";
$qi-tint-slash: "\f5c7";
$qi-tired: "\f5c8";
$qi-tooth: "\f5c9";
$qi-umbrella-beach: "\f5ca";
$qi-vector-square: "\f5cb";
$qi-weight-hanging: "\f5cd";
$qi-wine-glass-alt: "\f5ce";
$qi-air-freshener: "\f5d0";
$qi-apple-alt: "\f5d1";
$qi-atom: "\f5d2";
$qi-atom-alt: "\f5d3";
$qi-backpack: "\f5d4";
$qi-bell-school: "\f5d5";
$qi-bell-school-slash: "\f5d6";
$qi-bone: "\f5d7";
$qi-bone-break: "\f5d8";
$qi-book-alt: "\f5d9";
$qi-book-reader: "\f5da";
$qi-books1: "\f5db";
$qi-brain: "\f5dc";
$qi-bus-school: "\f5dd";
$qi-car-alt: "\f5de";
$qi-car-battery: "\f5df";
$qi-car-bump: "\f5e0";
$qi-car-crash: "\f5e1";
$qi-car-garage: "\f5e2";
$qi-car-mechanic: "\f5e3";
$qi-car-side: "\f5e4";
$qi-car-tilt: "\f5e5";
$qi-car-wash: "\f5e6";
$qi-charging-station: "\f5e7";
$qi-clipboard-prescription: "\f5e8";
$qi-compass-slash: "\f5e9";
$qi-diploma: "\f5ea";
$qi-directions: "\f5eb";
$qi-do-not-enter: "\f5ec";
$qi-draw-circle: "\f5ed";
$qi-draw-polygon: "\f5ee";
$qi-draw-square: "\f5ef";
$qi-ear: "\f5f0";
$qi-engine-warning: "\f5f2";
$qi-file-certificate: "\f5f3";
$qi-gas-pump-slash: "\f5f4";
$qi-glasses-alt: "\f5f5";
$qi-globe-stand: "\f5f6";
$qi-heart-rate: "\f5f8";
$qi-inhaler: "\f5f9";
$qi-kidneys: "\f5fb";
$qi-laptop-code: "\f5fc";
$qi-layer-group: "\f5fd";
$qi-layer-minus: "\f5fe";
$qi-layer-plus: "\f5ff";
$qi-lips: "\f600";
$qi-location1: "\f601";
$qi-location-circle: "\f602";
$qi-location-slash: "\f603";
$qi-lungs: "\f604";
$qi-map-marker-alt-slash: "\f605";
$qi-map-marker-check: "\f606";
$qi-map-marker-edit: "\f607";
$qi-map-marker-exclamation: "\f608";
$qi-map-marker-minus: "\f609";
$qi-map-marker-plus: "\f60a";
$qi-map-marker-question: "\f60b";
$qi-map-marker-slash: "\f60c";
$qi-map-marker-smile: "\f60d";
$qi-map-marker-times: "\f60e";
$qi-microscope: "\f610";
$qi-monitor-heart-rate: "\f611";
$qi-oil-can: "\f613";
$qi-oil-temp: "\f614";
$qi-parking-circle: "\f615";
$qi-parking-circle-slash: "\f616";
$qi-parking-slash: "\f617";
$qi-pencil-paintbrush: "\f618";
$qi-poop: "\f619";
$qi-route-highway: "\f61a";
$qi-route-interstate: "\f61b";
$qi-ruler-triangle: "\f61c";
$qi-scalpel: "\f61d";
$qi-scalpel-path: "\f61e";
$qi-shapes: "\f61f";
$qi-skeleton: "\f620";
$qi-star-of-life: "\f621";
$qi-steering-wheel: "\f622";
$qi-stomach: "\f623";
$qi-tachometer-alt-average: "\f624";
$qi-tachometer-alt-fast: "\f625";
$qi-tachometer-alt-fastest: "\f626";
$qi-tachometer-alt-slow: "\f627";
$qi-tachometer-alt-slowest: "\f628";
$qi-tachometer-average: "\f629";
$qi-tachometer-fast: "\f62a";
$qi-tachometer-fastest: "\f62b";
$qi-tachometer-slow: "\f62c";
$qi-tachometer-slowest: "\f62d";
$qi-teeth: "\f62e";
$qi-teeth-open: "\f62f";
$qi-theater-masks: "\f630";
$qi-tire: "\f631";
$qi-tire-flat: "\f632";
$qi-tire-pressure-warning: "\f633";
$qi-tire-rugged: "\f634";
$qi-toothbrush: "\f635";
$qi-traffic-cone: "\f636";
$qi-traffic-light: "\f637";
$qi-traffic-light-go: "\f638";
$qi-traffic-light-slow: "\f639";
$qi-traffic-light-stop: "\f63a";
$qi-truck-monster: "\f63b";
$qi-truck-pickup: "\f63c";
$qi-users-class: "\f63d";
$qi-watch-fitness: "\f63e";
$qi-abacus: "\f640";
$qi-ad: "\f641";
$qi-analytics: "\f643";
$qi-ankh: "\f644";
$qi-badge-dollar: "\f645";
$qi-badge-percent: "\f646";
$qi-bible: "\f647";
$qi-bullseye-arrow: "\f648";
$qi-bullseye-pointer: "\f649";
$qi-business-time: "\f64a";
$qi-cabinet-filing: "\f64b";
$qi-calculator-alt: "\f64c";
$qi-chart-line-down: "\f64d";
$qi-chart-pie-alt: "\f64e";
$qi-city: "\f64f";
$qi-comment-alt-dollar: "\f650";
$qi-comment-dollar: "\f651";
$qi-comments-alt-dollar: "\f652";
$qi-comments-dollar: "\f653";
$qi-cross1: "\f654";
$qi-dharmachakra: "\f655";
$qi-empty-set: "\f656";
$qi-envelope-open-dollar: "\f657";
$qi-envelope-open-text: "\f658";
$qi-file-chart-line: "\f659";
$qi-file-chart-pie: "\f65a";
$qi-file-spreadsheet: "\f65b";
$qi-file-user: "\f65c";
$qi-folder-minus1: "\f65d";
$qi-folder-plus1: "\f65e";
$qi-folder-times: "\f65f";
$qi-folders: "\f660";
$qi-function: "\f661";
$qi-funnel-dollar: "\f662";
$qi-gift-card: "\f663";
$qi-gopuram: "\f664";
$qi-hamsa: "\f665";
$qi-bahai: "\f666";
$qi-integral: "\f667";
$qi-intersection: "\f668";
$qi-jedi: "\f669";
$qi-journal-whills: "\f66a";
$qi-kaaba: "\f66b";
$qi-keynote: "\f66c";
$qi-khanda: "\f66d";
$qi-lambda: "\f66e";
$qi-landmark: "\f66f";
$qi-lightbulb-dollar: "\f670";
$qi-lightbulb-exclamation: "\f671";
$qi-lightbulb-on: "\f672";
$qi-lightbulb-slash: "\f673";
$qi-mail-bulk: "\f674";
$qi-megaphone: "\f675";
$qi-menorah: "\f676";
$qi-mind-share: "\f677";
$qi-mosque: "\f678";
$qi-om: "\f679";
$qi-omega1: "\f67a";
$qi-pastafarianism: "\f67b";
$qi-peace: "\f67c";
$qi-phone-office: "\f67d";
$qi-pi: "\f67e";
$qi-place-of-worship: "\f67f";
$qi-podium: "\f680";
$qi-poll: "\f681";
$qi-poll-h: "\f682";
$qi-pray: "\f683";
$qi-praying-hands: "\f684";
$qi-presentation: "\f685";
$qi-print-slash: "\f686";
$qi-quran: "\f687";
$qi-search-dollar: "\f688";
$qi-search-location: "\f689";
$qi-shredder: "\f68a";
$qi-sigma1: "\f68b";
$qi-signal-1: "\f68c";
$qi-signal-2: "\f68d";
$qi-signal-3: "\f68e";
$qi-signal-4: "\f68f";
$qi-signal-alt: "\f690";
$qi-signal-alt-1: "\f691";
$qi-signal-alt-2: "\f692";
$qi-signal-alt-3: "\f693";
$qi-signal-alt-slash: "\f694";
$qi-signal-slash: "\f695";
$qi-socks: "\f696";
$qi-square-root: "\f697";
$qi-square-root-alt: "\f698";
$qi-star-and-crescent: "\f699";
$qi-star-of-david: "\f69a";
$qi-synagogue: "\f69b";
$qi-tally: "\f69c";
$qi-theta: "\f69e";
$qi-tilde: "\f69f";
$qi-torah: "\f6a0";
$qi-torii-gate: "\f6a1";
$qi-union: "\f6a2";
$qi-user-chart: "\f6a3";
$qi-user-crown: "\f6a4";
$qi-users-crown: "\f6a5";
$qi-value-absolute: "\f6a6";
$qi-vihara: "\f6a7";
$qi-volume: "\f6a8";
$qi-volume-mute1: "\f6a9";
$qi-wifi-1: "\f6aa";
$qi-wifi-2: "\f6ab";
$qi-wifi-slash: "\f6ac";
$qi-yin-yang: "\f6ad";
$qi-acorn: "\f6ae";
$qi-alicorn: "\f6b0";
$qi-apple-crate: "\f6b1";
$qi-axe: "\f6b2";
$qi-axe-battle: "\f6b3";
$qi-badger-honey: "\f6b4";
$qi-bat: "\f6b5";
$qi-blender-phone: "\f6b6";
$qi-book-dead: "\f6b7";
$qi-book-spells: "\f6b8";
$qi-bow-arrow: "\f6b9";
$qi-campfire: "\f6ba";
$qi-campground: "\f6bb";
$qi-candle-holder: "\f6bc";
$qi-candy-corn: "\f6bd";
$qi-cat: "\f6be";
$qi-cauldron: "\f6bf";
$qi-chair: "\f6c0";
$qi-chair-office: "\f6c1";
$qi-claw-marks: "\f6c2";
$qi-cloud-moon: "\f6c3";
$qi-cloud-sun: "\f6c4";
$qi-coffee-togo: "\f6c5";
$qi-coffin: "\f6c6";
$qi-corn: "\f6c7";
$qi-cow: "\f6c8";
$qi-dagger: "\f6cb";
$qi-dice-d10: "\f6cd";
$qi-dice-d12: "\f6ce";
$qi-dice-d20: "\f6cf";
$qi-dice-d4: "\f6d0";
$qi-dice-d6: "\f6d1";
$qi-dice-d8: "\f6d2";
$qi-dog: "\f6d3";
$qi-dog-leashed: "\f6d4";
$qi-dragon: "\f6d5";
$qi-drumstick: "\f6d6";
$qi-drumstick-bite: "\f6d7";
$qi-duck: "\f6d8";
$qi-dungeon: "\f6d9";
$qi-elephant: "\f6da";
$qi-eye-evil: "\f6db";
$qi-file-csv: "\f6dd";
$qi-fist-raised: "\f6de";
$qi-flame: "\f6df";
$qi-flask-poison: "\f6e0";
$qi-flask-potion: "\f6e1";
$qi-ghost: "\f6e2";
$qi-hammer1: "\f6e3";
$qi-hammer-war: "\f6e4";
$qi-hand-holding-magic: "\f6e5";
$qi-hanukiah: "\f6e6";
$qi-hat-witch: "\f6e7";
$qi-hat-wizard: "\f6e8";
$qi-head-side: "\f6e9";
$qi-head-vr: "\f6ea";
$qi-helmet-battle: "\f6eb";
$qi-hiking: "\f6ec";
$qi-hippo: "\f6ed";
$qi-hockey-mask: "\f6ee";
$qi-hood-cloak: "\f6ef";
$qi-horse: "\f6f0";
$qi-house-damage: "\f6f1";
$qi-hryvnia: "\f6f2";
$qi-key-skeleton: "\f6f3";
$qi-kite: "\f6f4";
$qi-knife-kitchen: "\f6f5";
$qi-leaf-maple: "\f6f6";
$qi-leaf-oak: "\f6f7";
$qi-mace: "\f6f8";
$qi-mandolin: "\f6f9";
$qi-mask: "\f6fa";
$qi-monkey: "\f6fb";
$qi-mountain: "\f6fc";
$qi-mountains: "\f6fd";
$qi-narwhal: "\f6fe";
$qi-network-wired: "\f6ff";
$qi-otter: "\f700";
$qi-paw-alt: "\f701";
$qi-paw-claws: "\f702";
$qi-pegasus: "\f703";
$qi-pie: "\f705";
$qi-pig: "\f706";
$qi-pumpkin: "\f707";
$qi-rabbit: "\f708";
$qi-rabbit-fast: "\f709";
$qi-ram: "\f70a";
$qi-ring: "\f70b";
$qi-running: "\f70c";
$qi-scarecrow: "\f70d";
$qi-scroll: "\f70e";
$qi-scroll-old: "\f70f";
$qi-scythe: "\f710";
$qi-sheep: "\f711";
$qi-shield-cross: "\f712";
$qi-shovel: "\f713";
$qi-skull-crossbones: "\f714";
$qi-slash: "\f715";
$qi-snake: "\f716";
$qi-spider: "\f717";
$qi-spider-black-widow: "\f718";
$qi-spider-web: "\f719";
$qi-squirrel: "\f71a";
$qi-staff: "\f71b";
$qi-sword: "\f71c";
$qi-swords: "\f71d";
$qi-toilet-paper: "\f71e";
$qi-toilet-paper-alt: "\f71f";
$qi-tombstone: "\f720";
$qi-tombstone-alt: "\f721";
$qi-tractor: "\f722";
$qi-treasure-chest: "\f723";
$qi-trees: "\f724";
$qi-turkey: "\f725";
$qi-turtle: "\f726";
$qi-unicorn: "\f727";
$qi-user-injured: "\f728";
$qi-vr-cardboard: "\f729";
$qi-wand: "\f72a";
$qi-wand-magic: "\f72b";
$qi-whale: "\f72c";
$qi-wheat: "\f72d";
$qi-wind: "\f72e";
$qi-wine-bottle: "\f72f";
$qi-ballot: "\f732";
$qi-ballot-check: "\f733";
$qi-booth-curtain: "\f734";
$qi-box-ballot: "\f735";
$qi-calendar-star: "\f736";
$qi-clipboard-list-check: "\f737";
$qi-cloud-drizzle: "\f738";
$qi-cloud-hail: "\f739";
$qi-cloud-hail-mixed: "\f73a";
$qi-cloud-meatball: "\f73b";
$qi-cloud-moon-rain: "\f73c";
$qi-cloud-rain: "\f73d";
$qi-cloud-rainbow: "\f73e";
$qi-cloud-showers: "\f73f";
$qi-cloud-showers-heavy: "\f740";
$qi-cloud-sleet: "\f741";
$qi-cloud-snow: "\f742";
$qi-cloud-sun-rain: "\f743";
$qi-clouds: "\f744";
$qi-clouds-moon: "\f745";
$qi-clouds-sun: "\f746";
$qi-democrat: "\f747";
$qi-dewpoint: "\f748";
$qi-eclipse: "\f749";
$qi-eclipse-alt: "\f74a";
$qi-fire-smoke: "\f74b";
$qi-flag-alt: "\f74c";
$qi-flag-usa: "\f74d";
$qi-fog: "\f74e";
$qi-house-flood: "\f74f";
$qi-humidity: "\f750";
$qi-hurricane: "\f751";
$qi-landmark-alt: "\f752";
$qi-meteor: "\f753";
$qi-moon-cloud: "\f754";
$qi-moon-stars: "\f755";
$qi-person-booth: "\f756";
$qi-person-sign: "\f757";
$qi-podium-star: "\f758";
$qi-poll-people: "\f759";
$qi-poo-storm: "\f75a";
$qi-rainbow: "\f75b";
$qi-raindrops: "\f75c";
$qi-republican: "\f75e";
$qi-smog: "\f75f";
$qi-smoke: "\f760";
$qi-snow-blowing: "\f761";
$qi-stars: "\f762";
$qi-sun-cloud: "\f763";
$qi-sun-dust: "\f764";
$qi-sun-haze: "\f765";
$qi-sunrise: "\f766";
$qi-sunset: "\f767";
$qi-temperature-frigid: "\f768";
$qi-temperature-high: "\f769";
$qi-temperature-hot: "\f76a";
$qi-temperature-low: "\f76b";
$qi-thunderstorm: "\f76c";
$qi-thunderstorm-moon: "\f76d";
$qi-thunderstorm-sun: "\f76e";
$qi-tornado: "\f76f";
$qi-volcano: "\f770";
$qi-vote-nay: "\f771";
$qi-vote-yea: "\f772";
$qi-water: "\f773";
$qi-water-lower: "\f774";
$qi-water-rise: "\f775";
$qi-wind-warning: "\f776";
$qi-windsock: "\f777";
$qi-angel: "\f779";
$qi-baby: "\f77c";
$qi-baby-carriage: "\f77d";
$qi-ball-pile: "\f77e";
$qi-bells: "\f77f";
$qi-biohazard: "\f780";
$qi-blog1: "\f781";
$qi-boot: "\f782";
$qi-calendar-day: "\f783";
$qi-calendar-week: "\f784";
$qi-candy-cane: "\f786";
$qi-carrot: "\f787";
$qi-cash-register: "\f788";
$qi-chart-network: "\f78a";
$qi-chimney: "\f78b";
$qi-compress-arrows-alt: "\f78c";
$qi-deer: "\f78e";
$qi-deer-rudolph: "\f78f";
$qi-dreidel: "\f792";
$qi-dumpster: "\f793";
$qi-dumpster-fire: "\f794";
$qi-ear-muffs: "\f795";
$qi-ethernet: "\f796";
$qi-fireplace: "\f79a";
$qi-frosty-head: "\f79b";
$qi-gifts: "\f79c";
$qi-gingerbread-man: "\f79d";
$qi-glass-champagne: "\f79e";
$qi-glass-cheers: "\f79f";
$qi-glass-whiskey: "\f7a0";
$qi-glass-whiskey-rocks: "\f7a1";
$qi-globe-europe: "\f7a2";
$qi-globe-snow: "\f7a3";
$qi-grip-lines: "\f7a4";
$qi-grip-lines-vertical: "\f7a5";
$qi-guitar: "\f7a6";
$qi-hat-santa: "\f7a7";
$qi-hat-winter: "\f7a8";
$qi-heart-broken1: "\f7a9";
$qi-holly-berry: "\f7aa";
$qi-horse-head: "\f7ab";
$qi-ice-skate: "\f7ac";
$qi-icicles: "\f7ad";
$qi-igloo: "\f7ae";
$qi-lights-holiday: "\f7b2";
$qi-mistletoe: "\f7b4";
$qi-mitten: "\f7b5";
$qi-mug-hot: "\f7b6";
$qi-mug-marshmallows: "\f7b7";
$qi-ornament: "\f7b8";
$qi-radiation: "\f7b9";
$qi-radiation-alt: "\f7ba";
$qi-restroom: "\f7bd";
$qi-rv: "\f7be";
$qi-satellite: "\f7bf";
$qi-satellite-dish: "\f7c0";
$qi-scarf: "\f7c1";
$qi-sd-card: "\f7c2";
$qi-shovel-snow: "\f7c3";
$qi-sim-card: "\f7c4";
$qi-skating: "\f7c5";
$qi-ski-jump: "\f7c7";
$qi-ski-lift: "\f7c8";
$qi-skiing: "\f7c9";
$qi-skiing-nordic: "\f7ca";
$qi-sledding: "\f7cb";
$qi-sleigh: "\f7cc";
$qi-sms: "\f7cd";
$qi-snowboarding: "\f7ce";
$qi-snowflakes: "\f7cf";
$qi-snowman: "\f7d0";
$qi-snowmobile: "\f7d1";
$qi-snowplow: "\f7d2";
$qi-star-christmas: "\f7d4";
$qi-stocking: "\f7d5";
$qi-tenge: "\f7d7";
$qi-toilet: "\f7d8";
$qi-tools: "\f7d9";
$qi-tram: "\f7da";
$qi-tree-christmas: "\f7db";
$qi-tree-decorated: "\f7dc";
$qi-tree-large: "\f7dd";
$qi-truck-plow: "\f7de";
$qi-wreath: "\f7e2";
$qi-fire-alt: "\f7e4";
$qi-bacon: "\f7e5";
$qi-book-medical: "\f7e6";
$qi-book-user: "\f7e7";
$qi-books-medical: "\f7e8";
$qi-brackets: "\f7e9";
$qi-brackets-curly: "\f7ea";
$qi-bread-loaf: "\f7eb";
$qi-bread-slice: "\f7ec";
$qi-burrito: "\f7ed";
$qi-chart-scatter: "\f7ee";
$qi-cheese: "\f7ef";
$qi-cheese-swiss: "\f7f0";
$qi-cheeseburger: "\f7f1";
$qi-clinic-medical: "\f7f2";
$qi-clipboard-user: "\f7f3";
$qi-comment-alt-medical: "\f7f4";
$qi-comment-medical: "\f7f5";
$qi-croissant: "\f7f6";
$qi-crutch: "\f7f7";
$qi-crutches: "\f7f8";
$qi-debug: "\f7f9";
$qi-disease: "\f7fa";
$qi-egg: "\f7fb";
$qi-egg-fried: "\f7fc";
$qi-files-medical: "\f7fd";
$qi-fish-cooked: "\f7fe";
$qi-flower: "\f7ff";
$qi-flower-daffodil: "\f800";
$qi-flower-tulip: "\f801";
$qi-folder-tree: "\f802";
$qi-french-fries: "\f803";
$qi-glass1: "\f804";
$qi-hamburger: "\f805";
$qi-hand-middle-finger: "\f806";
$qi-hard-hat: "\f807";
$qi-head-side-brain: "\f808";
$qi-head-side-medical: "\f809";
$qi-home-alt: "\f80a";
$qi-home-lg: "\f80b";
$qi-home-lg-alt: "\f80c";
$qi-hospital-user: "\f80d";
$qi-hospitals: "\f80e";
$qi-hotdog: "\f80f";
$qi-ice-cream: "\f810";
$qi-island-tropical: "\f811";
$qi-laptop-medical: "\f812";
$qi-mailbox: "\f813";
$qi-meat: "\f814";
$qi-pager: "\f815";
$qi-pepper-hot: "\f816";
$qi-pizza: "\f817";
$qi-pizza-slice: "\f818";
$qi-popcorn: "\f819";
$qi-print-search: "\f81a";
$qi-rings-wedding: "\f81b";
$qi-sack: "\f81c";
$qi-sack-dollar: "\f81d";
$qi-salad: "\f81e";
$qi-sandwich: "\f81f";
$qi-sausage: "\f820";
$qi-shish-kebab: "\f821";
$qi-sickle: "\f822";
$qi-soup: "\f823";
$qi-steak: "\f824";
$qi-stretcher: "\f825";
$qi-taco: "\f826";
$qi-tanakh: "\f827";
$qi-tasks-alt: "\f828";
$qi-trash-restore: "\f829";
$qi-trash-restore-alt: "\f82a";
$qi-tree-palm: "\f82b";
$qi-user-hard-hat: "\f82c";
$qi-user-headset: "\f82d";
$qi-user-md-chat: "\f82e";
$qi-user-nurse: "\f82f";
$qi-users-medical: "\f830";
$qi-walker: "\f831";
$qi-webcam: "\f832";
$qi-webcam-slash: "\f833";
$qi-wave-square: "\f83e";
$qi-alarm-exclamation: "\f843";
$qi-alarm-plus: "\f844";
$qi-alarm-snooze: "\f845";
$qi-align-slash: "\f846";
$qi-bags-shopping: "\f847";
$qi-bell-exclamation: "\f848";
$qi-bell-plus: "\f849";
$qi-biking: "\f84a";
$qi-biking-mountain: "\f84b";
$qi-border-all: "\f84c";
$qi-border-bottom: "\f84d";
$qi-border-inner: "\f84e";
$qi-border-left: "\f84f";
$qi-border-none: "\f850";
$qi-border-outer: "\f851";
$qi-border-right: "\f852";
$qi-border-style: "\f853";
$qi-border-style-alt: "\f854";
$qi-border-top: "\f855";
$qi-bring-forward: "\f856";
$qi-bring-front: "\f857";
$qi-burger-soda: "\f858";
$qi-car-building: "\f859";
$qi-car-bus: "\f85a";
$qi-cars: "\f85b";
$qi-coin: "\f85c";
$qi-construction: "\f85d";
$qi-digging: "\f85e";
$qi-drone: "\f85f";
$qi-drone-alt: "\f860";
$qi-dryer: "\f861";
$qi-dryer-alt: "\f862";
$qi-fan: "\f863";
$qi-farm: "\f864";
$qi-file-search: "\f865";
$qi-font-case: "\f866";
$qi-game-board: "\f867";
$qi-game-board-alt: "\f868";
$qi-glass-citrus: "\f869";
$qi-h4: "\f86a";
$qi-hat-chef: "\f86b";
$qi-horizontal-rule: "\f86c";
$qi-icons: "\f86d";
$qi-icons-alt: "\f86e";
$qi-kerning: "\f86f";
$qi-line-columns: "\f870";
$qi-line-height: "\f871";
$qi-money-check-edit: "\f872";
$qi-money-check-edit-alt: "\f873";
$qi-mug1: "\f874";
$qi-mug-tea: "\f875";
$qi-overline: "\f876";
$qi-page-break1: "\f877";
$qi-paragraph-rtl: "\f878";
$qi-phone-alt: "\f879";
$qi-phone-laptop: "\f87a";
$qi-phone-square-alt: "\f87b";
$qi-photo-video: "\f87c";
$qi-remove-format: "\f87d";
$qi-send-back: "\f87e";
$qi-send-backward: "\f87f";
$qi-snooze: "\f880";
$qi-sort-alpha-down-alt: "\f881";
$qi-sort-alpha-up-alt: "\f882";
$qi-sort-alt: "\f883";
$qi-sort-amount-down-alt: "\f884";
$qi-sort-amount-up-alt: "\f885";
$qi-sort-numeric-down-alt: "\f886";
$qi-sort-numeric-up-alt: "\f887";
$qi-sort-shapes-down: "\f888";
$qi-sort-shapes-down-alt: "\f889";
$qi-sort-shapes-up: "\f88a";
$qi-sort-shapes-up-alt: "\f88b";
$qi-sort-size-down: "\f88c";
$qi-sort-size-down-alt: "\f88d";
$qi-sort-size-up: "\f88e";
$qi-sort-size-up-alt: "\f88f";
$qi-sparkles: "\f890";
$qi-spell-check1: "\f891";
$qi-sunglasses: "\f892";
$qi-text: "\f893";
$qi-text-size: "\f894";
$qi-trash-undo: "\f895";
$qi-trash-undo-alt: "\f896";
$qi-voicemail: "\f897";
$qi-washer: "\f898";
$qi-wave-sine: "\f899";
$qi-wave-triangle: "\f89a";
$qi-wind-turbine: "\f89b";
$qi-border-center-h: "\f89c";
$qi-border-center-v: "\f89d";
$qi-album: "\f89f";
$qi-album-collection: "\f8a0";
$qi-amp-guitar: "\f8a1";
$qi-badge-sheriff: "\f8a2";
$qi-banjo: "\f8a3";
$qi-betamax: "\f8a4";
$qi-boombox: "\f8a5";
$qi-cactus: "\f8a7";
$qi-camcorder: "\f8a8";
$qi-camera-movie: "\f8a9";
$qi-camera-polaroid: "\f8aa";
$qi-cassette-tape: "\f8ab";
$qi-cctv: "\f8ac";
$qi-clarinet: "\f8ad";
$qi-cloud-music: "\f8ae";
$qi-comment-alt-music: "\f8af";
$qi-comment-music: "\f8b0";
$qi-computer-classic: "\f8b1";
$qi-computer-speaker: "\f8b2";
$qi-cowbell: "\f8b3";
$qi-cowbell-more: "\f8b4";
$qi-disc-drive: "\f8b5";
$qi-file-music1: "\f8b6";
$qi-film-canister: "\f8b7";
$qi-flashlight: "\f8b8";
$qi-flute: "\f8b9";
$qi-flux-capacitor: "\f8ba";
$qi-game-console-handheld: "\f8bb";
$qi-gamepad-alt: "\f8bc";
$qi-gramophone: "\f8bd";
$qi-guitar-electric: "\f8be";
$qi-guitars: "\f8bf";
$qi-hat-cowboy: "\f8c0";
$qi-hat-cowboy-side: "\f8c1";
$qi-head-side-headphones: "\f8c2";
$qi-horse-saddle: "\f8c3";
$qi-image-polaroid: "\f8c4";
$qi-joystick: "\f8c5";
$qi-jug: "\f8c6";
$qi-kazoo: "\f8c7";
$qi-lasso: "\f8c8";
$qi-list-music: "\f8c9";
$qi-microphone-stand: "\f8cb";
$qi-mouse: "\f8cc";
$qi-mouse-alt: "\f8cd";
$qi-mp3-player: "\f8ce";
$qi-music-alt: "\f8cf";
$qi-music-alt-slash: "\f8d0";
$qi-music-slash: "\f8d1";
$qi-phone-rotary: "\f8d3";
$qi-piano: "\f8d4";
$qi-piano-keyboard: "\f8d5";
$qi-projector: "\f8d6";
$qi-radio: "\f8d7";
$qi-radio-alt: "\f8d8";
$qi-record-vinyl: "\f8d9";
$qi-router: "\f8da";
$qi-sax-hot: "\f8db";
$qi-saxophone: "\f8dc";
$qi-signal-stream: "\f8dd";
$qi-skull-cow: "\f8de";
$qi-speaker: "\f8df";
$qi-speakers: "\f8e0";
$qi-triangle-music: "\f8e2";
$qi-trumpet: "\f8e3";
$qi-turntable: "\f8e4";
$qi-tv-alt: "\f8e5";
$qi-tv-music: "\f8e6";
$qi-typewriter: "\f8e7";
$qi-usb-drive: "\f8e9";
$qi-user-cowboy: "\f8ea";
$qi-user-music: "\f8eb";
$qi-vhs: "\f8ec";
$qi-violin: "\f8ed";
$qi-wagon-covered: "\f8ee";
$qi-walkie-talkie: "\f8ef";
$qi-watch-calculator: "\f8f0";
$qi-waveform: "\f8f1";
$qi-waveform-path: "\f8f2";
$qi-scanner-image: "\f8f3";
$qi-air-conditioner: "\f8f4";
$qi-alien: "\f8f5";
$qi-alien-monster: "\f8f6";
$qi-bed-alt: "\f8f7";
$qi-bed-bunk: "\f8f8";
$qi-bed-empty: "\f8f9";
$qi-bell-on: "\f8fa";
$qi-blinds: "\f8fb";
$qi-blinds-open: "\f8fc";
$qi-blinds-raised: "\f8fd";
$qi-camera-home: "\f8fe";
$qi-caravan: "\f8ff";
$qi-caravan-alt: "\f900";
$qi-cat-space: "\f901";
$qi-coffee-pot: "\f902";
$qi-comet: "\f903";
$qi-fan-table: "\f904";
$qi-faucet: "\f905";
$qi-faucet-drip: "\f906";
$qi-galaxy: "\f908";
$qi-garage: "\f909";
$qi-garage-car: "\f90a";
$qi-garage-open: "\f90b";
$qi-heat: "\f90c";
$qi-house: "\f90d";
$qi-house-day: "\f90e";
$qi-house-leave: "\f90f";
$qi-house-night: "\f910";
$qi-house-return: "\f911";
$qi-house-signal: "\f912";
$qi-lamp-desk: "\f914";
$qi-lamp-floor: "\f915";
$qi-light-ceiling: "\f916";
$qi-light-switch: "\f917";
$qi-light-switch-off: "\f918";
$qi-light-switch-on: "\f919";
$qi-microwave: "\f91b";
$qi-outlet: "\f91c";
$qi-oven: "\f91d";
$qi-planet-moon: "\f91f";
$qi-planet-ringed: "\f920";
$qi-police-box: "\f921";
$qi-portal-enter: "\f922";
$qi-portal-exit: "\f923";
$qi-radar: "\f924";
$qi-raygun: "\f925";
$qi-refrigerator: "\f926";
$qi-rocket-launch: "\f927";
$qi-sensor: "\f928";
$qi-sensor-alert: "\f929";
$qi-sensor-fire: "\f92a";
$qi-sensor-on: "\f92b";
$qi-sensor-smoke: "\f92c";
$qi-siren: "\f92d";
$qi-siren-on: "\f92e";
$qi-solar-system: "\f92f";
$qi-sort-circle: "\f930";
$qi-sort-circle-down: "\f931";
$qi-sort-circle-up: "\f932";
$qi-space-station-moon: "\f933";
$qi-space-station-moon-alt: "\f934";
$qi-sprinkler: "\f935";
$qi-star-shooting: "\f936";
$qi-starfighter: "\f937";
$qi-starfighter-alt: "\f938";
$qi-starship: "\f939";
$qi-starship-freighter: "\f93a";
$qi-sword-laser: "\f93b";
$qi-sword-laser-alt: "\f93c";
$qi-swords-laser: "\f93d";
$qi-telescope: "\f93e";
$qi-temperature-down: "\f93f";
$qi-temperature-up: "\f940";
$qi-trailer: "\f941";
$qi-transporter: "\f942";
$qi-transporter-1: "\f943";
$qi-transporter-2: "\f944";
$qi-transporter-3: "\f945";
$qi-transporter-empty: "\f946";
$qi-ufo: "\f947";
$qi-ufo-beam: "\f948";
$qi-user-alien: "\f94a";
$qi-user-robot: "\f94b";
$qi-user-visor: "\f94c";
$qi-vacuum: "\f94d";
$qi-vacuum-robot: "\f94e";
$qi-window-frame: "\f94f";
$qi-window-frame-open: "\f950";
$qi-coffin-cross: "\f951";
$qi-folder-download1: "\f953";
$qi-folder-upload1: "\f954";
$qi-user-unlock: "\f958";
$qi-bacteria: "\f959";
$qi-bacterium: "\f95a";
$qi-box-tissue: "\f95b";
$qi-hand-holding-medical: "\f95c";
$qi-hand-sparkles: "\f95d";
$qi-hands-wash: "\f95e";
$qi-handshake-alt-slash: "\f95f";
$qi-handshake-slash: "\f960";
$qi-head-side-cough: "\f961";
$qi-head-side-cough-slash: "\f962";
$qi-head-side-mask: "\f963";
$qi-head-side-virus: "\f964";
$qi-house-user: "\f965";
$qi-laptop-house: "\f966";
$qi-lungs-virus: "\f967";
$qi-people-arrows: "\f968";
$qi-plane-slash: "\f969";
$qi-pump-medical: "\f96a";
$qi-pump-soap: "\f96b";
$qi-shield-virus: "\f96c";
$qi-sink: "\f96d";
$qi-soap: "\f96e";
$qi-stopwatch-20: "\f96f";
$qi-store-alt-slash: "\f970";
$qi-store-slash: "\f971";
$qi-toilet-paper-slash: "\f972";
$qi-users-slash: "\f973";
$qi-virus: "\f974";
$qi-virus-slash: "\f975";
$qi-viruses: "\f976";

