/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
footer,
header,
hgroup,
main,
nav,
section,
summary{
  display:block
}

[hidden]{
  display:none
}

html{
	font-family:sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	overflow-y:scroll
}

body{
	margin:0
}

a:focus{
	outline:0
}

a:active,
a:hover{
	outline:0
}

b,
strong{
	font-weight:700
}

code,
kbd,
pre,
samp{
	font-family:monospace, serif;
	font-size:1em
}

pre{
	white-space:pre-wrap
}

q{
	quotes:"\201C" "\201D" "\2018" "\2019"
}

small{
	font-size:80%
}

img{
	border:0
}

svg:not(:root){
	overflow:hidden
}

fieldset{
	border:0;
	margin:0;
	padding:0
}

legend{
	border:0;
	padding:0
}

button,
input,
select,
textarea{
	font-family:inherit;
	font-size:100%;
	margin:0
}

button,
input{
	line-height:normal
}

button,
select{
	text-transform:none
}

button,
html input[type=button],
input[type=reset],
input[type=submit]{
	-webkit-appearance:button;
	cursor:pointer
}

button[disabled],
html input[disabled]{
	cursor:default
}

input[type=checkbox],
input[type=radio]{
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:0
}

input[type=search]{
	-moz-box-sizing:content-box;
	box-sizing:content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration{
	-webkit-appearance:none
}

button::-moz-focus-inner,
input::-moz-focus-inner{
	border:0;
	padding:0
}

textarea{
	overflow:auto;
	vertical-align:top
}

table{
	border-collapse:collapse;
	border-spacing:0
}

/* @font-face{
	font-family:titillium-light;
	src:url(fonts/18e2d2f6.titillium-light.eot);
	src:url(fonts/18e2d2f6.titillium-light.eot?#iefix) format("embedded-opentype"), url(fonts/476db6f1.titillium-light.woff) format("woff"), url(fonts/e2e404f0.titillium-light.ttf) format("truetype"), url(fonts/99189ca9.titillium-light.svg#titillium-light) format("svg");
	font-weight:400;
	font-style:normal
}

@font-face{
	font-family:ubuntu;
	src:url(fonts/037a78cb.ubuntu.eot?#) format("eot"), url(fonts/13fa7cf9.ubuntu.woff) format("woff"), url(fonts/8502484c.ubuntu.ttf) format("truetype"), url(fonts/239c637c.ubuntu.svg#ubuntu) format("svg");
	font-weight:400;
	font-style:normal
} */

.ff-code{
	font-family:consolas, courier, sans-serif
}

.ff0,
.menuList3,
input,
textarea,
.tooltip,
.glyphNameWrapper{
	font-family:sans-serif
}

.ff1,
h1,
h2,
h3,
h4{
	font-family:titillium-light, sans-serif;
	-webkit-font-smoothing:antialiased
}

.ff2,
body{
	font-family:ubuntu, sans-serif
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
.fs6{
	font-size:1em;
	margin:1.5em 0;
	line-height:1.5;
	font-weight:400
}

.fs0{
	font-size:7em;
	line-height:1.07142857143em;
	margin:.21428571428em 0
}

.fs1,
h1{
	font-size:4em;
	line-height:1.125em;
	margin:.375em 0
}

.fs2,
h2{
	font-size:3em;
	line-height:1em;
	margin:.5em 0
}

.fs3,
.ribbon i,
h3{
	font-size:2em;
	line-height:1.5em;
	margin:.75em 0
}

.fs4,
h4{
	font-size:1.618em;
	line-height:1.856em;
	margin:.92707045735em 0
}

.fs5,
#uniCharts h1,
#uniCharts i,
h5{
	font-size:1.31465262em;
	line-height:1.14098583em;
	margin:1.14098583em 0
}

.fs7,
.tooltip{
	font-size:.813em
}

.fs6-fixed,
.menuList3{
	font-size:16px
}

.border-box,
.unit,
.miBox,
.search-history,
.codePoint input,
.dl0 dt,
.unitRight,
.codePoint .liga,
.dl0 dd,
.w-main,
textarea:focus,
.border-box input,
.textbox0,
.btn0,
.btn0-embossed,
.btn0-embossed:hover,
.btn0-popup:hover,
.btn0[disabled]:hover,
[disabled].btn0-embossed:hover,
.btn1,
.btn1-embossed,
.btn1-embossed:focus,
.btn2,
.btn2-embossed,
.btn2-embossed:focus,
.btn3,
.btn3-embossed,
.btn3-embossed:focus,
.btn4,
.btn7,
.btn7-embossed,
.btn7-embossed:focus,
.btn8,
.btn8-embossed,
.btn9,
.overlayWindow{
	-moz-box-sizing:border-box;
	box-sizing:border-box
}

.unit,
.miBox,
.search-history,
.codePoint input,
.dl0 dt{
	float:left
}

.unitRight,
.codePoint .liga,
.dl0 dd{
	float:right
}

.size1of1,
.miNumber input,
.bar-top,
.bar-btm,
.codePoint input{
	width:100%
}

.size1of2{
	width:50%
}

.size1of3{
	width:33.33333%
}

.size2of3{
	width:66.66666%
}

.size1of4{
	width:25%
}

.size3of4{
	width:75%
}

.size1of5{
	width:20%
}

.size2of5{
	width:40%
}

.size3of5{
	width:60%
}

.size4of5{
	width:80%
}

.size1of6{
	width:16.6666666%
}

.size5of6{
	width:83.3333333%
}

.size1of7{
	width:14.2857143%
}

.size2of7{
	width:28.5714286%
}

.size3of7{
	width:42.8571429%
}

.size4of7{
	width:57.1428572%
}

.size5of7{
	width:71.4285715%
}

.size6of7{
	width:85.7142858%
}

.size1of8{
	width:12.5%
}

.size1of9{
	width:11.1111111%
}

.size1of10{
	width:10%
}

.size1of11{
	width:9.090090090%
}

.size1of12{
	width:8.3333333%
}

.size1of13{
	width:7.6923076%
}

.size1of14{
	width:7.1428571%
}

.size1of15{
	width:6.6666666%
}

.size12of25{
	width:48%
}

.lastUnit{
	float:none;
	display:block;
	display:table-cell;
	width:9999em
}

.height1of1{
	height:100%
}

.w-min,
.w-main,
.overlay{
	min-width:320px
}

.ptn,
.pvn,
.pan,
.codePoint input,
.codePoint .liga{
	padding-top:0
}

.pts,
.pvs,
.menuList1 a,
button,
.btn1,
.btn1-embossed,
.btn1-embossed:focus,
.btn2,
.btn2-embossed,
.btn2-embossed:focus,
.btn3,
.btn3-embossed,
.btn3-embossed:focus,
.btn4,
.btn7,
.btn7-embossed,
.btn7-embossed:focus,
.btn8,
.btn8-embossed,
.pas,
.tooltip{
	padding-top:.5em
}

.ptm,
.pvm,
.bar-top,
.pam,
.card{
	padding-top:.75em
}

.ptl,
.pvl,
.prev,
.next,
.pal{
	padding-top:1.5em
}

.prn,
.phn,
.textbox0,
.codePoint input,
.codePoint .liga,
.pan,
.codePoint input,
.codePoint .liga{
	padding-right:0
}

.prs,
.phs,
input,
textarea,
.pas,
.tooltip{
	padding-right:.5em
}

.prm,
.menuList2 button,
.menuList2 .menuItem,
.phm,
.btn1,
.btn1-embossed,
.btn1-embossed:focus,
.btn2,
.btn2-embossed,
.btn2-embossed:focus,
.btn3,
.btn3-embossed,
.btn3-embossed:focus,
.btn4,
.btn7,
.btn7-embossed,
.btn7-embossed:focus,
.btn8,
.btn8-embossed,
.pam,
.card{
	padding-right:.75em
}

.prl,
.phl,
.pal{
	padding-right:1.5em
}

.pbn,
.pvn,
.pan,
.codePoint input,
.codePoint .liga{
	padding-bottom:0
}

.pbs,
.menuList1,
.pvs,
.menuList1 a,
button,
.btn1,
.btn1-embossed,
.btn1-embossed:focus,
.btn2,
.btn2-embossed,
.btn2-embossed:focus,
.btn3,
.btn3-embossed,
.btn3-embossed:focus,
.btn4,
.btn7,
.btn7-embossed,
.btn7-embossed:focus,
.btn8,
.btn8-embossed,
.pas,
.tooltip{
	padding-bottom:.5em
}

.pbm,
.pvm,
.bar-top,
.pam,
.card{
	padding-bottom:.75em
}

.pbl,
.pvl,
.prev,
.next,
.pal{
	padding-bottom:1.5em
}

.pln,
.phn,
.textbox0,
.codePoint input,
.codePoint .liga,
.pan,
.codePoint input,
.codePoint .liga{
	padding-left:0
}

.pls,
.phs,
input,
textarea,
.pas,
.tooltip{
	padding-left:.5em
}

.plm,
.menuList1 button,
.menuList1 a,
.menuList1 .menuItem,
.phm,
.btn1,
.btn1-embossed,
.btn1-embossed:focus,
.btn2,
.btn2-embossed,
.btn2-embossed:focus,
.btn3,
.btn3-embossed,
.btn3-embossed:focus,
.btn4,
.btn7,
.btn7-embossed,
.btn7-embossed:focus,
.btn8,
.btn8-embossed,
.pam,
.card{
	padding-left:.75em
}

.pll,
.phl,
.pal{
	padding-left:1.5em
}

.mtn,
.mvn,
.tooltip,
.man,
.ribbon i{
	margin-top:0
}

.mts,
.mvs,
.mas{
	margin-top:.5em
}

.mtm,
.menuList0,
.numberPresets ul,
.menuList3,
.miBox,
.mvm,
.mam{
	margin-top:.75em
}

.mtl,
.mvl,
.mal{
	margin-top:1.5em
}

.mrn,
.mhn,
.man,
.ribbon i{
	margin-right:0
}

.mrs,
.mhs,
.mas{
	margin-right:.5em
}

.mrm,
.miBox,
.mhm,
.mam{
	margin-right:.75em
}

.mrl,
.mhl,
.mal{
	margin-right:1.5em
}

.mbn,
.mvn,
.tooltip,
.man,
.ribbon i{
	margin-bottom:0
}

.mbs,
.mvs,
.mas{
	margin-bottom:.5em
}

.mbm,
.mvm,
.mam{
	margin-bottom:.75em
}

.mbl,
.mvl,
.mal{
	margin-bottom:1.5em
}

.mln,
.mhn,
.man,
.ribbon i{
	margin-left:0
}

.mls,
.mhs,
.mas{
	margin-left:.5em
}

.mlm,
.mhm,
.mam{
	margin-left:.75em
}

.mll,
.mhl,
.mal{
	margin-left:1.5em
}

.mtxl{
	margin-top:2.5em
}

.mlxl{
	margin-left:2.5em
}

.paxl,
.overlayWindow{
	padding:2.5em
}

.prt,
.pat{
	padding-right:.25em
}

.plt,
.pat{
	padding-left:.25em
}

.ptt,
.pat,
.pvt,
.menuList3,
input,
textarea,
.btn4{
	padding-top:.25em
}

.pbt,
.pat,
.pvt,
.menuList3,
input,
textarea,
.btn4{
	padding-bottom:.25em
}

.mlnm{
	margin-left:-1em
}

a,
.btn5:hover,
.menuList1 button:hover,
.menuList1 a:hover,
.menuList1 .menuItem:hover,
.menuList2 button:hover,
.menuList2 .menuItem:hover,
.prev:hover,
.next:hover,
#uniCharts i:hover,
.btn5:focus,
.menuList1 button:focus,
.menuList1 a:focus,
.menuList1 .menuItem:focus,
.menuList2 button:focus,
.menuList2 .menuItem:focus,
.prev:focus,
.next:focus,
#uniCharts i:focus,
.btn5.focused,
.menuList1 button.focused,
.menuList1 a.focused,
.menuList1 .focused.menuItem,
.menuList2 button.focused,
.menuList2 .focused.menuItem,
.focused.prev,
.focused.next,
#uniCharts i.focused,
.btn6,
.file:hover .btn5,
.file:hover .menuList1 button,
.menuList1 .file:hover button,
.file:hover .menuList1 a,
.menuList1 .file:hover a,
.file:hover .menuList1 .menuItem,
.menuList1 .file:hover .menuItem,
.file:hover .menuList2 button,
.menuList2 .file:hover button,
.file:hover .menuList2 .menuItem,
.menuList2 .file:hover .menuItem,
.file:hover .prev,
.file:hover .next,
.file:hover #uniCharts i,
#uniCharts .file:hover i{
	color:#e74c3c
}

.btn6-2{
	color:#825794
}

.fgc0,
a:hover,
a:focus,
.btn6:hover,
.btn6:focus,
.btn6:active{
	color:#000
}

.fgc1,
.textbox0:hover,
.codePoint input:hover,
.codePoint .liga:hover,
.textbox0:focus,
.codePoint input:focus,
.codePoint .liga:focus{
	color:#222
}

.fgc2,body,.dl0{
	color:#444
}

.fgc3,
.menuList0 button,
.numberPresets ul button,
.menuList0 a,
.numberPresets ul a,
.menuList1 button,
.menuList1 a,
.menuList1 .menuItem,
.textbox0,
.codePoint input,
.codePoint .liga,
button{
	color:#666
}

.fgc4{
	color:#888
}

.fgc5,
.darkbg a:hover,
.darkbg a:focus,
.fgc-code0{
	color:#c2c2c2
}

.fgc6{
	color:#ddd
}

.fgc7,
.hoverE1:hover,
.menuList0 button:hover,
.numberPresets ul button:hover,
.menuList0 a:hover,
.numberPresets ul a:hover,
.hoverE1:focus,
.menuList0 button:focus,
.numberPresets ul button:focus,
.menuList0 a:focus,
.numberPresets ul a:focus{
	color:#f1f1f1
}

.fgc8,
.btn1,
.btn1-embossed,
.btn1-embossed:focus,
.btn2,
.btn2-embossed,
.btn2-embossed:focus,
.btn3,
.btn3-embossed,
.btn3-embossed:focus,
.btn4,
.btn7,
.btn7-embossed,
.btn7-embossed:focus,
.btn8,
.btn8-embossed,
.tooltip,
.ribbon i,
.bg-circle{
	color:#fff
}

.fgc-error,
.fgc10{
	color:#e74c3c
}

.fgc9{
	color:#449fdb
}

.fgc11{
	color:#825794
}

.fgc-warning{
	color:#ffbb4d
}

.fgc-success{
	color:#2bd672
}

.bgc0{
	background-color:#000
}

.bgc1{
	background-color:#222
}

.bgc2,
.tooltip{
	background-color:#444
}

.bgc3,
.hoverE1:hover,
.menuList0 button:hover,
.numberPresets ul button:hover,
.menuList0 a:hover,
.numberPresets ul a:hover,
.hoverE1:focus,
.menuList0 button:focus,
.numberPresets ul button:focus,
.menuList0 a:focus,
.numberPresets ul a:focus{
	background-color:#666
}

.bgc4{
	background-color:#888
}

.bgc5{
	background-color:#c2c2c2
}

.bgc6,
.btn1,
.btn1-embossed,
.btn1-embossed:focus,
.btn2,
.btn2-embossed,
.btn2-embossed:focus,
.btn3,
.btn3-embossed,
.btn3-embossed:focus,
.btn4,
.btn7,
.btn7-embossed,
.btn7-embossed:focus,
.btn8,
.btn8-embossed,
.icon,
.icon2,
.mi-boxed.mi-selected .icon,
.mi-boxed.mi-selected .icon2,
#uniCharts button:hover,
#uniCharts button:active{
	background-color:#ddd
}

.bgc7,
body,
input,
textarea,
.btn9:hover,
.btn9:focus{
	background-color:#f1f1f1
}

.bgc8,
input:focus,
textarea:focus,
.textbox1:focus,
.mi-selected .icon,
.mi-boxed .icon,
.mi-selected:hover .icon,
.mode-move .mi-selected:hover .icon,
.overlayWindow{
	background-color:#fff
}

.bgc9,
.card{
	background-color:#fbfbfb
}

.bgc10-transparent{
	background-color:rgba(130, 87, 148, .2)
}

.bgc10{
	background-color:#825794
}

.menuList0,
.numberPresets ul,
.bar-top,
.bar-btm{
	background-color:rgba(255, 255, 255, .94)
}

.btn1,
.btn1-embossed,
.btn1-embossed:focus,
.bg-circle{
	background-color:#e74c3c
}

.btn2,
.btn2-embossed,
.btn2-embossed:focus{
	background-color:#ffbb4d
}

.btn3,
.btn3-embossed,
.btn3-embossed:focus{
	background-color:#449fdb
}

.btn7,
.btn7-embossed,
.btn7-embossed:focus{
	background-color:#2bd672
}

.btn8,
.btn8-embossed{
	background-color:#825794
}

.hidden,
.miFileZone{
	display:none;
	visibility:hidden
}

.visuallyhidden,
#uniCharts input{
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px
}

.visuallyhidden.focusable:active,
#uniCharts input.focusable:active,
.visuallyhidden.focusable:focus,
#uniCharts input.focusable:focus{
	clip:auto;
	height:auto;
	margin:0;
	overflow:visible;
	position:static;
	width:auto
}

.invisible{
	visibility:hidden
}

.clearfix:before,
.bar-top:before,
.bar-btm:before,
.dl0:before,
.clearfix:after,
.bar-top:after,
.bar-btm:after,
.dl0:after{
	content:" ";
	display:table
}

.clearfix:after,
.bar-top:after,
.bar-btm:after,
.dl0:after{
	clear:both
}

.noSelection,
label,
button,
.icon,
.icon2{
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none
}

.noTapHighlight{
	-webkit-tap-highlight-color:transparent
}

.noOverflow{
	overflow:hidden
}

.noOverflow-v{
	overflow-y:hidden
}

body{
	font-size:1em;
	line-height:1.5;
	padding-top:5em;
	padding-bottom:5em;
	touch-action:manipulation
}

body,
input,
button{
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}

div svg{
	fill:#444;
	stroke:#444;
	stroke-width:0
}

.svgDefs{
	visibility:hidden;
	z-index:-1
}

@font-face{
	font-family:icomoon;
	src:url(https://d1azc1qln24ryf.cloudfront.net/4/IcoMoonApp1/icomoonapp1.woff2?dh8v94) format("woff2"), url(https://d1azc1qln24ryf.cloudfront.net/4/IcoMoonApp1/icomoonapp1.ttf?dh8v94) format("truetype"), url(https://d1azc1qln24ryf.cloudfront.net/4/IcoMoonApp1/icomoonapp1.svg?dh8v94#icomoonapp1) format("svg"), url(fonts/981f7a18.icomoonapp1.woff2?dh8v94) format("woff2"), url(fonts/d9a77749.icomoonapp1.ttf?dh8v94) format("truetype");
	font-weight:400;
	font-style:normal
}

i{
	font-family:icomoon!important;
	speak:none;
	font-style:normal;
	font-weight:400;
	font-variant:normal;
	text-transform:none;
	line-height:0;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}

.iconfont-zero-baseline{
	vertical-align:2px
}

.icon-icomoon:before{
	content:"\e600"
}

.icon-bottom:before,
#uniCharts input:checked+div i:before{
	content:"\e601"
}

.icon-right:before,
#uniCharts i:before{
	content:"\e602"
}

.icon-eye:before{
	content:"\e603"
}

.icon-import:before{
	content:"\e604"
}

.icon-select:before{
	content:"\e605"
}

.icon-edit:before{
	content:"\e606"
}

.icon-search:before{
	content:"\e607"
}

.icon-undo:before{
	content:"\e608"
}

.icon-redo:before{
	content:"\e609"
}

.icon-delete:before{
	content:"\e60a"
}

.icon-menu:before{
	content:"\e60b"
}

.icon-close:before{
	content:"\e60c"
}

.icon-next:before{
	content:"\e60d"
}

.icon-prev:before{
	content:"\e60e"
}

.icon-unchecked:before{
	content:"\e60f"
}

.icon-checked:before{
	content:"\e610"
}

.icon-close2:before{
	content:"\e611"
}

.icon-ccw:before{
	content:"\e612"
}

.icon-cw:before{
	content:"\e613"
}

.icon-flip-h:before{
	content:"\e614"
}

.icon-flip-v:before{
	content:"\e615"
}

.icon-move-left:before{
	content:"\e616"
}

.icon-move-right:before{
	content:"\e617"
}

.icon-move-up:before{
	content:"\e618"
}

.icon-move-down:before{
	content:"\e619"
}

.icon-scale-down:before{
	content:"\e61a"
}

.icon-scale-up:before{
	content:"\e61b"
}

.icon-next2:before{
	content:"\e61c"
}

.icon-prev2:before{
	content:"\e61d"
}

.icon-download:before{
	content:"\e61e"
}

.icon-right2:before{
	content:"\e61f"
}

.icon-image:before{
	content:"\e620"
}

.icon-left2:before{
	content:"\e621"
}

.icon-cancel:before{
	content:"\e622"
}

.icon-liga:before{
	content:"\e623"
}

.icon-unicode:before{
	content:"\e624"
}

.icon-cog:before{
	content:"\e625"
}

.icon-cancel2:before{
	content:"\e626"
}

.icon-reset:before{
	content:"\e627"
}

.icon-all-none:before{
	content:"\e628"
}

.icon-code:before{
	content:"\e629"
}

.icon-reset2:before{
	content:"\e62a"
}

.icon-info:before{
	content:"\e62b"
}

.icon-arrow-right2:before{
	content:"\e62c"
}

.icon-warning:before{
	content:"\e62d"
}

.icon-check:before{
	content:"\e62e"
}

.icon-stack:before{
	content:"\e62f"
}

.icon-clear:before{
	content:"\e630"
}

.icon-enter:before{
	content:"\e631"
}

.icon-exit:before{
	content:"\e632"
}

.icon-new-set:before{
	content:"\e633"
}

.icon-new:before{
	content:"\e634"
}

.icon-library:before{
	content:"\e635"
}

.icon-sync:before{
	content:"\e636"
}

.icon-icw:before{
	content:"\e637"
}

.icon-dcw:before{
	content:"\e638"
}

.icon-make-square:before{
	content:"\e903"
}

.icon-cart:before{
	content:"\e639"
}

.icon-plus:before{
	content:"\e63a"
}

.icon-info:before{
	content:"\e63b"
}

.icon-minus:before{
	content:"\e63c"
}

.icon-infinite:before{
	content:"\e63d"
}

.icon-neutral:before{
	content:"\e63e"
}

.icon-smile:before{
	content:"\e63f"
}

.icon-question:before{
	content:"\e640"
}

.icon-move:before{
	content:"\e641"
}

.icon-moveup:before{
	content:"\e642"
}

.icon-movedown:before{
	content:"\e643"
}

.icon-codepen:before{
	content:"\e644"
}

.icon-import2:before{
	content:"\e645"
}

.icon-copy-selection:before{
	content:"\e646"
}

.icon-font:before{
	content:"\e647"
}

.icon-radio-unchecked:before{
	content:"\e648"
}

.icon-radio-checked:before{
	content:"\e649"
}

.icon-sort:before{
	content:"\e64a"
}

.icon-upload:before{
	content:"\e64b"
}

.icon-rearrange:before{
	content:"\e64c"
}

.icon-new2:before{
	content:"\e64d"
}

.icon-duplicate:before{
	content:"\e64e"
}

.icon-scale:before{
	content:"\e62a"
}

.icon-rotate-flip:before{
	content:"\e64f"
}

.icon-canvas:before{
	content:"\e650"
}

.icon-droplet:before{
	content:"\e651"
}

.icon-droplet-cross:before{
	content:"\e901"
}

.icon-move-selection:before{
	content:"\e902"
}

.icon-fit-to-canvas:before{
	content:"\e654"
}

.icon-align-bottom:before{
	content:"\e652"
}

.icon-align-top:before{
	content:"\e653"
}

.icon-align-right:before{
	content:"\e655"
}

.icon-align-left:before{
	content:"\e656"
}

.icon-align-center:before{
	content:"\e657"
}

.icon-send-backward:before{
	content:"\e658"
}

.icon-bring-forward:before{
	content:"\e659"
}

.icon-smile2:before{
	content:"\e900"
}

.icon-spinner{
	fill:currentColor;
	width:16px;
	height:16px;
	vertical-align:-.0624em
}

.chevron-right,
.chevron-left{
	border-color:#fff
}

.chevron-right:before{
	width:0;
	height:0;
	margin-top:6px;
	border:15px solid;
	border-color:#b8b8b8;
	border-top:24px solid transparent;
	border-right:15px solid transparent;
	border-bottom:24px solid transparent
}

.chevron-right:after{
	width:0;
	height:0;
	margin-top:6px;
	border:10px solid;
	border-color:inherit;
	border-top:24px solid transparent;
	border-right:8px solid transparent;
	border-bottom:24px solid transparent
}

.chevron-left:before{
	width:0;
	height:0;
	margin-top:6px;
	margin-left:-30px;
	border:15px solid;
	border-color:#b8b8b8;
	border-top:24px solid transparent;
	border-left:15px solid transparent;
	border-bottom:24px solid transparent
}

.chevron-left:after{
	width:0;
	height:0;
	margin-top:6px;
	margin-left:-18px;
	border:10px solid;
	border-color:inherit;
	border-top:24px solid transparent;
	border-left:8px solid transparent;
	border-bottom:24px solid transparent
}

.grad-lighten,
.card{
	background-image:-webkit-linear-gradient(top, rgba(255, 255, 255, .7) 0, rgba(255, 255, 255, 0) 100%);
	background-image:-ms-linear-gradient(top, rgba(255, 255, 255, .7) 0, rgba(255, 255, 255, 0) 100%);
	background-image:linear-gradient(to bottom, rgba(255, 255, 255, .7) 0, rgba(255, 255, 255, 0) 100%)
}

.bshadow-none,
.menuList0 button,
.numberPresets ul button,
.menuList0 a,
.numberPresets ul a,
.btn0:active,
.btn0-embossed:active,
.btn0-popup:active,
.prevSize input{
	box-shadow:none!important
}

.bshadow-bevel,
.btn1,
.btn1-embossed,
.btn1-embossed:focus,
.btn2,
.btn2-embossed,
.btn2-embossed:focus,
.btn3,
.btn3-embossed,
.btn3-embossed:focus,
.btn4,
.btn7,
.btn7-embossed,
.btn7-embossed:focus,
.btn8,
.btn8-embossed{
	box-shadow:inset 0 -2px 0 rgba(0, 0, 0, .15)
}

.bshadow-bevel2{
	box-shadow:inset 0 -3px rgba(0, 0, 0, .25)
}

.bshadow-ul0,
.bshadow-ul0.textbox0,
.codePoint input.bshadow-ul0,
.codePoint .bshadow-ul0.liga{
	box-shadow:inset 0 -2px #ddd
}

.bshadow-ul1,
.btn0:focus,
.btn0-embossed:focus,
.btn0.focused,
.focused.btn0-embossed,
.btn1:focus,
.btn1-embossed:focus,
.btn2:focus,
.btn2-embossed:focus,
.btn3:focus,
.btn3-embossed:focus,
.btn4:focus,
.btn7:focus,
.btn7-embossed:focus,
.btn8:focus,
.btn8-embossed:focus,
.btn8.focused,
.focused.btn8-embossed,
.glyphName.bshadow-ul1:focus{
	box-shadow:inset 0 -2px #e74c3c
}

.bshadow-ul2{
	box-shadow:0 1px #d4d4d4, 0 2px #F1F1F1, 0 3px #d4d4d4
}

.bshadow-ul3{
	box-shadow:0 1px
}

.bshadow-ul4{
	box-shadow:0 2px #F1F1F1, 0 3px #d4d4d4
}

.bshadow-ids,
input,
textarea{
	box-shadow:inset 0 0 0 2px #e4e4e4
}

.bshadow-ods{
	box-shadow:inset 0 0 0 3px #825794
}

.bshadow-bar{
	box-shadow:inset 0 -2px #ddd, inset 0 2px #ddd
}

.bshadow-warning{
	box-shadow:inset 0 -2px #ffbb4d!important
}

.bshadow-error{
	box-shadow:inset 0 0 0 2px #e74c3c
}

.bshadow-odm,
.menuList0,
.numberPresets ul{
	box-shadow:0 0 .4375em rgba(0, 0, 0, .3)
}

.bshadow-odl,
.overlayWindow{
	box-shadow:0 0 .9375em rgba(0, 0, 0, .4)
}

.bshadow-odl2{
	box-shadow:0 0 0 3px #fff, 0 0 10px 4px
}

.bshadow-oll,
.tooltip{
	box-shadow:0 0 1.0625em rgba(255, 255, 255, .8)
}

.sep-btm1,
.bar-top{
	box-shadow:0 .0625em .3125em rgba(0, 0, 0, .15)
}

.sep-top1,
.bar-btm{
	box-shadow:0 -.0625em .3125em rgba(0, 0, 0, .15)
}

.sep-left:before{
	background-image:-webkit-linear-gradient(top, transparent 0, rgba(0, 0, 0, .3) 100%);
	background-image:-ms-linear-gradient(top, transparent 0, rgba(0, 0, 0, .3) 100%);
	background-image:linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, .3) 100%);
	left:0;
	bottom:0;
	height:90%;
	width:1px
}

.sep-right:after{
	background-image:-webkit-linear-gradient(top, transparent 0, rgba(0, 0, 0, .3) 100%);
	background-image:-ms-linear-gradient(top, transparent 0, rgba(0, 0, 0, .3) 100%);
	background-image:linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, .3) 100%);
	right:0;
	bottom:0;
	height:90%;
	width:1px
}

.bshadow-embossed,
.btn1-embossed,
.btn1-embossed:focus,
.btn2-embossed,
.btn2-embossed:focus,
.btn3-embossed,
.btn3-embossed:focus,
.btn7-embossed,
.btn7-embossed:focus,
.btn8-embossed{
	box-shadow:inset 0 2px 0 rgba(0, 0, 0, .15)
}

.bshadow-embossed2,
.btn1:active,
.btn1-embossed:active{
	box-shadow:inset 0 1px 0 1px rgba(0, 0, 0, .15)
}

.fs-up{
	font-size:1.618em;
	line-height:1
}

.fs-down{
	font-size:.5em;
	line-height:1
}

.nu,
a{
	text-decoration:none
}

.talign-center,
.btn0,
.btn0-embossed,
.btn0-embossed:hover,
.btn0-popup:hover,
.btn0[disabled]:hover,
[disabled].btn0-embossed:hover,
.numberPresets input,
.tooltip{
	text-align:center
}

.talign-left,
.talign-left button{
	text-align:left
}

.talign-right,
.talign-right input,
.menuList3,
.talign-right button,
.menuList3 button{
	text-align:right
}

.noOverflow1,
.noOverflow2,
.noOverflow3{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}

.noOverflow1{
	vertical-align:bottom
}

a{}

a:focus{
	outline:0
}

.tshadow-none{
	text-shadow:none
}

.tshadow-glow{
	text-shadow:0 0 .4em rgba(255, 255, 255, .3)
}

.tshadow-bevel2{
	text-shadow:0 2px rgba(0, 0, 0, .7)
}

.animated-all{
	-webkit-transition:all .3s;
	transition:all .3s
}

.animated-none{
	-webkit-transition:none;
	transition:none
}

.animated-color{
	-webkit-transition:color .3s;
	transition:color .3s
}

.animated-width{
	-webkit-transition:width .3s;
	transition:width .3s
}

.animated-margin{
	-webkit-transition:margin .3s;
	transition:margin .3s
}

.animated-opacity{
	-webkit-transition:opacity .5s;
	transition:opacity .5s
}

.animated-translate{
	-webkit-transition:-webkit-transform .3s cubic-bezier(0, 0, .4, 1.35);
	transition:-ms-transform .3s cubic-bezier(0, 0, .4, 1.35);
	transition:transform .3s cubic-bezier(0, 0, .4, 1.35)
}

.textbox0,
.codePoint input,
.codePoint .liga,
.glyphName{
	-webkit-transition:padding .3s, background .3s;
	transition:padding .3s, background .3s
}

@-webkit-keyframes anim-rotate{
	0%{
			-webkit-transform:rotate(0);
			transform:rotate(0)
	}
	100%{
			-webkit-transform:rotate(360deg);
			transform:rotate(360deg)
	}
}

@keyframes anim-rotate{
	0%{
			-webkit-transform:rotate(0);
			-ms-transform:rotate(0);
			transform:rotate(0)
	}
	100%{
			-webkit-transform:rotate(360deg);
			-ms-transform:rotate(360deg);
			transform:rotate(360deg)
	}
}

.spinner{
	display:inline-block;
	-webkit-animation:anim-rotate 1.75s infinite linear;
	animation:anim-rotate 1.75s infinite linear
}

.layer0{
	z-index:0
}

.layer-front,
.colorSlider{
	z-index:99
}

.layer-front2,
.numberPresets ul{
	z-index:999
}

.layer-front3,
.menuList3,
.tooltip,
.overlay{
	z-index:9999
}

.layer-back{
	z-index:-99
}

.cursor-pointer,
label{
	cursor:pointer
}

.cursor-default{
	cursor:default
}

.centered,
.w-main,
.overlayWindow,
#edit-svg{
	margin-left:auto;
	margin-right:auto
}

.w-main{
	max-width:85%
}

.w-text{
	max-width:35em
}

.w-menu{
	width:19em
}

.height1{
	height:1em
}

.height2{
	height:3em
}

.width1{
	width:7em
}

.width2{
	width:2em
}

.width3{
	width:4.5em
}

.width4{
	width:2.5em
}

.width5,
.card{
	width:15em
}

.width6{
	width:6.5em
}

.width7{
	max-width:12em
}

.blk,
.menuList1 a{
	display:block
}

.rel,
.layer-front,
.colorSlider,
.layer-front2,
.numberPresets ul,
.layer-front3,
.menuList3,
.tooltip,
.overlay,
.layer-back,
.beforeafter,
.chevron-right,
.chevron-left,
.sep-left,
.sep-right,
.arrow-t,
.arrow-b,
.miBox,
.file,
.numberPresets,
.overlayWindow,
.overlayWindow .svgContainer,
.glyphNameWrapper,
.card,
.miFileOver .set{
	position:relative
}

.absl,
.svgDefs,
.noOverflow3,
.menuList0,
.numberPresets ul,
.menuList3,
.prev,
.next,
.glyph-button,
.glyphName,
.ribbon,
.ribbon i,
.colorSlider{
	position:absolute
}

.fixed,
.bar-top,
.bar-btm,
.tooltip{
	position:fixed
}

.iblk,
.noOverflow1,
.miNumber input,
.btn0,
.btn0-embossed,
.btn0-embossed:hover,
.btn0-popup:hover,
.btn0[disabled]:hover,
[disabled].btn0-embossed:hover,
.btn9,
.glyphNameWrapper,
.card{
	display:inline-block
}

.top-left,
.numberPresets ul,
.bar-top,
.ribbon,
.colorSlider{
	left:0;
	top:0
}

.top-right,
.menuList3{
	right:0;
	top:0
}

.bottom-left{
	left:0;
	bottom:0
}

.left100{
	left:100%;
	top:0
}

.notification-left{
	left:19%;
	top:-19%
}

.valign-top{
	vertical-align:top
}

.ng-cloak,
.state-cloak{
	display:none;
	visibility:hidden
}

.lh-def{
	line-height:1.5
}

.lh0{
	line-height:0
}

.lh1,
.menuList1 a,
button,
.btn1,
.btn1-embossed,
.btn1-embossed:focus,
.btn2,
.btn2-embossed,
.btn2-embossed:focus,
.btn3,
.btn3-embossed,
.btn3-embossed:focus,
.btn4,
.btn7,
.btn7-embossed,
.btn7-embossed:focus,
.btn8,
.btn8-embossed,
.tooltip{
	line-height:1
}

.lh2{
	line-height:2
}

.lh3{
	line-height:1.25
}

.beforeafter:before,
.chevron-right:before,
.chevron-left:before,
.sep-left:before,
.sep-right:before,
.arrow-t:before,
.menuList3:before,
.arrow-b:before,
.tooltip:before,
.beforeafter:after,
.chevron-right:after,
.chevron-left:after,
.sep-left:after,
.sep-right:after,
.arrow-t:after,
.menuList3:after,
.arrow-b:after,
.tooltip:after{
	position:absolute;
	content:'';
	display:block
}

.arrow-b:before,
.tooltip:before{
	width:0;
	height:0;
	right:50%;
	margin-right:-11px;
	border:11px solid;
	border-color:inherit;
	border-left:11px solid transparent;
	border-right:11px solid transparent;
	border-bottom:0;
	z-index:2;
	bottom:-7.5px
}

.arrow-t:before,
.menuList3:before{
	width:0;
	height:0;
	right:50%;
	margin-right:-11px;
	border:11px solid;
	border-color:inherit;
	border-left:11px solid transparent;
	border-right:11px solid transparent;
	border-top:0;
	z-index:2;
	top:-7.5px
}

.rndt,
.menuList0,
.numberPresets ul,
input,
textarea,
button,
.btn0,
.btn0-embossed,
.btn0-embossed:hover,
.btn0-popup:hover,
.btn0[disabled]:hover,
[disabled].btn0-embossed:hover,
.btn4,
.btn8,
.btn8-embossed,
.prev-small .icon,
.prev-small .icon2,
.tooltip,
.card{
	border-radius:.1875em
}

.rndt-l,
.btnBar label:first-child,
.btnBar button:first-child,
.btnBar label:first-child:hover,
.btnBar button:first-child:hover{
	border-radius:.25em 0 0 .25em
}

.rndt-r,
.btnBar label:last-child,
.btnBar button:last-child,
.btnBar label:last-child:hover,
.btnBar button:last-child:hover{
	border-radius:0 .25em .25em 0
}

.rndt-t,
.menuList0 li:first-child button,
.numberPresets ul li:first-child button{
	border-radius:.25em .25em 0 0
}

.rndt-b,
.menuList0 li:last-child button,
.numberPresets ul li:last-child button{
	border-radius:0 0 .25em .25em
}

.rnds,
.icon,
.icon2,
.overlayWindow{
	border-radius:.3125em
}

.rndm{
	border-radius:.75em
}

.rndl,
.bg-circle{
	border-radius:1.5em
}

.rndf{
	border-radius:9999em
}

.rndn,
.menuList0 button,
.numberPresets ul button,
.menuList0 a,
.numberPresets ul a,
.textbox0,
.codePoint input,
.codePoint .liga,
.btn6,
.btnBar label,
.btnBar button,
.btnBar label:hover{
	border-radius:0
}

.transparent-subtle,
.btn6{
	opacity:.96
}

.transparent,
.hoverE0,
.hoverE-path,
#uniCharts label{
	opacity:.7
}

.transparent-more{
	opacity:.5
}

.transparent-most{
	opacity:.3
}

.transparent-full{
	opacity:0
}

.transparent-none{
	opacity:1
}

.invisible{
	visibility:hidden
}

.hoverE0:hover,
.hoverE-path:hover,
#uniCharts label:hover{
	opacity:1
}

.hoverE-hidden-target{
	opacity:.5
}

.hoverE-hidden-target2{
	opacity:0
}

.hoverE-hidden-parent:hover .hoverE-hidden-target,
.hoverE-hidden-parent:hover .hoverE-hidden-target2{
	opacity:1
}

.hoverE-icon:hover i:before,
.hoverE-icon:focus i:before{
	content:attr(data-icon2)
}

.hoverE-path{
	cursor:pointer
}

.noListStyle,
.menuList0,
.numberPresets ul,
.menuList1,
.menuList2,
.listStyle-inline{
	list-style:none;
	margin-left:0
}

ul,
ol{
	margin-left:1.5em;
	padding:0
}

.menuList0 button,
.numberPresets ul button,
.menuList0 a,
.numberPresets ul a{
	width:100%;
	background:0 0
}

.menuList1{
	background:-webkit-linear-gradient(left, #fff 0, rgba(255, 255, 255, .85) 70%, rgba(255, 255, 255, .01) 100%);
	background:-ms-linear-gradient(left, #fff 0, rgba(255, 255, 255, .85) 70%, rgba(255, 255, 255, .01) 100%);
	background:linear-gradient(to right, #fff 0, rgba(255, 255, 255, .85) 70%, rgba(255, 255, 255, .01) 100%)
}

.menuList1 button,
.menuList1 a,
.menuList1 .menuItem{
	width:80%
}

/* .menuList1:before{
	content:'';
	position:absolute;
	width:100%;
	height:14px;
	bottom:-14px;
	background:url(../images/9b1b82f0.menu-shadow.png);
	background-size:100% 14px
} */

.menuList1.noShadow:before{
	background:0 0
}

.menuList2{
	line-height:1;
	background:-webkit-linear-gradient(left, rgba(255, 255, 255, .01) 0, rgba(255, 255, 255, .9) 30%, #fff 100%);
	background:-ms-linear-gradient(left, rgba(255, 255, 255, .01) 0, rgba(255, 255, 255, .9) 30%, #fff 100%);
	background:linear-gradient(to right, rgba(255, 255, 255, .01) 0, rgba(255, 255, 255, .9) 30%, #fff 100%)
}

.menuList2 .prs{
	padding-right:.5em
}

.menuList3{
	margin-right:-.75em;
	margin-top:3em;
	width:17em;
	border-color:#fff
}

.menuList3:before{
	left:inherit;
	right:1.25em
}

textarea:focus{
	outline:0
}

textarea{
	-webkit-resize:none;
	-moz-resize:none;
	resize:none
}

input,
[contenteditable],
textarea{
	border:0;
	outline:0;
	cursor:text
}

input,
textarea{
	min-height:1.5em;
	-webkit-appearance:none
}

input:active,
input:focus,
textarea:active,
textarea:focus{
	box-shadow:inset 0 0 0 2px #449fdb
}

input:invalid,
textarea:invalid{
	box-shadow:inset 0 0 0 2px #e74c3c
}

::-webkit-input-placeholder{
	color:#999
}

:-moz-placeholder{
	color:#999
}

::-moz-placeholder{
	color:#999
}

:-ms-input-placeholder{
	color:#999
}

.miNumber.talign-center input,
.miNumber.btn0 input,
.miNumber.btn0-embossed input,
.miNumber.btn0-popup:hover input,
.miNumber.btn0[disabled]:hover input,
.miNumber[disabled].btn0-embossed:hover input,
.numberPresets input.miNumber input,
.miNumber.tooltip input{
	text-align:center
}

input.border-box,
input.unit,
input.miBox,
input.search-history,
.codePoint input,
input.unitRight,
.codePoint input.liga,
input.w-main,
.border-box input,
input.textbox0,
input.btn0,
input.btn0-embossed,
input.btn0-embossed:hover,
input.btn0-popup:hover,
input.btn0[disabled]:hover,
input[disabled].btn0-embossed:hover,
input.btn1,
input.btn1-embossed,
input.btn1-embossed:focus,
input.btn2,
input.btn2-embossed,
input.btn2-embossed:focus,
input.btn3,
input.btn3-embossed,
input.btn3-embossed:focus,
input.btn4,
input.btn7,
input.btn7-embossed,
input.btn7-embossed:focus,
input.btn8,
input.btn8-embossed,
input.btn9,
input.overlayWindow{
	min-height:2em
}

.textbox0,
.codePoint input,
.codePoint .liga{
	background:0 0;
	box-shadow:none
}

.textbox0:hover,
.codePoint input:hover,
.codePoint .liga:hover{
	box-shadow:inset 0 -2px #bbb
}

.textbox0:focus,
.codePoint input:focus,
.codePoint .liga:focus{
	box-shadow:inset 0 -2px #449fdb
}

.textbox0:hover,
.codePoint input:hover,
.codePoint .liga:hover,
.textbox0:focus,
.codePoint input:focus,
.codePoint .liga:focus,
.glyphName:hover,
.glyphName:focus{
	background:#fff;
	padding-left:.5em;
	padding-right:.5em
}

.textbox0:invalid,
.codePoint input:invalid,
.codePoint .liga:invalid,
.textbox0.ng-invalid,
.codePoint input.ng-invalid,
.codePoint .ng-invalid.liga{
	box-shadow:inset 0 -2px #e74c3c!important
}

.textbox1{
	background:#f7efe4
}

input:focus,
button:focus,
button{
	outline:0;
	border:0
}

button{
	background:0 0
}

.btn0,
.btn0-embossed,
.btn0-embossed:hover,
.btn0-popup:hover,
.btn0[disabled]:hover,
[disabled].btn0-embossed:hover{
	line-height:1;
	background-color:#ddd;
	color:#666;
	padding:.5em .75em;
	padding-top:.5em;
	padding-top:.5em;
	box-shadow:inset 0 -2px 0 rgba(0, 0, 0, .135)
}

.btn0:hover,
.btn0-embossed:hover{
	background-color:#ccc
}

.btn0:active,
.btn0-embossed:active,
.btn0-popup:active{
	background-color:#555;
	color:#f1f1f1
}

.btn0[disabled],
[disabled].btn0-embossed{
	opacity:.5
}

button[disabled]{
	opacity:.7
}

.disabled-bold[disabled]{
	opacity:1
}

.btn0-popup{
	background:0 0;
	box-shadow:none
}

.btn1:hover,
.btn1-embossed:hover,
.btn2:hover,
.btn2-embossed:hover,
.btn3:hover,
.btn3-embossed:hover,
.btn4:hover,
.btn7:hover,
.btn7-embossed:hover,
.btn8:hover,
.btn8-embossed:hover{
	color:#fff
}

.btn1:focus,
.btn1-embossed:focus,
.btn2:focus,
.btn2-embossed:focus,
.btn3:focus,
.btn3-embossed:focus,
.btn4:focus,
.btn7:focus,
.btn7-embossed:focus,
.btn8:focus,
.btn8-embossed:focus{
	color:#fff
}

.btn0-embossed,
.btn0-embossed:hover{
	color:#f1f1f1;
	background:#666;
	box-shadow:inset 0 1px 0 1px rgba(0, 0, 0, .15)
}

.btn4{
	color:#3c5875;
	box-shadow:inset 0 0 0 1px #3c5875;
	background-color:transparent
}

.btn4:focus{
	color:#3c5875;
	box-shadow:inset 0 0 0 2px #3c5875;
	background:transparent
}

.btn4:hover,
.btn4:active,
.btn4[disabled],
.btn4[disabled]:hover,
.btn4[disabled]:focus{
	background:#3c5875;
	box-shadow:none;
	color:#fff
}

.btn1:hover,
.btn1-embossed:hover{
	opacity:.92
}

.btn1:active,
.btn1-embossed:active{
	opacity:1
}

.btn5,
.menuList1 button,
.menuList1 a,
.menuList1 .menuItem,
.menuList2 button,
.menuList2 .menuItem,
.prev,
.next,
#uniCharts i{
	box-shadow:none
}

.btn5:active,
.menuList1 button:active,
.menuList1 a:active,
.menuList1 .menuItem:active,
.menuList2 button:active,
.menuList2 .menuItem:active,
.prev:active,
.next:active,
#uniCharts i:active{
	color:#000
}

.btn5[disabled]:hover,
.menuList1 button[disabled]:hover,
.menuList1 a[disabled]:hover,
.menuList1 [disabled].menuItem:hover,
.menuList2 button[disabled]:hover,
.menuList2 [disabled].menuItem:hover,
[disabled].prev:hover,
[disabled].next:hover,
#uniCharts i[disabled]:hover{
	color:inherit
}

.btn6:hover,
.btn6:focus,
.btn6:active{
	background:0 0
}

.btn6[disabled]{
	color:#888
}

.btn9{
	padding:1em 0;
	color:#000;
	box-shadow:none;
	-webkit-transition:box-shadow .15s;
	transition:box-shadow .15s
}

.btn9 .btn4{
	position:relative;
	top:9px;
	width:50%;
	min-width:5.5em;
	padding-left:0;
	padding-right:0
}

.btn9.selected{
	box-shadow:inset 0 3px rgba(255, 255, 255, .94), inset 0 7px #ffbb4d, inset -4px 0 10px 1px #fff, inset 4px 0 10px 1px #fff
}

.btn9:hover,
.btn9:focus{
	box-shadow:inset 0 3px rgba(255, 255, 255, .94), inset 0 7px #ffbb4d
}

.btn9:hover .chevron-left,
.btn9:hover .chevron-right,
.btn9:focus .chevron-left,
.btn9:focus .chevron-right{
	border-color:#f1f1f1
}

.btn9.selected{
	background:0 0
}

.btn9.selected .chevron-right,
.btn9.selected .chevron-left{
	border-color:#fff
}

.miBox{
	-webkit-tap-highlight-color:transparent;
	cursor:pointer
}

.miBox svg{
	cursor:pointer
}

.icon,
.icon2{
	overflow:hidden
}

.icon svg,
.icon2 img{
	-webkit-transform-origin:0 0;
	-ms-transform-origin:0 0;
	transform-origin:0 0
}

.miBox:hover .icon,
.miBox:hover .icon2{
	box-shadow:inset 0 0 0 .1875em #ccc
}

.prev-small .miBox:hover .icon,
.prev-small .miBox:hover .icon2{
	box-shadow:inset 0 0 0 .125em #ccc
}

.mode-move .prev-small .miBox:hover .icon,
.mode-move .miBox:hover .icon{
	box-shadow:none
}

.mi-selected .icon,
.mi-boxed .icon,
.mi-selected:hover .icon,
.mode-move .mi-selected:hover .icon{
	box-shadow:inset 0 0 0 .1875em #ffbb4d
}

.mi-boxed .icon2,
.mi-selected .icon2,
.mi-selected.miBox:hover .icon2{
	box-shadow:inset 0 0 0 .1875em #825794
}

.prev-small .mi-boxed .icon,
.prev-small .mi-selected:hover .icon,
.prev-small .mi-selected .icon,
.mode-move .prev-small .mi-selected:hover .icon{
	box-shadow:inset 0 0 0 .125em #ffbb4d
}

.prev-small .mi-boxed .icon2,
.prev-small .mi-selected .icon2,
.prev-small .mi-selected.miBox:hover .icon2{
	box-shadow:inset 0 0 0 .125em #825794
}

.mi-boxed.mi-selected .icon,
.mi-boxed.mi-selected .icon2{
	box-shadow:none
}

.mode-select .icon{
	-webkit-transition:background .1s;
	transition:background .1s
}

.mode-delete .miBox:hover .icon,
.mode-delete .mi-boxed .icon{
	box-shadow:inset 0 0 0 .1875em #e74c3c
}

.mode-delete .prev-small .miBox:hover .icon,
.mode-delete .prev-small .mi-boxed .icon{
	box-shadow:inset 0 0 0 .125em #e74c3c
}

.mode-edit .miBox:hover .icon,
.mode-edit .mi-boxed .icon{
	box-shadow:inset 0 0 0 .1875em #449fdb
}

.mode-edit .prev-small .miBox:hover .icon,
.mode-edit .prev-small .mi-boxed .icon{
	box-shadow:inset 0 0 0 .125em #449fdb
}

.mode-move .miBox:active .icon,
.mode-move .mi-boxed .icon{
	box-shadow:inset 0 0 0 .1875em #2bd672
}

.mode-move .prev-small .miBox:active .icon,
.mode-move .prev-small .mi-boxed .icon{
	box-shadow:inset 0 0 0 .125em #2bd672
}

.mode-move .miBox:hover{
	cursor:move
}

.mode-move .miBox:hover svg{
	cursor:move
}

.file{
	overflow:hidden;
	height:2em
}

.file input{
	opacity:0;
	position:absolute;
	right:0;
	top:-.5em;
	font-size:10em;
	cursor:pointer
}

.prevSize input{
	opacity:.25
}

.prevSize input:focus{
	opacity:1
}

.numberPresets input{
	width:2em;
	padding-top:0;
	padding-bottom:0
}

.numberPresets ul{
	margin-top:1.75em;
	width:3em
}

.numberPresets button{
	text-align:center
}

.btnBar label,
.btnBar button,
.btnBar label:hover{
	float:left
}

.btnBar label:first-child,
.btnBar button:first-child,
.btnBar label:first-child:hover,
.btnBar button:first-child:hover{
	position:relative;
	z-index:1
}

.btnBar label:last-child,
.btnBar button:last-child,
.btnBar label:last-child:hover,
.btnBar button:last-child:hover{
	position:relative;
	z-index:1
}

.search-history{
	width:19.25em
}

.bar-top,
.bar-btm{
	z-index:1000;
	-webkit-transform:translatez(0);
	-ms-transform:translatez(0);
	transform:translatez(0)
}

.bar-btm{
	bottom:0
}

.tooltip{
	min-width:3em;
	border-color:#444
}

.overlay{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	overflow-y:auto;
	-webkit-overflow-scrolling:touch;
	background-color:rgba(0, 0, 0, .2)
}

.overlayWindow{
	width:50%
}

.overlayWindow-large{
	width:75%
}

.prev,
.next{
	top:30%;
	top:-webkit-calc(50% - 3em);
	top:calc(50% - 3em)
}

.prev{
	left:-2.5em
}

.next{
	right:-2.5em
}

#edit-svg{
	display:block;
	max-width:100%;
	width:60%;
	height:60%;
	min-height:5em
}

.win-right{
	left:inherit;
	right:0
}

.edit-grid{
	pointer-events:none
}

.edit-grid line{
	stroke-width:.125em;
	stroke:#449fdb
}

.hLines line:first-child,
.hLines line:last-child,
.vLines line:first-child,
.vLines line:last-child{
	stroke-width:.25em
}

.glyph{
	margin-bottom:32px;
	margin-right:32px;
	padding-right:64px;
	width:12em;
	min-width:288px;
	max-width:100%;
	overflow:hidden
}

.glyph-button{
	right:-3em;
	top:0;
	display:none
}

.glyph:hover .glyph-button{
	display:inherit
}

.glyphName{
	width:9999em;
	left:0;
	top:0
}

.glyphName:hover{
	box-shadow:inset 0 -2px #bbb
}

.glyphName:focus{
	box-shadow:inset 0 -2px #449fdb
}

.codePoint .liga{
	line-height:2.25;
	height:2em;
	width:85%;
	width:-webkit-calc(100% - 1.5em);
	width:calc(100% - 1.5em)
}

.ribbon i{
	left:6px;
	top:-2px
}

.ribbon:before{
	content:'';
	border:2em solid transparent;
	border-left:2em solid rgba(43, 214, 114, .88);
	border-top:2em solid rgba(43, 214, 114, .88);
	display:block
}

.ribbon.warning:before{
	border-left:2em solid rgba(255, 187, 77, .88);
	border-top:2em solid rgba(255, 187, 77, .88)
}

.bg-circle{
	padding:2px
}

.dl0 dt{
	clear:both
}

.dl0 dd{
	margin:0
}

.card img{
	height:9.25em;
	width:100%
}

.setTitle .noOverflow1{
	max-width:55%
}

.ff-icomoon-font-tab:hover,
.ff-icomoon-font-tab.active{
	color:#449fdb
}

.colorSlider{
	-webkit-appearance:none;
	width:100%;
	border:0;
	cursor:pointer;
	box-shadow:none;
	padding:0;
	padding:4px 0;
	background:0 0
}

.colorSlider:focus{
	box-shadow:none;
	background:0 0
}

.colorSlider+svg{
	width:100%;
	height:1.5em;
	position:absolute;
	top:.25em;
	left:0;
	z-index:1
}

.colorSlider::-webkit-slider-runnable-track{
	width:100%;
	background:transparent;
	border:0;
	height:1.5em
}

.colorSlider::-moz-range-track{
	width:100%;
	background:transparent;
	border:0;
	height:1.5em
}

.colorSlider::-webkit-slider-thumb{
	-webkit-appearance:none;
	width:1.5em;
	height:1.5em;
	background:transparent;
	border:2px solid #000;
	box-shadow:inset 0 0 0 1px #fff
}

.colorSlider::-moz-range-thumb{
	width:1.5em;
	height:1.5em;
	background:transparent;
	border:2px solid #000;
	box-shadow:inset 0 0 0 1px #fff;
	border-radius:0
}

.colorSlider::-ms-track{
	width:100%;
	background:transparent;
	border:0;
	height:1.5em;
	color:transparent
}

.colorSlider::-ms-thumb{
	width:1.5em;
	height:1.5em;
	background:transparent;
	border:2px solid #000;
	box-shadow:inset 0 0 0 1px #fff
}

.colorSlider::-ms-fill-lower{
	background:transparent
}

#file,
#pref{
	width:9em
}

#search{
	width:8.5em;
	padding-left:2em
}

#uniCharts h1{
	display:inline-block;
	margin-bottom:0
}

#uniCharts label{
	display:block
}

#uniCharts input+div>div{
	display:none
}

#uniCharts input:checked+div>div{
	display:block;
	margin-top:1.5em
}

#uniCharts button{
	font-size:32px;
	font-family:sans-serif;
	line-height:0;
	vertical-align:middle;
	padding:.5em;
	width:2em;
	height:2em;
	box-shadow:0 0 0 1px #ddd, inset 0 0 0 1px #ddd;
	border-radius:0
}

.switch-off circle,
.switch-on circle{
	will-change:transform;
	-webkit-transform:translatez(0)
}

.switch-off circle{
	-webkit-transform:translateX(-12px);
	-ms-transform:translateX(-12px);
	transform:translateX(-12px)
}

.switch-on path{
	fill:#825794;
	stroke:#825794
}

.miFileOver .miFileZone{
	display:inherit;
	visibility:inherit
}

.msie .rndl,
.msie .bg-circle,
.msie .rndm,
.msie .rnds,
.msie .icon,
.msie .icon2,
.msie .overlayWindow,
.msie .rndt,
.msie .menuList0,
.msie .numberPresets ul,
.numberPresets .msie ul,
.msie input,
.msie textarea,
.msie button,
.msie .btn0,
.msie .btn0-embossed,
.msie .btn0-popup:hover,
.msie .btn0[disabled]:hover,
.msie [disabled].btn0-embossed:hover,
.msie .btn4,
.msie .btn8,
.msie .btn8-embossed,
.msie .prev-small .icon,
.prev-small .msie .icon,
.msie .prev-small .icon2,
.prev-small .msie .icon2,
.msie .tooltip,
.msie .card,
.msie .rndt-l,
.msie .btnBar label:first-child,
.btnBar .msie label:first-child,
.msie .btnBar button:first-child,
.btnBar .msie button:first-child,
.msie .rndt-r,
.msie .btnBar label:last-child,
.btnBar .msie label:last-child,
.msie .btnBar button:last-child,
.btnBar .msie button:last-child,
.msie .rndt-t,
.msie .menuList0 li:first-child button,
.menuList0 li:first-child .msie button,
.msie .numberPresets ul li:first-child button,
.numberPresets ul li:first-child .msie button,
.msie .rndt-b,
.msie .menuList0 li:last-child button,
.menuList0 li:last-child .msie button,
.msie .numberPresets ul li:last-child button,
.numberPresets ul li:last-child .msie button{
  border-radius:0
}

@media only screen and (max-width:67.1875em){
	.w-main{
		max-width:100%
	}
	.m2-hidden{
		display:none;
		visibility:hidden
	}
	.m2-size3of4{
		width:75%
	}
}

@media only screen and (max-width:52.5em){
	.m1-size1of3{
		width:33.33333%
	}
	.m1-mtm{
		margin-top:.75em
	}
	.m1-mrn{
		margin-right:0
	}
	.m1-mtn{
		margin-top:0
	}
	.m1-unit{
		float:left
	}
	.m1-rel{
		position:relative
	}
	.m1-hidden{
		display:none!important
	}
	.m1-size1of1{
		width:100%
	}
	.m1-size4of5{
		width:90%
	}
	.m1-fs3{
		font-size:2em;
		line-height:1.5em;
		margin:.75em 0
	}
	.m1-fs5{
		font-size:1.25em;
		line-height:1.2em;
		font-family:sans-serif
	}
	.m1-fs5.m1-mbs{
		margin-bottom:.57049291089em
	}
	.m1-mtnl{
		margin-top:-3em
	}
	.m1-talign-center{
		text-align:center
	}
	body{
		padding-top:8em
	}
	.menuList3{
		margin-top:1.5em
	}
	.search-history label{
		margin-right:1.5em
	}
	#search{
		width:9.5em
	}
	#imageHeight{
		margin-right:3em
	}
}

@media only screen and (max-width:30em){
	.m0-width1{
		width:5em
	}
	.m0-mrs,.search-history label{
		margin-right:.5em
	}
	.m0-mbs,.m0-fs6.m0-mbs{
		margin-bottom:.5em
	}
	.m0-mrm{
		margin-right:1em
	}
	.m0-mrn{
		margin-right:0
	}
	.m0-mls{
		margin-left:.5em
	}
	.m0-mlm{
		margin-left:.75em
	}
	.m0-phm{
		padding-left:1em;
		padding-right:1em
	}
	.m0-phn{
		padding-left:0;
		padding-right:0
	}
	.m0-hidden{
		display:none;
		visibility:hidden
	}
	.m0-fs5{
		font-size:1.31465262em;
		line-height:1.14098583em
	}
	.m0-fs6{
		font-size:1em;
		line-height:1.5;
		font-family:sans-serif
	}
	.m0-mbs{
		margin-bottom:.5em
	}
	.m0-fs7{
		font-size:13px
	}
	.m0-unit{
		float:left
	}
	.m0-unitRight{
		float:right
	}
	.m0-size1of1{
		width:100%
	}
	.m0-mtm{
		margin-top:.5em
	}
	.m0-size1of5{
		width:20%
	}
	.m0-size2of5{
		width:40%
	}
	.m0-rel{
		position:relative
	}
	#pref,#file{
		width:auto
	}
}

.m3-unhidden{
	display:none;
	visibility:hidden
}

/* Q-CUSTOM */
html{
	scrollbar-width:thin;
	scrollbar-color:#aaa transparent
}
html::-webkit-scrollbar{
  width:.4rem !important;
  height:.4rem !important
}
html::-webkit-scrollbar-thumb{
  background-color:#ccc
}
html::-webkit-scrollbar-thumb:hover{
  background-color:#bbb
}
html::-webkit-scrollbar-thumb:active{
  background-color:#777
}
html::-webkit-scrollbar-track{
  background-color:rgba(255,255,255,.08)
}

.d-flex{
	display:flex
}
.flex-row{
	flex-direction:row
}
.justify-center{
	justify-content:center
}
.align-center{
	align-items:center
}
.btn-save-down{
	top:9px;
	position:relative
}
.btnq{
	top:auto !important;
	width:auto !important;
	min-width:auto !important;
	padding:3px 9px !important
}
#btn2top{
	position:fixed;
	bottom:62px;
	right:9px;
	z-index:1000
}
/* END Q-CUSTOM */

@media only screen and (max-width:40em){
	.m3-hidden{
		display:none;
		visibility:hidden
	}
	.m3-unhidden{
		display:inherit;
		visibility:inherit
	}
}

@media print{
	.print-hidden{
		display:none;
		visibility:hidden
	}
}